﻿@model List<Core.DAL.Models.Tm_Menu>
@using Core.Common

@{
    string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string homeTXT = Lang == "TH" ? TextCommon.TH.TXT_HOME : TextCommon.EN.TXT_HOME;
    ViewBag.Title = Lang == "TH" ? TextCommon.TH.TXT_SITEMAP : TextCommon.EN.TXT_SITEMAP;

}
<style>
    h5{
        font-size:1.5em;
    }
    ul li a {
        font-size: 1.2em;
    }
</style>
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {Menuname = homeTXT,LangID=Lang})">@homeTXT</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</section>
<!-- Start: Subpage Content -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            @if (Model != null)
            {
                foreach (var item in Model)// Level 1
                {

                    string link = !string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = "TH" });
                    <div class="col-lg-4 col-md-4 col-sm-12 ft-links">
                        @if (item.Sub_Menu.Count == 0)
                        {
                            <h5><a href="@link">@item.Menuname</a></h5>
                        }
                        else
                        {
                            <h5>@item.Menuname</h5>
                            <ul style="padding-left: 10px;">

                                @foreach (var item2 in item.Sub_Menu) //Level 2
                                {
                                    link = !string.IsNullOrEmpty(item2.link_front) ? item2.link_front : Url.Action(item2.action_front, item2.controller_front, new { Menuname = item2.permalink_front });
                                    if (item2.Sub_Menu == null || item2.Sub_Menu.Count == 0) //Not have Level 3
                                    {
                                        <li><a href="@link"> @item2.Menuname</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#">
                                                @item2.Menuname
                                            </a>
                                            <ul style="padding-left: 20px;">
                                                @foreach (var item3 in item2.Sub_Menu) //Level 3
                                                {
                                                    link = !string.IsNullOrEmpty(item3.link_front) ? item3.link_front : Url.Action(item3.action_front, item3.controller_front, new { Menuname = item3.permalink_front });
                                                    if (item3.Sub_Menu == null || item3.Sub_Menu.Count == 0) //Not have Level 4
                                                    {
                                                        <li><a href="@link"> @item3.Menuname</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                }
            }
            @{
                string Quick = Lang == "EN" ? "Quick" : "ทางลัด";
                string Sitemap = Lang == "EN" ? "SiteMap" : "แผนผังเว็บไซต์";
                string admission = Lang == "EN" ? "ADMISSION" : "การสมัครเรียน";
                List<Core.DAL.Models.Tm_Menu> TopMenu = MenuBackofficeData.Get.FMenuByModule(8, Lang); ;
                //string MenunameAbout = m.FPermalink;
                //string MenunameAboutN = m.Menuname;
            }
            <div class="col-lg-4 col-md-4 col-sm-12 ft-links">

                <h5>@Quick</h5>
                <ul style="padding-left: 10px;">

                    <li>
                        <a href="https://admission.swu.ac.th/admissions2/">
                            @admission
                        </a>
                    </li>
                    @foreach (var item in TopMenu)
                    {
                        string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front :
Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = Lang })) :
item.link_front;
        <li class="top-links-item">
            <a href="@link">
                <span class="@item.icon_front"></span>  @item.Menuname
            </a>
        </li>
    }
                    <li class="top-links-item">
                        <a href="@Url.Action("Index", "Sitemap", new { Menuname = Sitemap,LangID = Lang})">
                            @Sitemap
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
