﻿@model Core.DAL.Models.FaqDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{
    Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : "";
}
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">
@using (Html.BeginCollectionItem("lstFaq"))
{
        @Html.HiddenFor(model => Model.FaqDetailID)
        @Html.HiddenFor(model => Model.LangCode)
        @Html.HiddenFor(model => Model.FaqID)
       <div class="row justify-content-center mt-1">

        <div class="col-md-8 col-12">
            <div class="form-group">
                @if (Model.LangCode == "TH")
                {
                    <label for="FaqName_@Model.LangCode">คำถาม <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                    @Html.TextBoxFor(model => Model.Question, new Dictionary<string, object> { { "id", "FaqName_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "คำถาม" } })
                }
                else
                {
                    <label for="FaqName_@Model.LangCode">คำถาม </label>
                    @Html.TextBoxFor(model => Model.Question, new { @id = "FaqName_" + Model.LangCode, @class = "form-control", @placeholder = "คำถาม" })
                }
                <div class="col-lg-12">
                    @Html.ValidationMessageFor(model => model.Question, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="FaqDescription_@Model.LangCode">คำตอบ</label>
                @Html.TextAreaFor(model => Model.Answer, new Dictionary<string, object> { { "id", "FaqAnswer_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "คำตอบ" }, { "rows", "20" } }) 
            </div>
        </div>
    </div>
}
</div>
