﻿@model PaginatedList<Core.DAL.Models.ProjectsDetail>
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string DocName = LangID == "Course" ? "" : "ชื่อหลักสูตร";
    string CateName = LangID == "Section" ? "" : "ส่วนงาน";
    string Periods = LangID == "Comparable subject" ? "" : "วิชาเทียบเคียง";
    string Hours = LangID == "Contact" ? "" : "ติดต่อสอบถาม";
    string NisitName = LangID == "Download" ? "" : "ดาวน์โหลด";

}
<link rel="stylesheet" href="@Url.Content("~/canvas/css/components/bs-datatable.css")" type="text/css" />

<style>
    .mens {
        list-style: none;
        border-bottom: 1px solid #EEE;
        line-height: 40px;
        text-align: center;
    }

    li.activeFilter {
        background-color: #BC1414;
        color: #fff;
    }
    .activeFilter a {
        color: #fff;
    }
    .activeFilter a:hover {
        color: #333;
    }
    .bg_gray {
        background-color: #F9F9F9;
    }
</style>
<!-- Start: Subpage Banner -->
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title2</h1>
        <ol class="breadcrumb">
            @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title2</li>
        </ol>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section id="content" style="margin-bottom: 0px;">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="sidebar nobottommargin">
                <div class="sidebar-widgets-wrap">
                    <div class="widget clearfix">
                        @await Component.InvokeAsync("Category", new { MenuID = (int)ViewBag.CategoryMenuID, LangID = LangID })
                    </div>
                </div>
            </div>
            <div class="postcontent nobottommargin col_last">

                @if (Model != null)
                {
                    <div>
                        <div class="row" id="portfolio">
                            <div class="card col-xs-12 GALL" style="padding:20px;width: 100%;">
                                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr class="text-center">
                                            <th width="50%">@DocName</th>
                                            <th width="20%">@CateName</th>
                                            <th width="10%">@Periods</th>
                                            <th width="10%">@Hours</th>
                                            <th width="10%">@NisitName</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ProjectName</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.Descriptions</td>
                                                <td>@item.Hours</td>
                                                <td class="text-center">
                                                    @foreach (var fileitem in item.lstFilesAttach)
                                                        {
                                                            @if (!string.IsNullOrEmpty(fileitem.PathFile))
                                                                {
                                                                <a class="social-icon si-acrobat si-small" data-original-title="ดาวน์โหลดแบบฟอร์ม PDF" data-placement="bottom" data-toggle="tooltip" href="@Url.Content(fileitem.PathFile)" title="@item.ProjectName"> <i class="icon-acrobat"></i> <i class="icon-acrobat"></i> </a>

                                                                }
                                                        }
                                                </td>
                                              
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @foreach (var items in Model.GroupBy(o => o.CategoryName))
                            {
                                <div class="card col-xs-12 @items.Key" style="display:none; padding:20px;width: 100%;">

                                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr class="text-center">
                                                <th width="50%">@DocName</th>
                                                <th width="20%">@CateName</th>
                                                <th width="10%">@Periods</th>
                                                <th width="10%">@Hours</th>
                                                <th width="10%">@NisitName</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Where(o => o.CategoryName == items.Key))
                                            {
                                                <tr>
                                                    <td>@item.ProjectName</td>
                                                    <td>@item.CategoryName</td>
                                                    <td>@item.Descriptions</td>
                                                    <td>@item.Hours</td>
                                                    <td class="text-center">
                                                        @foreach (var fileitem in item.lstFilesAttach)
                                                        {
                                                            @if (!string.IsNullOrEmpty(fileitem.PathFile))
                                                            {
                                                                <a class="social-icon si-acrobat si-small" data-original-title="ดาวน์โหลดแบบฟอร์ม PDF" data-placement="bottom" data-toggle="tooltip" href="@Url.Content(fileitem.PathFile)" title="@item.ProjectName"> <i class="icon-acrobat"></i> <i class="icon-acrobat"></i> </a>

                                                            }
                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <center>  Coming Soon</center>
                }

            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section Scripts{
    <script src="@Url.Content("~/canvas/js/components/bs-datatable.js")"></script>
    @*<script src="@Url.Content("~/THEMES_STYLE/canvas/js/jquery.dataTables.min.js")"></script>
        <script src="@Url.Content("~/THEMES_STYLE/canvas/js/dataTables.bootstrap.min.js")"></script>*@

    <script>$(document).ready(function () {
            $('.table').dataTable({
                "autoWidth": false,
                "aaSorting": [],
                "aoColumns": [
                    { "bSortable": true },
                    { "bSortable": true },
                    { "bSortable": true }]
            });
        });</script>
    <script type="text/javascript">function viewPdf(id) {
            var attr_tag_a = "#tag_a_" + id;
            var arrt_div_embed = "#div_embed_" + id;
            var text_tag_a = $(attr_tag_a).text();
            if (text_tag_a == "VIEW FILE") {
                $(arrt_div_embed).show();
                $(attr_tag_a).text("VIEW CLOSE");
            } else {
                $(arrt_div_embed).hide();
                $(attr_tag_a).text("VIEW FILE");
            }
        }</script>
}

