﻿@model Core.DAL.Models.ContactDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{
    Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : "";
 }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">
    @using (Html.BeginCollectionItem("lstContact"))
    {
        @Html.HiddenFor(model => Model.ContactDetailID)
        @Html.HiddenFor(model => Model.LangCode)
        @Html.HiddenFor(model => Model.ContactID)
        @Html.HiddenFor(model => Model.MenuID)
        @Html.HiddenFor(model => Model.Menuname)
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="BannerSize_@Model.LangCode">แผนที่ 1280x400 px (jpeg, jpg, gif, png) <small class="text-danger"> *กรุณาเลือกรูป</small></label>
                    @Html.TextBoxFor(model => Model.Files, new { @id = "BannerSize_" + Model.LangCode, @type = "file", @class = "fileImage", @data_show_upload = "false", @data_show_caption = "true", @data_show_delete = "false", @data_show_remove = "false" })
                    <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    @if (Model.LangCode == "TH")
                    {
            <label for="BannerName_@Model.LangCode">ชื่อหน่วยงาน <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                                @Html.TextBoxFor(model => Model.InstitutionTitle, new Dictionary<string, object> { { "id", "InstitutionTitle_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "ชื่อหน่วยงาน" } }) }
                                                else
                                                {
                                <label for="BannerName_@Model.LangCode">ชื่อหน่วยงาน </label>
                                                    @Html.TextBoxFor(model => Model.InstitutionTitle, new { @id = "InstitutionTitle_" + Model.LangCode, @class = "form-control", @placeholder = "ชื่อหน่วยงาน" })}
                    <div class="col-lg-12">
                        @Html.ValidationMessageFor(model => model.InstitutionTitle, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="BannerDescription_@Model.LangCode">ที่อยู่หน่วยงาน</label>
                    @Html.TextAreaFor(model => Model.InstitutionAddress, new Dictionary<string, object> { { "id", "InstitutionAddress_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "รายละเอียด" } })
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-md-6">
                        <label for="Links_@Model.LangCode">เบอร์โทรศัพท์ติดต่อ</label>
                        @Html.TextBoxFor(model => Model.InstitutionTel, new Dictionary<string, object> { { "id", "InstitutionTel_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "เบอร์โทรศัพท์ติดต่อ" } })
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(model => model.InstitutionTel, null, new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="Links_@Model.LangCode">เบอร์โทรสาร</label>
                        @Html.TextBoxFor(model => Model.InstitutionFax, new Dictionary<string, object> { { "id", "InstitutionFax_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "เบอร์โทรสาร" } })
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(model => model.InstitutionFax, null, new { @style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Links_@Model.LangCode">อีเมล</label>
                    @Html.TextBoxFor(model => Model.InstitutionEmail, new Dictionary<string, object> { { "id", "InstitutionEmail_" + Model.LangCode }, { "class", "form-control" }, { "type", "email" }, { "placeholder", "อีเมลสำหรับติดต่อหน่วยงาน" } })
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(model => model.InstitutionEmail, null, new { @style = "color:red;" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="SARABUN_@Model.LangCode">LINE OFFICIAL ACCOUNT</label>
                    @Html.TextBoxFor(model => Model.institutionSarabun, new Dictionary<string, object> { { "id", "institutionSarabun_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "LINE OFFICIAL ACCOUNT" } })
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(model => model.InstitutionEmail, null, new { @style = "color:red;" })
                    </div>
                </div>
            </div>
        </div>
           <div class="form-group row">
                <label for="Links_@Model.LangCode">แผนที่ (Iframe URL)</label>
                @Html.TextBoxFor(model => Model.GoogleMap, new Dictionary<string, object> { { "id", "GoogleMap_" + Model.LangCode }, { "class", "form-control" },  { "placeholder", "แผนที่ (Ifrmae URL)" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.GoogleMap, null, new { @style = "color:red;" })
                </div>
            </div>
    }
 </div>



<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
    if ('@Model.FileName' != "" && '@Model.FilePath' != "") {
        $("#BannerSize_@Model.LangCode").fileinput({
                            initialPreview: ["<img src='@Url.Content("~/fileupload/" + Model.FilePath)' width='100%' class='file-preview-image'" + "alt='" + '@Model.OriginalFileName' + "' title='" + '@Model.OriginalFileName' + "'>"],
                            initialPreviewConfig: [{ caption: "@Model.OriginalFileName", downloadUrl: '@Url.Content("~/fileupload/" + Model.FilePath)', filename: "@Model.FileName", width: "80px" }],
                            showDelete: false,
                            showRemove: false,
                            overwriteInitial: true,
                            initialCaption: '@Model.OriginalFileName',
                            showUpload: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",

                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
                    else {
                        $(".fileImage").fileinput({
                            showUpload: false,
                            overwriteInitial: true,
                            showDelete: false,
                            showRemove: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",
                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
    });
</script>