﻿@model List<Core.DAL.Models.Users>
@{
    Layout = null;
    int row = 0;
    string datatype = "USER";
}
<table class="table table-bordered dataTable">
    <thead>
        <tr>
            <th>#</th>
            <th>กลุ่มสิทธิ์</th>
            <th>ชื่อ-นามสกุล</th>
            <th>สถานะ</th>
            <th>การกระทำ</th>
            <th>ชื่อและเวลาที่กระทำ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            row++;
            <tr>
                <td class="text-center">
                    @row.
                </td>
                <td class="text-left">
                    กลุ่มผู้ใช้งาน : @items.RoleGroupName
                </td>
                <td class="text-left">
                    @items.FirstName @items.LastName
                </td>
                <td class="text-center">
                    @*@Html.CheckBoxFor(o => items.Actived, new { @class = "bt-status switchBootstrap" })*@
                    @Html.CheckBoxFor(model => items.Actived, new Dictionary<string, object> { { "class", "bt-status" }, { "data-type", datatype }, { "data-menu", ViewBag.Title }, { "data-id", items.UserID } })
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <div class="btn-group">
                            <a class="btn btn-info btn-sm text-white" title="แกไข้" href="@Url.Action("Manage","Users",new { items.UserID})" data-target=".dv-Content"><span class="la la-pencil-square bigger-130"></span></a>
                            <div class="or or-sm"></div>
                            <a role="button" class="btn btn-warning btn-sm bt-reset-pass text-white" data-href="@Url.Action("resetpass","Users",new { items.UserID})" title="รีเซ็ตรหัสผ่าน"><span class="la la-retweet bigger-130"></span></a>
                            <div class="or or-sm"></div>
                            <a role="button" class="btn btn-danger btn-sm bt-delete text-white" data-id="@items.UserID" data-type="@datatype" data-menu="@ViewBag.Title" title="ลบ"><span class="la la-trash-o bigger-130"></span></a>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    @items.UpdatedBy <small class="text-muted">@items.UpdatedDate_Str</small>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>กลุ่มสิทธิ์</th>
            <th>ชื่อ-นามสกุล</th>
            <th>สถานะ</th>
            <th>การกระทำ</th>
            <th>ชื่อและเวลาที่กระทำ</th>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">$(document).ready(function () {
        $('body').on('click', '.bt-reset-pass', function () {
            var $this = $(this);
            Swal.fire({
                title: 'ยืนยันการแก้ไขรหัสผ่าน?',
                text: "รหัสผ่านใหม่จะถูกส่งไปยัง Email ผู้ใข้งาน!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ยืนยัน !',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-default ml-1',
                cancelButtonText: 'ยกเลิก !',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    $.post($this.attr('data-href'), function (data) {
                        if (data.status) {
                            success_alert('เปลี่ยนรหัสผ่านเรียบร้อยแล้ว', 'ข้อมูลถูกส่งไปยังผู้ใช้งานเรียบร้อยแล้ว');
                            location.reload();
                        }
                        else {
                            Error_alert('บันทึกข้อมูลไม่สำเร็จ', data.message);
                        }
                    });
                }
            })
        });
        var groupColumn = 1;
        var userDataTable = $('.dataTable').DataTable({
            "searching": true,
            "columnDefs": [
                { "visible": false, "targets": groupColumn },
                {
                    "targets": [4],
                    "orderable": false
                }
            ],
            'order': [
                [1, '']
            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="6">' + group + '</td></tr>'
                        );
                        last = group;
                    }
                });
            }
        });
        $('body').on('click', '#SearchBtn', function () {

            userDataTable.search($('#SearchString').val()).draw();

        });
        $('#SearchString').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                userDataTable.search($('#SearchString').val()).draw();
                return false;
            }
        });
    });</script>