﻿@model Core.Common.Models.ChangPasswordModel
@{
    ViewBag.Title = "เปลี่ยนรหัสผ่าน";
}
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        ข้อมูลผู้ใช้งานระบบ
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <form asp-action="changepass" asp-route-UserId="@Model.UserID" asp-controller="Users" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่ ?" data-ajax="true" data-ajax-success="Success">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => Model.UserID)

                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center mt-1">
                                        <div class="form-group col-md-6 col-12">
                                            <p>รหัสผ่านเดิม (Old Password) <small class="danger">*จำเป็น</small></p>
                                            @Html.PasswordFor(model => Model.CurrentPassword, new { @class = "form-control", @required = true, @placeholder = "รหัสผ่านเดิม (Old Password)", @maxlength = 20 })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>รหัสผ่านใหม่ (New Password) <small class="danger">*จำเป็น</small></p>
                                            @Html.PasswordFor(model => Model.NewPassword, new { @class = "form-control", @required = true, @placeholder = "รหัสผ่านใหม่ (New Password) ", @maxlength = 20 })
                                            
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>ยืนยันรหัสผ่านใหม่ (Confirm New Password) <small class="danger">*จำเป็น</small></p>
                                            @Html.PasswordFor(model => Model.ConfirmPassword, new { @class = "form-control", @required = true, @placeholder = "ยืนยันรหัสผ่านใหม่ (Confirm New Password) ", @maxlength = 20 })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                    <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.min.js")"></script>
}