﻿
@model Core.DAL.Models.Users

@{ ViewBag.Title = "รายละเอียดข้อมูลผู้ใช้งานระบบ";
    string role = (String)ViewBag.Role;
    }

<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">ตั้งค่าระบบการใช้งาน</li>
                    <li class="breadcrumb-item active">
                        ข้อมูลผู้ใช้งานระบบ
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <form asp-action="Manage" asp-route-UserId="@Model.UserID" asp-controller="Users" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่ ?" data-ajax="true" data-ajax-success="redirect">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => Model.UserID)
                            @Html.HiddenFor(model => Model.CreatedDate)
                            @Html.HiddenFor(model => Model.CreatedBy)

                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center">
                                        @if (Model.UserID == 0)
                                        {
                            <div class="form-group col-md-6 col-12">
                                <p>
                                    ชื่อผู้ใช้ (Username) <small class="text-danger">*จำเป็น</small>
                                    <span style="cursor:pointer;" class="ft-info text-secondary pull-right" data-toggle="tooltip" data-placement="top" data-container="body" data-html="true" data-original-title="ไม่สามารถแก้ไขภายหลังได้ และใส่ได้เฉพาะ a-Z,0-9,. เท่านั้น"></span>
                                </p>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @required = true, @placeholder = "ชื่อผู้ใช้ (Username)", @maxlength = 20 })
                                @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })
                            </div> }
                        else
                        {
                        <div class="form-group col-md-6 col-12">
                            <p>
                                ชื่อผู้ใช้ (Username)
                                <span style="cursor:pointer;" class="ft-info text-secondary pull-right" data-toggle="tooltip" data-placement="top" data-container="body" data-html="true" data-original-title="ไม่สามารถแก้ไขภายหลังได้"></span>
                            </p>
                            @Html.DisplayFor(model => model.Username, new { @class = "form-control", @required = true, @placeholder = "ชื่อผู้ใช้ (Username)", @maxlength = 20 })
                        </div>}
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>กลุ่มผู้ใช้งาน <small class="text-danger">*จำเป็น</small></p>
                                            @Html.DropDownListFor(model => model.RoleGroupID, new SelectList(Core.RoleData.Get.ByActive(), "RoleGroupID", "RoleGroupName"), "เลือกข้อมูล", new { @class = "select2 form-control", @aria_hidden = "true" })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-3 col-12">
                                            <p>ชื่อ <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @required = true, @placeholder = "ชื่อ", @autocomplete = "off" })
                                        </div>
                                        <div class="form-group col-md-3 col-12">
                                            <p>นามสกุล <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @required = true, @placeholder = "นามสกุล", @autocomplete = "off" })
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-4 col-12">
                                            <p>
                                                อีเมล์ (Email) <small class="text-danger">*จำเป็น</small>
                                            </p>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @required = true, @placeholder = "Email", @maxlength = 50 })
                                        </div>
                                        <div class="form-group col-md-2 col-12">
                                            <p>สถานะการใช้งาน</p>
                                            @Html.CheckBoxFor(model => model.Actived, new { @class = "switchBootstrap" })
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                    <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.min.js")"></script>
    <script>
        $(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                   @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });

               }
            $('#Username').on('keypress', function (event) {
                var regex = new RegExp("^[a-zA-Z0-9.]+$");
                var key = String.fromCharCode(event.which);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });
            if ($(".switchBootstrap").length > 0) {
                $('.switchBootstrap').bootstrapSwitch('size', 'small');
                $('.switchBootstrap').bootstrapSwitch('onColor', 'info');
                $('.switchBootstrap').bootstrapSwitch('onText', 'เปิด');
                $('.switchBootstrap').bootstrapSwitch('offText', 'ปิด');
            }
        })

         $(document).ajaxError(function (xhr, props) {
            if (props.status === 401) {
                window.location.href = '@Url.Action("Index", "Login")';
            }
         });

          $(document).ajaxComplete(function (a, xhr, c) {
            if (xhr.status === 403 && xhr.responseText.indexOf("LogOut") != -1) {
                Swal.fire({
                    title: 'Session timeout!',
                    text: "",
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger ml-1',
                    buttonsStyling: false,
                }).then(function (result) {
                    if (result.value) {
                         window.location.href = "@Url.Action("Index", "Login")";
                    }
                })
            }
        });
        $('.confirmAddbtn').on('click', function () {
            if (!$("#myform")[0].checkValidity()) {
                $("#myform").submit();
                return false;
            }
            Swal.fire({
                title: 'คุณต้องการเพิ่มข้อมูล ?',
                text: "",
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'ตกลง',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                return false;
                } else {

                    return false;
                }
            })
        });
        function success_alert(tltle, detail) {
            toastr.success(detail, tltle
                , { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 20000 });

        }
        function error_alert(tltle, detail) {
            toastr.success(detail, tltle
                , { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 20000 });

             @*Swal.fire({
                    title: 'เกิดข้อผิดพลาด!',
                    text: "",
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger ml-1',
                    buttonsStyling: false,
                }).then(function (result) {
                    if (result.value) {
                         window.location.href = "@Url.Action("Index", "Login")";
                    }
                })*@
        }
        $('.confirmCancelbtn').on('click', function () {
            Swal.fire({
                title: 'คุณต้องการยกเลิก ?',
                text: "",
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'ตกลง',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {

                      window.location.href = "@Url.Action("PageList", "Posts")";
                }
            })
        });

    </script>
}