﻿@model Core.DAL.Models.Users
@{
    ViewBag.Title = "รายละเอียดข้อมูลส่วนตัว";
}
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        ข้อมูลผู้ใช้งานระบบ
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <form asp-action="Profile" asp-route-UserId="@Model.UserID" asp-controller="Users" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่ ?" data-ajax="true" data-ajax-success="redirect">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => Model.UserID)
                            @Html.HiddenFor(model => Model.CreatedDate)
                            @Html.HiddenFor(model => Model.CreatedBy)

                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center">
                                        @if (Model.UserID == 0)
                                        {
                                            <div class="form-group col-md-6 col-12">
                                                <p>
                                                    ชื่อผู้ใช้ (Username) <small class="text-danger">*จำเป็น</small>
                                                    <span style="cursor:pointer;" class="ft-info text-secondary pull-right" data-toggle="tooltip" data-placement="top" data-container="body" data-html="true" data-original-title="ไม่สามารถแก้ไขภายหลังได้"></span>
                                                </p>
                                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @required = true, @placeholder = "ชื่อผู้ใช้ (Username)", @maxlength = 20 })
                                            </div> }
                                        else
                                        {
                                            <div class="form-group col-md-6 col-12">
                                                <p>
                                                    ชื่อผู้ใช้ (Username)
                                                    <span style="cursor:pointer;" class="ft-info text-secondary pull-right" data-toggle="tooltip" data-placement="top" data-container="body" data-html="true" data-original-title="ไม่สามารถแก้ไขภายหลังได้"></span>
                                                </p>
                                                @Html.DisplayFor(model => model.Username, new { @class = "form-control", @required = true, @placeholder = "ชื่อผู้ใช้ (Username)", @maxlength = 20 })
                                            </div>}
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>กลุ่มผู้ใช้งาน <small class="text-danger">*จำเป็น</small></p>
                                            @Html.DropDownListFor(model => model.RoleGroupID, new SelectList(Core.RoleData.Get.ByActive(), "RoleGroupID", "RoleGroupName"), "เลือกข้อมูล", new { @class = "select2 form-control", @aria_hidden = "true", @disabled = "true" })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-3 col-12">
                                            <p>ชื่อ <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @required = true, @placeholder = "ชื่อ", @autocomplete = "off" })
                                        </div>
                                        <div class="form-group col-md-3 col-12">
                                            <p>นามสกุล <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @required = true, @placeholder = "นามสกุล", @autocomplete = "off" })
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>
                                                อีเมล์ (Email) <small class="text-danger">*จำเป็น</small>
                                            </p>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @required = true, @placeholder = "Email", @maxlength = 50 })
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                    <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.min.js")"></script>
}