﻿@model SWU.Frontend.Models.ContactDetailPage
@using Core.Common
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";

    string msg = TempData["Ststus"] != null ? (String)TempData["Ststus"] : "";
    
    string addrTXT = LangID == "TH" ? TextCommon.TH.TXT_ADDRESS : TextCommon.EN.TXT_ADDRESS;
    string telTXT = LangID == "TH" ? TextCommon.TH.TXT_TEL : TextCommon.EN.TXT_TEL;
    string faxTXT = LangID == "TH" ? TextCommon.TH.TXT_FAX : TextCommon.EN.TXT_FAX;
    string emailTXT = LangID == "TH" ? TextCommon.TH.TXT_EMAIL : TextCommon.EN.TXT_EMAIL;
    string mapTXT = LangID == "TH" ? TextCommon.TH.TXT_MAP : TextCommon.EN.TXT_MAP;
    string maponlyTXT = LangID == "TH" ? TextCommon.TH.TXT_MAPONLY : TextCommon.EN.TXT_MAPONLY;
    string positionTXT = LangID == "TH" ? TextRegister.TH.TXT_POSITION : TextRegister.EN.TXT_POSITION;
    string attachTXT = LangID == "TH" ? TextCommon.TH.TXT_ATTACH : TextCommon.EN.TXT_ATTACH;
    string searchTXT = LangID == "TH" ? TextCommon.TH.TXT_SEARCH : TextCommon.EN.TXT_SEARCH;
    string personalTXT = LangID == "TH" ? TextRegister.TH.TXT_PERSONALANDDEPART : TextRegister.EN.TXT_PERSONALANDDEPART;
    string forcontactTXT = LangID == "TH" ? TextRegister.TH.TXT_ATCONTACT : TextRegister.EN.TXT_ATCONTACT;
    string flnameTXT = LangID == "TH" ? TextCommon.TH.TXT_FLNAME : TextCommon.EN.TXT_FLNAME;
    string departmentTXT = LangID == "TH" ? "คณะที่สังกัด" : "Faculty";
    string MSGTXT = LangID == "TH" ? "รายละเอียด" : "Descriptions";
    string MajorTXT = LangID == "TH" ? "สาขาวิชา" : "Major";
    string SendTXT = LangID == "TH" ? "ส่งข้อความ" : "Send";
    string RespTXT = LangID == "TH" ? "ต้องการให้ติดต่อกลับ" : "Call back";

}
<style>
    iframe {
        width: 100% !important;
    }
</style>
<!-- Start: Subpage Banner -->
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</section>
<!-- End: Subpage Banner -->
<section id="google-map" class="gmap slider-parallax" style="width:100%">
    @Html.Raw(Model.GoogleMap)

</section>

<!-- Start: Subpage Content -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            
            <div class="col_half">
                <div class="contact-widget">

                    <div class="contact-form-result"></div>
                    @using (Html.BeginForm("Index", "ContactUs", FormMethod.Post))
                    {

                        <div class="form-row">
                            <select class="select-hide form-control bottommargin-sm select2-hidden-accessible" name="type_personal" style="width:100%;" tabindex="-1" aria-hidden="true">
                                <option value="ปริญญาตรี">ปริญญาตรี</option>
                                <option value="ปริญญาโท">ปริญญาโท</option>
                                <option value="ปริญญาเอก">ปริญญาเอก</option>
                                <option value="บุคลากร">บุคลากร</option>
                                <option value="บุคคลภายนอก">บุคคลภายนอก</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="form-group  col-md-6">
                                <label>@flnameTXT</label>
                                <input type="text" value="" data-msg-required="@flnameTXT" maxlength="100" class="form-control" name="Name" id="Name">
                            </div>
                            <div class="form-group  col-md-6">
                                <label>@emailTXT</label><span class="text-danger is_feedback"> *</span>
                                <input type="email" value="" data-msg-email="Please enter a valid email address." maxlength="100" class="form-control required" name="email" id="email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group  col-md-6">
                                <label>@departmentTXT</label><span class="text-danger for_nisit"> *</span>
                                <input type="text" value="" maxlength="100" class="form-control required" name="Faculty" id="Faculty" />
                            </div>
                            <div class="form-group  col-md-6">
                                <label>@MajorTXT</label><span class="text-danger for_nisit"> *</span>
                                <input type="text" value="" maxlength="100" class="form-control required" name="Major" id="Major" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label>@MSGTXT</label><span class="text-danger"> *</span>
                                <textarea maxlength="5000" data-msg-required="@MSGTXT" rows="10" class="form-control required" name="Description" id="Description" required></textarea>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="g-recaptcha" data-sitekey="6Ldlx5MUAAAAAElOAxgosKzvivokc1-fskL7HCpr"></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <input id="is_feedback" class="checkbox-style" name="is_feedback" type="checkbox" checked value="true">
                            <label for="is_feedback" class="checkbox-style-3-label">@RespTXT</label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="@SendTXT" class="btn btn-primary btn-lg">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col_half col_last">
                @{
                    string tel = Model != null && Model != null && !string.IsNullOrEmpty(Model.InstitutionTel) ? Model.InstitutionTel.Replace(",", "<br />") : "";
                }


                <address>
                    <strong>@Html.Raw(Model.InstitutionAddress)</strong><br>
                    <abbr title="Phone Number"><strong>@SendTXT:</strong>@Html.Raw(tel)</abbr><br>
                    <abbr title="Fax"><strong>@faxTXT:</strong>@Model.InstitutionFax</abbr><br>
                    <abbr title="Email Address"><strong>@emailTXT:</strong><a href="mailto:@Model.InstitutionEmail">@Model.InstitutionEmail</a></abbr>
                </address>




                <div class="widget noborder notoppadding">
                    <a href="https://www.facebook.com/gradswu" class="social-icon si-small si-dark si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="https://twitter.com/SWU_Admissions" class="social-icon si-small si-dark si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                </div>
                <div class="clearfix"></div>

                    <div class="card">
                        <!-- Default panel contents -->
                        <div class="card-header">ต่อหมายเลขภายใน</div>
                        <!-- List group -->

                        <ul class="list-group list-group-flush" style="max-height: 270px;overflow: auto;">
                            <li class="list-group-item">งานบริหารและธุรการ ต่อ 15644</li>
                            <li class="list-group-item">งานทุน-วิจัย ต่อ 15644</li>
                            <li class="list-group-item">งานทะเบียน ต่อ 12429</li>
                            <li class="list-group-item">งานบทความวิจัย ต่อ 12430</li>
                            <li class="list-group-item">งานรับนิสิตใหม่ ต่อ 12428</li>
                            <li class="list-group-item">งานจบการศึกษา ต่อ 15730</li>
                            <li class="list-group-item">งานโสตทัศนูปุกรณ์และบัตรประจำตัวนิสิต ต่อ 12431</li>
                            <li class="list-group-item">งานการเงิน ต่อ 15731</li>
                            <li class="list-group-item">งานพัสดุ ต่อ 15664</li>
                            <li class="list-group-item">ระบบ i-Thesis ต่อ 12427 หรือเบอร์ 099-369-4952</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section scripts{

    <script>
    $(function () {
        $('select').on('change', function () {
            if (this.value == 'บุคคลภายนอก') {
                $('#Faculty').removeClass('required');
                $('#Major').removeClass('required');
                $('.for_nisit').hide();
            }
            else {
                $('#Faculty').removeClass('required').addClass('required');
                $('#Major').removeClass('required').addClass('required');
                $('.for_nisit').show();
            }
            // alert(this.value);
        });
        $("#is_feedback").change(function () {
            if ($(this).prop('checked')) {
                $('.is_feedback').show();
                $('#email').removeClass('required').addClass('required');

            } else {
                $('.is_feedback').hide();
                $('#email').removeClass('required');
            }
        });
        if ('@msg' != '' && '@msg' == 'Success') {
            toastr.success('@msg');
            @{
                TempData["Ststus"] = null;
            }
        }
        else if ('@msg' != '' && '@msg' != 'Success') {
            toastr.error('@msg');
            @{
                  TempData["Ststus"] = null;
              }
        }
    })

    </script>
}