﻿@using Core
@using Core.Common;
@using Core.DAL.Models;
@using Core.Models;
@using Core.library;
@model Tm_Menu
@{
    ViewBag.Title2 = "รายละเอียดข้อมูล"+ViewBag.Title;
    string role = (String)ViewBag.Role;
 }
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">
                        @ViewBag.Title2
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Index", new {menuname = "โครงสร้างเมนู"})" class="btn btn-social btn-min-width mr-1 mb-1 btn-secondary"><i class="la la-angle-left"></i> กลับ &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic-form-layouts">
        <form asp-action="Manage" asp-route-ID="@Model.ID" asp-controller="MenuPanel" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่" data-ajax="true" data-ajax-success="redirect">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.ID)
            @Html.HiddenFor(model => Model.levels)
            @Html.HiddenFor(model => Model.Disabled)
            @Html.HiddenFor(model => Model.IsEdit)
            @Html.HiddenFor(model => Model.BelongID)
            @Html.HiddenFor(model => Model.sort_back)
            @Html.HiddenFor(model => Model.sort_front)
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="form-body">
                                    @if (!Model.Disabled)
                                    {
                                        <div class="row justify-content-center">
                                            <div class="form-group col-md-3 col-12">
                                                <p>ประเภทเมนู <small class="danger">*จำเป็น</small></p>
                                                @Html.DropDownListFor(model => model.type_show, (SelectList)Core.Backoffice.Controllers.BaseController.GetMenuType(Model.type_show.ToString()), "เลือกข้อมูล", new { @class = "select2 form-control MenuType", @required = true, @style = "width:100%" })
                                            </div>
                                            <div class="form-group col-md-5 col-12 Default" id="Default">
                                                &nbsp;
                                            </div>
                                            @*<div class="form-group col-md-2 col-12 Default">
                                                &nbsp;
                                            </div>*@
                                            <div class="form-group col-md-5 col-12 MenuTypeCode" id="MenuTypeCode">
                                                <p>รูปแบบข้อมูล <small class="danger">*จำเป็น</small></p>
                                                @Html.DropDownListFor(model => model.MenuTypeCode, (SelectList)Core.Backoffice.Controllers.BaseController.GetMenuCate4User(Model.MenuTypeCode), "เลือกข้อมูล", new { @class = "select2 form-control", @style = "width:100%" })
                                            </div>
                                            <div class="form-group col-md-5 col-12" id="link_front">
                                                <p>URL <small class="danger">*จำเป็น</small></p>
                                                @Html.TextBoxFor(o => o.link_front, new { @class = "form-control", @required = true, @maxlength = 255 })
                                            </div>

                                        </div>
                                        @*<div class="row justify-content-center MenuTypeCode">
                                            <div class="form-group col-md-2 col-12 Default">

                                            <a href="@Url.Content("~/images/Posts.png")" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="@Url.Content("~/images/Posts.png")" itemprop="thumbnail" alt="Image description">
                                            </a>
                                                </div>

                                            <a href="@Url.Content("~/images/Posts.png")" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="@Url.Content("~/images/Posts.png")" itemprop="thumbnail" alt="Image description">
                                            </a>
                                            <a href="@Url.Content("~/images/Posts.png")" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="@Url.Content("~/images/Posts.png")" itemprop="thumbnail" alt="Image description">
                                            </a>
                                            <a href="@Url.Content("~/images/Posts.png")" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="@Url.Content("~/images/Posts.png")" itemprop="thumbnail" alt="Image description">
                                            </a>
                                            <a href="@Url.Content("~/images/Posts.png")" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="@Url.Content("~/images/Posts.png")" itemprop="thumbnail" alt="Image description">
                                            </a>
                                        </div>*@
                                    } @*@if (Model.levels > 1)
        {*@
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-8 col-12">
                                            <p>สังกัดเมนู </p>
                                            @Html.DropDownListFor(model => model.MENU_BACK_ID, (SelectList)Core.Backoffice.Controllers.BaseController.GetMenuManageRoot(0, Model.MENU_BACK_ID), "เลือกข้อมูล", new { @class = "select2 form-control", @style = "width:100%" })
                                        </div>
                                        @*<div class="form-group col-md-2 col-12 Default">
                                        </div>*@
                                    </div>
                                    @*}*@
                                    @*@if (!Model.Disabled)
        {*@
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-8 col-12">
                                            <p>ชื่อเมนู (ภาษาไทย) <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.MenuNameTH, new { @class = "form-control", @required = true, @placeholder = "ชื่อ " + ViewBag.Title + " (ภาษาไทย)", @maxlength = 255 })
                                        </div>
                                        @*<div class="form-group col-md-2 col-12 Default">
                                        </div>*@
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-8 col-12">
                                            <p>ชื่อเมนู (ภาษาอังกฤษ) <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.MenuNameEN, new { @class = "form-control", @required = true, @placeholder = "ชื่อ " + ViewBag.Title + " (ภาษาอังกฤษ)", @maxlength = 255 })
                                        </div>
                                        @*<div class="form-group col-md-2 col-12 Default">
                                        </div>*@
                                    </div>
                                    @*}*@
                                    <div class="row justify-content-center">
                                        <div class="form-group">
                                            <p>เผยแพร่</p>
                                            @Html.CheckBoxFor(model => model.Actived, new { @class = "StatePublish" })
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row match-height">
                <div class="card col-12">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="text-right">
                                <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
    <script>
        $(document).ready(function () {

            @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }

            $('.MenuTypeCode').hide();
            $('#link_front').hide();
            $('.MenuType').on('select2:select', function (e) {
               var data = e.params.data;
                if (data.id == 1) {
                    $('.MenuTypeCode').show();
                    $('#link_front').hide();
                    $('.Default').hide();
                }
                else {
                    $('.MenuTypeCode').hide();
                    $('#link_front').show();
                    $('.Default').hide();
                }
            });

            if ('@Model.type_show'== '1') {
                $('.MenuTypeCode').show();
                $('#link_front').hide();
                $('.Default').hide();
            }
            else if ('@Model.type_show' == '2') {
                $('.MenuTypeCode').hide();
                $('#link_front').show();
                $('.Default').hide();
            }
        })</script>
}