﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link href="@Url.Content("~/css/fontawesome/all.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/theme.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/theme-home.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/theme-subpage.css")" rel="stylesheet">
    <link href="@Url.Content("~/images/favicon.ico")" rel="shortcut icon" type="image/x-icon">
    <link href="@Url.Content("~/libs/fullcalendar/lib/main.css")" rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/forms/fileinput/fileinput.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/forms/fileinput/theme.min.css")">

    <title>
        The Healthcare Accreditation Institute (Public Organization) | สถาบันรับรองคุณภาพสถานพยาบาล (สรพ.)
    </title>
   
</head>
<body>
    @RenderBody()
   
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- <script src="js/script.js"></script> -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  @RenderSection("Scripts", required: false)

</body>
</html>