﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using SWU.Frontend.Controllers
@using Core.DAL.Models;
@using Core.Common;
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

    var userName = InitializeController.F_Username;


}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("MetaHeader", required: false)
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link href="@Url.Content("~/css/fontawesome/all.css")" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/css/theme.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/theme-home.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/theme-subpage.css")" rel="stylesheet">
    <link href="@Url.Content("~/images/favicon.ico")" rel="shortcut icon" type="image/x-icon">
    <link href="@Url.Content("~/libs/fullcalendar/lib/main.css")" rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/forms/fileinput/fileinput.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/forms/fileinput/theme.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/lightbox/lightbox_popup.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/lightbox/lightbox.min.css")" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <title>
        @ViewBag.Title
    </title>
    <!-- Google Tag Manager -->

    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-T8743LG');</script>
    <!-- Histats.com  START  (aync)-->
    <script type="text/javascript">var _Hasync = _Hasync || [];
        _Hasync.push(['Histats.start', '1,4619076,4,3024,130,80,00011001']);
        _Hasync.push(['Histats.fasi', '1']);
        _Hasync.push(['Histats.track_hits', '']);
        (function () {
            var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
            hs.src = ('//s10.histats.com/js15_as.js');
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
        })();</script>
    <noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?4619076&101" alt="" border="0"></a></noscript>
    <!-- Histats.com  END  -->
    <!-- End Google Tag Manager -->
    <style>
        .sticky-top {
            z-index: 1018 !important;
        }
    </style>
</head>
<body>
    @{
        string Controllers_ = ViewContext.RouteData.Values["Controller"] != null ? ViewContext.RouteData.Values["Controller"].ToString() : "Home";
        string Action_ = ViewContext.RouteData.Values["Action"] != null ? ViewContext.RouteData.Values["Action"].ToString() : "Index";
        string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
        string IDs_ = ViewContext.RouteData.Values["ID"] != null ? ViewContext.RouteData.Values["ID"].ToString() : "";
        string Menuname_ = ViewContext.RouteData.Values["Menuname"] != null ? ViewContext.RouteData.Values["Menuname"].ToString() : "หน้าหลัก";

    }

    <!-- Start: Header -->
    <nav class="topbar py-2 text-end border-bottom">
        <div class="container">
            <ul class="list-inline">

                <li class="list-inline-item item-display">
                    @(Lang=="TH"?TextCommon.TH.TXT_DISPLAY : TextCommon.EN.TXT_DISPLAY)
                    <a href="#" class="tx-sm fontSizeMinus">A-</a>
                    <a href="#" class="tx-rg fontReset">A</a>
                    <a href="#" class="tx-xl fontSizePlus">A+</a>
                    <a href="#" class="cl-bw">C</a>
                    <a href="#" class="cl-rg">C</a>
                    <a href="#" class="cl-bl">C</a>
                </li>

                @await Component.InvokeAsync("QuickMenu", new { LangID = Lang })
                @await Component.InvokeAsync("Header", new { LangID = Lang })
                @await Component.InvokeAsync("SocialList")
                @{
                    string menuchange = ViewBag.MenuID != null ? MenuFrontData.Get.ByID((int)ViewBag.MenuID, Lang == "TH" ? "EN" : "TH").FPermalink : (Lang == "TH" ? "Home" : "หน้าหลัก");
                    //Tm_Menu menuObj1 = MenuFrontData.Get.ByPermalink(Menuname_, Lang);
                    // Tm_Menu menuObj = MenuFrontData.Get.ByID((int)ViewBag.MenuID, Lang == "TH" ? "EN" : "TH");
                    #region set lang
                    string TH_ThisPath = "#";
                    string EN_ThisPath = "#";
                    if (!string.IsNullOrEmpty(IDs_))
                    {
                        if (Lang == "EN")
                        {

                            TH_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "TH", ID = IDs_ });
                        }
                        else
                        {
                            EN_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "EN", ID = IDs_ });
                        }
                    }
                    else
                    {
                        if (Lang == "EN")
                        {
                            TH_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "TH" });
                        }
                        else
                        {
                            EN_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "EN" });
                        }
                    }

                    #endregion

                }

                @if (Lang == "TH")
                {

                    <li class="list-inline-item item-lang">
                        <div class="dropdown lang text-end">
                            <a href="#" class="link-dark text-decoration-none dropdown-toggle" id="dropdownCNGLang" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@Url.Content("~/images/flag_th.png")" alt="TH"> ภาษาไทย
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownCNGLang" style="">
                                <li><a class="dropdown-item" href="@Url.Action("ChangeLang","Home",new { URL = EN_ThisPath ,LangID ="EN",culture="en-US"})"><img src="@Url.Content("~/images/flag_en.png")" alt="EN"> English</a></li>
                            </ul>
                        </div>
                    </li>
                }
                else
                {
                    <li class="list-inline-item item-lang">
                        <div class="dropdown lang text-end">
                            <a href="#" class="link-dark text-decoration-none dropdown-toggle" id="dropdownCNGLang" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@Url.Content("~/images/flag_en.png")" alt="EN"> English
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownCNGLang" style="">
                                <li><a class="dropdown-item" href="@Url.Action("ChangeLang","Home",new { URL = TH_ThisPath ,LangID ="TH"})"><img src="@Url.Content("~/images/flag_th.png")" alt="TH"> ภาษาไทย</a></li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </nav>

    @await Component.InvokeAsync("Graphic", new { LangID = Lang })
    <header class="border-bottom sticky-top">
        <div class="container d-flex flex-wrap justify-content-center">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="@Url.Content("~/images/logo.png")" alt="logo" class=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @await Component.InvokeAsync("Menu", new { LangID = Lang })
                    <form action="@Url.Action("Index", "Search")" id="searchForms" class="search col-12 col-lg-auto mb-3 mb-lg-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i> @(Lang == "TH" ? TextCommon.TH.TXT_SEARCH : TextCommon.EN.TXT_SEARCH)</button>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </header>
   

    @RenderBody()
    <div class="gotop"><a href="#"><i class="fas fa-chevron-up"></i></a></div>


    <!-- Start: Footer -->
    <footer>
        @await Component.InvokeAsync("Footer", new { LangID = Lang })
    </footer>
    <!-- End: Footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/lib/lightbox/js-cookie.min.js")"></script>
    <script src="@Url.Content("~/lib/lightbox/lightbox_popup.js")"></script>
    <script src="@Url.Content("~/lib/lightbox/lightbox-plus-jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/lightbox/jquery.touchswipe.min.js")"></script>
    @* <script src="@Url.Content("~/lib/lightbox/lightbox_popup.js")"></script> *@
    @*<script src="@Url.Content("~/lib/lightbox/main-no-cookie.js")"></script>*@
    
    <script type="text/javascript" src="@Url.Content("~/js/cookie-"+Lang+".js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120379561-2"></script>
    @RenderSection("SecAjaxConfig", required: false)
    @RenderSection("Scripts", required: false)
    <!-- Google Tag Manager (noscript) -->

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8743LG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120379561-2');
        $(function () {
            var minFont = 10; // กำหนดขนาดตัวอักษรต่ำสุด
            var maxFont = 18; //  กำหนดขนาดตัวอักษรสูงสุด
            var nowFont = 14; // กำหนดขนาดตัวอักษรเริมต้น
            var resetFont = 14; // กำหนดขนาดตัวอักษรเริมต้น
            var objSet = "*"; // แท็กที่ต้องการกำหนดขนาดตัวอักษร อาจใช้เป็น * หรือ a หรือ a.menu เป็นต้น

            var objbg = "html,body,header,div,section,.wsmainfull"; // แท็กที่ต้องการกำหนดขนาดตัวอักษร อาจใช้เป็น * หรือ a หรือ a.menu เป็นต้น
            var objbgsp = "h1,h2,h3,h4,h5,h6,a,span,small,label"; // แท็กที่ต้องการกำหนดขนาดตัวอักษร อาจใช้เป็น * หรือ a หรือ a.menu เป็นต้น
            var objbgbt = "button,.header-btn"; // แท็กที่ต้องการกำหนดขนาดตัวอักษร อาจใช้เป็น * หรือ a หรือ a.menu เป็นต้น
            var objbgac = "a.active,span.a";

            var nowbt = "#00a3c8";
            var nowBg = "#00a3c8";
            var nowcolor = "#666";
            $('body').on('click', '.fontSizeMinus', function () {
                if (nowFont > minFont) {
                    nowFont--;
                } else {
                    nowFont = minFont;
                }
                $(objSet).css("font-size", nowFont);
            });
            $('body').on('click', '.fontSizePlus', function () {
                if (nowFont < maxFont) {
                    nowFont++;
                } else {
                    nowFont = maxFont;
                }
                $(objSet).css("font-size", nowFont);
            });
            $('body').on('click', '.fontReset', function () {
                nowFont = resetFont;
                $(objSet).css("font-size", resetFont);
            });
        });</script>
    <!-- Messenger ปลั๊กอินแชท Code -->
    <div id="fb-root"></div>

    <!-- Your ปลั๊กอินแชท code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <!-- Messenger ปลั๊กอินแชท Code -->
    <div id="fb-root"></div>

    <!-- Your ปลั๊กอินแชท code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        $(function () {
             $('body').on('click', '.filedownload', function () {
                var ID = $(this).attr("data-id");
                $.ajax({
                    url: "@Url.Action("Download","RedirectPage")",
                    type: 'POST',
                    data: { ID: ID},
                    success: function (data) {
                        $(this).removeClass("filedownload");
                    },
                    error: function (xhr) {
                    }
                });
            })
            $(".cl-bw").click(function () {
                $("body").css("background-color", "#fff");
                $("body").css("color", "#333333");
                $("header").css("background-color", "#fff");
                $("header").css("color", "#333333");
                $(".topbar, .topbar a").css("color", "#7B7B7B");
                @*$("p, a").css("color", "#333333");
                $(".h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a").css("color", "#333333");*@
                $("footer .ft-content h6").css("color", "#FFFFFF");
                $("footer p, footer a, footer p a, footer").css("color", "#CFD0D0");
                $(".st-home-shortcut .col.hl:hover").css("background-color", "#0D5FA8");
                $(".st-home-shortcut .col.hl").css("background-color", "#0D5FA8");
                $(".st-home-shortcut a").css("color", "#333333");

                $(".list-group-item").css("background-color", "#fff");
                $(".list-group-item").css("color", "#212529");


            })
            $(".cl-rg").click(function () {
                $("body").css("background-color", "#e3bf00");
                $("body").css("color", "#000");
                $("header").css("background-color", "#e3bf00");
                $("header").css("color", "#000");
                $(".topbar, .topbar a").css("color", "#000");
                @*$("p, a").css("color", "#000");
                $("h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a").css("color", "#000");*@

                $(".st-home-shortcut .col.hl:hover").css("background-color", "#bb9d00");
                $(".st-home-shortcut .col.hl").css("background-color", "#e3bf00");
                $(".st-home-shortcut a").css("color", "#000");

                $(".list-group-item").css("background-color", "#e3bf00");
                $(".list-group-item").css("color", "#000");


            })
            $(".cl-bl").click(function () {
                $("body").css("background-color", "#000");
                $("body").css("color", "#FFFF00");
                $(".topbar, .topbar a").css("color", "#FFFF00");
                @*$("p, a").css("color", "#FFFF00");
                $("h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a").css("color", "#FFFF00");*@
                $("header").css("background-color", "#000");
                $("header").css("color", "#FFFF00");
                $(".border-bottom").css("border-bottom", "1px solid #000 !important;")
                $("header .nav-link, header .nav-link:focus, header .nav-link:hover").css("color", "#FFFF00");
                $(".st-home-services .sv-card").css("background-color", "#2f2f2f");

                $(".news-card").css("background-color", "#2f2f2f");
                $(".st-home-shortcut .col.hl:hover").css("background-color", "#bb9d00");
                $(".st-home-shortcut .col.hl").css("background-color", "#e3bf00");
                $(".st-home-shortcut a").css("color", "#FFFF00");

                $(".list-group-item").css("background-color", "#000");
                $(".list-group-item").css("color", "#FFFF00");

            })
        })
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "107356921722119");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v12.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
  
</body>
</html>