﻿@model List<Core.DAL.Models.LogActivities>
@{
    ViewBag.Title = "รายงานใช้ระบบ System Log";
  
}
<table class="table table-bordered table-middle dataTable" id="ListTable_TH">
    <thead>
        <tr>
            <th style="width: 50px;">#</th>
            <th style="width: 100px;">วันที่</th>
            <th style="width: 50px;">เวลา</th>
            <th class="text-center">รายละเอียด</th>
            <th style="width: 180px;">โดย</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                @item.RowNumber
            </td>
            <td>
                @item.ActionDate.ToString("dd/MM/yyyy")
            </td>
            <td style="text-align:center;">
                @item.ActionDate.ToString("HH:mm:ss")
            </td>
          
            <td>
                @item.ActivityType :  @item.MenuName<br />
                @item.Descriptions
            </td>
            <td>
                By : @item.ActionBy <br />
                IP : @item.ClientIp <br />
                Browser : @item.Browser
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="width: 50px;">#</th>
            <th style="width: 100px;">วันที่</th>
            <th style="width: 50px;">เวลา</th>
            <th class="text-center">รายละเอียด</th>
            <th style="width: 180px;">โดย</th>
        </tr>
    </tfoot>
</table>