﻿<form asp-action="ListLogs" asp-controller="Logs" method="POST" data-ajax="true" data-ajax-begin="loadingUI" data-ajax-success="onSuccessLoadDataTableGeoup('ListTable_TH')" data-ajax-update="#ListUpdate_TH" data-ajax-failure="onFailure">
<div class="row justify-content-center">
        <div class="form-group col-md-8 col-12">
            <input name="SearchString" type="text" id="SearchString" class="form-control" placeholder="คำค้นหาชื่อ @ViewBag.Title...">
        </div>
        <div class="form-group col-md-2 col-12">
            <button class="btn btn-outline-info mb-3" id="SearchBtn_TH">
                <i class="ft-search"></i>
                <span>ค้นหา</span>
            </button>
        </div>
</div>
    </form>
<div class="box-body block-msg-animation" id="ListUpdate_@ViewBag.LangID">
</div>