﻿@model List<Core.DAL.Models.RoleGroup>
@{
    Layout = null;
    int row = 0;
}
<table class="table table-bordered table-middle dataTable">
    <thead>
        <tr>
            <th style="width: 50px;">#</th>
            <th class="tex-center">รายการ</th>
            <th style="width: 80px;">สถานะ</th>
            <th style="width: 80px;">การกระทำ</th>
            <th style="width: 150px;">การแก้ไข</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            row++;
            <tr id="row_@item.RoleGroupID" class="row_@row" data-id="@item.RoleGroupID">
                <td class="text-center">@row</td>
                <td>@item.RoleGroupName</td>
                <td>
                    @Html.CheckBoxFor(model => item.Actived, new { @class = "bt-status switchBootstrap", @data_href = Url.Action("UpdateStatus", "Role", new { item.RoleGroupID }) })
                </td>
                <td>

                    <div class="btn-group text-center">
                        <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item.RoleGroupID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                        @*@if (item.quantity == 0 && item.RoleGroupID > 2)
                            {*@
                            <div class="or or-sm"></div>
                            <a onclick="Deldata('@item.RoleGroupID','GROUP','@ViewBag.Title');" class="btn btn-danger btn-sm text-white" title="Remove"><span class="la la-trash-o"></span></a>
                        @*}*@
                    </div>
                </td>
                <td style="font-size: 10px;">
                    @item.UpdatedBy <small class="text-muted">@item.UpdatedDate_Str</small>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                #
            </th>
            <th>รายการ</th>
            <th>สถานะ</th>
            <th>การกระทำ</th>
            <th>การแก้ไข</th>
        </tr>
    </tfoot>
</table>
<script>$(function () {
        if ($('.table').length > 0) {
            var userDataTable = $('.table').DataTable({
                'order': [
                    [1, '']
                ],
                "columnDefs": [
                    {
                        "targets": [0, 3],
                        "orderable": false
                    }
                ],
                "searching": true,
                "paging": true,
            });
        }
        if ($(".switchBootstrap").length > 0) {
            $('.switchBootstrap').bootstrapSwitch('size', 'small');
            $('.switchBootstrap').bootstrapSwitch('onColor', 'info');
            $('.switchBootstrap').bootstrapSwitch('onText', 'เปิด');
            $('.switchBootstrap').bootstrapSwitch('offText', 'ปิด');
        }
    })</script>