﻿@using HtmlHelpers.BeginCollectionItemCore;
@using Core.Models;
@model MenuModel
@{
    int Padding = Model.levels.Value * 25;
    string cls = "level" + Model.levels;

    if (Model.TempRole.Count() > 0)
    {
        var _result = Model.TempRole.Where(o => o.MenuID == Model.ID).FirstOrDefault();
        if (_result != null)
        {
            Model.RoleType = _result.RoleType;
        }
    }

    string root = Model.MENU_BACK_ID != null ? "treegrid-parent-" + (Model.levels - 1) + "-" + Model.MENU_BACK_ID.ToString()
    : "";
}
<style>
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .btn-group, .btn-group-vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    
    [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"] {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }

    .btn-primary {
        border-color: #6faeffad !important;
        background-color: #6faeffad !important;
        color: #FFFFFF;
    }

        .btn-primary:hover {
            border-color: #1357ae !important;
            background-color: #1357ae !important;
            color: #FFF !important;
        }

       
        .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
            border-color: #1357ae !important;
            background-color: #1357ae !important;
            color: #FFF !important;
        }

</style>
@using (Html.BeginCollectionItem("menulist"))
{
    <tr class="treegrid-@Model.levels-@Model.ID @root">

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.menu_name_back)
    <td class="@cls">@Model.CountItem @Model.menu_name_back</td>
    <td>

        @*<div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(model => model.RoleType, "N") ไม่มีสิทธิ์
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(model => model.RoleType, "V") ดูเท่านั้น
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(model => model.RoleType, "M") จัดการ
            </label>
           
        </div>*@


        <div class="row skin skin-flat justify-content-center">
            <fieldset>
                @Html.RadioButtonFor(model => model.RoleType, "N")
                <label>&nbsp; ไม่มีสิทธิ์ &nbsp;&nbsp;</label>
            </fieldset>
            <fieldset>
                @Html.RadioButtonFor(model => model.RoleType, "V")
                <label>&nbsp; ดูเท่านั้น&nbsp;&nbsp; </label>
            </fieldset>
            <fieldset>
                @Html.RadioButtonFor(model => model.RoleType, "M")
                <label>&nbsp; จัดการ &nbsp;&nbsp;</label>
            </fieldset>
        </div>
    </td>

</tr>
}