﻿@model List<Core.DAL.Models.RoleGroup>
@{
    ViewBag.Title = "กลุ่มสิทธิ์";
    int row = 0;
    string TYPE = "ROLEGROUP";
    string role = (String)ViewBag.Role;
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="btn-group float-md-right">
                                <div class="form-group float-md-right">
                                    <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = 0 })" class="btn btn-social btn-min-width mr-1 mb-1 btn-facebook"><i class="la la-plus-square"></i> เพิ่ม @ViewBag.Title &nbsp;&nbsp;</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-group col-md-4 col-12">
                                    <input type="text" id="SearchString" class="form-control" placeholder="คำค้นหาชื่อ @ViewBag.Title...">
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <button class="btn btn-outline-info mb-3" id="SearchBtn">
                                        <i class="mdi mdi-search-web "></i>
                                        <span>ค้นหา</span>
                                    </button>

                                </div>
                            </div>
                            <form asp-action="Itemslist" asp-controller="RoleGroup" method="POST" data-ajax="true" data-ajax-success="onSuccessLoadDataTable" data-ajax-update="#UpdateInfoList" data-ajax-failure="onFailure" data-ajax-begin="loader">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-middle dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px;">#</th>
                                                <th class="tex-center">รายการ</th>
                                                <th style="width: 80px;">สถานะ</th>
                                                <th style="width: 80px;">การกระทำ</th>
                                                <th style="width: 150px;">การแก้ไข</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                row++;

                                                <tr id="row_@item.RoleGroupID" class="row_@row" data-id="@item.RoleGroupID">
                                                <td class="text-center">@row</td>
                                                <td>@item.RoleGroupName</td>
                                                <td>
                                                    @Html.CheckBoxFor(model => item.Actived, new Dictionary<string, object> { { "class", "bt-status" }, { "data-type",TYPE }, { "data-menu", ViewBag.Title }, { "data-id", item.RoleGroupID } })
                                                </td>
                                                <td>

                                                    <div class="btn-group text-center">
                                                        <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item.RoleGroupID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                                        @if (item.RoleGroupID > 2)
                                                            {
                                                        <div class="or or-sm"></div>
                                                         <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item.RoleGroupID" data-type="@TYPE" data-menu="@ViewBag.Title" title="Remove"><span class="la la-trash-o"></span></a>
                                                            }
                                                    </div>
                                                </td>
                                                <td style="font-size: 10px;">
                                                    <p data-order="@item.UpdatedDate.Ticks"> @item.UpdatedDate.ToString("dd MMM yyyy HH:mm น.", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH")) @item.UpdatedBy</p>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                   #
                                                </th>
                                                <th>รายการ</th>
                                                <th>สถานะ</th>
                                                <th>การกระทำ</th>
                                                <th>การแก้ไข</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>

    <script type="text/javascript">$(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
                var userDataTable = $('.table').DataTable({
                    "columnDefs": [
                        //{
                        //    "targets": [3],
                        //    "orderable": false
                        //},
                        {
                            "targets": 0, // Column index to apply the custom sorting
                            "orderDataType": "dom-text",
                            "type": "num",
                            "orderSequence": ["asc", "desc"]
                        },
                        { "orderDataType": "dom-date", "targets": 4 }
                    ],
                    "searching": true,
                    "paging": true
                });

                $.fn.dataTable.ext.order['dom-input'] = function (settings, col) {
                    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                        return $('input', td).val();
                    });
                }
                $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
                    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                        return $('input', td).prop('checked') ? '1' : '0';
                    });
                }
                $.fn.dataTable.ext.order['dom-date'] = function (settings, col) {
                    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                        return $('p', td).data('order');
                    });
                };
                $('body').on('click', '#SearchBtn', function () {
                    userDataTable.search($('#SearchString').val()).draw();

                });
                $('#SearchString').keypress(function (e) {
                    var key = e.which;
                    if (key == 13)
                    {
                        userDataTable.search($('#SearchString').val()).draw();
                        return false;
                    }
                });
          
        });</script>

}