﻿@using Core
@using Core.Common;
@using Core.DAL.Models;
@using Core.Models;
@using Core.library;
@model RoleGroupModel
@{
    ViewBag.Title = "รายละเอียดข้อมูลกลุ่มผู้ใช้งาน";
    List<Role> TempSelect = new List<Role>();
    if (Model.RoleGroupID != 0)
    {
        var _result = RoleData.Get.Menurole(Model.RoleGroupID);
        if (_result.Count() > 0)
        {
            TempSelect = _result;
        }
    }

    int cnt = 1;
    int cnt2 = 1;
    int cnt3 = 1;
    int cnt4 = 1;
    int cnt5 = 1;
    string role = (String)ViewBag.Role;
}
<style>
    .level2 {
        text-indent: 20px;
    }

    .level3 {
        text-indent: 45px;
    }
</style>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.css")">
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">
                        กลุ่มสิทธิ์
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic-form-layouts">
        <form asp-action="Manage" asp-route-RoleGroupID="@Model.RoleGroupID" asp-controller="RoleGroup" method="POST"
            data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่" data-ajax="true" data-ajax-success="redirect">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.RoleGroupID)
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-8 col-12">
                                            <p>ชื่อกลุ่มสิทธิ์ <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.RoleGroupName, new { @class = "form-control",
                                            @required = true, @placeholder = "ชื่อกลุ่มสิทธิ์", @maxlength = 100 })
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <p>สถานะการใช้งาน</p>
                                            @Html.CheckBoxFor(model => model.Actived, new { @id = "active", @class =
                                            "StatePublish" })
                                        </div>
                                    </div>
                                    <table class="tree table table-bordered table-middle dataTable">
                                        <tr>
                                            <th style="width:60%;" class="text-center">รายชื่อเมนู</th>
                                            <th style="width:40%;" class="text-center">สิทธิ์</th>
                                        </tr>
                                        @foreach (var items in RoleData.Get.GetListMenu(0))
                                        {
                                            MenuModel menu = new MenuModel();
                                            menu = items.Tomaplist<MenuModel>();
                                            menu.TempRole = TempSelect;
                                            menu.RoleType = "N";
                                            menu.CountItem = cnt + ".";
                                            @await Html.PartialAsync("_menu_list.cshtml", menu)
                                            cnt2 = 1;
                                            @* @foreach (var items2 in RoleData.Get.GetListMenu(items.ID))
                                                {
                                                menu = new MenuModel();
                                                menu = items2.Tomaplist<MenuModel>();
                                                menu.TempRole = TempSelect;
                                                menu.RoleType = "N";
                                                menu.CountItem = cnt + "." + cnt2;
                                                @await Html.PartialAsync("_menu_list.cshtml", menu) cnt3 = 1;

                                                @foreach (var items3 in RoleData.Get.GetListMenu(items2.ID))
                                                {
                                                menu = new MenuModel();
                                                menu = items3.Tomaplist<MenuModel>();
                                                menu.TempRole = TempSelect;
                                                menu.RoleType = "N";
                                                menu.CountItem = cnt + "." + cnt2 + "." + cnt3;
                                                @await Html.PartialAsync("_menu_list.cshtml", menu) cnt4 = 1;
                                                @foreach (var items4 in RoleData.Get.GetListMenu(items3.ID))
                                                {
                                                menu = new MenuModel();
                                                menu = items4.Tomaplist<MenuModel>();
                                                menu.TempRole = TempSelect;
                                                menu.RoleType = "N";
                                                menu.CountItem = cnt + "." + cnt2 + "." + cnt3 + "." + cnt4;
                                                @await Html.PartialAsync("_menu_list.cshtml", menu) cnt5 = 1;
                                                @foreach (var items5 in RoleData.Get.GetListMenu(items4.ID))
                                                {
                                                menu = new MenuModel();
                                                menu = items4.Tomaplist<MenuModel>();
                                                menu.TempRole = TempSelect;
                                                menu.RoleType = "N";
                                                menu.CountItem = cnt + "." + cnt2 + "." + cnt3 + "." + cnt4 + "." + cnt5;
                                                @await Html.PartialAsync("_menu_list.cshtml", menu)cnt5++;
                                                }
                                                cnt4++;
                                                }
                                                cnt3++;
                                                }
                                                cnt2++;
                                                }*@
                                            cnt++;
                                        }
                                    </table>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i
                                            class="ft-save"></i> บันทึก</button>
                                    <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i
                                            class="ft-reset"></i> คืนค่า</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </section>
</div>

@section SecAjaxConfig{
<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
<script type="text/javascript"
    src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
<script type="text/javascript"
    src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
<script type="text/javascript"
    src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{

<script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
<script async type="text/javascript"
    src="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.min.js")"></script>
<script>
        $(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
        })
</script>
}