﻿@model Core.DAL.Models.WebboardReply
@using SWU.Frontend.Controllers 
@using AspNetCore.ReCaptcha
<style>
    .required {
        color: red;
    }
</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.ParentName</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 content">

                @if (Model != null && Model.objTopic != null)
                {
                    Core.DAL.Models.WebboardTopic Obj = Model.objTopic;
                    string Name = !string.IsNullOrEmpty(Obj.AliasName) ? Obj.AliasName : Obj.UpdatedBy;
                    <div class="card">
                        <div class="card-body">
                            <div class="write-post mt-1">
                                <div class="col-sm-12 px-2" style="margin-bottom :15px">
                                    <span class="float-right" style="float: right !important;"><i class="fas fa-exclamation-circle text-danger" title="Report"></i></span>
                                    <h3> @ReplaceWord.Filter(Obj.Topic)</h3>
                                    <p>
                                        @Html.Raw(ReplaceWord.Filter(Obj.Description))
                                    </p>
                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-12">

                                            <div class="dl-meta-detail float-sm-right" style="float: right !important;">
                                                <strong><i class="far fa-user"></i> โดย </strong> :  @Name
                                                <strong><i class="far fa-calendar"></i> เมื่อ</strong> : @Obj.UpdatedDate.ToString("dd MMM yyyy")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="st-subpage-objective">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headline">
                                    <h3 class="hl-ha-u">ความเห็น</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                @foreach (var item in Obj.lstReply)
                                {
                                    <div class="card mt-1">
                                        <div class="card-body">
                                            <div class="write-post mt-1">
                                                <div class="col-sm-12 px-2" style="margin-bottom :15px">
                                                    <span class="float-right" style="float: right !important;"><i class="fas fa-exclamation-circle text-danger" title="Report"></i></span>
                                                    <p>
                                                        @Html.Raw(ReplaceWord.Filter(item.Description))
                                                    </p>
                                                    <div class="clearfix"></div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-12">

                                                            <div class="dl-meta-detail float-sm-right" style="float: right !important;">
                                                                <strong><i class="far fa-user"></i> โดย </strong> :  @item.UpdatedBy
                                                                <strong><i class="far fa-calendar"></i> เมื่อ</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headline">
                                    <h3 class="hl-ha-u">แสดงความเห็น</h3>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @using (Html.BeginForm("Detail", "Webboard", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return  validateForm()" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @*@Html.HiddenFor(model => Model.MenuID)*@
                                            @Html.HiddenFor(model => Model.WBPostID)
                                            @Html.HiddenFor(model => Model.Menuname)
                                            @Html.HiddenFor(model => Model.LangCode)
                                            <div class="form-group row mb-3">
                                                <div class="col-md-12">
                                                    <label for="">ข้อความความคิดเห็น <small class="required"> *กรุณาระบุ</small></label>
                                                    @Html.TextAreaFor(model => Model.Description, new Dictionary<string, object> { { "id", "Description" }, { "rows", 10 }, { "class", "form-control" }, { "placeholder", "รายละเอียด" } , { "required", "required" } })
                                                </div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                @Html.ReCaptcha()
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-paper-plane"></i>ส่งข้อความ</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    @*@if (Model.TotalPages > 0)
                        {
                          string prev = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_PREV : Core.Common.TextCommon.EN.TXT_PREV;
                            string next = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_NEXT : Core.Common.TextCommon.EN.TXT_NEXT;
                          
                            string pav = "disabled";
                            <nav aria-label="navigation">
                                <ul class="pagination justify-content-end">
                                    @if (Model.PageIndex > 1)
                                    {
                                        pav = "";
                                    }
                                    <li class="page-ite @pav">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i><span class="hidden-mobile"> @prev</span></a>
                                    </li>

                                    @for (int p = 1; p <= Model.TotalPages; p++)
                                    {
                                        string active_page = p == Model.PageIndex ? "active" : "";
                                        <li class="page-item"><a class="page-link link-@active_page" asp-action="Index" asp-route-pageNumber="@p">@p</a></li>
                                    }


                                    @if (Model.TotalPages > 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="#">@Model.TotalPages</a></li>
                                    }
                                    @if (Model.PageIndex < Model.TotalPages)
                                    {
                                        pav = "";
                                    }
                                    <li class="page-item @pav">
                                        <a class="page-link" href="#"><span class="hidden-mobile">@next </span><i class="fas fa-angle-double-right"></i></a>
                                    </li>

                                </ul>
                            </nav>
                        }*@
                }
                else
                {
                    <center>  Coming Soon</center>
                }
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->

<script type="text/javascript">
    function validateForm() {
        var capcha = $("#g-recaptcha-response").val();
        if (capcha == "") {
            return false;
        } else {
            return true;
        }

    }
</script>