﻿@model PaginatedList<Core.DAL.Models.WebboardTopic>
@{
    //  ViewBag.Title = "ประเมินรับรอง";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.ParentName</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 sidebar">
                @await Component.InvokeAsync("WBCategory", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 content">
                <div class="col text-align-right">
                    <a href="@Url.Action("Topic","Webboard",new { Menuname = ViewBag.Menuname })" class="btn-outline-gray">สร้างกระทู้ใหม่</a>
                </div>
                @if (Model != null)
                {
                    <ul class="download">
                        @foreach (var item in Model)
                        {
                            <li class="dl-item">
                                <div class="dl-icon"><i class="far fa-comment-dots"></i></div>
                                <h3 class="dl-title"><a href="@Url.Action("Detail","Webboard",new { Menuname=ViewBag.Menuname,ID=item.ID})">@ReplaceWord.Filter(item.Topic)</a></h3>
                                <div class="dl-meta">
                                    <div class="dl-meta-button">โดย @item.UpdatedBy</div>
                                    <div class="dl-meta-detail">
                                        <strong><i class="far fa-eye"></i> จำนวนผู้ชม</strong> : @item.Views

                                        <strong><i class="fas fa-reply"></i> จำนวนตอบ</strong> : @item.ReplyCount
                                        <strong><i class="far fa-calendar"></i> Date</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (Model.TotalPages > 0)
                    {
                        string prev = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_PREV : Core.Common.TextCommon.EN.TXT_PREV;
                        string next = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_NEXT : Core.Common.TextCommon.EN.TXT_NEXT;
                        string pav = "disabled";
                        string back = "disabled";
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end">
                                @if (Model.PageIndex > 1)
                                {
                                    pav = "";
                                }
                                <li class="page-item @pav">
                                    @if (ViewBag.CategoryIDParam == 0)
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i><span class="hidden-mobile"> @prev</span></a>
                                    }
                                    else
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-CategoryID="@ViewBag.CategoryIDParam" asp-route-pageNumber="@(Model.PageIndex-1)" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i><span class="hidden-mobile"> @prev</span></a>
                                    }
                                </li>

                                @for (int p = 1; p <= Model.TotalPages; p++)
                                {
                                    string active_page = p == Model.PageIndex ? "active" : "";
                                    if (ViewBag.CategoryIDParam == 0)
                                    {
                                        <li class="page-item"><a class="page-link link-@active_page" asp-action="Index" asp-route-pageNumber="@p">@p</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link link-@active_page" asp-action="Index" asp-route-CategoryID="@ViewBag.CategoryIDParam" asp-route-pageNumber="@p">@p</a></li>
                                    }
                                }

                                @if (Model.PageIndex < Model.TotalPages)
                                {
                                    back = "";
                                }
                                <li class="page-item @back">
                                    @if (ViewBag.CategoryIDParam == 0)
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)"><span class="hidden-mobile">@next </span><i class="fas fa-angle-double-right"></i></a>
                                    }
                                    else
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-CategoryID="@ViewBag.CategoryIDParam" asp-route-pageNumber="@(Model.PageIndex+1)"><span class="hidden-mobile">@next </span><i class="fas fa-angle-double-right"></i></a>
                                    }
                                </li>

                            </ul>
                        </nav>
                    }
                }
                else
                {
                    <center>  Coming Soon</center>
                }

            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
