﻿
@using Core.DAL.Models
@using SWU.Frontend.Controllers
@using AspNetCore.ReCaptcha
@model WebboardTopic
@{
    var userName = InitializeController.F_Username;
    var lang = ViewBag.LangCode;
    var listTopic = (List<TopicType>)ViewBag.TopicType;
    string error = ViewBag.Error;
    string showError = string.IsNullOrEmpty(error) ? "style='display:none'" : "";
}
<style>
    .required {
        color: red;
    }
</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.ParentName</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 content">

                <section class="st-subpage-objective">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headline">
                                <h3 class="hl-ha-u">ตั้งกระทู้ใหม่</h3>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    @using (Html.BeginForm("Topic", "Webboard", FormMethod.Post, new { enctype = "multipart/form-data" ,onsubmit = "return  validateForm()" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => Model.Menuname)
                                        @Html.HiddenFor(model => Model.LangCode)
                                        if (string.IsNullOrEmpty(userName))
                                        {
                                            @Html.HiddenFor(model => Model.TopicTypeID)
                                        }
                                        else
                                        {
                                            if (listTopic.Count > 0)
                                            {
                                                <div class="form-group row mb-3">
                                                    <div class="col-md-12">
                                                        <label for="">การเผยแพร่</label>
                                                        <div class="d-inline">
                                                            @foreach (var item in listTopic)
                                                            {
                                                                <h>&nbsp;&nbsp;</h>
                                                                @if (lang == "EN")
                                                                {
                                                                    @Html.RadioButtonFor(m => m.TopicTypeID, item.ID.ToString())
                                                                    @Html.LabelFor(model => model.TopicTypeID, item.NameEN, new { @style = "margin-left: 3px" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.RadioButtonFor(m => m.TopicTypeID, item.ID.ToString())
                                                                    @Html.LabelFor(model => model.TopicTypeID, item.NameTH, new { @style = "margin-left: 3px" })
                                                                }

                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                            else
                                            {
                                                @Html.HiddenFor(model => Model.TopicTypeID)
                                            }


                                        }
                                        <div class="form-group row mb-3">
                                            <div class="col-md-12">
                                                <label for="">ห้องสนทนา <small class="required"> *กรุณาระบุ</small></label>
                                                @Html.DropDownListFor(model => model.WBCategoryID, (SelectList)SWU.Frontend.Controllers.InitializeController.GetCateWB(ViewBag.LangCode, ""), "เลือกข้อมูล", new { @class = "select2 form-control", @style = "width:100%", @required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-md-12">
                                                <label for="">หัวข้อ <small class="required"> *กรุณาระบุ</small></label>
                                                @Html.TextBoxFor(model => Model.Topic, new Dictionary<string, object> { { "id", "Description" }, { "class", "form-control" }, { "placeholder", "หัวข้อ" }, { "required", "required" } })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-md-12">
                                                <label for="">รายละเอียด <small class="required"> *กรุณาระบุ</small></label>
                                                @Html.TextAreaFor(model => Model.Description, new Dictionary<string, object> { { "id", "Description" }, { "rows", 10 }, { "class", "form-control summernote" }, { "placeholder", "รายละเอียด" } })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            @Html.ReCaptcha()
                                        </div>
                                        <div class="col-auto" id="error_div" @showError>
                                            <p class="text-danger" id="error_id">@error</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-3"> <i class="fas fa-paper-plane"></i> ตั้งกระทู้</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
    <script src="http://www.kpisme.com/summernote-0.8.18-dist/lang/summernote-th-TH.js"></script>
    <script>
        function validateForm() {
            $('#error_div').hide();
        }
        $(document).ready(function () {

            $('.summernote').summernote({
                height: "200px"
            });
        });</script>





}