﻿
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">ข้อมูลเว็บบอร์ด</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <!-- Start: Subpage Content -->
            <section class="st-subpage-content">
                <div class="container">
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="result" style="text-align:center;">

                                        <h3>ท่านสร้างกระทู้ใหม่เรียบร้อย รอทางเจ้าหน้าที่ตรวจสอบและอนุมัติการแสดงผลของกระทู้</h3>
                                        <h4>หากมีข้อสงสัยให้ติดต่อศูนย์รับเรื่องร้องเรียน นางสาวอาทิตย์ตินันท์ อินทร์วรรณ</h4>
                                        <h6>
                                            <i class="fas fa-phone-alt"></i> โทรศัพท์ <a href="tel:020279302">02 027 9302</a> 
                                        </h6>
                                        <h6>
                                            <i class="fas fa-external-link-alt"></i> อีเมล์ <a href="mailto:arthittinan@ha.or.th" target="_blank">arthittinan@ha.or.th</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>