﻿
@{
    ViewBag.Title = "ไม่พบหน้าที่ต้องการค้นหา";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";

}

<!-- Start: Intro -->
<section class="st-home-intro">
    <div class="container">
        <div class="row">
            <span class="text-center"> ไม่พบหน้าที่ต้องการค้นหา</span>
        </div>
        <div class="row button mt-5">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-align-center">
                <a href="#"  onclick="goBack()" class="btn-primary btn-outline-light">กลับไปก่อนหน้า</a>

                <a href="@Url.Action("Index","Home",new{Menuname = "หน้าหลัก"})" class="btn-primary btn-outline-light">กลับสู่หน้าหลัก</a>

            </div>
        </div>
    </div>
</section>
<!-- End: Intro -->
@section Scripts
{


    <script>function goBack() {
            window.history.back();
        }</script>
}