
@model Core.DAL.Models.ContactForm
@{ 
    string title = "รายละเอียด" + ViewBag.Title;
    string role = (String)ViewBag.Role;
}
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">@ViewBag.Title</li>
                    <li class="breadcrumb-item active">
                        การตอบกลับ
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("List","ContactUS")" class="btn btn-social btn-min-width mr-1 mb-1 btn-secondary"><i class="la la-angle-left"></i> กลับ &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <form asp-action="Manage" asp-controller="ContactUS" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่ ?" data-ajax="true" data-ajax-success="redirect">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => Model.ID)
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center">
                                        <div class="form-group col-12 row">
                                            <div class="col-md-3 col-12 text-md-right mr-3">
                                                <b>ชื่อ-นามสกุล</b>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                @Model.Fullname
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-12 row">
                                            <div class="col-md-3 col-12 text-md-right mr-3">
                                                <b>อีเมล์</b>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                @Model.Email
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-12 row">
                                            <div class="col-md-3 col-12 text-md-right mr-3">
                                                <b>ประเภท</b>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                @Model.TypePersonals
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-12 row">
                                            <div class="col-md-3 col-12 text-md-right mr-3">
                                                <b>คณะที่สังกัด</b>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                @Model.Faculty
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-12 row">
                                            <div class="col-md-3 col-12 text-md-right mr-3">
                                                <b>สาขาวิชา</b>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                @Model.Majors
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-12 row">
                                            <div class="col-md-3 col-12 text-md-right mr-3">
                                                <b>รายละเอียด</b>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                @Model.Message
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-12 row">
                                            <div class="col-md-3 col-12 text-md-right mr-3">
                                                <b>ข้อความตอบกลับ<span class="text-danger">*</span></b>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                @if (string.IsNullOrEmpty(Model.MessageReply))
                                                {
                                                    @Html.TextAreaFor(m => m.MessageReply, new { @class = "form-control", rows = "12", required = "required" })
                                                }
                                                else
                                                {
                                                    @Model.MessageReply
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    @if (string.IsNullOrEmpty(Model.MessageReply))
                                    {
                                        <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="la la-paper-plane-o"></i> ตอบกลับ</button>
                                        <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                    }

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.min.js")"></script>
    <script>
        $(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
        })
         $(document).ajaxError(function (xhr, props) {
            if (props.status === 401) {
                window.location.href = '@Url.Action("Index", "Login")';
            }
         });

          $(document).ajaxComplete(function (a, xhr, c) {
            if (xhr.status === 403 && xhr.responseText.indexOf("LogOut") != -1) {
                Swal.fire({
                    title: 'Session timeout!',
                    text: "",
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger ml-1',
                    buttonsStyling: false,
                }).then(function (result) {
                    if (result.value) {
                         window.location.href = "@Url.Action("Index", "Login")";
                    }
                })
            }
        });


        function redirect(res) {
            if (res.status) {
                toastr.success("", "บันทึกข้อมูลสำเร็จ", { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 1250});
                setTimeout(function () {
                    window.location.href = res.location;
                }, 1250);
            } else {
                toastr.error(res.message,"เกิดข้อผิดพลาด", { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 5000 });
            }
        }

    </script>
}