﻿@model List<Core.DAL.Models.Category>
@using SWU.Frontend.Controllers
@{
    string actived = "";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<style>
    #content {
        font-size: 1.25em;
    }
    .all {
        background: #BC1414;
       
    }
        .all a {
            color: #FFF;
        }
        .all a:hover{
            color: #FFF;
        }
</style>
@if (Model.Any())
{
            <ul id="portfolio-filter" class="portfolio-filter2 clearfix" data-container="#portfolio">

                <li class="mens all"><a href="#" data-filter=".GALL">ทั้งหมด</a></li>
                @foreach (var item in Model)// Level 1
                {
                    actived = "";
                    if (item.ID == ViewBag.CategoryID)
                        actived = "activeFilter";

                    string link = Url.Action("Index", "Downloads", new { Menuname = ViewBag.Menuname, LangID = LangID, CategoryID = item.ID });
                    string name = LangID == "EN" ? item.NameEN : item.NameTH;
                    <li class="mens @actived"><a href="#" data-filter=".group_filter_@name">@name</a></li>


                }
            </ul><!-- #portfolio-filter end -->

       
  
}
