﻿@model List<Core.DAL.Models.Category>
@{
    string actived = "";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() :
    "TH";
}
<style>
    .newmenu a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px dotted #fff;
        padding: 0px 0px 20px 0px;
        width: 100%;
        display: block;
        height: 100%;
    }

    .newmenu li {
        padding: 20px 20px 0 20px;
        width: 100%;
        color: #fff;
    }

    .newmenu li.active {
        background-color: #224490;
    }

    .newmenu ul {
        height: 100%;
        z-index: 100;
    }

    .sidemenu>ul {
       
        position: relative;
        overflow: visible;
    }

    .sidemenu>ul>li {}

    .sidemenu>ul>li:hover {
        background-color: #0f1e41;
    }

    .sidemenu>ul>li>ul {
        display: none;
        position: absolute;
        right: -250px;
        top: 0;
        width: 250px;
        background-color: #18316a;
    }

    .sidemenu>ul>li:hover>ul {
        display: block;
    }

    .sidemenu>ul>li>ul>li:hover {
        background-color: #0f1e41;
    }

    .sidemenu>ul>li>ul>li>ul {
        display: none;
        position: absolute;
        right: -250px;
        top: 0;
        width: 250px;
        background-color: #112551;
    }

    .sidemenu>ul>li>ul>li:hover ul {
        display: block;
    }

    .sidemenu>ul>li>ul>li>ul>li:hover {
        background-color: #0f1e41;
    }

    .sidemenu>ul>li>ul>li ul li ul li {
        border-bottom: 1px dotted #fff;
        padding: 20px;
    }
</style>
@if (Model.Any())
{

    <div class="content-sidebar cert hidden-mobile">
    <div class="ct-sb-title">
        <h4 class="text-color-white hll-ha">@ViewBag.ParentName</h4>
    </div>
    <div class="sidemenu">
        <ul class="newmenu">
            @foreach (var item in Model)// Level 1
            {
                actived = "";
                if (item.ID == ViewBag.CategoryID)
                    actived = "active";

                string link = Url.Action("Index", "Procurement", new
                {
                    Menuname = ViewBag.Menuname,
                    LangID = LangID,
                    CategoryID = item.ID
                });
                string catename = LangID == "EN" ? item.NameEN : item.NameTH;
                    <li class="newmenu @actived"><a class="newmenu" href="@link">+ @catename</a></li>

                }
            </ul>
        </div>
    </div>
}
