﻿@model List<Core.DAL.Models.Tm_Menu>
@using SWU.Frontend.Controllers
@using Core.Common;
@using Core.DAL.Models;
@{
    string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    //string IS_LOGIN = CommonData.Get.FGetConfigValue("SETTING", "IS_LOGIN");

}

<ul class="mr-0">
    @if (Model.Any())
    {
        foreach (var item in Model)// Level 1
        {
            List<Tm_Menu> Childs = MenuFrontData.Get.FSubMenu(item.ID, Lang);
            string link = !string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = Lang });
            <li>
                <a href="@link" class="">@item.Menuname</a>
                @if (Childs.Count > 0)
                {
                    <ul>
                        @foreach (var item2 in Childs)// Level
                        {
                            link = !string.IsNullOrEmpty(item2.link_front) ? item2.link_front : Url.Action(item2.action_front, item2.controller_front, new { Menuname = item2.FPermalink, LangID = Lang });
                            List<Tm_Menu> Childs2 = Childs.Where(o => o.MENU_FRONT_ID == item2.ID).ToList();
                            <li>
                                <a href="@link"><div>@item2.Menuname</div></a>
                                @if (item2.Sub_Menu.Count > 0)
                                {
                                    <ul>
                                        @foreach (var item3 in item2.Sub_Menu)// Level
                                        {
                                            link = !string.IsNullOrEmpty(item3.link_front) ? item3.link_front : Url.Action(item3.action_front, item3.controller_front, new { Menuname = item3.FPermalink, LangID = Lang });

                                            <li>
                                                <a href="@link"><div>@item3.Menuname</div></a>
                                                @if (item3.Sub_Menu.Count > 0)
                                                {
                                                    <ul>
                                                        @foreach (var item4 in item3.Sub_Menu)// Level
                                                        {
                                                            link = !string.IsNullOrEmpty(item4.link_front) ? item4.link_front : Url.Action(item4.action_front, item3.controller_front, new { Menuname = item4.FPermalink, LangID = Lang });
                                                            <li>
                                                                <a href="@link"><div>@item4.Menuname</div></a>
                                                                @if (item4.Sub_Menu.Count > 0)
                                                                {
                                                                    <ul>
                                                                        @foreach (var item5 in item4.Sub_Menu)// Level
                                                                        {
                                                                            link = !string.IsNullOrEmpty(item5.link_front) ? item5.link_front : Url.Action(item5.action_front, item3.controller_front, new { Menuname = item5.FPermalink, LangID = Lang });
                                                                            <li><a href="@link"><div>@item5.Menuname</div></a></li>
                                                                        }
                                                                    </ul>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    }
    @{
        string RegisTxt = Lang == "EN" ? "ADMISSION" : "สมัครเรียน";
    }
    @*<li class="mega-menu">
        <a href="http://admission.swu.ac.th/" target="_blank" style="border-radius: 2px;border: 1px solid #A59C9C;margin: 5px 0;padding-top: 10px;padding-bottom: 10px;"><div>@RegisTxt</div></a>

    </li>*@
    <li class="sub-menu" style="margin: 5px 0;">

        <a href="http://admission.swu.ac.th/" target="_blank" style="border-radius: 2px;border: 1px solid #A59C9C;margin: 5px 0;padding-top: 10px;padding-bottom: 10px;">@RegisTxt</a>

    </li>
</ul>


