﻿@model List<Core.DAL.Models.Tm_Menu>
@using SWU.Frontend.Controllers
@using Core.Common;
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string homeTXT = LangID == "TH" ? "หน้าหลัก" : "Home";

}

    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {Menuname = homeTXT,LangID=LangID})">@homeTXT</a></li>

    @foreach (var item in Model)
    {
        string link = item.self_front ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front :
  Url.Action(item.action_front,
  item.controller_front, new { Menuname = item.FPermalink, LangID = LangID })) : "#";
<li class="breadcrumb-item"><a href="@link">@item.Menuname</a></li>
}
   