﻿@model List<Core.DAL.Models.Tm_Menu>
@using Core.Common;
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }


@if (Model.Count() > 0)
{
    <div class="col-lg-4 col-md-4 col-sm-12 ft-links">
        <h6>  @(LangID == "TH"?"เมนูทางลัด" : "Quick Menu")</h6>
        <ul>
            @foreach (var item in Model)
            {
                string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front :
                Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID })) :
                item.link_front;
                <li><a href="@link">+ @item.Menuname</a></li>
            }
        </ul>
    </div>
}
