﻿@model List<Core.DAL.Models.Tm_Menu>
@using Core.Common;
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }


@if (Model.Count() > 0)
{
<ul class="list-group col-sm-12 col-md-3 col-lg-3">
   <li class="list-group-item">
    <a class="nav-link" href="#">
        @(LangID == "TH"?"เมนูทางลัด" : "Quick Menu")
    </a>
 
        <ul class="list-group">
            @foreach (var item in Model)
            {
                string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front :
                Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID })) :
                item.link_front;
                <li class="list-group-item"><a href="@link" class="nav-link px-2">+ @item.Menuname</a></li>
            }
        </ul>
    </li>
</ul>
    }
