﻿@model List<Core.DAL.Models.Tm_Menu>
@using Core.Common;
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }

<li class="list-inline-item item-display mr-0">
    <a href="mailto:grad@g.swu.ac.th"  style="background-color: #FFF; color: #BC1414;">
        <i class="fa fa-solid fa-bullhorn i-plain bi-megaphone" style="font-size: 1.5em;"></i>สายตรงคณบดี
    </a>
</li>
@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front :
        Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID })) :
        item.link_front;
        <li class="top-links-item">
            <a href="@link">
                <span class="@item.icon_front"></span>  @item.Menuname
            </a>
        </li>
    }
}
