﻿@model List<Core.DAL.Models.Tm_Menu>
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }

@if (Model.Any())
{
    foreach (var item in Model)// Level 1
    {
        string link = !string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID });
        <div class="col-lg-4 col-md-4 col-sm-12 ft-links">
            @if (item.Sub_Menu != null && item.Sub_Menu.Count == 0)
            {
                <h6><a href="@link">@item.Menuname</a></h6>
            }
            else
            {
                <h6>@item.Menuname</h6>
                <ul>

                    @foreach (var item2 in item.Sub_Menu) //Level 2
                    {
                        link = !string.IsNullOrEmpty(item2.link_front) ? item2.link_front : Url.Action(item2.action_front, item2.controller_front, new { Menuname = item2.permalink_front });
                        if (item2.Sub_Menu == null || item2.Sub_Menu.Count == 0) //Not have Level 3
                        {
                            <li><a href="@link">+ @item2.Menuname</a></li>
                        }
                        else
                        {
                            <li>
                                <a href="#">
                                    + @item2.Menuname
                                </a>
                                <ul>
                                    @foreach (var item3 in item2.Sub_Menu) //Level 3
                                    {
                                        link = !string.IsNullOrEmpty(item3.link_front) ? item3.link_front : Url.Action(item3.action_front, item3.controller_front, new { Menuname = item3.permalink_front });
                                        if (item3.Sub_Menu == null || item3.Sub_Menu.Count == 0) //Not have Level 4
                                        {
                                            <li><a href="@link">+ @item3.Menuname</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            }
        </div>
    }
}
