﻿@model List<Core.DAL.Models.Tm_Menu>
@{
    string actived = "";
    string LangID= ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<style>

    .newmenu a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px dotted #fff;
        padding: 0px 0px 20px 0px;
        width: 100%;
        display: block;
        height: 100%;
    }

    .newmenu li {
        padding: 20px 20px 0 20px;
        width: 100%;
        color: #fff;
    }
        .newmenu li.active {
            background-color: #224490;
        }
    .newmenu ul {
        height: 100%;
        z-index: 100;
    }

    .sidemenu > ul {
        @*width: 250px;
        background-color: #224490;*@
        position: relative;
        overflow: visible;
    }

        .sidemenu > ul > li {
        }

            .sidemenu > ul > li:hover {
                background-color: #0f1e41;
            }

            .sidemenu > ul > li > ul {
                display: none;
                position: absolute;
                right: -250px;
                top: 0;
                width: 250px;
                background-color: #18316a;
            }

            .sidemenu > ul > li:hover > ul {
                display: block;
            }

            .sidemenu > ul > li > ul > li:hover {
                background-color: #0f1e41;
            }

            .sidemenu > ul > li > ul > li > ul {
                display: none;
                position: absolute;
                right: -250px;
                top: 0;
                width: 250px;
                background-color: #112551;
            }

            @*.sidemenu > ul > li > ul > li:hover ul {
                display: block;
            }

            .sidemenu > ul > li > ul > li > ul > li:hover {
                background-color: #0f1e41;
            }

            .sidemenu > ul > li > ul > li ul li ul li {
                border-bottom: 1px dotted #fff;
                padding: 20px;
            }*@



</style>
@if (Model.Any())
{

<div class="content-sidebar cert hidden-mobile">
    <div class="ct-sb-title">
        <h4 class="text-color-white hll-ha">@ViewBag.ParentName</h4>
    </div>
    <div class="sidemenu">
        <ul class="newmenu">
            @{
                actived = "";
                if (ViewBag.MenuID == 999999)
                    actived = "active";
            }
            @*<li class="newmenu @actived"><a href="@Url.Action("Index","Hospitals",new { Menuname = "ทำไมถึงต้องรับรองตามมาตรฐาน-HA",LangID = LangID})">+ ทำไมถึงต้องรับรองตามมาตรฐาน-HA</a></li>*@

            @foreach (var item in Model)// Level 1
            {
                actived = "";
                if (item.ID == ViewBag.MenuID)
                    actived = "active";

                string link = !string.IsNullOrEmpty(item.link_front)
                            ? item.link_front :
                                Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID });

                if (item.Sub_Menu == null || item.Sub_Menu.Count == 0)
                {
                    <li class="newmenu @actived"><a class="newmenu" href="@link">+ @item.Menuname</a></li>
                }
                else
                {
                    <li class="newmenu">
                        <a class="newmenu" tabindex="-1" href="#">+ @item.Menuname</a>
                        <ul class="newmenu">
                            @foreach (var item2 in item.Sub_Menu)// Level 2
                            {
                                actived = "";
                                if (item2.ID == ViewBag.MenuID)
                                    actived = "active";

                                link = !string.IsNullOrEmpty(item2.link_front)
                                            ? item2.link_front :
                                                Url.Action(item2.action_front, item2.controller_front, new { Menuname = item2.FPermalink, LangID = LangID });

                                if (item2.Sub_Menu == null || item2.Sub_Menu.Count == 0)
                                {
                                    <li class="newmenu @actived"><a class="newmenu" href="@link">+ @item2.Menuname</a></li>
                                }
                                else
                                {
                                    <li class="newmenu">
                                        <a class="newmenu" tabindex="-1" href="#">+ @item2.Menuname</a>
                                        <ul class="parent newmenu">
                                            @foreach (var item3 in item2.Sub_Menu)// Level 3
                                            {
                                                actived = "";
                                                if (item3.ID == ViewBag.MenuID)
                                                    actived = "active";

                                                link = !string.IsNullOrEmpty(item3.link_front)
                                                            ? item3.link_front :
                                                                Url.Action(item3.action_front, item3.controller_front, new { Menuname = item3.FPermalink, LangID = LangID });

                                                if (item3.Sub_Menu == null || item3.Sub_Menu.Count == 0)
                                                {
                                                    <li class="newmenu @actived"><a class="newmenu" href="@link">+ @item3.Menuname</a></li>
                                                }
                                                else
                                                {
                                                    <li class="newmenu">
                                                        <a class="newmenu" tabindex="-1" href="#">+ @item3.Menuname</a>
                                                        <ul class="parent newmenu">
                                                            @foreach (var item4 in item3.Sub_Menu)// Level 4
                                                            {
                                                                actived = "";
                                                                if (item4.ID == ViewBag.MenuID)
                                                                    actived = "active";

                                                                link = !string.IsNullOrEmpty(item4.link_front)
                                                                            ? item4.link_front :
                                                                                Url.Action(item4.action_front, item4.controller_front, new { Menuname = item4.FPermalink, LangID = LangID });

                                                                if (item4.Sub_Menu == null || item4.Sub_Menu.Count == 0)
                                                                {
                                                                    <li class="newmenu @actived"><a class="newmenu" href="@link">+ @item4.Menuname</a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="newmenu">
                                                                        <a class="newmenu" tabindex="-1" href="#">+ @item4.Menuname</a>
                                                                        <ul class="parent newmenu">
                                                                            @foreach (var item5 in item4.Sub_Menu)// Level 5
                                                                            {
                                                                                actived = "";
                                                                                if (item4.ID == ViewBag.MenuID)
                                                                                    actived = "active";

                                                                                link = !string.IsNullOrEmpty(item5.link_front)
                                                                                            ? item5.link_front :
                                                                                                Url.Action(item5.action_front, item5.controller_front, new { Menuname = item5.FPermalink, LangID = LangID });


                                                                                <li class="newmenu @actived"><a class="newmenu" href="@link">+ @item5.Menuname</a></li>

                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </div>

  
</div>
   
}
