﻿@model List<Core.DAL.Models.WebboardCategory>
@{
    string actived = "";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
@if (Model.Any())
{
    <div class="content-sidebar cert hidden-mobile">
        <div class="ct-sb-title">
            <h4 class="text-color-white hll-ha">@ViewBag.ParentName</h4>
        </div>
        <ul class="ct-sb-list">
            @foreach (var item in Model)// Level 1
            {
                actived = "";
                if (item.WBCategoryID == ViewBag.CategoryID)
                    actived = "active";

                string link = Url.Action("Index", "Webboard", new { Menuname = ViewBag.Menuname, LangID = LangID, CategoryID = item.WBCategoryID });
                <li class="@actived"><a href="@link">+ @item.TopicName</a></li>

            }
        </ul>
    </div>
    <div class="side-menu visible-mobile">
        <div class="menu-item-head">
            <h2 class="menu-heading-h2">ประเมินรับรอง</h2>
        </div>
        <div class="all-menu-item">
            <div class="menu-item active">
                <div class="menu-item-level-one menu-heading-h3"><span>@ViewBag.ParentName</span></div>
                <div class="menu-item-level-two">
                    @foreach (var item in Model)// Level 1
                    {
                        actived = "";
                        if (item.WBCategoryID == ViewBag.CategoryID)
                            actived = "active";

                        string link = Url.Action("Index", "Webboard", new { Menuname = ViewBag.Menuname, LangID = LangID, CategoryID = item.WBCategoryID });

                        <a href="@link"><div class="menu-item-list">+ @item.TopicName</div></a>
                    }
                </div>
            </div>
        </div>
    </div>
}
