﻿@*@model PaginatedList<Core.DAL.Models.FaqDetail>*@
@using Core.Common
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    // int MenuID = (int)ViewBag.MenuID;
    string homeTXT = LangID == "TH" ? TextCommon.TH.TXT_HOME: TextCommon.EN.TXT_HOME;
    ViewBag.Title = LangID == "TH" ? TextCommon.TH.TXT_SEARCH : TextCommon.EN.TXT_SEARCH;

}
<!-- Start: Subpage Banner -->
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {Menuname = homeTXT,LangID=LangID})">@homeTXT</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 content">
                @*<script>(function () {
                var cx = '003439639883666986143:gqsutbcwsfy';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();</script>
        <gcse:searchresults-only></gcse:searchresults-only>*@
                <script async src="https://cse.google.com/cse.js?cx=e51224d33ee1a45d8"></script>
                <div class="gcse-searchbox-only"></div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
