﻿@model Core.DAL.Models.Complaint
@using Core.Common
@using AspNetCore.ReCaptcha
@{
    string displayError = ViewBag.IsError ? "" : "style=display:none";
    string errorMsg = ViewBag.MsgError;
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string addrTXT = LangID == "TH" ? TextCommon.TH.TXT_ADDRESS : TextCommon.EN.TXT_ADDRESS;
    string telTXT = LangID == "TH" ? TextCommon.TH.TXT_TEL : TextCommon.EN.TXT_TEL;
    string faxTXT = LangID == "TH" ? TextCommon.TH.TXT_FAX : TextCommon.EN.TXT_FAX;
    string emailTXT = LangID == "TH" ? TextCommon.TH.TXT_EMAIL : TextCommon.EN.TXT_EMAIL;
    string mapTXT = LangID == "TH" ? TextCommon.TH.TXT_MAP : TextCommon.EN.TXT_MAP;
    string formTXT = LangID == "TH" ? TextCommon.TH.TXT_FORM : TextCommon.EN.TXT_FORM;
    string sendComplaintTXT = LangID == "TH" ? TextCommon.TH.TXT_SENDCOMPLAINT : TextCommon.EN.TXT_SENDCOMPLAINT;
    string typeComplaintTXT = LangID == "TH" ? TextCommon.TH.TXT_TYPECOMPLAINT : TextCommon.EN.TXT_TYPECOMPLAINT;
    string requiredTXT = LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD;
    string selectTXT = LangID == "TH" ? TextCommon.TH.TXT_SELECT_DATA : TextCommon.EN.TXT_SELECT_DATA;
    string flnameTXT = LangID == "TH" ? TextCommon.TH.TXT_FLNAME : TextCommon.EN.TXT_FLNAME;
    string departstaffTXT = LangID == "TH" ? TextCommon.TH.TXT_DEPARTSTAFF : TextCommon.EN.TXT_DEPARTSTAFF;
    string departmentTXT = LangID == "TH" ? TextCommon.TH.TXT_DEPARTMENT : TextCommon.EN.TXT_DEPARTMENT;
    string subjectTXT = LangID == "TH" ? TextCommon.TH.TXT_SUBJECT : TextCommon.EN.TXT_SUBJECT;
    string descriptionTXT = LangID == "TH" ? TextCommon.TH.TXT_DESCRIPTION : TextCommon.EN.TXT_DESCRIPTION;
    string provinceTXT = LangID == "TH" ? TextCommon.TH.TXT_PROVINCE : TextCommon.EN.TXT_PROVINCE;
    string attachTXT = LangID == "TH" ? TextCommon.TH.TXT_ATTACH : TextCommon.EN.TXT_ATTACH;
    string allowTXT = LangID == "TH" ? TextCommon.TH.TXT_ALLOW : TextCommon.EN.TXT_ALLOW;
    string onlyTXT = LangID == "TH" ? TextCommon.TH.TXT_ONLY : TextCommon.EN.TXT_ONLY;

}
<style>
    .required {
        color: red;
    }

    .search-box2 {
        border: 1px solid #B1B1B1;
        border-radius: 12px;
        padding: 55px 25px 40px;
        margin-bottom: 50px;
        background: #fff url(../images/subpage/search-bg.png);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .file-caption .btn-file {
        margin-bottom: 0 !important;
    }

    .kv-file-zoom, .file-actions-cell {
        display: none;
    }
</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@formTXT</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <!-- Start: Subpage Content -->
            <section class="st-subpage-content">
                <div class="container">
                    <div class="row">
                        @if (Model.ObjContact != null)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-6 sidebar">
                                <div class="row">
                                    <div class="result">
                                        <dl class="detail row">
                                            <h3>@Model.ObjContact.InstitutionTitle</h3>
                                            <dt class="col-sm-3"><i class="fas fa-map-marker-alt"></i> @addrTXT</dt>
                                            <dd class="col-sm-9">@Model.ObjContact.InstitutionAddress</dd>
                                            <dt class="col-sm-3"><i class="fas fa-phone-alt"></i> @telTXT</dt>
                                            <dd class="col-sm-9">@Model.ObjContact.InstitutionTel</dd>
                                            <dt class="col-sm-3"><i class="fas fa-globe-asia"></i> @faxTXT</dt>
                                            <dd class="col-sm-9">@Model.ObjContact.InstitutionFax</dd>
                                            <dt class="col-sm-3"><i class="fas fa-external-link-alt"></i> @emailTXT</dt>
                                            <dd class="col-sm-9"><a href="mailto:@Model.ObjContact.InstitutionEmail" target="_blank">@Model.ObjContact.InstitutionEmail</a></dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <h3>@mapTXT</h3>
                                    <div class="thumbnail" style="width: 100vh;max-width: 500px;">
                                        @Html.Raw(Model.ObjContact.GoogleMap)
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-sm-12 col-md-6 col-lg-6 content">
                            @*<form id="target_Form1" asp-action="Index" asp-controller="Complaint" method="POST" data-ajax="true" data-ajax-success="Success_redirect" enctype="multipart/form-data">*@
                            @using (Html.BeginForm("Form", "Complaint", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return  validateForm()" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => Model.MenuID)
                                @Html.HiddenFor(model => Model.Menuname)
                                @Html.HiddenFor(model => Model.LangCode)
                                @Html.HiddenFor(model => Model.ObjContact)

                                <div class="search-box2">
                                    <h2 class="">@formTXT</h2>
                                    <h3 class="hl-ha-u-l">@sendComplaintTXT</h3>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@typeComplaintTXT <small class="required"> * @requiredTXT</small></label>
                                        @Html.DropDownListFor(model => model.ComplainTypeID, (SelectList)SWU.Frontend.Controllers.InitializeController.GetComplaintType(LangID, ""), selectTXT + " " + typeComplaintTXT, new { @class = "select2 form-control", @style = "width:100%", @required = true })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@flnameTXT <small class="required"> * @requiredTXT</small></label>
                                        @Html.TextBoxFor(o => o.Name, new { @class = "form-control", @required = true, @placeholder = flnameTXT, @maxlength = 255 })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-6">
                                        <label for="">@emailTXT <small class="required"> * @requiredTXT</small></label>
                                        @Html.TextBoxFor(o => o.Email, new { @class = "form-control", @type = "email", @required = true, @placeholder = emailTXT, @maxlength = 255 })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">@departstaffTXT</label>
                                        @Html.TextBoxFor(o => o.Division, new { @class = "form-control", @placeholder = departmentTXT, @maxlength = 255 })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@subjectTXT <small class="required"> * @requiredTXT</small></label>
                                        @Html.TextBoxFor(o => o.Title, new { @class = "form-control", @required = true, @placeholder = subjectTXT, @maxlength = 255 })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@descriptionTXT <small class="required"> * @requiredTXT</small></label>
                                        @Html.TextAreaFor(model => Model.Description, new Dictionary<string, object> { { "required", true }, { "id", "Description" }, { "row", 3 }, { "class", "form-control" }, { "placeholder", descriptionTXT } })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@addrTXT</label>
                                        @Html.TextAreaFor(model => Model.CurrentAddr, new Dictionary<string, object> { { "id", "CurrentAddr" }, { "row", 3 }, { "class", "form-control" }, { "placeholder", addrTXT } })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@provinceTXT</label>
                                        @Html.DropDownListFor(model => model.ProvinceID, (SelectList)SWU.Frontend.Controllers.InitializeController.GetProvince(LangID, ""), selectTXT, new { @class = "select2 form-control", @style = "width:100%" })
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="DownloadFormSize">
                                            @attachTXT (Max Size 2 MB)
                                        </label>
                                        @Html.TextBoxFor(model => Model.Files, new { @id = "FileAttach", @type = "file", @class = "fileAttach", @data_show_upload = "false", @data_show_caption = "true", @data_show_delete = "false", @data_show_remove = "false" })
                                        <label>
                                            @allowTXT image,ms-word,pdf,ms-excel,mp3,mp4 @onlyTXT
                                        </label>
                                        <label id="errorBlock99" class="col-12 col-form-label"></label>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    @Html.ReCaptcha()
                                </div>
                                <div class="col-auto" id="is_show_error_login" @displayError>
                                    <p class="required">@errorMsg</p>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-paper-plane"></i> @sendComplaintTXT</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </section>
            <!-- End: Subpage Content -->


        </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section Scripts
{
    @*<script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                async defer></script>*@
    <script src="@Url.Content("~/lib/forms/fileinput/fileinput.min.js")"></script>
    <script src="@Url.Content("~/lib/forms/fileinput/theme.min.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>*@

    <script type="text/javascript">
        function validateForm() {
            $('#is_show_error').hide();
        }
        $(document).ready(function () {

            $('.fileAttach').attr("accept", "application/pdf, image/*,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document");

            $(".fileAttach").fileinput({
                theme: 'explorer',
                            overwriteInitial: false,
                            uploadAsync: false,
                            showRemove: false,
                            showDelete: false,
                            showUpload: false,
                            initialPreviewAsData: true,
                            browseOnZoneClick: false,
                            dropZoneEnabled: false,
                            autoReplace: true,
                            elErrorContainer: "#errorBlock99",
                            allowedFileExtensions: ['pdf', 'jpeg', 'jpg', 'gif', 'png','doc','docx','xls','xlsx'],
                            maxFileSize: 2048,
                            removeFromPreviewOnError: true,
                            preferIconicPreview: true,
                            mainClass: " file-caption  kv-fileinput-caption",
                            preferIconicPreview: true,
                            previewFileIconSettings: {
                                'doc': '<i class="fas fa-file-word text-primary"></i>',
                                'xls': '<i class="fas fa-file-excel text-success"></i>',
                                @*'ppt': '<i class="fas fa-file-powerpoint text-danger"></i>',*@
                                'pdf': '<i class="fas fa-file-pdf text-danger"></i>',
                                @*'zip': '<i class="fas fa-file-archive text-muted"></i>',
                                'htm': '<i class="fas fa-file-code text-info"></i>',*@
                                'txt': '<i class="fas fa-file-text text-info"></i>',
                                'mov': '<i class="fas fa-file-movie-o text-warning"></i>',
                                'mp3': '<i class="fas fa-file-audio text-warning"></i>',
                                // note for these file types below no extension determination logic
                                // has been configured (the keys itself will be used as extensions)
                                'jpg': '<i class="fas fa-file-image text-danger"></i>',
                                'gif': '<i class="fas fa-file-image text-warning"></i>',
                                'png': '<i class="fas fa-file-image text-primary"></i>'
                            }

            });
    });
    </script>
}
