﻿@model Core.DAL.Models.ContentDetail
@{
    //  ViewBag.Title = "ประเมินรับรอง";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.ParentName</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            @if (ViewBag.ParentID != null)
            {
                <div class="col-sm-12 col-md-3 col-lg-3 sidebar">
                    @*@await Component.InvokeAsync("SubMenuXComplaint", new { ParentID = 24, LangID = LangID })*@
                    @await Component.InvokeAsync("SubMenu", new { ParentID = (int)ViewBag.ParentID, LangID = LangID })
                </div>
            }
            <div class="col-sm-12 col-md-9 col-lg-9 content">
                @if (Model != null && !string.IsNullOrEmpty(Model.HtmlContent))
                {
                    @Html.Raw(Model.HtmlContent)
                    @if (Model.lstFiles.Count() > 0)
                    {
                        <div class="ct-download">
                            <h6>เอกสารแนบ</h6>
                            <div class="row">
                                @foreach (var item in Model.lstFiles)
                                {
                                    if (!string.IsNullOrEmpty(item.PathFile))
                                    {
                                        if ((string.IsNullOrEmpty(item.FileExtension) ? "" : item.FileExtension.ToLower()) == "application/pdf")
                                        {
                                            <div class="col-12 col-md-6 col-icon mb-0">
                                                <ol class="list-group list-group-flush">
                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <i class="fas fa-file-download bg-blue"></i>
                                                            <div class="text-bold">@item.FileNameOri</div>
                                                            <a href="#" class="toggleView" onclick="viewPdf('@item.PathFile');">View</a>
                                                            <a href="#" class="toggleView" style="display:none;">Close</a>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-12 col-md-6 col-icon mb-0">
                                                <ol class="list-group list-group-flush">
                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <i class="fas fa-file-download bg-blue"></i>
                                                            <div class="text-bold">@item.FileNameOri</div>
                                                            <a href="@item.PathFile">ดาวน์โหลด</a>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                        }
                                    }
                                    @*<div class="col-12 col-md-6 col-icon mb-0">
                                            <ol class="list-group list-group-flush">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <i class="fas fa-file-download bg-blue"></i>

                                                        <div class="text-bold">@item.FileNameOri</div>

                                                        <a href="@item.PathFile">ดาวน์โหลด</a>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>*@
                                }
                            </div>
                            <div id="div_embed_pdf" class="row toggleView" style="display:none">
                                <div class="mt-3 pb-3"><embed id="div_content_embed_pdf" src="" width="100%" height="750"></div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <center>  Coming Soon</center>
                }
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section Scripts {


    <script type="text/javascript">

        function viewPdf(path) {
            var arrt_div_embed = "#div_embed_pdf";
            $("#div_content_embed_pdf").attr("src", path);
            $("#div_embed_pdf").toggle();

        }
    </script>

}