﻿@model Core.DAL.Models.ContactDetail
@using Core.Common
@{ string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string homeTXT = Lang == "TH" ? TextCommon.TH.TXT_HOME : TextCommon.EN.TXT_HOME;

    }

<!-- Header
        ============================================= -->
<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix pr-4" style="background-color:#fff;">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="@Url.Action("Index","Home",new  { Menuname =homeTXT ,LangID = Lang})" class="standard-logo" data-dark-logo="@Url.Content("~/images/logo2x.png")"><img src="@Url.Content("~/images/logo2x.png")" alt="GRAD SWU"></a>
                <a href="@Url.Action("Index","Home",new  { Menuname =homeTXT ,LangID = Lang})" class="retina-logo" data-dark-logo="@Url.Content("~/images/logo2x.png")"><img src="@Url.Content("~/images/logo2x.png")" alt="GRAD SWU"></a>
             
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">
                @await Component.InvokeAsync("Menu", new { LangID = Lang })

                <!-- Top Search    ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="@Url.Action("Index", "Search")" id="searchForms" class="search top-search-form">
                        <input type="text" name="searchKeyword" class="form-control" placeholder="@(Lang == "TH" ? TextCommon.TH.TXT_SEARCH : TextCommon.EN.TXT_SEARCH)" autocomplete="off" />

                    </form>

                </div><!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->
