﻿@model List<Core.DAL.Models.Languages>
@{
    int i = 0;
}
<ul class="nav nav-pills nav-justified nav-pill-bordered">
    @if (Model.Count() > 1)
    {
        foreach (var a in Model)
        {
            string n = "active";
            if (i > 0)
            {
                n = "";
            }
            <li class="nav-item">
                <a class="nav-link @n" id="Language-tab_@a.LanguageCode" data-toggle="pill" href="#tab_@a.LanguageCode" aria-expanded="true">
                    <img src="@Url.Content("~/image/flags/" + a.LanguageCode.ToLower() + ".png")" style="width: 5vh;" />&nbsp;&nbsp;&nbsp; @a.LanguageName
                </a>
            </li>
            i++;
        }
    }
</ul>
