﻿@model Core.DAL.Models.BannerDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : ""; }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">

    @using (Html.BeginCollectionItem("lstBanner"))
    {
            @Html.HiddenFor(model => Model.BannerDetailID)
            @Html.HiddenFor(model => Model.LangCode)
            @Html.HiddenFor(model => Model.BannerID)
            @Html.HiddenFor(model => Model.MenuID)
            @Html.HiddenFor(model => Model.Menuname)
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="Links_@Model.LangCode">Url File:</label>
                                                            @Html.TextBoxFor(model => Model.BannerLink, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Lin" }, { "type", "url" }, { "placeholder", "เว็บที่เชื่อมโยง exemple : http://google.com" } })
                                                            <div class="col-sm-12">
                                                                @Html.ValidationMessageFor(model => model.BannerLink, null, new { @style = "color:red;" })
                                                            </div>
                                                        </div>
                                                        <div class="or"> OR </div>
                                                        <div class="form-group">
                                                            <label for="BannerSize_@Model.LangCode">(Image,Word,PDF,Excel,mp4) Max 30 mb<small class="text-danger"> *กรุณาเลือกไฟล์</small></label>
                                                            @Html.TextBoxFor(model => Model.Files, new { @id = "AttachFiles_" + Model.LangCode, @type = "file", @class = "AttachFiles", @data_show_upload = "false", @data_show_caption = "true", @data_show_delete = "false", @data_show_remove = "false" })
                                                            <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                }
</div>



<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
         if ('@Model.FileName' != "" && '@Model.FilePath' != "") {
             $("#AttachFiles_@Model.LangCode").fileinput({
                            initialPreview: ["<img src='@Url.Content("~/fileupload/" + Model.FilePath)' width='100%' class='file-preview-image'" + "alt='" + '@Model.OriginalFileName' + "' title='" + '@Model.OriginalFileName' + "'>"],
                            initialPreviewConfig: [{ caption: "@Model.OriginalFileName", downloadUrl: '@Url.Content("~/fileupload/" + Model.FilePath)', filename: "@Model.FileName", width: "80px" }],
                            showDelete: false,
                            showRemove: false,
                            overwriteInitial: true,
                            initialCaption: '@Model.OriginalFileName',
                            showUpload: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",

                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif', 'svg', 'doc', 'docx', 'xls', 'xlsx', 'mp4', 'pdf'],
                 maxFileSize: 30720,
                 mainClass: " file-caption  kv-fileinput-caption",
                 previewFileIconSettings: {
                     'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                     'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                     'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                     'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                     'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                     'htm': '<i class="fa fa-file-code-o text-info"></i>',
                     'txt': '<i class="fa fa-file-text-o text-info"></i>',
                     'mov': '<i class="fa fa-file-video-o text-warning"></i>',
                     'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                     'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                     'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                     'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                 },
                 previewFileExtSettings: {
                     'doc': function (ext) { return ext.match(/(doc|docx)$/i); },
                     'xls': function (ext) { return ext.match(/(xls|xlsx)$/i); },
                     'ppt': function (ext) { return ext.match(/(ppt|pptx)$/i); },
                     'zip': function (ext) { return ext.match(/(zip| rar | tar | gzip | gz | 7z)$/i); },
                     'htm': function (ext) { return ext.match(/(htm | html)$/i); },
                     'txt': function (ext) { return ext.match(/(txt | ini | csv | java | php | js | css)$/i); },
                     'mov': function (ext) { return ext.match(/(avi | mpg | mkv | mov | mp4 | 3gp | webm | wmv)$/i); },
                     'mp3': function (ext) { return ext.match(/(mp3 | wav)$/i); }
                 }
                        });
                    }
                    else {
                $(".AttachFiles").fileinput({
                            showUpload: false,
                            overwriteInitial: true,
                            showDelete: false,
                            showRemove: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",
                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption",
                            previewFileIconSettings: {
                                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                                'mov': '<i class="fa fa-file-video-o text-warning"></i>',
                                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                                'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                                'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                                'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                            },
                            previewFileExtSettings: {
                                'doc': function (ext) { return ext.match(/(doc|docx)$/i); },
                                'xls': function (ext) { return ext.match(/(xls|xlsx)$/i); },
                                'ppt': function (ext) { return ext.match(/(ppt|pptx)$/i); },
                                'zip': function (ext) { return ext.match(/(zip| rar | tar | gzip | gz | 7z)$/i); },
                                'htm': function (ext) { return ext.match(/(htm | html)$/i); },
                                'txt': function (ext) { return ext.match(/(txt | ini | csv | java | php | js | css)$/i); },
                                'mov': function (ext) { return ext.match(/(avi | mpg | mkv | mov | mp4 | 3gp | webm | wmv)$/i); },
                                'mp3': function (ext) { return ext.match(/(mp3 | wav)$/i); }
                            }
                        });
                    }
      
    });
</script>