﻿@model Core.DAL.Models.BannerDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{
    Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : "";
}
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">
  
@using (Html.BeginCollectionItem("lstBanner"))
{
        @*@Html.HiddenFor(model => Model.ID)
        @Html.HiddenFor(model => Model.LangCode)
        @Html.HiddenFor(model => Model.BANNER_ID)
        @Html.HiddenFor(model => Model.MENU_ID)
        @Html.HiddenFor(model => Model.link)
        @Html.HiddenFor(model => Model.createdate)
        @Html.HiddenFor(model => Model.createby)
        @Html.HiddenFor(model => Model.filename)
        @Html.HiddenFor(model => Model.path)
        @Html.HiddenFor(model => Model.filetype)
        @Html.HiddenFor(model => Model.menuname)
        @Html.HiddenFor(model => Model.SelectedTabs)
        @Html.HiddenFor(model => Model.GUID)*@
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="BannerSize_@Model.LangCode">2880x900 px (jpeg , jpg , gif ,png) <small class="text-danger"> *กรุณาเลือกรูป</small></label>
                <div class="input-group col-12">
                    <input id="BannerFiles_@Model.LangCode" name="BannerFiles_@Model.LangCode" type="file" class="BannerFiles" data-show-upload="false" multiple>
                    <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @if (Model.LangCode == "TH")
                {
                        <label for="BannerName_@Model.LangCode">หัวข้อ <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                        @Html.TextBoxFor(model => Model.BannerName, new Dictionary<string, object> { { "id", "BannerName_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "หัวข้อ" } })
                }
                else
                {
                        <label for="BannerName_@Model.LangCode">หัวข้อ </label>
                        @Html.TextBoxFor(model => Model.BannerName, new { @id = "BannerName_" + Model.LangCode, @class = "form-control", @placeholder = "หัวข้อ" })
                }
                <div class="col-lg-12">
                    @Html.ValidationMessageFor(model => model.BannerName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="BannerDescription_@Model.LangCode">รายละเอียด</label>
                @Html.TextAreaFor(model => Model.BannerDescription, new Dictionary<string, object> { { "id", "BannerDescription_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "รายละเอียด" } }) 
            </div>
            <div class="form-group">
                <label for="Links_@Model.LangCode">เว็บที่เชื่อมโยง</label>
                @Html.TextBoxFor(model => Model.BannerLink, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Lin" }, { "type", "url" }, { "placeholder", "เว็บที่เชื่อมโยง exemple : http://google.com" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.BannerLink, null, new { @style = "color:red;" })
                </div>
            </div>
            <div class="form-group">
                <label for="active_@Model.LangCode">เผยแพร่</label>
                <div class="col-12">
                    @Html.CheckBoxFor(model => model.Actived, new { @id = "active_" + Model.LangCode, @class = "switchBootstrap" })
                </div>
            </div>
        </div>
    </div>
}
</div>
