﻿@model Core.DAL.Models.Banner
@{
    ViewBag.Title2 = "รายละเอียดข้อมูล"+ViewBag.Title;
 }

<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title2
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Index", new {menuname = ViewBag.Menuname})" class="btn btn-social btn-min-width mr-1 mb-1 btn-secondary"><i class="la la-angle-left"></i> กลับ &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="content-body" id="Cont">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body">

                            @using (Html.BeginForm("Manage", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(model => Model.MenuID)
                                @Html.HiddenFor(model => Model.CreatedDate)
                                @Html.HiddenFor(model => Model.CreatedBy)
                                @Html.HiddenFor(model => Model.ID)
                                @Html.HiddenFor(model => Model.Menuname)
                                <div class="card-content">
                                    <div class="row justify-content-center">
                                        <div class="btn-group form-group float-md-right">
                                            @if (Model.ID > 0)
                                            {
                                                @: ข้อมูลล่าสุดโดย @Model.UpdatedBy เมื่อ @Model.UpdatedDate_Str
                                            }
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <label class="col-md-3 control-labe text-right">ช่วงวันที่เผยแพร่</label>
                                        <div class="form-group col-md-9 col-12">
                                            <div class="input-group input-daterange date">
                                                @Html.TextBoxFor(model => Model.EffectiveDate_str, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "วันที่เริ่นต้นแสดงผล" }, { "autocomplete", "off" }, { "data-provide", "datepicker" }, { "data-date-language", "th-th" } })
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="sizing-addon2"> ถึง </span>
                                                </div>
                                                @Html.TextBoxFor(model => Model.EndDate_str, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "วันที่สิ้นสุดแสดงผล" }, { "autocomplete", "off" }, { "data-provide", "datepicker" }, { "data-date-language", "th-th" } })
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="nav nav-tabs nav-underline nav-top-border no-hover-bg">
                                        @await Component.InvokeAsync("LanguageTab")
                                    </ul>

                                    <div class="tab-content px-1 pt-1">
                                        @foreach (var itemdetail in Model.lstBanner)
                                        {
                                            itemdetail.BannerID = Model.ID;
                                            await Html.RenderPartialAsync("~/Views/Banner/_Manage.cshtml", itemdetail);
                                        }
                                        <div class="form-actions text-right">
                                            <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                            <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                        </div>
                                    </div>
                                </div>
                              }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    

    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
    <script>
        function delf(i) {
            var urlz = "@Url.Action("RemoveFile","Form", new { FileID = Model.ID.ToString() })";
            $.ajax({
                type: "GET",
                url: urlz,
                dataType: 'json',
                data: {
                    i: i
                },
                success: function (response) {
                    if (response != null) {
                        return true;
                    }
                    return false;
                }
            });
        }
        $(document).ready(function () {
        if ($('.BannerFiles').length > 0) {
            $('.BannerFiles').attr("accept", "image/*");

        @foreach (var lang in Model.lstBanner)
        {
            @: var $BannerFiles = $("#BannerFiles_@lang.LangCode");
            @:     $("#BannerFiles_@lang.LangCode").fileinput({
            @:        uploadUrl: "@Url.Action("UploadFile", "Form")?CateId=1&Ref_ID=" + "@lang.BannerID.ToString()",
            @:        theme: 'explorer',
            @:        overwriteInitial: false,
            @:        uploadAsync: false,
            @:        showRemove: false,
            @:        showDelete: false,
                    @:showUpload: false,
                    @:initialPreviewAsData: true,
                    @:browseOnZoneClick: false,
                    @:dropZoneEnabled: true,
                    @:autoReplace: true,
                    @:elErrorContainer: "#errorBlock_@lang.LangCode",
                    @:allowedFileExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                    @:maxFileSize: 10240,
                    @:removeFromPreviewOnError: true,
                    @:mainClass: " file-caption  kv-fileinput-caption",
                    @:preferIconicPreview: true,
                    @:maxFileCount: 1,
                    @:minFileCount: 1,
                 
                        if (!string.IsNullOrEmpty(lang.FileName) && !string.IsNullOrEmpty(lang.FilePath))
                        {
                            var file1path = Url.Content("~/fileupload/" + lang.FilePath);
                            var file1name = lang.FileName;
                            @:, initialPreview: ['@file1path']
                            @:, initialPreviewConfig: [
                            @: { caption: "@file1name", downloadUrl: '@file1path', filename: "@file1name", width: "80px", url: "@Url.Action("DeleteFiles", "Form", new { MediaFileId = lang.FileID })", key: '@lang.FileID' }
                            @:]
                        }
                    @:})
                    @:.on("filebatchselected", function (event, files) {
                    @:    $BannerFiles.fileinput("upload");
                    @:}).on('filebeforedelete', function () {
                    @:    return new Promise(function (resolve, reject) {
                    @:        $.confirm({
                    @:            title: 'คุณต้องการลบข้อมูลนี้ใช่หรือไม่?',
                    @:            content: 'หากทำการลบแล้วจะไม่สามารถเรียกคืนได้ กรุณาตรวจสอบอย่างละเอียด!',
                    @:            type: 'red',
                    @:            buttons: {
                    @:                ok: {
                                            @:text: 'ใช่!',
                                            @:btnClass: 'btn-primary text-white',
                                            @:keys: ['enter'],
                                            @:action: function () {
                                            @:    resolve();
                                            @:}
                    @:                },
                    @:                cancel: {
                                            @:text: 'ไม่ใช่!',
                                            @:action: function () { }
                    @:                }
                    @:            }
                    @:        });
                    @:    });
                    @:});
            }
            }
        })
    </script>
}