﻿@model Core.DAL.Models.DownloadFormDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
                string SelectedTabs = Model.LangCode == "TH" ? "active" : ""; }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">

    @using (Html.BeginCollectionItem("lstDownloadForm"))
    {
                @Html.HiddenFor(model => Model.DownloadFormDetailID)
                @Html.HiddenFor(model => Model.LangCode)
                @Html.HiddenFor(model => Model.DownloadFormID)

                @Html.HiddenFor(model => Model.MenuID)
                @Html.HiddenFor(model => Model.Menuname)
                @Html.HiddenFor(model => Model.SUB_GUID)
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        @*<div class="form-group">
            <label for="DownloadFormSize_@Model.LangCode">
                เอกสารแนบ (image,ms-word,pdf,ms-excel,ms-powerpoint,mp4)
            </label>
            @Html.TextBoxFor(model => Model.Files, new { @id = "FileSize_" + Model.LangCode, @type = "file", @class = "fileAttach", @data_show_upload = "false", @data_show_caption = "true", @data_show_delete = "false", @data_show_remove = "false" })
            <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>
        </div>*@
                                                                                        @*<div class="form-group">
            <label for="DownloadFormSize_@Model.LangCode">เอกสารแนบ (word , pdf , excel) </label>
            <input id="DownloadFormFiles_@Model.LangCode" name="DownloadFormFiles_@Model.LangCode" type="file" class="DownloadFormFiles" data-show-upload="false" multiple>
            <label id="errorBlockATTACH_@Model.LangCode" class="col-12 col-form-label"></label>

        </div>*@
                                                                                        <div class="form-group">
                                                                                            @{
                                                                                                string calSize = Math.Round((Convert.ToDouble(Model.LimitFile.MaxSizeFile) / 1024), 2).ToString();

                                                                                            }
                                                                                            <label for="AttachFiles_@Model.LangCode">เอกสารแนบ (@Html.Raw(Model.LimitFile.AllowFileSet)) Max size @calSize MB </label>
                                                                                            @{ string st2 = "AttachFiles_" + Model.LangCode;}
                                                                                            <input type="file" name="@st2" id="AttachFiles_@Model.LangCode" class="AttachFiles" data-show-upload="false" multiple>
                                                                                            <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>

                                                                                        </div>

                                                                                    </div>
                                                                                    @*<div class="col-md-3">

                                                                                            <div class="form-group">
                                                                                                <label for="DownloadFormSize_@Model.LangCode">เอกสารแนบ (word , pdf , excel) </label>
                                                                                                <input id="DownloadFormFiles_@Model.LangCode" name="DownloadFormFiles_@Model.LangCode" type="file" class="DownloadFormFiles" data-show-upload="false" multiple>
                                                                                                <label id="errorBlockATTACH_@Model.LangCode" class="col-12 col-form-label"></label>

                                                                                            </div>
                                                                                        </div>*@
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            @if (Model.LangCode == "TH")
                                                                                            {
                                                                            <label for="DownloadFormName_@Model.LangCode">หัวข้อ <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                                                                                                @Html.TextBoxFor(model => Model.DownloadFormName, new Dictionary<string, object> { { "id", "DownloadFormName_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "หัวข้อ" } }) }
                                                                                            else
                                                                                            {
                                                                            <label for="DownloadFormName_@Model.LangCode">หัวข้อ </label>
                                                                                                @Html.TextBoxFor(model => Model.DownloadFormName, new { @id = "DownloadFormName_" + Model.LangCode, @class = "form-control", @placeholder = "หัวข้อ" })}
                                                                                            <div class="col-lg-12">
                                                                                                @Html.ValidationMessageFor(model => model.DownloadFormName, null, new { @class = "text-danger" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label for="DownloadFormDescription_@Model.LangCode">รายละเอียด</label>
                                                                                            @Html.TextAreaFor(model => Model.DownloadFormDescription, new Dictionary<string, object> { { "id", "DownloadFormDescription_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "รายละเอียด" } })
                                                                                        </div>
                                                                                        <div class="form-group">

                                                                                            <label for="Links_@Model.LangCode">เว็บที่เชื่อมโยง</label>

                                                                                            @Html.TextBoxFor(model => Model.DownloadFormLink, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Lin" }, { "type", "url" }, { "placeholder", "เว็บที่เชื่อมโยง exemple : http://google.com" } })
                                                                                            <div class="col-sm-12">
                                                                                                @Html.ValidationMessageFor(model => model.DownloadFormLink, null, new { @style = "color:red;" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    @*<div class="col-12">

                                                                                            <div class="form-group">
                                                                                                <label for="DownloadFormSize_@Model.LangCode">เอกสารแนบ (word , pdf , excel) </label>
                                                                                                <input id="DownloadFormFiles_@Model.LangCode" name="DownloadFormFiles_@Model.LangCode" type="file" class="DownloadFormFiles" data-show-upload="false" multiple>
                                                                                                <label id="errorBlockATTACH_@Model.LangCode" class="col-12 col-form-label"></label>

                                                                                            </div>
                                                                                        </div>*@
                                                                                </div>}
</div>

<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.FileName' != "" && '@Model.FilePath' != "") {
            $("#FileSize_@Model.LangCode").fileinput({
                initialPreview: ["<img src='@Url.Content("~/fileupload/" + Model.FilePath)' width='100%' class='file-preview-image'" + "alt='" + '@Model.OriginalFileName' + "' title='" + '@Model.OriginalFileName' + "'>"],
                initialPreviewConfig: [{ caption: "@Model.OriginalFileName", downloadUrl: '@Url.Content("~/fileupload/" + Model.FilePath)', filename: "@Model.FileName", width: "80px" }],
                showDelete: false,
                showRemove: false,
                overwriteInitial: true,
                initialCaption: '@Model.OriginalFileName',
                showUpload: false,
                elErrorContainer: "#errorBlock_@Model.LangCode",
                maxFileCount: '@Model.LimitFile.MaxQuantityFile',
                allowedFileExtensions: [@Html.Raw(Model.LimitFile.AllowFileSet)],
                maxFileSize: '@Model.LimitFile.MaxSizeFile',
                mainClass: " file-caption  kv-fileinput-caption",
                preferIconicPreview: true,
                previewFileIconSettings: {
                    'doc': '<i class="la la-file-word-o text-primary" style="font-size: 10rem;"></i>',
                    'xls': '<i class="la la-file-excel-o text-success" style="font-size: 10rem;"></i>',
                    'ppt': '<i class="la la-file-pdf-o text-danger" style="font-size: 10rem;"></i>',
                    'pdf': '<i class="la la-file-pdf-o text-danger" style="font-size: 10rem;"></i>',
                    'zip': '<i class="la la-file-archive-o text-muted" style="font-size: 10rem;"></i>',
                    'htm': '<i class="la la-file-code-o text-info" style="font-size: 10rem;"></i>',
                    'txt': '<i class="la la-file-text-o text-info" style="font-size: 10rem;"></i>',
                    'mov': '<i class="la la-file-video-o text-warning" style="font-size: 10rem;"></i>',
                    'mp3': '<i class="la la-file-audio-o text-warning" style="font-size: 10rem;"></i>',
                    'jpg': '<i class="la la-file-photo-o text-danger" style="font-size: 10rem;"></i>',
                    'gif': '<i class="la la-file-photo-o text-muted" style="font-size: 10rem;"></i>',
                    'png': '<i class="la la-file-photo-o text-primary"> style="font-size: 10rem;"</i>'
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function (ext) { return ext.match(/(doc|docx)$/i); },
                    'xls': function (ext) { return ext.match(/(xls|xlsx)$/i); },
                    'ppt': function (ext) { return ext.match(/(ppt|pptx)$/i); },
                    'zip': function (ext) { return ext.match(/ (zip | rar | tar | gzip | gz | 7z)$/i); },
                    'htm': function (ext) { return ext.match(/ (htm | html)$/i); },
                    'txt': function (ext) { return ext.match(/ (txt | ini | csv | java | php | js | css)$/i); },
                    'mov': function (ext) { return ext.match(/(avi | mpg | mkv | mov | mp4 | 3gp | webm | wmv)$/i); },
                    'mp3': function (ext) { return ext.match(/ (mp3 | wav)$/i); }
                }
            });
        }
        else {
            $(".fileAttach").fileinput({
                showUpload: false,
                overwriteInitial: true,
                showDelete: false,
                showRemove: false,
                elErrorContainer: "#errorBlock_@Model.LangCode",
                maxFileCount: '@Model.LimitFile.MaxQuantityFile',
                allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif', 'svg', 'doc', 'docx', 'pdf', 'xls', 'xlsx', 'csv', 'ppt', 'pptx'],
                maxFileSize: '@Model.LimitFile.MaxSizeFile',
                mainClass: " file-caption  kv-fileinput-caption"
            });
        }

        if ($('#AttachFiles_@Model.LangCode').length > 0) {
           // $('#AttachFiles_@Model.LangCode').attr("accept", ".pdf,.csv,application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document");

         $('#AttachFiles_@Model.LangCode').fileinput({
                            uploadUrl: "@Url.Action("UploadFile", "ActionScripts",new { Menuname = Model.Menuname})?MenuID=@Model.MenuID&CateID=4&RefID="+"@Model.SUB_GUID.ToString()",
                            theme: 'explorer',
                            overwriteInitial: false,
                            uploadAsync: false,
                            showRemove: false,
                            showDelete: false,
                            showUpload: false,
                            //initialPreviewAsData: true,
                            browseOnZoneClick: false,
                            dropZoneEnabled: false,
                            autoReplace: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",
                            allowedFileExtensions: [@Html.Raw(Model.LimitFile.AllowFileSet)],
                            maxFileSize: '@Model.LimitFile.MaxSizeFile',
                            maxFileCount: '@Model.LimitFile.MaxQuantityFile',
                            removeFromPreviewOnError: true,
                            preferIconicPreview: true,
                            mainClass: " file-caption  kv-fileinput-caption",

                             previewFileIconSettings: {
                                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                                'mov': '<i class="fa fa-file-video-o text-warning"></i>',
                                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                                'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                                'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                                'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                            }
                            @*,previewFileExtSettings: {
                                'doc': function (ext) { return ext.match(/(doc|docx)$/i); },
                                'xls': function (ext) { return ext.match(/(xls|xlsx)$/i); },
                                'ppt': function (ext) { return ext.match(/(ppt|pptx)$/i); },
                                'zip': function (ext) { return ext.match(/(zip| rar | tar | gzip | gz | 7z)$/i); },
                                'htm': function (ext) { return ext.match(/(htm | html)$/i); },
                                'txt': function (ext) { return ext.match(/(txt | ini | csv | java | php | js | css)$/i); },
                                'mov': function (ext) { return ext.match(/(avi | mpg | mkv | mov | mp4 | 3gp | webm | wmv)$/i); },
                                'mp3': function (ext) { return ext.match(/(mp3 | wav)$/i); },
                                'pdf': function (ext) { return ext.match(/(pdf)$/i); }
                            }*@

                        @if(Model.lstFilesAttach != null && Model.lstFilesAttach.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.DownloadFormDetailID.ToString()).Count() > 0)
                        {
                            int t = 1;
                            var files = Model.lstFilesAttach.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.DownloadFormDetailID.ToString()).ToList();
                            @:, initialPreview: [
                            foreach (var a in files)
                            {
                                  var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                  var file1name = a.FileNameOri;
                                  if (t > 1)
                                  {
                                    @:,
                                  }
                                  @:'@file1path'
                                  t++;
                            }
                            @:],
                            t = 1;
                            @:initialPreviewConfig: [
                            foreach (var a in files)
                            {
                                var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                var file1name = a.FileNameOri;
                                if (t > 1)
                                {
                                    @:,
                                }
                                @: { caption: "@file1name", downloadUrl: '@file1path', filename: "@file1name", width: "80px", url: "@Url.Action("DeleteFiles", "ActionScripts", new { MediaFileID = a.MediaFileID})", key: '@a.MediaFileID' }
                                t++;
                            }
                            @:]
                        }})
                            .on("filebatchselected", function (event, files) {
                                $('#AttachFiles_@Model.LangCode').fileinput("upload");
                            }).on('filebeforedelete', function () {
                                return new Promise(function (resolve, reject) {
                                    $.confirm({
                                        title: 'คุณต้องการลบข้อมูลนี้ใช่หรือไม่?',
                                        content: 'หากทำการลบแล้วจะไม่สามารถเรียกคืนได้ กรุณาตรวจสอบอย่างละเอียด!',
                                        type: 'red',
                                        buttons: {
                                            ok: {
                                                text: 'ใช่!',
                                                btnClass: 'btn-primary text-white',
                                                keys: ['enter'],
                                                action: function () {
                                                    resolve();
                                                }
                                            },
                                            cancel: {
                                                text: 'ไม่ใช่!',
                                                action: function () { }
                                            }
                                        }
                                    });
                                });
                            });
                    }
    });
</script>