﻿@model List<Core.DAL.Models.MenuGenBackoffice>
@{
    // bool chRole = true;
    int MenuID = ViewBag.MenuID != null ? (int)ViewBag.MenuID : 0;
    string active = "";
}
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            @if (Model.Any())
            {
                foreach (var group in Model)
                {
                    <li class="navigation-header">
                        <span>@group.section_name_back</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="@group.section_name_back"></i>
                    </li>
                    foreach (var item in group.lstobj)
                    {
                        active = item.ID == MenuID ? "active" : "";
                        if (item.Sub_Menu == null || !item.Sub_Menu.Any())
                        {
                            <li class="nav-item @active">
                                <a title="@item.menu_name_back" href="@Url.Action(item.action_back, item.controller_back, new { menuname = item.permalink_back })"><i class="@item.icon_back"></i> <span> @item.menu_name_back</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item has-sub">
                                <a title="@item.menu_name_back" href="#"><i class="@item.icon_back"></i><span>@item.menu_name_back</span></a>
                                <ul class="menu-content">
                                    @foreach (var item2 in item.Sub_Menu)
                                    {
                                        active = item2.ID == MenuID ? "active" : "";

                                        if (item2.Sub_Menu == null || !item2.Sub_Menu.Any())
                                        {
                                            <li class="nav-item @active">
                                                <a title="@item2.menu_name_back" href="@Url.Action(item2.action_back, item2.controller_back, new { menuname = item2.permalink_back })"><i class="@item2.icon_back"></i> <span> @item2.menu_name_back</span></a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a title="@item2.menu_name_back" class="menu-item" href="#"><i class="@item2.icon_back"></i><span> @item2.menu_name_back</span></a>
                                                <ul class="menu-content">
                                                    @foreach (var item3 in item2.Sub_Menu)
                                                    {
                                                        active = item3.ID == MenuID ? "active" : "";

                                                        if (item3.Sub_Menu == null || !item3.Sub_Menu.Any())
                                                        {
                                                            <li class="nav-item nav-item3 @active">
                                                                <a style="padding: 12px 18px 12px 60px !important;" title="@item3.menu_name_back" href="@Url.Action(item3.action_back, item3.controller_back, new { menuname = item3.permalink_back })"><i class="@item3.icon_back"></i> <span> @item3.menu_name_back</span></a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="nav-item nav-item3">
                                                                <a title="@item3.menu_name_back" style="padding: 12px 18px 12px 60px !important;" class="menu-item" href="#"><i class="@item3.icon_back"></i><span> @item3.menu_name_back</span></a>
                                                                <ul class="menu-content">
                                                                    @foreach (var item4 in item3.Sub_Menu)
                                                                    {
                                                                        active = item4.ID == MenuID ? "active" : "";
                                                                            if (item4.Sub_Menu == null || !item4.Sub_Menu.Any())
                                                                            {
                                                                                <li class="nav-item @active">
                                                                                    <a style="padding: 12px 18px 12px 70px !important;" title="@item4.menu_name_back" href="@Url.Action(item4.action_back, item4.controller_back, new { menuname = item4.permalink_back })"><i class="@item4.icon_back"></i> <span> @item4.menu_name_back</span></a>
                                                                                </li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li class="nav-item">
                                                                                    <a title="@item4.menu_name_back" style="padding: 12px 18px 12px 70px !important;" class="menu-item" href="#"><i class="@item4.icon_back"></i><span> @item4.menu_name_back</span></a>
                                                                                    <ul class="menu-content">
                                                                                        @foreach (var item5 in item4.Sub_Menu)
                                                                                        {
                                                                                            active = item5.ID == MenuID ? "active" : "";
                                                                                            if (item5.Sub_Menu == null || !item5.Sub_Menu.Any())
                                                                                            {
                                                                                                <li class="nav-item nav-item5 @active">
                                                                                                    <a  style="padding: 12px 18px 12px 108px !important;" title="@item5.menu_name_back" href="@Url.Action(item5.action_back, item5.controller_back, new { menuname = item5.permalink_back })"><i class="@item5.icon_back"></i> <span> @item5.menu_name_back</span></a>
                                                                                                </li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                </li>
                                                                            }
                                                                      
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
            }
        </ul>
    </div>
</div>
