﻿@model Core.DAL.Models.SocialLink
@using HtmlHelpers.BeginCollectionItemCore;
@{
    Layout = null;
}
   @using (Html.BeginCollectionItem("lstSocialList"))
    {
        @Html.HiddenFor(model => Model.ID)
        @Html.HiddenFor(model => Model.MenuID)
        @Html.HiddenFor(model => Model.Menuname)
        @Html.HiddenFor(model => Model.CreatedDate)
        @Html.HiddenFor(model => Model.CreatedBy)
        <div class="form-group row justify-content-center">
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                         <span href="#" class="btn btn-social width-200 mr-1 mb-1 @Model.SocialStyle"><span class="@Model.SocialIcon"></span> @Model.SocialName</span>
                    </div>
                    @Html.TextBoxFor(model => Model.SocialURL, new Dictionary<string, object> {  { "class", "form-control" }, { "type", "url" }, { "placeholder", Model.SocialName+" URL" } })
                </div>
             </div>
        </div>
    }


