﻿@model Core.DAL.Models.StaffDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : ""; }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">

    @using (Html.BeginCollectionItem("lstStaff"))
    {
        @Html.HiddenFor(model => Model.StaffDetailID)
        @Html.HiddenFor(model => Model.LangCode)
        @Html.HiddenFor(model => Model.StaffID)
        @Html.HiddenFor(model => Model.MenuID)
        @Html.HiddenFor(model => Model.Menuname)
        @Html.HiddenFor(model => Model.SUB_GUID)
    <div class="row">
        <div class="col-md-6" id="PictureFile_@base.Model.LangCode">
            <div class="row">
                <label class="col-md-12" for="StaffSize_@base.Model.LangCode">360 x 530 px (jpeg , jpg , gif ,png) <small class="text-danger"> *กรุณาเลือกรูป</small></label>
                <div class="form-group col-md-6">
                    <label for="StaffSize_@base.Model.LangCode">Action 1</label>
                    @Html.HiddenFor(model => model.IsClickDelImg, new { id = "IsDel_PictureFile_" + base.Model.LangCode })
                    @Html.TextBoxFor(model => model.Files, new { id = "StaffSize_" + base.Model.LangCode, type = "file", @class = "fileImage", data_show_upload = "false", data_show_caption = "true", data_show_delete = "false", data_show_remove = "false" })
                    <label id="errorBlock_@base.Model.LangCode" class="col-12 col-form-label"></label>
                </div>
                <div class="form-group col-md-6">
                    <label for="Staff2Size_@base.Model.LangCode">Action 2</label>
                    @Html.HiddenFor(model => model.IsClickDelImg2, new { id = "IsDel_PictureFile2_" + base.Model.LangCode })
                    @Html.TextBoxFor(model => model.Files2, new { id = "Staff2Size_" + base.Model.LangCode, type = "file", @class = "fileImage", data_show_upload = "false", data_show_caption = "true", data_show_delete = "false", data_show_remove = "false" })
                    <label id="errorBlock2_@base.Model.LangCode" class="col-12 col-form-label"></label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @if (Model.LangCode == "TH")
                {
                    <label for="StaffName_@Model.LangCode">ชื่อ-นามสกุล <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                    @Html.TextBoxFor(model => Model.Fullname, new Dictionary<string, object> { { "id", "Fullname" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "ชื่อ-นามสกุล" } }) }
                else
                {
                    <label for="StaffName_@Model.LangCode">ชื่อ-นามสกุล </label>
                    @Html.TextBoxFor(model => Model.Fullname, new { @id = "Fullname_" + Model.LangCode, @class = "form-control", @placeholder = "ชื่อ-นามสกุล" })}
                <div class="col-lg-12">
                    @Html.ValidationMessageFor(model => model.Fullname, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="StaffDescription_@Model.LangCode">ตำแหน่ง</label>
                @Html.TextAreaFor(model => Model.Position, new Dictionary<string, object> { { "id", "Position_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "ตำแหน่ง" } })
            </div>
            <div class="form-group  row justify-content-center">
                <div class="col-md-6">
                    <label for="Links_@Model.LangCode">เบอร์โทรศัพท์</label>
                    @Html.TextBoxFor(model => Model.Telephone, new Dictionary<string, object> { { "id", "Telephone_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "เบอร์โทรศัพท์" } })
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(model => model.Telephone, null, new { @style = "color:red;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="Links_@Model.LangCode">อีเมล</label>
                    @Html.TextBoxFor(model => Model.Email, new Dictionary<string, object> { { "id", "Email_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "อีเมล" } })
                    <div class="col-sm-12">
                        @Html.ValidationMessageFor(model => model.Email, null, new { @style = "color:red;" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="AttachFiles_@Model.LangCode">เอกสารแนบ (PDF max size 2 MB)</label>
                @{ string st2 = "AttachFiles_" + Model.LangCode;}
                <input type="file" name="@st2" id="AttachFiles_@Model.LangCode" class="AttachFiles" data-show-upload="false" multiple>
                <label id="errorBlockA_@Model.LangCode" class="col-12 col-form-label"></label>

            </div>
        </div>
    </div>}
</div>



<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
    if ('@Model.FileName' != "" && '@Model.FilePath' != "") {
        $("#StaffSize_@Model.LangCode").fileinput({
                            initialPreview: ["<img src='@Url.Content("~/fileupload/" + Model.FilePath)' width='100%' class='file-preview-image'" + "alt='" + '@Model.OriginalFileName' + "' title='" + '@Model.OriginalFileName' + "'>"],
                            initialPreviewConfig: [{ caption: "@Model.OriginalFileName", downloadUrl: '@Url.Content("~/fileupload/" + Model.FilePath)', filename: "@Model.FileName", width: "80px" }],
                            showDelete: false,
                            showRemove: false,
                            overwriteInitial: true,
                            initialCaption: '@Model.OriginalFileName',
                            showUpload: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",

                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
                    else {
                        $(".fileImage").fileinput({
                            showUpload: false,
                            overwriteInitial: true,
                            showDelete: false,
                            showRemove: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",
                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
  if ('@Model.FileName2' != "" && '@Model.FilePath2' != "") {
        $("#Staff2Size_@Model.LangCode").fileinput({
                            initialPreview: ["<img src='@Url.Content("~/fileupload/" + Model.FilePath2)' width='100%' class='file-preview-image'" + "alt='" + '@Model.OriginalFileName2' + "' title='" + '@Model.OriginalFileName2' + "'>"],
                            initialPreviewConfig: [{ caption: "@Model.OriginalFileName2", downloadUrl: '@Url.Content("~/fileupload/" + Model.FilePath2)', filename: "@Model.FileName2", width: "80px" }],
                            showDelete: false,
                            showRemove: false,
                            overwriteInitial: true,
                            initialCaption: '@Model.OriginalFileName2',
                            showUpload: false,
                            elErrorContainer: "#errorBlock2_@Model.LangCode",

                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
                    else {
                        $(".fileImage").fileinput({
                            showUpload: false,
                            overwriteInitial: true,
                            showDelete: false,
                            showRemove: false,
                            elErrorContainer: "#errorBlock2_@Model.LangCode",
                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
         if ($('#AttachFiles_@Model.LangCode').length > 0) {
           //$('#AttachFiles_@Model.LangCode').attr("accept", ".pdf,.csv,application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document");

         $('#AttachFiles_@Model.LangCode').fileinput({
                            uploadUrl: "@Url.Action("UploadFile", "ActionScripts",new { Menuname = Model.Menuname})?MenuID=@Model.MenuID&CateID=4&RefID="+"@Model.SUB_GUID.ToString()",
                            theme: 'explorer',
                            overwriteInitial: false,
                            uploadAsync: false,
                            showRemove: false,
                            showDelete: false,
                            showUpload: false,
                            initialPreviewAsData: true,
                            browseOnZoneClick: false,
                            dropZoneEnabled: false,
                            autoReplace: false,
                            elErrorContainer: "#errorBlockA_@Model.LangCode",
                            allowedFileExtensions: ['pdf'],
                            maxFileSize: 2048,
                            maxFileCount: 1,
                            removeFromPreviewOnError: true,
                            preferIconicPreview: true,
                            mainClass: " file-caption  kv-fileinput-caption",
                             previewFileIconSettings: {
                                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                                'mov': '<i class="fa fa-file-video-o text-warning"></i>',
                                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                                'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                                'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                                'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                            },
                            previewFileExtSettings: {
                                'doc': function (ext) { return ext.match(/(doc|docx)$/i); },
                                'xls': function (ext) { return ext.match(/(xls|xlsx)$/i); },
                                'ppt': function (ext) { return ext.match(/(ppt|pptx)$/i); },
                                'zip': function (ext) { return ext.match(/(zip| rar | tar | gzip | gz | 7z)$/i); },
                                'htm': function (ext) { return ext.match(/(htm | html)$/i); },
                                'txt': function (ext) { return ext.match(/(txt | ini | csv | java | php | js | css)$/i); },
                                'mov': function (ext) { return ext.match(/(avi | mpg | mkv | mov | mp4 | 3gp | webm | wmv)$/i); },
                                'mp3': function (ext) { return ext.match(/(mp3 | wav)$/i); }
                            }

                        @if(Model.lstFilesAttach != null && Model.lstFilesAttach.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.StaffDetailID.ToString()).Count() > 0)
                        {
                            int t = 1;
                            var files = Model.lstFilesAttach.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.StaffDetailID.ToString()).ToList();
                            @:, initialPreview: [
                            foreach (var a in files)
                            {
                                  var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                  var file1name = a.TitleName;
                                  if (t > 1)
                                  {
                                    @:,
                                  }
                                  @:'@file1path'
                                  t++;
                            }
                            @:],
                            t = 1;
                            @:initialPreviewConfig: [
                            foreach (var a in files)
                            {
                                var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                var file1name = a.TitleName;
                                if (t > 1)
                                {
                                    @:,
                                }
                                @: { caption: "@file1name", downloadUrl: '@file1path', filename: "@file1name", width: "80px", url: "@Url.Action("DeleteFiles", "ActionScripts", new { MediaFileID = a.MediaFileID})", key: '@a.MediaFileID' }
                                t++;
                            }
                            @:]
                        }})
                            .on("filebatchselected", function (event, files) {
                                $('#AttachFiles_@Model.LangCode').fileinput("upload");
                            }).on('filebeforedelete', function () {
                                return new Promise(function (resolve, reject) {
                                    $.confirm({
                                        title: 'คุณต้องการลบข้อมูลนี้ใช่หรือไม่?',
                                        content: 'หากทำการลบแล้วจะไม่สามารถเรียกคืนได้ กรุณาตรวจสอบอย่างละเอียด!',
                                        type: 'red',
                                        buttons: {
                                            ok: {
                                                text: 'ใช่!',
                                                btnClass: 'btn-primary text-white',
                                                keys: ['enter'],
                                                action: function () {
                                                    resolve();
                                                }
                                            },
                                            cancel: {
                                                text: 'ไม่ใช่!',
                                                action: function () { }
                                            }
                                        }
                                    });
                                });
                            });
                    }
    });
</script>