﻿@model List<Core.DAL.Models.ContentDetail>
@using Core.Common
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }
<h1 class="text-weight-bold">สถาบันรับรองคุณภาพสถานพยาบาล (สรพ.)</h1>
<h4 class="text-color-red">"Accreditation is An Educational Process"</h4>
<p class="text-indent">สรพ. ทำหน้าที่กําหนดมาตรฐานและการรับรองคุณภาพในการให้บริการของสถานพยาบาล ตามพระราชกฤษฎีกาจัดตั้งสถาบันรับรองคุณภาพสถานพยาบาล (องค์การมหาชน) พ.ศ. 2552 และที่แก้ไขเพิ่มเติม (ฉบับที่ 2) พ.ศ. 2562</p>
<p class="text-indent">โดยให้ สรพ. ทำหน้าที่กําหนดมาตรฐานและการรับรองคุณภาพในการให้บริการของสถานพยาบาล  เพื่อเป็นหลักประกันให้ประชาชนได้รับการบริการด้านสาธารณสุขที่มีคุณภาพมาตรฐาน และทำหน้าที่ประสานความร่วมมือกับภาคส่วนต่าง ๆ ที่เกี่ยวข้อง เพื่อยกระดับมาตรฐานและคุณภาพในการให้บริการของสถานพยาบาลเพื่อให้ประชาชนได้รับบริการด้านสาธารณสุขที่ดีและมีคุณภาพ </p>
<a href="#" class="btn btn-outline-dark">@(LangID == "TH" ? TextCommon.TH.TXT_ABOUT_US_SRP : TextCommon.EN.TXT_ABOUT_US_SRP)</a>
<a href="#" class="btn-yt"><img src="images/home/play-youtube.png"></a>