﻿@model List<Core.DAL.Models.BannerDetail>
@{
   // string firstrow = "active";
  //  int row = 0;
  //  boxed - slider
}
<section id="slider" class="slider-element"> 
    <div class="container" style="padding:0 !important;">
        <div id="oc-slider" class="owl-carousel owl-carousel-full portfolio-carousel carousel-widget owl-loaded owl-drag" data-margin="0" data-items="1">
        @*<div id="oc-slider" class="owl-carousel carousel-widget owl-loaded owl-drag with-carousel-dots" data-margin="0" data-items="1" data-animate-in="zoomIn" data-speed="450" data-animate-out="fadeOut">*@
        @*<section id="slider" class="slider-element h-auto" style="background-color: rgb(34, 34, 34); height: 595px;">
        <div class="slider-inner">
            <div class="owl-carousel carousel-widget owl-loaded owl-drag" data-margin="0" data-items="1" data-pagi="false" data-loop="true">*@
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2592px, 0px, 0px); transition: all 0s ease 0s; width: 5184px;">
                @foreach (var item in Model)
                {
                    @if (!string.IsNullOrEmpty(item.BannerLink))
                    {
                        <div class="owl-item" style="width: 1296px;">
                            <a href="@Url.Action("Index", "RedirectPage", new { ID = item.BannerDetailID, url = item.BannerLink })" target="_blank">
                                <img src="@item.FilePath" alt="@item.BannerName">
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev"><i class="uil uil-angle-left-b"></i></button><button type="button" role="presentation" class="owl-next"><i class="uil uil-angle-right-b"></i></button>
        </div>
        
    </div>
    </div>
</section>
