﻿@model List<Core.DAL.Models.BannerDetail>
@{
    string firstrow = "active";
    //string PositionBanner = "right";
    int row = 0;
    //int row2 = 0;

}
<section id="slidermini" class="slider-element">
    <div class="container" style="padding:0 !important;">
        <div id="oc-slider" class="owl-carousel carousel-widget owl-loaded owl-drag with-carousel-dots" data-margin="0" data-items="1" data-animate-in="zoomIn" data-speed="450" data-animate-out="fadeOut">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-2592px, 0px, 0px); transition: all 0s ease 0s; width: 5184px;">
                    @foreach (var item in Model)
                    {
                        @if (!string.IsNullOrEmpty(item.BannerLink))
                        {
                            <div class="owl-item" style="width: 750px;">
                                <a href="@Url.Action("Index", "RedirectPage", new { ID = item.BannerDetailID, url = item.BannerLink })" target="_blank">
                                    <img src="@item.FilePath" alt="@item.BannerName" style="max-height:320px; ">
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev"><i class="uil uil-angle-left-b"></i></button><button type="button" role="presentation" class="owl-next"><i class="uil uil-angle-right-b"></i></button>
            </div>
            @*<div class="owl-dots">
                @foreach (var item in Model)
                {
                    <button role="button" class="owl-dot @firstrow"><span></span></button>
                    row++;
                    firstrow = "";
                }
            </div>*@

        </div>
    </div>
</section>
