﻿@model List<Core.DAL.Models.PostsDetail>
@using Core.DAL.Models
@using Core.Common
@using Microsoft.AspNetCore.Mvc.Localization
@using Core.library
@inject IViewLocalizer Localizer
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    Tm_Menu m = MenuFrontData.Get.ByID(525, LangID);
    string Menuname = m.FPermalink;
}
<section id="content-eventswu" style="background-color:#fff;">
            <div class="float-right">
                <a href="@Url.Action("Index","Posts",new { Menuname =Menuname,LangID=LangID })" class="button rounded-2 ms-0 mb-0">@Localizer["View All"]</a>
            </div>
            <div class="fancy-title title-center title-dotted-border topmargin">
                <h3 class="hl-ha">@Menuname</h3>
            </div>
            
            <div id="posts-swu" class="events small-thumbs">

                @foreach (var item in Model)
                {
                    <div class="col-12">
                        <div class="entry clearfix mb-1 p-2" style="min-height:150px;">
                            <div class="entry-image">
                                @if (!string.IsNullOrEmpty(item.FilePath))
                                {
                                    <a href="@item.FilePath" data-lightbox="image">
                                        <img class="image_fade" src="@item.FilePath" alt="@item.Title" style="height:120px;">
                                        <div class="entry-date">@item.UpdatedDate.ToString("dd")<span>@item.UpdatedDate.ToString("MMM")</span></div>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Content("~/images/logo-thumbnail.png")" data-lightbox="image">

                                        <img class="image_fade" src="@Url.Content("~/images/logo-thumbnail.png")" alt="@item.Title" style="height: 120px; ">
                                        <div class="entry-date">@item.UpdatedDate.ToString("dd")<span>@item.UpdatedDate.ToString("MMM")</span></div>
                                    </a>

                                }

                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h5 class="mb-0"><a href="@Url.Action("Details","Posts",new {ID=item.PostID,Menuname =Menuname,LangID=LangID})">@Html.Truncate(item.Title, 65)</a></h5>
                                </div>
                                <ul class="entry-meta clearfix mb-1">
                                    <li><i class="icon-calendar3"></i> @item.UpdatedDate.ToString("dd MMM yyyy")</li>
                                </ul>
                                <div class="entry-content">
                                    <p class="mb-0">@Html.Truncate(item.ShortDescriptions, 100)</p>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        
</section>