﻿@model List<Core.DAL.Models.BannerDetail>
@{
    string firstrow1 = "active";
    string firstrow2 = "active";
    int row1 = 0;

}
@if (Model.Count() > 0)
{
<div id="HAGraphicBanner" class="carousel carousel-fade slide" data-bs-touch="true" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @foreach (var item in Model)
        {
            <button type="button" data-bs-target="#HAGraphicBanner" data-bs-slide-to="@row1" class="@firstrow1"></button>
            row1++;
            firstrow1 = "";
        }
    </div>
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
        <div class="carousel-item @firstrow2">
            @if (string.IsNullOrEmpty(item.BannerLink))
            {
                <img src="@item.FilePath" class="w-100 hidden-mobile" alt="@item.BannerName">
                <img src="@item.FilePath" class="w-100 visible-mobile" alt="@item.BannerName">
            }
            else
            {
                <a href="@item.BannerLink" target="_blank">
                    <img src="@item.FilePath" class="w-100 hidden-mobile" alt="@item.BannerName">
                    <img src="@item.FilePath" class="w-100 visible-mobile" alt="@item.BannerName">
                </a>
            }
        </div>
            firstrow2 = "";
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#HAGraphicBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#HAGraphicBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
}