﻿@model List<Core.DAL.Models.BannerDetail>

@if (Model != null && Model.Any())
{
    int row = 1;
    <div class="ph-slideshow-container" style="display:none;">
        <div class="ph-slideshow">
            @foreach (var item in Model)
                {
                    string visible = row == 1 ? "visible" : "";
                <div class="ph-slide @visible" id="ph-slide-@row">
                    <div class="ph-slide-image" style="background-image: url('@item.FilePath');margin-left: 0px !important;"></div>
                    <div class="slide-number">@row of @Model.Count()</div>
                </div>
                row++;
            }

            ... more slides here ...

            <a class="prev">&laquo;</a>
            <a class="next">&raquo;</a>
            <a class="close">X</a>
        </div>
    </div>
}
