﻿@model List<Core.DAL.Models.PostsDetail>
@using Core.DAL.Models
@using Core.Common
@using Microsoft.AspNetCore.Mvc.Localization
@using Core.library
@inject IViewLocalizer Localizer
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    Tm_Menu m = MenuFrontData.Get.ByID(14, LangID);
    string Menuname = m.FPermalink;
}

<section class="st-home-news">
    <div class="container">
        <div class="float-right">
            <a href="@Url.Action("Index","Posts",new { Menuname =Menuname,LangID=LangID })" class="button rounded-2 ms-0 mb-0">@Localizer["View All"]</a>
        </div>
        <div class="fancy-title title-center title-dotted-border topmargin">
            <h3 class="hl-ha">@Menuname</h3>
        </div>
        <div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">
            @foreach (var item in Model)
                {
                <div class="oc-item">
                    <div class="ipost clearfix">
                        <div class="entry-image">
                            @if (!string.IsNullOrEmpty(item.FilePath))
                            {
                                <a href="@item.FilePath" data-lightbox="image">
                                    <img class="image_fade" src="@item.FilePath" alt="@item.Title" style="height:180px;">
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Content("~/images/logo-thumbnail.png")" data-lightbox="image">

                                    <img class="image_fade" src="@Url.Content("~/images/logo-thumbnail.png")" alt="@item.Title" style="height:180px;">
                                </a>
                                <img src="@Url.Content("~/images/logo-thumbnail.png")" class="image_fade img-responsive" style="height: 180px; opacity: 1;">

                            }


                        </div>
                        <div class="entry-title">
                            <h4><a href="@Url.Action("Details","Posts",new {ID=item.PostID,Menuname =Menuname,LangID=LangID})">@Html.Truncate(item.Title, 65)</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> @item.UpdatedDate.ToString("dd MMM yyyy")</li>
                            </ul>
                        <div class="entry-content">
                            <p> @Html.Truncate(item.ShortDescriptions, 100)</p>
                           
                        </div>
                        <div class="entry-content">
                            <p> <a href="@Url.Action("Details","Posts",new {ID=item.PostID,Menuname =Menuname,LangID=LangID})" class="more-link">อ่านต่อ</a></p>
                        </div>
                    </div>
                </div>
                }

            </div>
    
    </div>
</section>