﻿@model List<Core.DAL.Models.Tm_Menu>
@using Core.Common
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }



            <div id="oc-clients-full"
                 class="owl-carousel image-carousel carousel-widget owl-loaded owl-drag"
                 data-margin="60"
                 data-loop="true"
                 data-nav="false"
                 data-autoplay="5000"
                 data-pagi="true"
                 data-items-xs="2"
                 data-items-sm="3"
                 data-items-md="4"
                 data-items-lg="5"
                 data-items-xl="6">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1808px, 0px, 0px); transition: all 0.25s ease 0s; width: 5424px;">
                        @foreach (var item in Model)
                        {
                            string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID })) : item.link_front;
                            <div class="owl-item" style="width: 166px; margin-right: 60px;">
                                <a href="@link"><img src="@item.icon_front" alt="@item.Menuname" /></a>
                            </div>
                        }

                    </div>
                </div>
                <div class="owl-nav disabled">
                    <button type="button" role="presentation" class="owl-prev"><i class="uil uil-angle-left-b"></i></button>
                    <button type="button" role="presentation" class="owl-next"><i class="uil uil-angle-right-b"></i></button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>

       


<!--<section class="st-home-shortcut">
    <div class="container">
        <div class="row">
            <div class="col col-2 hl">
                <a href="@Url.Action("Index","Register",new { Menuname="สมัครสมาชิก",LangID =LangID})"><img src="@Url.Content("~/images/home/icon/block.png")">@(LangID == "TH" ? TextCommon.TH.TXT_LOGIN : TextCommon.EN.TXT_LOGIN)</a>
            </div>
            @foreach (var item in Model)
            {
                string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID })) : item.link_front;
                <div class="col col-2">
                    <a href="@link">
                        <img src="@item.icon_front" />
                        @item.Menuname
                    </a>
                </div>
            }-->
            @*<div class="col col-2 hl">
                    <a href="#"><img src="images/home/icon/certificate.png">หลักสูตรอบรม</a>
                </div>
                <div class="col col-2">
                    <a href="#"><img src="images/home/icon/megaphone.png">ช่องทางร้องเรียน</a>
                </div>
                <div class="col col-2">
                    <a href="#"><img src="images/home/icon/conversation.png">คำถามที่พบบ่อย</a>
                </div>
                <div class="col col-2">
                    <a href="#"><img src="images/home/icon/contact.png">ติดต่อสถาบัน</a>
                </div>
                <div class="col col-2">
                    <a href="#"><img src="images/home/icon/chat.png">ห้องสนทนา</a>
                </div>*@
        <!--</div>
    </div>
</section>-->
