﻿@model List<Core.DAL.Models.Tm_Menu>
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }

@foreach (var item in Model)
{
    @*string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.controller_front, item.action_front, new { Menuname = item.FPermalink, LangID = "TH" })) : item.permalink_front;*@
     string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = LangID})) : item.link_front;
    <div class="col-lg-3 col-md-3 col-sm-6 sv-card sv-2" style="background-image: url(@item.icon_front);">
        <h3 class=""><a href="@link" target="_blank">@item.Menuname <i class="fas fa-arrow-right"></i></a></h3>
    </div>
}
