﻿@model List<Core.DAL.Models.Tm_Menu>
@{ string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }

<ol class="list-group list-group-flush">
    @foreach (var item in Model)
    {
        string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink,LangID=LangID})) : item.permalink_front;

        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto mb-2">
                <i class="@item.icon_front bg-1"></i>
                <div class="text-bold"><a href="@link" target="_blank">@item.Menuname</a></div>
                @*&nbsp;*@
            </div>
        </li>
    }
        @*<li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <i class="fas fa-file-download bg-2"></i>
                <div class="text-bold"><a href="#">ดาวน์โหลด</a></div>
                เอกสาร รายงาน
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <i class="fas fa-medal bg-3"></i>
                <div class="text-bold"><a href="#">ประเมินรับรอง</a></div>
                โดย สรพ.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <i class="fas fa-user bg-4"></i>
                <div class="text-bold"><a href="#">ผู้เยี่ยมสำรวจ</a></div>
                ทีมงาน สรพ.
            </div>
        </li>*@
    </ol>
   