﻿@model List<Core.DAL.Models.SocialLink>
@foreach (var item in Model)
{
    if (!string.IsNullOrEmpty(item.SocialURL))
    {
        <li class="list-inline-item item-social"><a href="@item.SocialURL" target="_blank"><i class="@item.SocialIcon2"></i></a></li>
    }
}
