﻿@model List<Core.DAL.Models.BannerDetail>
@using Core.Common
@{ string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }
<section class="st-home-links">
    @*<div class="container clearfix">*@
        <div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xs="2" data-items-sm="2" data-items-md="3" data-items-lg="4">
            @foreach (var item in Model)
            {
             
                <div class="oc-item">
                    <div class="iportfolio">
                        <div class="portfolio-image">
                            <a href="@Url.Action("Index","RedirectPage",new { ID = item.BannerDetailID,url=item.BannerLink})">
                                <img src="@item.FilePath" alt="@item.BannerName" style="height: 85px;">
                            </a>
                          
                        </div>
                        <div class="portfolio-desc">
                            <h5 style="font-weight: 400;"><a href="@Url.Action("Index","RedirectPage",new { ID = item.BannerDetailID,url=item.BannerLink})">@item.BannerName</a></h5>
                        </div>
                    </div>
                </div>
            }



        @*</div>*@


    </div>
    
</section>