﻿@model Core.DAL.Models.SettingEmail

@{ ViewBag.Title = "รายละเอียดตั้งค่า Email";
    string role = (String)ViewBag.Role;

    }

<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">ตั้งค่า Email</li>
                   
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <form asp-action="Index" asp-controller="SettingEmail" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่ ?" data-ajax="true" data-ajax-success="redirect">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => Model.EmailId)

                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>ชื่อแทนอีเมล์ (Alias) <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.EmailAlias, new { @class = "form-control", @required = true, @placeholder = "ชื่อแทนอีเมล์ (Alias)", @autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>อีเมล์ <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.Emailname, new { @class = "form-control", @required = true, @placeholder = "Email Address", @autocomplete = "off", @Type = "email" })

                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>รหัสผ่านอีเมล์ <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @required = true, @placeholder = "Email Password", @autocomplete = "off", @Type = "password" })

                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-3 col-12">
                                            <p>SMTP <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.Smtp, new { @class = "form-control", @required = true, @placeholder = "SMTP:", @autocomplete = "off" })
                                        </div>
                                        <div class="form-group col-md-3 col-12">
                                            <p>Port <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.Port, new { @class = "form-control", @required = true, @placeholder = "Post", @autocomplete = "off",@type="number" })
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-3 col-12">
                                            <p>
                                                Enable SSL 
                                            </p>
                                            @Html.CheckBoxFor(model => model.EnabledSSL, new { @class = "switchBootstrap" })
                                        </div>
                                        <div class="form-group col-md-3 col-12">
                                            <p>Use Default Credentials</p>
                                            @Html.CheckBoxFor(model => model.UseDefaultCredentials, new { @class = "switchBootstrap" })
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                    <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.min.js")"></script>
    <script>
        $(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   
               }
            if ($(".switchBootstrap").length > 0) {
                $('.switchBootstrap').bootstrapSwitch('size', 'small');
                $('.switchBootstrap').bootstrapSwitch('onColor', 'info');
                $('.switchBootstrap').bootstrapSwitch('onText', 'เปิด');
                $('.switchBootstrap').bootstrapSwitch('offText', 'ปิด');
            }
        })

         $(document).ajaxError(function (xhr, props) {
            if (props.status === 401) {
                window.location.href = '@Url.Action("Index", "Login")';
            }
         });

          $(document).ajaxComplete(function (a, xhr, c) {
            if (xhr.status === 403 && xhr.responseText.indexOf("LogOut") != -1) {
                Swal.fire({
                    title: 'Session timeout!',
                    text: "",
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger ml-1',
                    buttonsStyling: false,
                }).then(function (result) {
                    if (result.value) {
                         window.location.href = "@Url.Action("Index", "Login")";
                    }
                })
            }
        });
        $('.confirmAddbtn').on('click', function () {
            if (!$("#myform")[0].checkValidity()) {
                $("#myform").submit();
                return false;
            }
            Swal.fire({
                title: 'คุณต้องการเพิ่มข้อมูล ?',
                text: "",
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'ตกลง',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                return false;
                } else {

                    return false;
                }
            })
        });
        function success_alert(tltle, detail) {
            toastr.success(detail, tltle
                , { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 20000 });

        }
        function error_alert(tltle, detail) {
            toastr.success(detail, tltle
                , { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 20000 });

        }
        $('.confirmCancelbtn').on('click', function () {
            Swal.fire({
                title: 'คุณต้องการยกเลิก ?',
                text: "",
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'ตกลง',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {

                      window.location.href = "@Url.Action("PageList", "Posts")";
                }
            })
        });

    </script>
}