﻿@model List<Core.DAL.Models.Tm_Menu>
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = 0 })" class="btn btn-social btn-min-width mr-1 mb-1 btn-facebook"><i class="la la-plus-square"></i> เพิ่มเมนูหลัก</a>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                           
                            @section scripts {
                                <link rel="stylesheet" href="https://www.jqueryscript.net/demo/tree-view-bootstrap4-bstree/bstree.css">
                                @*<script src="@Url.Content("~/app-assets/Framework/forms/tree/bstree.css")"></script>*@
                                <script src="@Url.Content("~/app-assets/Framework/forms/tree/jquery.bstree.js")"></script>
                                <script>$('document').ready(function () {

                                        $hiddenInput = $('#bstree2-data')
                                        $('#mytree').bstree({
                                            dataSource: $hiddenInput,
                                            initValues: $hiddenInput.data('ancestors'),
                                            onDataPush: function (values) {
                                                var def = '<strong class="pull-left">Values:&nbsp;</strong>'
                                                for (var i in values) {
                                                    def += '<span class="pull-left">' + values[i] + '&nbsp;</span>'
                                                }
                                                $('#status').html(def)
                                            },
                                            updateNodeTitle: function (node, title) {
                                                return '[' + node.attr('data-id') + '] ' + title + ' (' + node.attr('data-level') + ')'
                                            }
                                        })
                                        $('#mytree').bstree({
                                            DEBUG: false,
                                            dataSource: '',                                      // the source control id
                                            initValues: '',
                                            dataSeparator: ':',                                     // the separator used for the exploded data
                                            chevronOpened: '<i class="la la-caret-square-o-down la-lg"></i>',    // the icon used for an opened node
                                            chevronClosed: '<i class="la la-caret-square-o-right la-lg"></i>',   // the icon used for a closed node
                                            isExpanded: true,                                 // sets if nodes are initially expanded
                                            nodeClass: pluginName + '-node',                      //  generic node class
                                            compositeClass: pluginName + '-composite',                 //  composite node class
                                            leafClass: pluginName + '-leaf',                      //  leaf node class
                                            childrenClass: pluginName + '-children',                  //  node children class
                                            innerContainerClass: pluginName + '-inner-container',
                                            chevronClass: pluginName + '-chevron',                   //  chevron icon class
                                            labelClass: pluginName + '-label',                     //  label class
                                            labelContainerClass: pluginName + '-label-container',
                                            iconClass: pluginName + '-icon',                      //  label icon class
                                            expandedClass: pluginName + '-expanded',                  //  opened node class
                                            closedClass: pluginName + '-closed',                    //  closed node class
                                            checkboxClass: pluginName + '-checkbox',                  //  checkbox class
                                            incompleteClass: pluginName + '-incomplete',                //  incomplete node class
                                            vLineClass: pluginName + '-vline',
                                            dataClass: pluginName + '-data',
                                            openTitle: 'Open',
                                            closeTitle: 'Close',
                                            checkboxTitle: 'Do action',
                                            updateNodeTitle: null,
                                            onDataPush: null
                                        })

                                    })</script>
                            }

                            <div id="mytree" class="bstree">
                                <ul>
                                    @foreach (var MenuRoot in Model)
                                    {
                                    <li data-id="@MenuRoot.ID" data-level="1">
                                        <span>@MenuRoot.menu_name_back</span>
                                        <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = MenuRoot.ID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                        <div class="or or-sm"></div>
                                        <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@MenuRoot.ID" data-type="MENU" data-menu="@ViewBag.Menuname" title="Remove"><span class="la la-trash-o"></span></a>

                                        @if (MenuRoot.Sub_Menu.Any())
                                        {
                                            <ul>
                                                @foreach (var item2 in MenuRoot.Sub_Menu)
                                                {
                                                <li data-id="@item2.ID" data-level="2">
                                                    <span style="margin-right:20px;">@item2.menu_name_back</span>
                                                    <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item2.ID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                                    <div class="or or-sm"></div>
                                                    <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item2.ID" data-type="MENU" data-menu="@ViewBag.Title" title="Remove"><span class="la la-trash-o"></span></a>

                                                    @if (item2.Sub_Menu.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var item3 in item2.Sub_Menu)
                                                            {
                                                            <li data-id="@item3.ID" data-level="3">
                                                                <span>@item3.menu_name_back </span>
                                                                <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item3.ID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                                                <div class="or or-sm"></div>
                                                                <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item3.ID" data-type="MENU" data-menu="@ViewBag.Title" title="Remove"><span class="la la-trash-o"></span></a>

                                                                @if (item3.Sub_Menu.Any())
                                                                {
                                                                    <ul>
                                                                        @foreach (var item4 in item3.Sub_Menu)
                                                                        {
                                                                        <li data-id="@item4.ID" data-level="4">
                                                                            <span>@item4.menu_name_back</span>
                                                                            <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item4.ID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                                                            <div class="or or-sm"></div>
                                                                            <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item4.ID" data-type="MENU" data-menu="@ViewBag.Title" title="Remove"><span class="la la-trash-o"></span></a>

                                                                            @if (item4.Sub_Menu.Any())
                                                                            {
                                                                                <ul>
                                                                                    @foreach (var item5 in item4.Sub_Menu)
                                                                                    {
                                                                                        <li data-id="@item5.ID" data-level="3">
                                                                                            <span>@item5.menu_name_back    </span>
                                                                                            <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item5.ID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                                                                            <div class="or or-sm"></div>
                                                                                            <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item5.ID" data-type="MENU" data-menu="@ViewBag.Title" title="Remove"><span class="la la-trash-o"></span></a>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                        </li>
                                                                        }
                                                                    </ul>
                                                                }
                                                            </li>

                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                    }
                                </ul>
                            </div>
                            <input id="bstree-data2" type="hidden" name="bstree-data2" data-ancestors="ALS:IDF">
                            <div id="mytree2" class="bstree">

                            </div>

                            @*<form asp-action="Itemslist" asp-controller="Category" method="POST" data-ajax="true" data-ajax-success="onSuccessLoadDataTable" data-ajax-update="#UpdateInfoList" data-ajax-failure="onFailure" data-ajax-begin="loader">
            <div class="table-responsive">
                <table class="table table-bordered table-middle dataTable">
                    <thead>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th class="tex-center">ชื่อภาษาไทย</th>
                            <th class="tex-center">Eng Title</th>
                            <th style="width: 120px;">สถานะ</th>
                            <th style="width: 80px;">การกระทำ</th>
                            <th style="width: 150px;">การแก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            row++;
                        <tr id="row_@item.ID" class="row_@row" data-id="@item.ID">
                            <td class="text-center">@row</td>
                            <td>
                                @item.NameTH
                            </td>
                            <td>
                                @item.NameEN
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => item.Actived, new Dictionary<string, object> {{ "class", "bt-status" },{ "data-type", "CATEGORY" }, { "data-menu", ViewBag.Title }, { "data-id", item.ID } })
                            </td>
                            <td>
                                <div class="btn-group text-center">
                                    <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item.ID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                    <div class="or or-sm"></div>
                                    <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item.ID" data-type="CATEGORY" data-menu="@ViewBag.Menuname" title="Remove"><span class="la la-trash-o"></span></a>
                                </div>
                            </td>
                            <td style="font-size: 10px;">
                                @item.UpdatedBy <small class="text-muted">@item.UpdatedDate_Str</small>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                #
                            </th>
                            <th class="tex-center">ชื่อภาษาไทย</th>
                            <th class="tex-center">Eng Title</th>
                            <th>สถานะ</th>
                            <th>การกระทำ</th>
                            <th>การแก้ไข</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

