﻿@using Core
@using Core.Common;
@using Core.DAL.Models;
@using Core.Models;
@using Core.library;
@model Tm_Menu
@{
    ViewBag.Title2 = "รายละเอียดข้อมูล"+ViewBag.Title;
 }
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">
                        @ViewBag.Title2
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Index", new {menuname = ViewBag.Menuname})" class="btn btn-social btn-min-width mr-1 mb-1 btn-secondary"><i class="la la-angle-left"></i> กลับ &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic-form-layouts">
        <form asp-action="Manage" asp-route-ID="@Model.ID" asp-controller="MenuPanel" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่" data-ajax="true" data-ajax-success="redirect">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.ID)
            @Html.HiddenFor(model => Model.levels)
            <div class="row match-height">
               
                <div class="col-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-3 col-12">
                                            <p>ประเภทเมนู <small class="danger">*จำเป็น</small></p>
                                            @Html.DropDownListFor(model => model.type_show, (SelectList)Core.Backoffice.Controllers.BaseController.GetMenuType(Model.type_show.ToString()), "เลือกข้อมูล", new { @class = "select2 form-control MenuType", @required = true, @style = "width:100%" })
                                        </div>
                                        <div class="form-group col-md-5 col-12" id="MenuTypeCode">
                                            <p>รูปแบบข้อมูล <small class="danger">*จำเป็น</small></p>
                                            @Html.DropDownListFor(model => model.MenuTypeCode, (SelectList)Core.Backoffice.Controllers.BaseController.GetMenuCate4User(Model.MenuTypeCode), "เลือกข้อมูล", new { @class = "select2 form-control", @style = "width:100%" })
                                        </div>
                                        <div class="form-group col-md-5 col-12" id="link_front">
                                            <p>URL <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.link_front, new { @class = "form-control", @required = true, @maxlength = 255 })
                                        </div>
                                    </div>
                                    @*@if (Model.levels > 1)
                                    {*@
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-8 col-12">
                                            <p>สังกัดเมนู (แสดงหลังบ้านเท่านั้น) </p>
                                            @Html.DropDownListFor(model => model.MENU_BACK_ID, (SelectList)Core.Backoffice.Controllers.BaseController.GetMenuManageRoot(0, Model.MENU_BACK_ID), "เลือกข้อมูล", new { @class = "select2 form-control", @style = "width:100%" })
                                        </div>
                                    </div>
                                    @*}*@
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-8 col-12">
                                            <p>ชื่อเมนู (ภาษาไทย) <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.MenuNameTH, new { @class = "form-control", @required = true, @placeholder = "ชื่อ " + ViewBag.Title + " (ภาษาไทย)", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-8 col-12">
                                            <p>ชื่อเมนู (ภาษาอังกฤษ) <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.MenuNameEN, new { @class = "form-control", @required = true, @placeholder = "ชื่อ " + ViewBag.Title + " (ภาษาอังกฤษ)", @maxlength = 255 })
                                        </div>
                                    </div>


                                    <div class="row justify-content-center">
                                        @*<div class="form-group mr-1">
                                            <p>มีเมนูย่อย</p>
                                            @Html.CheckBoxFor(model => model.self_front, new { @class = "switchACTIVE" })
                                        </div>*@

                                        <div class="form-group">
                                            <p>เผยแพร่</p>
                                            @Html.CheckBoxFor(model => model.Actived, new { @class = "StatePublish" })
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row match-height">
                <div class="card col-12">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="text-right">
                                <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
    <script>
$(document).ready(function () {
            $('#MenuTypeCode').hide();
            $('#link_front').hide();
            $('.MenuType').on('select2:select', function (e) {
               var data = e.params.data;
                if (data.id == 1) {
                    $('#MenuTypeCode').show();
                    $('#link_front').hide();
                }
                else {
                    $('#MenuTypeCode').hide();
                    $('#link_front').show();

                }

            });
        })</script>
}