﻿@model Core.DAL.Models.CalendarDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : ""; }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">

    @using (Html.BeginCollectionItem("lstCalendar"))
    {
            @Html.HiddenFor(model => Model.CalendarDetailID)
            @Html.HiddenFor(model => Model.LangCode)
            @Html.HiddenFor(model => Model.CalendarID)
            @Html.HiddenFor(model => Model.MenuID)
            @Html.HiddenFor(model => Model.Menuname)
            @Html.HiddenFor(model => Model.SUB_GUID)
    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                @if (Model.LangCode == "TH")
                {
    <label for="CalendarName_@Model.LangCode">หัวข้อ <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                        @Html.TextBoxFor(model => Model.EventName, new Dictionary<string, object> { { "id", "CalendarName_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "หัวข้อ" } }) }
                    else
                    {
    <label for="CalendarName_@Model.LangCode">หัวข้อ </label>
                        @Html.TextBoxFor(model => Model.EventName, new { @id = "CalendarName_" + Model.LangCode, @class = "form-control", @placeholder = "หัวข้อ" })}
                <div class="col-lg-12">
                    @Html.ValidationMessageFor(model => model.EventName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="myfield_@Model.LangCode">รายละเอียด</label>
                    @if (Model.LangCode == "TH")
                    {
                @Html.TextAreaFor(Model => Model.EventDescription, new { @id = "Descriptions_", @class = "form-control summernote", @cols = 1, @rows = "35", @required = true, @placeholder = "ระบุเนื้อหา" }) }
                                else
                                {
                @Html.TextAreaFor(Model => Model.EventDescription, new { @id = "Descriptions_" + Model.LangCode, @class = "form-control summernote", @cols = 1, @rows = "35", @placeholder = "ระบุเนื้อหา" })}
                   
                </div>

            </div>
            <div class="form-group">
                <label for="Links_@Model.LangCode">เว็บที่เชื่อมโยง</label>
                @Html.TextBoxFor(model => Model.EventLink, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Lin" }, { "type", "url" }, { "placeholder", "เว็บที่เชื่อมโยง exemple : http://google.com" } })
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.EventLink, null, new { @style = "color:red;" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="CalendarSize_@Model.LangCode">เอกสารแนบ (Image,Word,PDF,Excel,mp4)</label>
                @{ string st = "AttachFiles_" + Model.LangCode;}
                <input type="file" name="@st" id="AttachFiles_@Model.LangCode" class="AttachFiles" data-show-upload="false" multiple>
                <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>
            </div>
        </div>
    </div>}
</div>



<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
     if ($('#AttachFiles_@Model.LangCode').length > 0) {
         $('#AttachFiles_@Model.LangCode').fileinput({
                            uploadUrl: "@Url.Action("UploadFile", "ActionScripts",new { Menuname = Model.Menuname})?MenuID=@Model.MenuID&CateID=4&RefID="+"@Model.SUB_GUID.ToString()",
                            theme: 'explorer',
                            overwriteInitial: false,
                            uploadAsync: false,
                            showRemove: false,
                            showDelete: false,
                            showUpload: false,
                            initialPreviewAsData: true,
                            browseOnZoneClick: false,
                            dropZoneEnabled: false,
                            autoReplace: false,
                            elErrorContainer: "#errorBlock",
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg','doc','docx','xls','xlsx','mp4','pdf'],
                            maxFileSize: 10240,
                             removeFromPreviewOnError: true,
                             preferIconicPreview: true,
                            mainClass: " file-caption  kv-fileinput-caption",
                             previewFileIconSettings: {
                                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                                'mov': '<i class="fa fa-file-video-o text-warning"></i>',
                                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                                'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                                'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                                'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                            },
                            previewFileExtSettings: { 
                                'doc': function (ext) { return ext.match(/(doc|docx)$/i); },
                                'xls': function (ext) { return ext.match(/(xls|xlsx)$/i); },
                                'ppt': function (ext) { return ext.match(/(ppt|pptx)$/i); },
                                'zip': function (ext) { return ext.match(/(zip| rar | tar | gzip | gz | 7z)$/i); },
                                'htm': function (ext) { return ext.match(/(htm | html)$/i); },
                                'txt': function (ext) { return ext.match(/(txt | ini | csv | java | php | js | css)$/i); },
                                'mov': function (ext) { return ext.match(/(avi | mpg | mkv | mov | mp4 | 3gp | webm | wmv)$/i); },
                                'mp3': function (ext) { return ext.match(/(mp3 | wav)$/i); }
                            }

                        @if(Model.lstFiles != null && Model.lstFiles.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.CalendarDetailID.ToString()).Count() > 0)
                        {
                            int t = 1;
                            var files = Model.lstFiles.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.CalendarDetailID.ToString()).ToList();
                            @:, initialPreview: [
                            foreach (var a in files)
                            {
                                  var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                  var file1name = a.TitleName;
                                  if (t > 1)
                                  {
                                    @:,
                                  }
                                  @:'@file1path'
                                  t++;
                            }
                            @:],
                            t = 1;
                            @:initialPreviewConfig: [
                            foreach (var a in files)
                            {
                                var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                var file1name = a.TitleName;
                                if (t > 1)
                                {
                                    @:,
                                }
                                @: { caption: "@file1name", downloadUrl: '@file1path', filename: "@file1name", width: "80px", url: "@Url.Action("DeleteFiles", "ActionScripts", new { MediaFileID = a.MediaFileID})", key: '@a.MediaFileID' }
                                t++;
                            }
                            @:]
                        }})
                            .on("filebatchselected", function (event, files) {
                                $('#AttachFiles_@Model.LangCode').fileinput("upload");
                            }).on('filebeforedelete', function () {
                                return new Promise(function (resolve, reject) {
                                    $.confirm({
                                        title: 'คุณต้องการลบข้อมูลนี้ใช่หรือไม่?',
                                        content: 'หากทำการลบแล้วจะไม่สามารถเรียกคืนได้ กรุณาตรวจสอบอย่างละเอียด!',
                                        type: 'red',
                                        buttons: {
                                            ok: {
                                                text: 'ใช่!',
                                                btnClass: 'btn-primary text-white',
                                                keys: ['enter'],
                                                action: function () {
                                                    resolve();
                                                }
                                            },
                                            cancel: {
                                                text: 'ไม่ใช่!',
                                                action: function () { }
                                            }
                                        }
                                    });
                                });
                            });
         $('.kv-file-zoom').hide();
         }
    });
</script>