﻿@{
    string role = (String)ViewBag.Role;

}
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Manage", new { menuname = ViewBag.Menuname })" class="btn btn-social btn-min-width mr-1 mb-1 btn-facebook"><i class="la la-plus-square"></i> เพิ่ม @ViewBag.Title &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">

                            <div id='fc-event-colors'></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{

    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/fullcalendar/moment.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/fullcalendar/daygrid.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/fullcalendar/timegrid.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/fullcalendar/interactions.min.js")"></script>

    
}
@section Scripts{
    <script>

    @*function validations() {
        var txt = "";
        var r = false;
        if ($('#input-title').val() == '') {
            txt += "กรุณาใส่หัวเรื่อง\r\n"

            r = false;
            return false;

        }
        if ($('#inputdate').val() == '') {
            txt += "กรุณาระบุวันที่จัดกิจกรรม\r\n"

            r = false
            return false;

        }
        toastr.warning(txt, '', { closeButton: true, timeOut: 4000, progressBar: true, allowHtml: true });

        if (r == false) {
            toastr.warning(txt, '', { closeButton: true, timeOut: 4000, progressBar: true, allowHtml: true });

            return false;
        }
    }*@
        @*function ShowDatas(ID) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Manage", "Calendar")",
            data: { Id: ID, menuname: '@ViewBag.Title' },
            dataType: "html",
            success: function (data) {
                $('#Datas').html(data);
                $('#ModalData').modal('show');
            }
        });
    }*@

        $(document).ready(function () {
               @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
              var calendarE5 = document.getElementById('fc-event-colors');

              var fcEventColors = new FullCalendar.Calendar(calendarE5, {
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: "dayGridMonth,timeGridWeek,timeGridDay"
                },
                //defaultDate: '2016-06-12',
                businessHours: true, // display business hours
                navLinks: true, // can click day/week names to navigate views
                plugins: ['dayGrid', 'timeGrid', "interaction"],

                events: '@Url.Action("GetEvents", "Calendar", new { MenuID = (int)ViewBag.MenuID})',
                  eventClick: function (info) {
                      console.log(info.event.id)
                      window.open('@Url.Action("Manage", new {  menuname = ViewBag.Menuname})/' + info.event.id);
                   },
                  selectable: true,
                  selectHelper: true,
                  editable: true,
                  eventDrop: function (info) {
                      console.log(info);
                      if (!confirm("Are you sure about this change?")) {
                          info.revert();
                      }
                      else {
                          UpdateEvent(info.event.id, info.event.start.toISOString(), info.event.end.toISOString())
                      }

                  },

                  eventResize: function (event, dayDelta, minuteDelta, revertFunc) {


                      if (confirm("Confirm change appointment length?")) {
                          UpdateEvent(event.id, event.start, event.end);
                      }
                      else {
                          revertFunc();
                      }
                  }
            });

            fcEventColors.render();

        });

        function UpdateEvent(ID, DateTimeStart, DateTimeEnd) {
            console.log("DateTimeStart=", DateTimeStart);
            console.log("DateTimeEnd=", DateTimeEnd);
            var RID = ID;
            var RDateTimeStart = DateTimeStart;
            var RDateTimeEnd = DateTimeEnd;
            $.ajax({
                url: "@Url.Action("UpdateCalendarEventByDragDrop", "Calendar")",
                type: 'POST',
                data: { ID: RID, MenuID: '@ViewBag.MenuID', DateTimeStart: RDateTimeStart, DateTimeEnd: RDateTimeEnd },
                success: function (data) {
                    if (data.result) {
                        success_alert('', 'ทำการจัดลำดับการแสดงผลเรียบร้อย');
                        $('#fc-event-colors').fullCalendar('refetchEvents');
                    }
                    else {
                        Error_alert('', data.messageError);
                    }

                },
                error: function (xhr) {
                    toastr.warning('ทำการจัดลำดับการแสดงผลล้มเหลว !')
                }
            });

        }

    </script>

}
