﻿@page portrait_A4_page {
    size: 595.3pt 841.9pt;
    mso-page-orientation:;
    margin: 14.173228346pt 14.173228346pt 14.173228346pt 14.173228346pt;
    mso-header-margin: 35.4pt;
    mso-footer-margin: 35.4pt;
    mso-paper-source: 0;
    color: #000;
}

div.portrait_A4_page {
    page: portrait_A4_page;
}

@page landscape_A4_page {
    size: 841.9pt 595.3pt;
    mso-page-orientation: landscape;
    margin: 14.173228346pt 14.173228346pt 14.173228346pt 14.173228346pt;
    mso-header-margin: 35.45pt;
    mso-footer-margin: 35.45pt;
    mso-paper-source: 0;
    color: #000;
}

div.landscape_A4_page {
    page: landscape_A4_page;
}
