.menu_list {
    max-height: 390px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
}

ul li {
    list-style-type: none;
}


#myUL {
    list-style-type: none;
    padding: 20px 40px;
    margin: 0;
}

#myUL2 {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

#myUL li {
    padding: 5px;
}

#myUL li:hover {
    background: #f1f1f1;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    top: 0.9em;
}

.table thead th {
    vertical-align: top;
}

#myUL .custom-control-label {
    display: inline-block;
    width: 100%;
}

.alert-secondary {
    border-color: #e6e6e6 !important;
    background-color: #f7f7f7 !important;
    color: #1a1b20 !important;
}

.alert {
    margin-bottom: 0.5rem;
    margin-top: .5rem;
/*    padding: 0.25rem 1rem !important;*/
}

.alert-secondary:hover {
    color: #383d41;
    background-color: #e5f5f8;
    border-color: #e1e3e4;
}

.d_icon {
    display: inline-block;
    padding: 3px 0;
    margin-right: 8px;
    /* color: #bdbdbd; */
    opacity: .5;
    cursor: move;
}


.filter_search_box,
#myInput,
#myInput2 {
    width: 100%;
    font-size: 16px;
    padding: 6px 20px 6px 45px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    background-image: url(../img/search.png);
    background-size: contain;
    /* background-position: 10px 10px; */
    background-repeat: no-repeat;
    border-radius: 5px;
}