﻿@using Core
@using Core.Common;
@using Core.DAL.Models;
@using Core.Models;
@using Core.library;
@model Category
@{
    //int MenuID =  (int)ViewBag.MenuID;
    ViewBag.Title2 = "รายละเอียดข้อมูล"+ViewBag.Title;
    string role = (String)ViewBag.Role;
 }
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">
                        @ViewBag.Title2
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Index", new {menuname = ViewBag.Menuname})" class="btn btn-social btn-min-width mr-1 mb-1 btn-secondary"><i class="la la-angle-left"></i> กลับ &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic-form-layouts">
        <form asp-action="Manage" asp-route-ID="@Model.ID" asp-controller="Category" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่" data-ajax="true" data-ajax-success="redirect">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.ID)
            @Html.HiddenFor(model => Model.CreatedBy)
            @Html.HiddenFor(model => Model.CreatedDate)
            @Html.HiddenFor(model => Model.Deleted)
            @Html.HiddenFor(model => Model.Sequence)
            @Html.HiddenFor(model => Model.MenuID)
            @Html.HiddenFor(model => Model.Menuname, new { Value = ViewBag.Title })
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-10 col-12">
                                            <p>ชื่อ @ViewBag.Title (ภาษาไทย) <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.NameTH, new { @class = "form-control", @required = true, @placeholder = "ชื่อ " + ViewBag.Title + " (ภาษาไทย)", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-10 col-12">
                                            <p>ชื่อ @ViewBag.Title (ภาษาอังกฤษ) <small class="danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(o => o.NameEN, new { @class = "form-control", @required = true, @placeholder = "ชื่อ " + ViewBag.Title + " (ภาษาอังกฤษ)", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-5 col-12">
                                            <p>สถานะการใช้งาน</p>
                                            @Html.CheckBoxFor(model => model.Actived, new { @class = "switchACTIVE" })
                                        </div>
                                        <div class="form-group col-md-5 col-12">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                    <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </section>
</div>

@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
    <script>
        $(function () 
        {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
        })
    </script>
}