﻿@model Core.DAL.Models.BannerDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : "";

    }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">

    @using (Html.BeginCollectionItem("lstBanner"))
    {
            @Html.HiddenFor(model => Model.BannerDetailID)
            @Html.HiddenFor(model => Model.LangCode)
            @Html.HiddenFor(model => Model.BannerID)
            @Html.HiddenFor(model => Model.MenuID)
            @Html.HiddenFor(model => Model.Menuname)
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="BannerSize_@Model.LangCode">1600x100 px (jpeg , jpg , gif ,png) <small class="text-danger"> *กรุณาเลือกรูป</small></label>
                                                            @Html.TextBoxFor(model => Model.Files, new { @id = "BannerSize_" + Model.LangCode, @type = "file", @class = "fileImage", @data_show_upload = "false", @data_show_caption = "true", @data_show_delete = "false", @data_show_remove = "false" })
                                                            <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @if (Model.LangCode == "TH")
                                                            {
                                            <label for="BannerName_@Model.LangCode">หัวข้อ <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                                                                @Html.TextBoxFor(model => Model.BannerName, new Dictionary<string, object> { { "id", "BannerName_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "หัวข้อ" } }) }
                                                            else
                                                            {
                                            <label for="BannerName_@Model.LangCode">หัวข้อ </label>
                                                                @Html.TextBoxFor(model => Model.BannerName, new { @id = "BannerName_" + Model.LangCode, @class = "form-control", @placeholder = "หัวข้อ" })}
                                                            <div class="col-lg-12">
                                                                @Html.ValidationMessageFor(model => model.BannerName, null, new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="BannerDescription_@Model.LangCode">รายละเอียด</label>
                                                            @Html.TextAreaFor(model => Model.BannerDescription, new Dictionary<string, object> { { "id", "BannerDescription_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "รายละเอียด" } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Links_@Model.LangCode">เว็บที่เชื่อมโยง</label>
                                                            @Html.TextBoxFor(model => Model.BannerLink, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Lin" }, { "type", "url" }, { "placeholder", "เว็บที่เชื่อมโยง exemple : http://google.com" } })
                                                            <div class="col-sm-12">
                                                                @Html.ValidationMessageFor(model => model.BannerLink, null, new { @style = "color:red;" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>}
</div>



<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
    if ('@Model.FileName' != "" && '@Model.FilePath' != "") {
        $("#BannerSize_@Model.LangCode").fileinput({
                            initialPreview: ["<img src='@Url.Content("~/fileupload/" + Model.FilePath)' width='100%' class='file-preview-image'" + "alt='" + '@Model.OriginalFileName' + "' title='" + '@Model.OriginalFileName' + "'>"],
                            initialPreviewConfig: [{ caption: "@Model.OriginalFileName", downloadUrl: '@Url.Content("~/fileupload/" + Model.FilePath)', filename: "@Model.FileName", width: "80px" }],
                            showDelete: false,
                            showRemove: false,
                            overwriteInitial: true,
                            initialCaption: '@Model.OriginalFileName',
                            showUpload: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",

                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
                    else {
                        $(".fileImage").fileinput({
                            showUpload: false,
                            overwriteInitial: true,
                            showDelete: false,
                            showRemove: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",
                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
    });
</script>