﻿@model Core.DAL.Models.PostsDetail
@using System.Web
@{
    string title = !string.IsNullOrEmpty(Model.Title) ? Model.Title : "";
    string shortdes = !string.IsNullOrEmpty(Model.ShortDescriptions) ? Model.ShortDescriptions : "";
    string img = !string.IsNullOrEmpty(Model.FilePath) ? Model.FilePath : "";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string absoluteurl = "https://www.ha.or.th/"+LangID+Url.Action("Details", "Posts", new { ID = Model.PostID, Menuname = ViewBag.Menuname, LangID = ViewBag.LangID });

}
@section MetaHeader{


    @*<meta property="og:url" content="@Url.PageLink()" />
        <meta property="og:image" content="@img" />
        <meta property="og:title" content="@title" />
        <meta property="og:description" content="@shortdes" />*@
    <meta property="og:url" content="@absoluteurl">
    <meta property="og:image" content="@img">
    <meta property="og:title" content="@title">
    <meta property="og:description" content="@shortdes">
}
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.ParentName</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 content">
                <div class="ct-header">
                    <h1 class="headline hl-ha">@Model.Title</h1>
                    <div class="row meta">
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 left">
                            <span class="author"><i class="fas fa-user-edit"></i> <strong>Author :</strong> @Model.UpdatedBy </span>
                            <span class="date"><i class="fas fa-calendar"></i> <strong>Date :</strong> @Model.UpdatedDate.ToString("dd MMM yyyy")</span>
                            <br class="visible-mobile">
                            <span class="views"><i class="fas fa-eye"></i> <strong>View :</strong> @Model.Views_Str</span>
                            <span class="tags">
                                <i class="fas fa-tag"></i> <strong>Tags :</strong>
                                @if (!string.IsNullOrEmpty(Model.TagKeywords))
                                {
                                    foreach (var item in Model.TagKeywords.Split(',').Where(o => !string.IsNullOrEmpty(o)))
                                    {
                                        <a href="@Url.Action("Index","Posts",new { Menuname = ViewBag.Menuname,tags = item,LangID = LangID })">@item</a>
                                    }
                                }
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right text-end share">
                            <i class="fas fa-share-alt"></i> <strong>Share via :</strong>
                            <ul class="share-social">
                                <li class="facebook">
                                    <a href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=@title&amp;p[summary]=@shortdes&amp;p[url]=@Url.PageLink()&amp;p[images[0]=@img" onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    @{
                                        string link = "http://twitter.com/intent/tweet?text=" + title + " " + Url.PageLink();
                                    }
                                    <a href="@link" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                @*<li class="line"><a href="#"><i class="fab fa-line"></i></a></li>*@
                                @*<li class="default"><a href="#"><i class="fas fa-share-alt"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ct-featured">
                    <center><img src="@Model.FilePath" style="width:500px;"></center>
                </div>
                <div class="ct-detail">
                    <div id="div_detail">  @Html.Raw(Model.Descriptions)</div>
                </div>
                @if (Model.MediaLst.Count() > 0)
                {
            <div class="ct-download">
                <h6>คลังภาพ</h6>
                <div class="row hidden-mobile">
                    @foreach (var item in Model.MediaLst)
                    {
                        <a class="col-md-2" href="@item.PathFile" data-lightbox="example-set" data-title="@item.FileName">

                            <img src="@item.PathFile" class="img-thumbnail" alt="@item.FileName" style="height:116.75px !important">
                        </a>
                    }
                </div>
                <div class="row visible-mobile">
                    @foreach (var item in Model.MediaLst)
                    {
                        <a class="col-md-2" href="@item.PathFile" data-lightbox="example-set" data-title="@item.FileName">

                            <img src="@item.PathFile" class="img-thumbnail" alt="@item.FileName">
                        </a>
                    }
                </div>
            </div>
                }
                @if (Model.lstFiles.Count() > 0)
                {
                    <div class="ct-download">
                        <h6>เอกสารแนบ</h6>
                        <div class="row">
                            @foreach (var item in Model.lstFiles)
                            {
                                @*<div class="col-12 col-md-6 col-icon mb-0">
                                        <ol class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <i class="fas fa-file-download bg-blue"></i>
                                                    <div class="text-bold">@item.FileNameOri</div>
                                                    <a href="@item.PathFile">ดาวน์โหลด</a>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>*@
                            
                                if (!string.IsNullOrEmpty(item.PathFile))
                                {
                                    if ((string.IsNullOrEmpty(item.FileExtension) ? "" : item.FileExtension.ToLower()) == "application/pdf")
                                    {
                                        <div class="col-12 col-md-6 col-icon mb-0">
                                            <ol class="list-group list-group-flush">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <i class="fas fa-file-download bg-blue"></i>
                                                        <div class="text-bold">@item.FileNameOri</div>
                                                        <a href="#" class="toggleView" onclick="viewPdf('@item.PathFile');">View</a>
                                                        <a href="#" class="toggleView" style="display:none;">Close</a>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12 col-md-6 col-icon mb-0">
                                            <ol class="list-group list-group-flush">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <i class="fas fa-file-download bg-blue"></i>
                                                        <div class="text-bold">@item.FileNameOri</div>
                                                        <a href="@item.PathFile">ดาวน์โหลด</a>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <div id="div_embed_pdf" class="row toggleView" style="display:none">
                            <div class="mt-3 pb-3"><embed id="div_content_embed_pdf" src="" width="100%" height="750"></div>
                        </div>
                    </div>
                }
                @if (Model.lstRelate.Count() > 0)
                {
                    <div class="ct-download">
                        <h6>@ViewBag.Title ที่เกี่ยวข้อง</h6>

                        <div class="row">
                            @foreach (var item in Model.lstRelate)
                            {
                               string links = !string.IsNullOrEmpty(item.UrlLink) ? item.UrlLink : Url.Action("Details", "Posts", new { ID = item.PostID, Menuname = ViewBag.Menuname, LangID = ViewBag.LangID });

                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="news-card">
                                        <div class="img">
                                            @if (!string.IsNullOrEmpty(item.FilePath))
                                            {
                                                <img src="@item.FilePath" class="w-100">
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/images/logo-thumbnail.png")" class="w-100">

                                            }
                                        </div>
                                        <div class="dmy">
                                            <span class="d">@item.UpdatedDate.Day</span>
                                            <span class="my">@item.UpdatedDate.ToString("MMM yyyy")</span>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="@links">@item.Title</a></h4>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {


    <script type="text/javascript">
        function viewPdf(path) {
            var arrt_div_embed = "#div_embed_pdf";
            $("#div_content_embed_pdf").attr("src", path);
            $("#div_embed_pdf").toggle();

        }
        @*$(function () {
            $("#div_detail").removeAttribute('class'); 
        })*@
    </script>

 }