﻿@model PaginatedList<Core.DAL.Models.PostsDetail>
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    int MenuID = (int)ViewBag.MenuID;
    string Host = Html.Raw(ViewBag.UrlLink).ToString();
    string LinkRSS = Host + "/Rss.xml";
}
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</section>
<section id="content" style="margin-bottom: 0px;">

    <div class="content-wrap">

        <div class="container clearfix">
            @if (Model != null)
            {
                <!-- Posts ============================================= -->
            <div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows" style="position: relative; height: 1785.12px;">


                @foreach (var item in Model)
                {
                        string link = "#";
                        if (item.IsRSS)
                        {
                            link = item.UrlLink;
                        }
                        else
                        {
                            link = !string.IsNullOrEmpty(item.UrlLink) ? item.UrlLink : Url.Action("Details", "Posts", new { ID = item.PostID, Menuname = ViewBag.Menuname, LangID = ViewBag.LangID });
                        }
                    <div class="entry clearfix" style="position: absolute; left: 0px; top: 0px;">
                        <div class="entry-image">
                            @if (!string.IsNullOrEmpty(item.FilePath))
                            {
                                <a href="@item.FilePath" data-lightbox="image"><img class="image_fade" src="@item.FilePath" alt="@item.Title" style="opacity: 1;height:250px;"></a>
                            }
                            else
                            {
                                <a href="@Url.Content("~/images/logo-thumbnail.png")" data-lightbox="image"><img class="image_fade" src="@Url.Content("~/images/logo-thumbnail.png")" alt="@item.Title" style="opacity: 1;; height: 250px;"></a>
                               
                            }
                            
                        </div>
                        <div class="entry-title">
                            <h2><a href="@link"> @Html.Truncate(item.Title, 35)</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> @item.UpdatedDate.ToString("dd MMM yyyy")</li>
                            <li><i class="icon-tags"></i>@item.TagKeywords</li>
                            
                        </ul>
                        <div class="entry-content">
                            <p>@Html.Truncate(item.ShortDescriptions, 50)</p>
                            <a href="@link" class="more-link">Read More</a>
                        </div>
                    </div>
                }
            </div><!-- #posts end -->
                <!-- Pagination ============================================= -->
        <div class="row mb-3">
            @if (Model.TotalPages > 0)
            {
                    string prev = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_PREV : Core.Common.TextCommon.EN.TXT_PREV;
                    string next = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_NEXT : Core.Common.TextCommon.EN.TXT_NEXT;

                    string pav = "disabled";
                    string back = "disabled";

                    <ul class="pagination justify-content-end">
                        @if (Model.PageIndex > 1)
                        {
                            pav = "";
                        }
                        <li class="page-item @pav"><a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" aria-label="Previous"> <span aria-hidden="true">«</span></a></li>
                        @for (int p = 1; p <= (Model.TotalPages>10 ?10:Model.TotalPages); p++)
                        {
                            string active_page = p == Model.PageIndex ? "active" : "";
                            <li class="page-item"><a class="page-link" link-@active_page" asp-action="Index" asp-route-pageNumber="@p">@p</a></li>
                        }
                        @if (Model.PageIndex < Model.TotalPages)
                        {
                            back = "";
                        }
                        <li class="page-item @back"><a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
            }
              
            </div>
                <!-- .pager end -->
            }
            else
            {
                <center>  Coming Soon</center>
            }
        </div>

    </div>

</section>
