﻿@model PaginatedList<Core.DAL.Models.DownloadFormDetail>
@{
    //  ViewBag.Title = "ประเมินรับรอง";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.Title2</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 sidebar">
                @await Component.InvokeAsync("Category", new { MenuID = (int)ViewBag.CategoryMenuID, LangID = LangID })
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 content">

                @if (Model != null)
                {
                    <ul class="download">
                        @if (Model.Count() < 2)
                        {
                            if (Model.Count() == 1)
                            {
                                var item = Model.FirstOrDefault();
                        <li class="dl-item">
                            <div class="dl-icon"><i class="far fa-file-pdf"></i></div>
                            <h3 class="dl-title mb-0"><a href="#">@item.DownloadFormName</a></h3>
                            <p class="text-indent" style="padding-left: 90px;">@Html.Raw(item.DownloadFormDescription)</p>

                            @foreach (var item2 in item.lstFilesAttach)
                            {
                                if (!string.IsNullOrEmpty(item2.PathFile))
                                {
                                    //string path = "https://ha.demoprj.com/BACKOFFICE/fileupload/" + item2.PathFile;
                                    string path = item2.PathFile;
                                    string calSize = Math.Round((item2.FileSize.Value / 1048576), 2).ToString();
                                    string fileExtension = "";
                                    if (!string.IsNullOrEmpty(item2.FileNameOri))
                                    {
                                        var arrType = item2.FileNameOri.Split(".");
                                        fileExtension = arrType[arrType.Length - 1].ToString();
                                    }
                                    //string fileExtension = !string.IsNullOrEmpty(item2.FileExtension) ? item2.FileExtension.Split("/")[1].ToString() : "";
                                    if ((string.IsNullOrEmpty(item2.FileExtension) ? "" : item2.FileExtension.ToLower()) == "application/pdf")
                                    {
                                        <div class="dl-meta row">
                                            <div class="mt-3 pb-3"><embed src="@path" width="100%" height="750"></div>
                                            <div style="text-align: right">
                                                <strong><i class="far fa-eye"></i> Views</strong> : @item2.Downloads.Value.ToString("#,##0")
                                                <strong><i class="far fa-file"></i> Type</strong> : @fileExtension.ToUpper()
                                                <strong><i class="far fa-folder"></i> Size</strong> : @calSize MB
                                                <strong><i class="far fa-calendar"></i> Date</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dl-meta-detail">
                                            <div class="dl-meta-button"><a href="@path" data-id="@item2.MediaFileID" target="_blank" class="filedownload"> Download</a></div>
                                            <div class="dl-meta-detail">
                                                <strong><i class="far fa-eye"></i> Downloads</strong> : @item2.Downloads.Value.ToString("#,##0")
                                                <strong><i class="far fa-file"></i> Type</strong> : @fileExtension.ToUpper()

                                                <strong><i class="far fa-folder"></i> Size</strong> : @calSize MB
                                                <strong><i class="far fa-calendar"></i> Date</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            @if (item.IsRSS)
                            {
                            <div class="dl-meta">

                                <div class="dl-meta-button">
                                    <a class="filedownload" href="@item.FilePath" target="_blank"> Download</a>
                                </div>
                                <div class="dl-meta-detail">

                                    <strong><i class="far fa-calendar"></i> Date</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                                </div>
                            </div>
                            }
                        </li>
                            }
                        }
                        else
                        {
                            int index = 0;
                            @foreach (var item in Model)
                            {
                                index++;
                                int subindex = 0;
                    <li class="dl-item">
                        <div class="dl-icon"><i class="far fa-file-pdf"></i></div>
                        <h3 class="dl-title mb-0"><a href="#">@item.DownloadFormName</a></h3>
                        <p class="text-indent" style="padding-left: 90px;">@Html.Raw(item.DownloadFormDescription)</p>

                        @foreach (var item2 in item.lstFilesAttach)
                        {
                            subindex++;
                            string attr_id = index.ToString() + "_" + subindex.ToString();
                            if (!string.IsNullOrEmpty(item2.PathFile))
                            {
                                string path = item2.PathFile;
                                string calSize = Math.Round((item2.FileSize.Value / 1048576), 2).ToString();
                                string fileExtension = "";
                                if (!string.IsNullOrEmpty(item2.FileNameOri))
                                {
                                    var arrType = item2.FileNameOri.Split(".");
                                    fileExtension = arrType[arrType.Length - 1].ToString();
                                }
                                if ((string.IsNullOrEmpty(item2.FileExtension) ? "" : item2.FileExtension.ToLower()) == "application/pdf")
                                {
                                    <div class="dl-meta">
                                        <div class="dl-meta-button"><a class="filedownload" data-id="@item2.MediaFileID" id="tag_a_@attr_id" href="#" onclick="return viewPdf('@attr_id');">VIEW FILE</a></div>
                                        <div class="dl-meta-detail mb-3">
                                            <strong><i class="far fa-eye"></i> Views</strong> : @item2.Downloads.Value.ToString("#,##0")
                                            <strong><i class="far fa-file"></i> Type</strong> : @fileExtension.ToUpper()
                                            <strong><i class="far fa-folder"></i> Size</strong> : @calSize MB
                                            <strong><i class="far fa-calendar"></i> Date</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                                        </div>
                                        <div id="div_embed_@attr_id" style="display:none">
                                            <div class="mt-3 pb-3"><embed src="@path" width="100%" height="750"></div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="dl-meta">

                                        <div class="dl-meta-button">
                                            @*<a href="@Url.Action("Download","RedirectPage",new { ID = item2.MediaFileID,url=path})" target="_blank">Download</a>*@

                                            <a class="filedownload" data-id="@item2.MediaFileID" href="@path" target="_blank"> Download</a>
                                        </div>
                                        <div class="dl-meta-detail">

                                            <strong><i class="far fa-eye"></i> Downloads</strong> : @item2.Downloads.Value.ToString("#,##0")
                                            <strong><i class="far fa-file"></i> Type</strong> : @fileExtension.ToUpper()

                                            <strong><i class="far fa-folder"></i> Size</strong> : @calSize MB
                                            <strong><i class="far fa-calendar"></i> Date</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                                        </div>
                                    </div>
                                }
                            }
                        }
                        @if (item.IsRSS)
                        {
                    <div class="dl-meta">

                        <div class="dl-meta-button">
                            <a class="filedownload" href="@item.FilePath" target="_blank"> Download</a>
                        </div>
                        <div class="dl-meta-detail">

                            <strong><i class="far fa-calendar"></i> Date</strong> : @item.UpdatedDate.ToString("dd MMM yyyy")
                        </div>
                    </div>
                        }
                    </li>
                            }
                        }
                    </ul>

                    @if (Model.TotalPages > 0)
                    {
                        string prev = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_PREV : Core.Common.TextCommon.EN.TXT_PREV;
                        string next = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_NEXT : Core.Common.TextCommon.EN.TXT_NEXT;

                        string pav = "disabled";
                        string back = "disabled";
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end">
                                @if (Model.PageIndex > 1)
                                {
                                    pav = "";
                                }
                                <li class="page-item @pav">
                                    @if (ViewBag.CategoryIDParam == 0)
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i><span class="hidden-mobile"> @prev</span></a>
                                    }
                                    else
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-CategoryID="@ViewBag.CategoryIDParam" asp-route-pageNumber="@(Model.PageIndex-1)" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i><span class="hidden-mobile"> @prev</span></a>
                                    }
                                </li>

                                @for (int p = 1; p <= Model.TotalPages; p++)
                                {
                                    string active_page = p == Model.PageIndex ? "active" : "";
                                    if (ViewBag.CategoryIDParam == 0)
                                    {
                                        <li class="page-item"><a class="page-link link-@active_page" asp-action="Index" asp-route-pageNumber="@p">@p</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link link-@active_page" asp-action="Index" asp-route-CategoryID="@ViewBag.CategoryIDParam" asp-route-pageNumber="@p">@p</a></li>
                                    }
                                }
                                @if (Model.PageIndex < Model.TotalPages)
                                {
                                    back = "";
                                }
                                <li class="page-item @back">
                                    @if (ViewBag.CategoryIDParam == 0)
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)"><span class="hidden-mobile">@next </span><i class="fas fa-angle-double-right"></i></a>
                                    }
                                    else
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-CategoryID="@ViewBag.CategoryIDParam" asp-route-pageNumber="@(Model.PageIndex+1)"><span class="hidden-mobile">@next </span><i class="fas fa-angle-double-right"></i></a>
                                    }
                                </li>

                            </ul>
                        </nav>
                    }
                }
                else
                {
                    <center>  Coming Soon</center>
                }

            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->

<script type="text/javascript">function viewPdf(id) {
        var attr_tag_a = "#tag_a_" + id;
        var arrt_div_embed = "#div_embed_" + id;
        var text_tag_a = $(attr_tag_a).text();
        if (text_tag_a == "VIEW FILE") {
            $(arrt_div_embed).show();
            $(attr_tag_a).removeClass("filedownload");
            $(attr_tag_a).text("VIEW CLOSE");
        } else {
            $(arrt_div_embed).hide();
            $(attr_tag_a).removeClass("filedownload").addClass("filedownload");
            $(attr_tag_a).text("VIEW FILE");
        }
}
    </script>
