﻿@model Core.DAL.Models.SettingFiles

@{ ViewBag.Title = "รายละเอียดตั้งค่าไฟล์";
    string role = (String)ViewBag.Role;

    }

<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">ตั้งค่าไฟล์</li>
                   
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <form asp-action="Index" asp-controller="SettingFile" method="POST" data-ajax-confirm="คุณต้องการบันทึกข้อมูลใช่หรือไม่ ?" data-ajax="true" data-ajax-success="redirect">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => Model.ID)

                            <div class="card-body">
                                <div class="form-body">
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>ชนิดไฟล์ที่อนุญาตให้แนบ <small class="text-danger">*จำเป็น</small></p>
                                            @Html.ListBoxFor(model => model.AllowTypeFileID, (SelectList)Core.Backoffice.Controllers.BaseController.GetExtension(Model.AllowTypeFileID), new { @class = "form-control select2-tags", @style = "width:100%", @data_live_search = "true", @placeholder = "ระบุคำค้นหาที่เกี่ยวข้อง", multiple = "multiple", @onkeydown = "return (event.keyCode!=13);" })
                                        </div>
                                    </div>
                                   
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>ขนาดไฟล์ที่อนุญาตให้แนบทั้งหมด  (KB) <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.MaxSizeFile, new { @class = "form-control", @required = true, @placeholder = "ขนาดไฟล์ที่อนุญาตให้แนบทั้งหมด (KB)", @autocomplete = "off", @type = "number" })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>ขนาดไฟล์ที่อนุญาตให้แนบต่อ 1 ไฟล์ (KB) <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.SizeFile, new { @class = "form-control", @required = true, @placeholder = "ขนาดไฟล์ที่อนุญาตให้แนบต่อ 1 ไฟล์ (KB)", @autocomplete = "off", @type = "number" })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-md-6 col-12">
                                            <p>จำนวนไฟล์ที่อนุญาตให้แนบ <small class="text-danger">*จำเป็น</small></p>
                                            @Html.TextBoxFor(model => model.MaxQuantityFile, new { @class = "form-control", @required = true, @placeholder = "จำนวนไฟล์ที่อนุญาตให้แนบ", @autocomplete = "off", @type = "number" })
                                        </div>
                                    </div>


                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                    <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/Framework/tables/jquery.treegrid.min.js")"></script>
    <script>
        $(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                 
               }
            if ($(".switchBootstrap").length > 0) {
                $('.switchBootstrap').bootstrapSwitch('size', 'small');
                $('.switchBootstrap').bootstrapSwitch('onColor', 'info');
                $('.switchBootstrap').bootstrapSwitch('onText', 'เปิด');
                $('.switchBootstrap').bootstrapSwitch('offText', 'ปิด');
            }
        })

         $(document).ajaxError(function (xhr, props) {
            if (props.status === 401) {
                window.location.href = '@Url.Action("Index", "Login")';
            }
         });

          $(document).ajaxComplete(function (a, xhr, c) {
            if (xhr.status === 403 && xhr.responseText.indexOf("LogOut") != -1) {
                Swal.fire({
                    title: 'Session timeout!',
                    text: "",
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger ml-1',
                    buttonsStyling: false,
                }).then(function (result) {
                    if (result.value) {
                         window.location.href = "@Url.Action("Index", "Login")";
                    }
                })
            }
        });
        $('.confirmAddbtn').on('click', function () {
            if (!$("#myform")[0].checkValidity()) {
                $("#myform").submit();
                return false;
            }
            Swal.fire({
                title: 'คุณต้องการเพิ่มข้อมูล ?',
                text: "",
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'ตกลง',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                return false;
                } else {

                    return false;
                }
            })
        });
        function success_alert(tltle, detail) {
            toastr.success(detail, tltle
                , { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 20000 });

        }
        function error_alert(tltle, detail) {
            toastr.success(detail, tltle
                , { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 20000 });

        }
        $('.confirmCancelbtn').on('click', function () {
            Swal.fire({
                title: 'คุณต้องการยกเลิก ?',
                text: "",
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'ตกลง',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {

                      window.location.href = "@Url.Action("PageList", "Posts")";
                }
            })
        });

    </script>
}