﻿@model PaginatedList<Core.DAL.Models.FaqDetail>
@using Core.Common
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string allTXT = LangID == "TH" ? TextCommon.TH.TXT_ALL : TextCommon.EN.TXT_ALL;
    int i = 1;
}
<!-- Start: Subpage Banner -->
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            @if (Model != null)
            {
                <ul id="portfolio-filter" class="portfolio-filter customjs clearfix">

                    <li class="activeFilter"><a href="#" data-filter="all">@allTXT</a></li>
                    @foreach (var item in Model.GroupBy(o => new { o.CategoryID, o.CategoryName }).Select(o => new { CategoryID = o.Key.CategoryID, CategoryName = o.Key.CategoryName }))
                    {
                        <li><a href="#" data-filter=".Group_@item.CategoryID">@item.CategoryName</a></li>
                    }


                </ul><!-- #portfolio-filter end -->
                <div class="clear"></div>
                <div id="faqs" class="faqs">

                        @foreach (var item in Model)
                        {
                            <div class="toggle faq Group_@item.CategoryID">
                                <div class="togglet">
                                    <i class="toggle-closed icon-ok-circle"></i>
                                    <i class="toggle-open icon-question-sign"></i>@i @item.Question
                                </div>
                                <div class="togglec">@Html.Raw(item.Answer)</div>
                            </div>

                                i++;
                            }

                    </div>

                    }
                    else
                    {
                    <center>  Coming Soon</center>
                    }
                </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section Scripts
{
    <script>jQuery(document).ready(function($){
			var $faqItems = $('#faqs .faq');
			if( window.location.hash != '' ) {
				var getFaqFilterHash = window.location.hash;
				var hashFaqFilter = getFaqFilterHash.split('#');
				if( $faqItems.hasClass( hashFaqFilter[1] ) ) {
					$('#portfolio-filter li').removeClass('activeFilter');
					$( '[data-filter=".'+ hashFaqFilter[1] +'"]' ).parent('li').addClass('activeFilter');
					var hashFaqSelector = '.' + hashFaqFilter[1];
					$faqItems.css('display', 'none');
					if( hashFaqSelector != 'all' ) {
						$( hashFaqSelector ).fadeIn(500);
					} else {
						$faqItems.fadeIn(500);
					}
				}
			}

			$('#portfolio-filter a').on( 'click', function(){
				$('#portfolio-filter li').removeClass('activeFilter');
				$(this).parent('li').addClass('activeFilter');
				var faqSelector = $(this).attr('data-filter');
				$faqItems.css('display', 'none');
				if( faqSelector != 'all' ) {
					$( faqSelector ).fadeIn(500);
				} else {
					$faqItems.fadeIn(500);
				}
				return false;
		   });
		});</script>
}