﻿@{
    Layout = null;
    string ver_asset = "210616";
    string Mode = "";
}
@model Core.DAL.LoginViewModel
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>ลืมรหัสผ่าน</title>
    <link rel="apple-touch-icon" sizes="57x57"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-57x57.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="60x60"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-60x60.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="72x72"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-72x72.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="76x76"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-76x76.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="114x114"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-114x114.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="120x120"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-120x120.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="144x144"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-144x144.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="152x152"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-152x152.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="180x180"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-180x180.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="192x192"
        href="@Url.Content("~/app-assets/images/Logo/android-icon-192x192.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="32x32"
        href="@Url.Content("~/app-assets/images/Logo/favicon-32x32.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="96x96"
        href="@Url.Content("~/app-assets/images/Logo/favicon-96x96.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="16x16"
        href="@Url.Content("~/app-assets/images/Logo/favicon-16x16.png?v="+@ver_asset)">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/app-assets/images/Logo/ms-icon-144x144.png")">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/fonts/fonts.css?v="+@ver_asset)">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/Framework/vendors.min.css?v="+@ver_asset)">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/bootstrap"+Mode+".css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/css/bootstrap-extended"+Mode+".css?v="+@ver_asset)">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/colors"+Mode+".css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/components.css?v="+@ver_asset)">

    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->

    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/css/palette-gradient"+Mode+".css?v="+@ver_asset)">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/style.css?v="+@ver_asset)">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu bg-full-screen-image 1-column blank-page" data-open="hover"
    data-menu="horizontal-menu" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="@Url.Content("~/app-assets/images/Logo/android-icon-192x192.png?v="+@ver_asset)"
                                            style="max-height:150px;" alt="ฺHA logo">
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>ระบบจะทำการส่งอีเมล์ให้อีเมล์ที่คุณลงทะเบียนไว้</span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        @*<form class="form-horizontal form-simple"
                                            action="@Url.Action("Login","Login")" novalidate>*@
                                        @using (Html.BeginForm("Forget", "Login", FormMethod.Post, new
                                        {
                                            enctype =
                                        "multipart/form-data"
                                        }))
                                        {
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.TextBox("email", null, new { @class = "form-control", @placeholder =
                                            "อีเมล์ของคุณ", @required = true, @type = "email" })
                                                <div class="form-control-position">
                                                    <i class="la la-envelope"></i>
                                                </div>
                                            </fieldset>


                                            <button type="submit" class="btn btn-info btn-block"><i class="ft-send"></i>
                                                ยืนยันการลืมรหัสผ่าน</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="@Url.Content("~/app-assets/vendors/js/vendors.min.js")"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="@Url.Content("~/app-assets/vendors/js/ui/jquery.sticky.js")"></script>
    <script src="@Url.Content("~/app-assets/vendors/js/forms/icheck/icheck.min.js")"></script>
    <script src="@Url.Content("~/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js")"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="@Url.Content("~/app-assets/js/core/app-menu.js")"></script>
    <script src="@Url.Content("~/app-assets/js/core/app.js")"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="@Url.Content("~/app-assets/js/scripts/forms/form-login-register.js")"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>