﻿@{ Layout = null;}
@model Core.CORE.ViewModels.LoginViewModel
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>Login Smart KPI</title>
    <link rel="apple-touch-icon" href="@Url.Content("~/app-assets/images/ico/apple-icon-120.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/app-assets/images/ico/favicon.ico")">
    <link rel="icon" href="@Url.Content("~/app-assets/images/ico/favicon.ico")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/fonts.css")">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/vendors/css/vendors.min.css")">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/bootstrap.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/bootstrap-extended.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/colors.css")">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/core/menu/menu-types/horizontal-menu.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/core/colors/palette-gradient.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/themes-colors.css")">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style.css")">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu bg-full-screen-image 1-column blank-page" data-open="hover" data-menu="horizontal-menu" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="@Url.Content("~/app-assets/images/logo/logo.png")" alt="Core logo">
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>coming soon </span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body text-center">
                                       <h1>อยู่ระหว่างเตรียมการเปิดใช้งานระบบ</h1>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="bootstrap" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("forgot", "Login", FormMethod.Post))
                {
                    <div class="modal-body">
                        <section class="row flexbox-container">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="col-md-8 col-10 m-2">
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>ระบบจะทำการส่งอีเมล์ให้อีเมล์ที่คุณลงทะเบียนไว้</span>
                                    </h6>

                                    <fieldset class="form-group position-relative has-icon-left">
                                        @Html.TextBox("email", null, new { @class = "form-control", @placeholder = "อีเมล์ของคุณ", @required = true, @type = "email" })
                                        <div class="form-control-position">
                                            <i class="la la-envelope"></i>
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-info btn-block"><i class="ft-send"></i> ยืนยันการลืมรหัสผ่าน</button>


                                </div>
                            </div>
                        </section>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="@Url.Content("~/app-assets/vendors/js/vendors.min.js")"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="@Url.Content("~/app-assets/vendors/js/ui/jquery.sticky.js")"></script>
    <script src="@Url.Content("~/app-assets/vendors/js/forms/icheck/icheck.min.js")"></script>
    <script src="@Url.Content("~/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js")"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="@Url.Content("~/app-assets/js/core/app-menu.js")"></script>
    <script src="@Url.Content("~/app-assets/js/core/app.js")"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="@Url.Content("~/app-assets/js/scripts/forms/form-login-register.js")"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>