﻿@model Core.DAL.Models.WebboardReservedWord
@{
    int row = 1;
    List<Core.DAL.Models.WebboardReservedWord> lst = (List<Core.DAL.Models.WebboardReservedWord>)ViewBag.lstWord;
    string role = (String)ViewBag.Role;
}
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
   
</div>
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-group ">
                                @using (Html.BeginForm("Index", "WBReservedWord", FormMethod.Post))
                                {
                                    <div class="row justify-content-center">
                                        <div class="col-md-3 col-12">
                                            <label>คำที่ไม่เหมาะสม</label>  <small class="text-danger"> *กรุณาระบุข้อมูล</small>
                                            @Html.TextBoxFor(model => Model.OffensiveWord, new Dictionary<string, object> { { "id", "OffensiveWord" }, { "class", "form-control" }, { "placeholder", "คำที่ไม่เหมาะสม" } })
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(model => model.OffensiveWord, null, new { @style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <label>คำที่ใช้แทนที่</label>  <small class="text-danger"> *กรุณาระบุข้อมูล</small>
                                            @Html.TextBoxFor(model => Model.ReplacementWord, new Dictionary<string, object> { { "id", "ReplacementWord" }, { "class", "form-control" }, { "placeholder", "คำที่ใช้แทนที่" } })
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(model => model.ReplacementWord, null, new { @style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mt-2"><i class="ft-save"></i> บันทึก</button>
                                            
                                        </div>
                                    </div>
                                   
                                }
                            </div>
                            <hr />
                            <div class="row justify-content-center">
                                <div class="form-group col-md-8 col-12">
                                    <input type="text" id="SearchString" class="form-control" placeholder="คำค้นหาชื่อ @ViewBag.Title...">
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <button class="btn btn-outline-info mb-3" id="SearchBtn">
                                        <i class="ft-search"></i>
                                        <span>ค้นหา</span>
                                    </button>
                                </div>
                            </div>
                            <form asp-action="Itemslist" asp-controller="WBReservedWord" method="POST" data-ajax="true" data-ajax-success="onSuccessLoadDataTable" data-ajax-update="#UpdateInfoList" data-ajax-failure="onFailure" data-ajax-begin="loader">

                                         <div class="table-responsive">
                                                <table class="table table-bordered table-middle dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 50px;">#</th>
                                                            <th class="text-center">คำที่ไม่เหมาะสม</th>
                                                            <th class="text-center">คำที่ใช้แทนที่</th>
                                                            @*<th style="width: 100px;">สถานะ</th>*@
                                                            <th style="width: 100px;">การกระทำ</th>
                                                            <th style="width: 150px;">การแก้ไข</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in lst)
                                                        {
        row++;
                                                        <tr id="row_@item.ID" class="row_@row" data-id="@item.ID">
                                                            <td>
                                                                <span> @row</span>
                                                            </td>
                                                            <td style="text-align:center;">
                                                                @item.OffensiveWord
                                                            </td>
                                                            <td>
                                                                @item.ReplacementWord
                                                            </td>
                                                            @*<td>
                                                                <div class="form-group">
                                                                    @Html.CheckBoxFor(model => item.Actived, new Dictionary<string, object> { { "class", "bt-status" }, { "data-type", "WBRESERVED" }, { "data-menu", ViewBag.Title }, { "data-id", item.ID } })
                                                                </div>
                                                            </td>*@
                                                            <td class="text-center">
                                                                <div class="btn-group text-center">
                                                                    <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item.ID" data-type="WBRESERVED" data-menu="@ViewBag.Menuname" title="Remove"><span class="la la-trash-o"></span></a>
                                                                </div>
                                                            </td>

                                                            <td style="font-size: 10px;">
                                                                <p data-order="@item.UpdatedDate.Ticks"> @item.UpdatedDate.ToString("dd MMM yyyy HH:mm น.", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH")) @item.UpdatedBy</p>

                                                            </td>
                                                        </tr>
                                                            row++;
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th style="width: 50px;">#</th>
                                                            <th class="text-center">คำที่ไม่เหมาะสม</th>
                                                            <th class="text-center">คำที่ใช้แทนที่</th>
                                                            @*<th style="width: 100px;">สถานะ</th>*@
                                                            <th style="width: 100px;">การกระทำ</th>
                                                            <th style="width: 150px;">การแก้ไข</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>

    <script type="text/javascript">$(function () {

                 @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
                var userDataTable = $('.table').DataTable({
                    "columnDefs": [
                        {
                            "targets": [1, 3],
                            "orderable": false
                        }
                    ]
                });
                $('body').on('click', '#SearchBtn', function () {
                    userDataTable.search($('#SearchString').val()).draw();

                });
                $('#SearchString').keypress(function (e) {
                    var key = e.which;
                    if (key == 13) {
                        userDataTable.search($('#SearchString').val()).draw();
                        return false;
                    }
                });
           
        });</script>

}