﻿@model Core.DAL.Models.ChannelComment
@using AspNetCore.ReCaptcha
@using Core.Common;
@{
    string error = ViewBag.Error;
    string showError = string.IsNullOrEmpty(error) ? "style='display:none'" : "";
    string lang = ViewBag.LangID;
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";



    string formTXT = LangID == "TH" ? TextCommon.TH.TXT_FORM : TextCommon.EN.TXT_FORM;
    string channelcommentTXT = LangID == "TH" ? TextRegister.TH.TXT_CHANNELCOMMENT : TextRegister.EN.TXT_CHANNELCOMMENT;
    string flnameTXT = LangID == "TH" ? TextCommon.TH.TXT_FLNAME : TextCommon.EN.TXT_FLNAME;
    string requirdTXT = LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD;
    string selectTXT = LangID == "TH" ? TextCommon.TH.TXT_SELECT_DATA : TextCommon.EN.TXT_SELECT_DATA;

    string addrTXT = LangID == "TH" ? TextCommon.TH.TXT_ADDRESS : TextCommon.EN.TXT_ADDRESS;
    string telTXT = LangID == "TH" ? TextCommon.TH.TXT_TEL : TextCommon.EN.TXT_TEL;
    string faxTXT = LangID == "TH" ? TextCommon.TH.TXT_FAX : TextCommon.EN.TXT_FAX;
    string emailTXT = LangID == "TH" ? TextCommon.TH.TXT_EMAIL : TextCommon.EN.TXT_EMAIL;

    string positionTXT = LangID == "TH" ? TextRegister.TH.TXT_POSITION : TextRegister.EN.TXT_POSITION;
    string attachTXT = LangID == "TH" ? TextCommon.TH.TXT_ATTACH : TextCommon.EN.TXT_ATTACH;
    string searchTXT = LangID == "TH" ? TextCommon.TH.TXT_SEARCH : TextCommon.EN.TXT_SEARCH;
    string descriptionTXT = LangID == "TH" ? TextCommon.TH.TXT_DESCRIPTION : TextCommon.EN.TXT_DESCRIPTION;
    string allowTXT = LangID == "TH" ? TextCommon.TH.TXT_ALLOW : TextCommon.EN.TXT_ALLOW;
    string onlyTXT = LangID == "TH" ? TextCommon.TH.TXT_ONLY : TextCommon.EN.TXT_ONLY;
    string hearingTXT = LangID == "TH" ? TextRegister.TH.TXT_HEARING : TextRegister.EN.TXT_HEARING;
    string submitTXT = LangID == "TH" ? TextRegister.TH.TXT_SUBMIT : TextRegister.EN.TXT_SUBMIT;
    

}
<style>
    .required {
        color: red;
    }
    .file-caption .btn-file {
        margin-bottom: 0 !important;
    }

    .kv-file-zoom, .file-actions-cell {
        display: none;
    }

    .search-box2 {
        border: 1px solid #B1B1B1;
        border-radius: 12px;
        padding: 55px 25px 40px;
        margin-bottom: 50px;
        background: #fff url('@Url.Content("~/images/subpage/search-bg.png")');
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }

</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">แบบฟอร์ม</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <!-- Start: Subpage Content -->
            <section class="st-subpage-content">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-sm-12 col-md-8 col-lg-8 content">
                            @using (Html.BeginForm("Index", "ChannelComment", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return  validateForm()" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => Model.MenuID)
                                @Html.HiddenFor(model => Model.Menuname)
                                @Html.HiddenFor(model => Model.LangCode)
                                <div class="search-box2">
                                    <h2 class="">@formTXT</h2>
                                    <h3 class="hl-ha-u-l">@channelcommentTXT</h3>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-6">
                                        <label for="">@flnameTXT <small class="required"> * @requirdTXT</small></label>
                                        @Html.TextBoxFor(o => o.Fullname, new { @class = "form-control", @required = true, @placeholder = flnameTXT, @maxlength = 255 })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">@hearingTXT <small class="required"> * @requirdTXT</small></label>
                                        @if (lang != "EN")
                                        {
                                            @Html.DropDownListFor(m => m.TypeID, new SelectList(ChannelCommentTypeData.Get.ByActive(), "ID", "NameTH"), selectTXT, new { @class = "form-control", @required = true })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.TypeID, new SelectList(ChannelCommentTypeData.Get.ByActive(), "ID", "NameEN"), "Select", new { @class = "form-control", @required = true })
                                        }
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-6">
                                        <label for="">@emailTXT <small class="required"> * @requirdTXT</small></label>
                                        @Html.TextBoxFor(o => o.Email, new { @class = "form-control", @type = "email", @required = true, @placeholder = emailTXT, @maxlength = 255 })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">@telTXT</label>
                                        @Html.TextBoxFor(o => o.Telephone, new { @class = "form-control", @placeholder = telTXT, @maxlength = 255 })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@addrTXT</label>
                                        @Html.TextAreaFor(model => Model.Address, new Dictionary<string, object> { { "id", "Address" }, { "row", 3 }, { "class", "form-control" }, { "placeholder", addrTXT } })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@descriptionTXT <small class="required"> * @requirdTXT</small></label>
                                        @Html.TextAreaFor(model => Model.Comment, new Dictionary<string, object> { { "required", "required" }, { "id", "Comment" }, { "row", 3 }, { "class", "form-control" }, { "placeholder", descriptionTXT } })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="DownloadFormSize">
                                            @attachTXT (Max Size 2 MB)
                                        </label>
                                        @Html.TextBoxFor(model => Model.Files, new { @id = "FileAttach", @type = "file", @class = "fileAttach", @data_show_upload = "false", @data_show_caption = "true", @data_show_delete = "false", @data_show_remove = "false" })
                                        <label>
                                            @allowTXT image,ms-word,pdf,ms-excel,mp3,mp4 @onlyTXT
                                        </label>
                                        <label id="errorBlock99" class="col-12 col-form-label"></label>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    @Html.ReCaptcha()
                                </div>
                                <div class="col-auto" id="error_div" @showError>
                                    <p class="text-danger">@error</p>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-paper-plane"></i> @submitTXT</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
            <!-- End: Subpage Content -->
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section Scripts
{
    <script src="@Url.Content("~/lib/forms/fileinput/fileinput.min.js")"></script>
    <script src="@Url.Content("~/lib/forms/fileinput/theme.min.js")"></script>
    <script type="text/javascript">
        function validateForm() {
            $('#error_div').hide();
        }
        $(document).ready(function () {

            $('.fileAttach').attr("accept", "application/pdf, image/*,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document");

            $(".fileAttach").fileinput({
                theme: 'explorer',
                overwriteInitial: false,
                uploadAsync: false,
                showRemove: false,
                showDelete: false,
                showUpload: false,
                initialPreviewAsData: true,
                browseOnZoneClick: false,
                dropZoneEnabled: false,
                autoReplace: true,
                elErrorContainer: "#errorBlock99",
                allowedFileExtensions: ['pdf', 'jpeg', 'jpg', 'gif', 'png', 'doc', 'docx', 'xls', 'xlsx'],
                maxFileSize: 2048,
                removeFromPreviewOnError: true,
                preferIconicPreview: true,
                mainClass: " file-caption  kv-fileinput-caption",
                preferIconicPreview: true,
                previewFileIconSettings: {
                    'doc': '<i class="fas fa-file-word text-primary"></i>',
                    'xls': '<i class="fas fa-file-excel text-success"></i>',
                                    @* 'ppt': '<i class="fas fa-file-powerpoint text-danger"></i>',*@
            'pdf': '<i class="fas fa-file-pdf text-danger"></i>',
                                    @* 'zip': '<i class="fas fa-file-archive text-muted"></i>',
                'htm': '<i class="fas fa-file-code text-info"></i>',*@
                'txt': '<i class="fas fa-file-text text-info"></i>',
                    'mov': '<i class="fas fa-file-movie-o text-warning"></i>',
                        'mp3': '<i class="fas fa-file-audio text-warning"></i>',
                            // note for these file types below no extension determination logic
                            // has been configured (the keys itself will be used as extensions)
                            'jpg': '<i class="fas fa-file-image text-danger"></i>',
                                'gif': '<i class="fas fa-file-image text-warning"></i>',
                                    'png': '<i class="fas fa-file-image text-primary"></i>'
        }

                });
        });
    </script>
}