﻿@model Core.DAL.Models.JobPosition
@{ ViewBag.Title2 = "รายละเอียดข้อมูล" + ViewBag.Title;
    string role = (String)ViewBag.Role;

    }
<style>
    .switchBootstrap {
        min-width: 450px !important;
        width: 200px !important;
    }
    .fileinput-remove, .kv-file-zoom {
        display: none;
    }
</style>
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title2
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Index", new {menuname = ViewBag.Menuname})" class="btn btn-social btn-min-width mr-1 mb-1 btn-secondary"><i class="la la-angle-left"></i> กลับ &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="content-body" id="Cont">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body">

                            @using (Html.BeginForm("Manage", "JobPosition", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(model => Model.MenuID)
                                @Html.HiddenFor(model => Model.CreatedDate)
                                @Html.HiddenFor(model => Model.CreatedBy)
                                @Html.HiddenFor(model => Model.ID)
                                @Html.HiddenFor(model => Model.Menuname)
                                <div class="card-content">
                                    <div class="row justify-content-center">
                                        <div class="btn-group form-group float-md-right">
                                            @if (Model.ID > 0)
                                            {
                                                @: ข้อมูลล่าสุดโดย @Model.UpdatedBy เมื่อ @Model.UpdatedDate_Str
                                            }
                                        </div>
                                    </div>


                                    <ul class="nav nav-tabs nav-underline nav-top-border no-hover-bg">
                                        @await Component.InvokeAsync("LanguageTab")
                                    </ul>

                                    <div class="tab-content px-1 pt-1">
                                        @foreach (var itemdetail in Model.lstJobPosition)
                                        {
                                            itemdetail.JobPositionID = Model.ID;
                                            itemdetail.MenuID = Model.MenuID;
                                            itemdetail.Menuname = Model.Menuname;
                                            itemdetail.SUB_GUID = Model.GUID + "_" + itemdetail.LangCode;

                                            await Html.RenderPartialAsync("~/Views/JobPosition/_Manage.cshtml", itemdetail);
                                        }
                                        <hr />
                                        <div class="row justify-content-center">

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>ช่วงวันที่เผยแพร่</label>
                                                    <div class="col-12">
                                                        <div class="input-group input-daterange date">
                                                            @Html.TextBoxFor(model => Model.EffectiveDate_str, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "id", "EffectiveDate" }, { "class", "form-control" }, { "placeholder", "วันที่เริ่นต้นแสดงผล" }, { "autocomplete", "off" }, { "data-provide", "datepicker" }, { "data-date-language", "th-th" } })
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="sizing-addon2"> ถึง </span>
                                                            </div>
                                                            @Html.TextBoxFor(model => Model.EndDate_str, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "id", "EndDate" }, { "class", "form-control" }, { "placeholder", "วันที่สิ้นสุดแสดงผล" }, { "autocomplete", "off" }, { "data-provide", "datepicker" }, { "data-date-language", "th-th" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="active">สถานะการเผยแพร่</label>
                                                    <div class="col-12">
                                                        @Html.CheckBoxFor(model => model.Actived, new { @id = "active", @class = "StatePublish" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-actions text-right">
                                            <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                            <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                        </div>
                                    </div>
                                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/summernote-0.8.18-dist/lang/summernote-th-TH.js")"></script>
    <script>
        $(document).ready(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
            $('.summernote').summernote({
                height: "200px",
                callbacks: {
                    onPaste: function (e) {
                        if (document.queryCommandSupported("insertText")) {
                            var text = $(e.currentTarget).html();
                            var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');

                            setTimeout(function () {
                                document.execCommand('insertText', false, bufferText);
                            }, 10);
                            e.preventDefault();
                        } else {
                            var text = window.clipboardData.getData("text")
                            if (trap) {
                                trap = false;
                            } else {
                                trap = true;
                                setTimeout(function () {
                                    document.execCommand('paste', false, text);
                                }, 10);
                                e.preventDefault();
                            }
                        }

                    }
                }
            });
        });
    </script>



    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
    <script>
        function delf(i) {
            var urlz = "@Url.Action("RemoveFile","Form", new { FileID = Model.ID.ToString() })";
            $.ajax({
                type: "GET",
                url: urlz,
                dataType: 'json',
                data: {
                    i: i
                },
                success: function (response) {
                    if (response != null) {
                        return true;
                    }
                    return false;
                }
            });
        }
        $(document).ready(function () {
            if ($('.textareaHtml').length > 0) {
                ClassicEditor
                    .create(document.querySelector('#myfield_TH'), {
                        toolbar: {
                            items: [
                                'sourceEditing',
                                'heading',
                                '|',
                                'bold',
                                'italic',
                                'fontColor',
                                'highlight',
                                'link',
                                'bulletedList',
                                'numberedList',
                                '|',
                                'outdent',
                                'indent',
                                '|',
                                'imageInsert',
                                'CKFinder',
                                'blockQuote',
                                'insertTable',
                                'mediaEmbed',
                                'undo',
                                'redo'
                            ]
                        },
                        language: 'en',
                        image: {
                            toolbar: [
                                'imageTextAlternative',
                                'imageStyle:inline',
                                'imageStyle:block',
                                'imageStyle:side'
                            ]
                        },
                        table: {
                            contentToolbar: [
                                'tableColumn',
                                'tableRow',
                                'mergeTableCells'
                            ]
                        },
                        licenseKey: '',
                        ckfinder: {
                            // Open the file manager in the pop-up window.
                            openerMethod: 'popup'
                        }

                    })
                    .then(editor => {
                        window.editor = editor;
                    })
                    .catch(error => {
                        console.error('Oops, something went wrong!');
                        console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                        console.warn('Build id: 7rqpfwul0p58-bxg47d4urk5f');
                        console.error(error);
                    });
                ClassicEditor
                    .create(document.querySelector('#myfield_EN'), {
                        toolbar: {
                            items: [
                                'sourceEditing',
                                'heading',
                                '|',
                                'bold',
                                'italic',
                                'fontColor',
                                'highlight',
                                'link',
                                'bulletedList',
                                'numberedList',
                                '|',
                                'outdent',
                                'indent',
                                '|',
                                'imageInsert',
                                'CKFinder',
                                'blockQuote',
                                'insertTable',
                                'mediaEmbed',
                                'undo',
                                'redo'
                            ]
                        },
                        language: 'en',
                        image: {
                            toolbar: [
                                'imageTextAlternative',
                                'imageStyle:inline',
                                'imageStyle:block',
                                'imageStyle:side'
                            ]
                        },
                        table: {
                            contentToolbar: [
                                'tableColumn',
                                'tableRow',
                                'mergeTableCells'
                            ]
                        },
                        licenseKey: '',
                        ckfinder: {
                            // Open the file manager in the pop-up window.
                            openerMethod: 'popup'
                        }

                    })
                    .then(editor => {
                        window.editor = editor;
                    })
                    .catch(error => {
                        console.error('Oops, something went wrong!');
                        console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                        console.warn('Build id: 7rqpfwul0p58-bxg47d4urk5f');
                        console.error(error);
                    });
            }
            @**@
            if ($('.JobPositionFiles').length > 0) {
                $('.JobPositionFiles').attr("accept", "image/*,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document");

            }
    </script>
}