﻿@model Core.DAL.Models.Members
@using AspNetCore.ReCaptcha
@using SWU.Frontend.Controllers
@using Core.Common;
@using Microsoft.AspNetCore.Mvc.Localization
@using SWU.Frontend.Controllers
@inject IViewLocalizer Localizer
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    ViewBag.Title = LangID == "TH" ? TextCommon.TH.TXT_REGISTER : TextCommon.EN.TXT_REGISTER;
    ViewBag.Menuname = ViewBag.Title;
    string displayError = ViewBag.IsError ? "" : "style=display:none";
    string errorMsg = ViewBag.MsgError;
    string displayErrorLoging = ViewBag.IsErrorLoging ? "" : "style=display:none";
    string errorMsgLoging = ViewBag.MsgErrorLoging;
    bool disbleLogin = ViewBag.IsLogin;

}
<style>
    .required {
        color: red;
    }

    .search-box2 {
        border: 1px solid #B1B1B1;
        border-radius: 12px;
        padding: 25px 25px 40px;
        margin-bottom: 30px;
        background: #fff url(@Url.Content("~/images/subpage/search-bg.png"));
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }
     .search-box3 {
        border: 1px solid #B1B1B1;
        border-radius: 12px;
        padding: 25px 25px 40px;
        margin-bottom: 30px;
        background: #fff url(@Url.Content("~/images/subpage/hero-banner-cert-6.png"));
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .file-caption .btn-file {
        margin-bottom: 0 !important;
    }
</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@(LangID == "TH" ? TextCommon.TH.TXT_FORM : TextCommon.EN.TXT_FORM)</h4>
                                <h1 class="text-color-black">@(LangID == "TH" ? TextCommon.TH.TXT_LOGIN : TextCommon.EN.TXT_LOGIN)/@ViewBag.Title</h1>
                                <p>
                                    <span><a href="@Url.Action("Index","Home")"></a>@(LangID == "TH" ? TextCommon.TH.TXT_HOME : TextCommon.EN.TXT_HOME)</span>
                                    <span>/ @ViewBag.Title</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <!-- Start: Subpage Content -->
            <section class="st-subpage-content">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-6 content mb-5">
                            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "onSubmitLogin()" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => Model.Menuname)
                                <div class="search-box3">
                                    <h2 class="">@(LangID == "TH" ? TextCommon.TH.TXT_DATA : TextCommon.EN.TXT_DATA)</h2>
                                    <h3 class="hl-ha-u-l">@(LangID == "TH" ? "สำหรับ" + TextCommon.TH.TXT_LOGIN : TextCommon.EN.TXT_LOGIN)</h3>
                                </div>

                                     <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Username <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @if (disbleLogin)
                                            {
                                                @Html.TextBox("username", InitializeController.F_Username, new { @class = "form-control", @required = true, @placeholder = "Username", @maxlength = 255, @disabled = true })

                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(o => o.Username, new { @class = "form-control", @required = true, @placeholder = "Username", @maxlength = 255 })
                                                @Html.ValidationMessageFor(o => o.Username, "", new { @class = "required" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Password <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @if (disbleLogin)
                                            {
                                                @Html.TextBox("Password", "XXXXXXXX", new { @class = "form-control", @type = "Password", @required = true, @placeholder = "Password", @maxlength = 255, @disabled = true })

                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(o => o.Password, new { @class = "form-control", @type = "Password", @required = true, @placeholder = "Password", @maxlength = 255 })
                                                @Html.ValidationMessageFor(o => o.Password, "", new { @class = "required" })
                                            }

                                        </div>
                                    </div>
                                    <div class="col-auto" id="is_show_error_login" @displayErrorLoging>
                                        <p class="required">@errorMsgLoging</p>
                                    </div>
                                    <div class="col-auto">
                                        @if (disbleLogin)
                                        {
                                            <a href="@Url.Action("Signout", "Login")" class="btn btn-primary mb-3"><i class="fas fa-unlock"></i> @(LangID == "TH" ? TextCommon.TH.TXT_LOGOUT : TextCommon.EN.TXT_LOGOUT)</a>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-unlock"></i> @(LangID == "TH" ? TextCommon.TH.TXT_LOGIN : TextCommon.EN.TXT_LOGIN)</button>
                                        }
                                        
                                    </div>

                            }
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 content">
                                @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "onSubmit()" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => Model.Menuname)
                                    <div class="search-box2">
                                        <h2 class="">@(LangID == "TH" ? TextCommon.TH.TXT_DATA : TextCommon.EN.TXT_DATA)</h2>
                                        <h3 class="hl-ha-u-l">@(LangID == "TH" ? ("สำหรับ" + TextCommon.TH.TXT_REGISTER) : TextCommon.EN.TXT_REGISTER)</h3>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_ID_CARD : TextRegister.EN.TXT_ID_CARD) <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.TextBoxFor(o => o.IdentityNo, new { @class = "form-control", @required = true, @placeholder = (LangID == "TH" ? TextRegister.TH.TXT_ID_CARD : TextRegister.EN.TXT_ID_CARD), @maxlength = 13 })
                                            @Html.ValidationMessageFor(o => o.IdentityNo, "", new { @class = "required" })
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_TITLE : TextRegister.EN.TXT_TITLE) <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.DropDownListFor(model => model.TitleID, (SelectList)SWU.Frontend.Controllers.InitializeController.GetTitle(LangID), (LangID == "TH" ? TextCommon.TH.TXT_SELECT_DATA : TextCommon.EN.TXT_SELECT_DATA), new { @class = "select2 form-control", @style = "width:100%", @required = true })
                                            @Html.ValidationMessageFor(o => o.TitleID, "", new { @class = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_FIRST_NAME : TextRegister.EN.TXT_FIRST_NAME) <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.TextBoxFor(o => o.FirstName, new { @class = "form-control", @required = true, @placeholder = (LangID == "TH" ? TextRegister.TH.TXT_FIRST_NAME : TextRegister.EN.TXT_FIRST_NAME), @maxlength = 255 })
                                            @Html.ValidationMessageFor(o => o.FirstName, "", new { @class = "required" })
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_MID_NAME + " (" + TextCommon.TH.TXT_IF_ANY + ")"  : TextRegister.EN.TXT_MID_NAME + "(" + TextCommon.EN.TXT_IF_ANY + ")")</label>
                                            @Html.TextBoxFor(o => o.MiddleName, new { @class = "form-control", @placeholder = (LangID == "TH" ? TextRegister.TH.TXT_MID_NAME : TextRegister.EN.TXT_MID_NAME), @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_LAST_NAME : TextRegister.EN.TXT_LAST_NAME) <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.TextBoxFor(o => o.LastName, new { @class = "form-control", @required = true, @placeholder = (LangID == "TH" ? TextRegister.TH.TXT_LAST_NAME : TextRegister.EN.TXT_LAST_NAME), @maxlength = 255 })
                                            @Html.ValidationMessageFor(o => o.LastName, "", new { @class = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_MEMBER_TYPE : TextRegister.EN.TXT_MEMBER_TYPE) <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.DropDownListFor(model => model.TypeMemberID, (SelectList)SWU.Frontend.Controllers.InitializeController.GetTypeMember(LangID), (LangID == "TH" ? TextCommon.TH.TXT_SELECT_DATA : TextCommon.EN.TXT_SELECT_DATA), new { @class = "select2 form-control", @style = "width:100%", @required = true })
                                            @Html.ValidationMessageFor(o => o.TypeMemberID, "", new { @class = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_EMAIL : TextRegister.EN.TXT_EMAIL) <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.TextBoxFor(o => o.Email, new { @class = "form-control", @type = "email", @required = true, @placeholder = (LangID == "TH" ? TextRegister.TH.TXT_EMAIL : TextRegister.EN.TXT_EMAIL), @maxlength = 255 })
                                            @Html.ValidationMessageFor(o => o.Email, "", new { @class = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-6">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_DEPARTMENT + " (" +TextCommon.TH.TXT_IF_ANY + ")" : TextRegister.EN.TXT_DEPARTMENT + " (" + TextCommon.EN.TXT_IF_ANY + ")")</label>
                                            @Html.TextBoxFor(o => o.Department, new { @class = "form-control", @placeholder = (LangID == "TH" ? TextRegister.TH.TXT_DEPARTMENT : TextRegister.EN.TXT_DEPARTMENT), @maxlength = 255 })
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_POSITION : TextRegister.EN.TXT_POSITION)</label>
                                            @Html.TextBoxFor(o => o.Position, new { @class = "form-control", @placeholder = (LangID == "TH" ? TextRegister.TH.TXT_POSITION : TextRegister.EN.TXT_POSITION), @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">@(LangID == "TH" ? TextRegister.TH.TXT_ADDRESS : TextRegister.EN.TXT_ADDRESS) (@(LangID == "TH" ? TextRegister.TH.TXT_DOCUMENT_DELIVERY : TextRegister.EN.TXT_DOCUMENT_DELIVERY))</label>
                                            @Html.TextAreaFor(model => Model.AddressSend, new Dictionary<string, object> { { "id", "CurrentAddr" }, { "row", 3 }, { "class", "form-control" }, { "placeholder", (LangID == "TH" ? TextRegister.TH.TXT_ADDRESS : TextRegister.EN.TXT_ADDRESS) } })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Username <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.TextBoxFor(o => o.Username, new { @class = "form-control", @required = true, @placeholder = "Username", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Password <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.TextBoxFor(o => o.Password, new { @class = "form-control", @type = "Password", @required = true, @placeholder = "Password", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Confirm Password <small class="required"> *@(LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD)</small></label>
                                            @Html.TextBoxFor(o => o.ConfirmPassword, new { @class = "form-control", @type = "Password", @required = true, @placeholder = "Confirm Password", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        @Html.ReCaptcha()
                                    </div>
                                    <div class="col-auto" id="is_show_error" @displayError>
                                        <p class="required">@errorMsg</p>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-paper-plane"></i> @(LangID == "TH" ? TextCommon.TH.TXT_REGISTER : TextCommon.EN.TXT_REGISTER)</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End: Subpage Content -->
            </div>
        </div>
    </section>
    <!-- End: Subpage Content -->
    @section Scripts
{
        @*<script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                    async defer></script>*@
        <script src="@Url.Content("~/lib/forms/fileinput/fileinput.min.js")"></script>
        <script src="@Url.Content("~/lib/forms/fileinput/theme.min.js")"></script>
        @*<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>*@

        <script type="text/javascript">$(document).ready(function () {
            });

            function onSubmit() {
                $('#is_show_error').hide();
            }

            function onSubmitLogin() {
                $('#is_show_error_login').hide();
            }</script>
    }
