﻿@model Core.DAL.Models.Members
@using AspNetCore.ReCaptcha
@{
    ViewBag.Title = "สมัครสมาชิก";
    ViewBag.Menuname = "สมัครสมาชิก";
    string displayError = ViewBag.IsError ? "" : "style=display:none";
    string errorMsg = ViewBag.MsgError;
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";

}
<style>
    .required {
        color: red;
    }

    .search-box2 {
        border: 1px solid #B1B1B1;
        border-radius: 12px;
        padding: 25px 25px 40px;
        margin-bottom: 30px;
        background: #fff url(@Url.Content("~/images/subpage/search-bg.png"));
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .file-caption .btn-file {
        margin-bottom: 0 !important;
    }
</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">แบบฟอร์ม</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <!-- Start: Subpage Content -->
            <section class="st-subpage-content">
                <div class="container">
                        @*<form id="target_Form1" asp-action="Index" asp-controller="Complaint" method="POST" data-ajax="true" data-ajax-success="Success_redirect" enctype="multipart/form-data">*@
                        @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data" , onsubmit = "onSubmit()" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model => Model.Menuname)
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 content">
                                    <div class="form-group row mb-3">
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">เลขที่บัตรประชาชน <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.TextBoxFor(o => o.IdentityNo, new { @class = "form-control", @required = true, @placeholder = "เลขที่บัตรประชาชน", @maxlength = 13 })
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">คำนำหน้าชื่อ <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.DropDownListFor(model => model.TitleID, (SelectList)SWU.Frontend.Controllers.InitializeController.GetTitle(LangID), "เลือกข้อมูล", new { @class = "select2 form-control", @style = "width:100%" })
                                        </div>

                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">ชื่อ <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.TextBoxFor(o => o.FirstName, new { @class = "form-control", @required = true, @placeholder = "ชื่อ", @maxlength = 255 })
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">ชื่อกลาง (ถ้ามี)</label>
                                            @Html.TextBoxFor(o => o.MiddleName, new { @class = "form-control", @placeholder = "ชื่อกลาง ", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">นามสกุล <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.TextBoxFor(o => o.LastName, new { @class = "form-control", @required = true, @placeholder = "นามสกุล", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">ประเภทสมาชิก <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.DropDownListFor(model => model.TypeMemberID, (SelectList)SWU.Frontend.Controllers.InitializeController.GetTypeMember(LangID), "เลือกข้อมูล", new { @class = "select2 form-control", @style = "width:100%" })
                                            </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-6">
                                            <label for="">หน่วยงานต้นสังกัด (ถ้ามี)</label>
                                            @Html.TextBoxFor(o => o.Department, new { @class = "form-control", @placeholder = "หน่วยงานต้นสังกัด", @maxlength = 255 })
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <label for="">ตำแหน่ง</label>
                                            @Html.TextBoxFor(o => o.Position, new { @class = "form-control", @placeholder = "ตำแหน่ง", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">อีเมล์ <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.TextBoxFor(o => o.Email, new { @class = "form-control", @type = "email", @required = true, @placeholder = "อีเมล์", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-12">
                                            <label for="">ที่อยู่ (กรณีจัดส่งเอกสาร)</label>
                                            @Html.TextAreaFor(model => Model.AddressSend, new Dictionary<string, object> { { "id", "CurrentAddr" }, { "row", 3 }, { "class", "form-control" }, { "placeholder", "ที่อยู่" } })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 content">
                                    <div class="search-box2">
                                        <h2 class="">ข้อมูล</h2>
                                        <h3 class="hl-ha-u-l">สำหรับเข้าใช้งานระบบ</h3>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Username <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.TextBoxFor(o => o.Username, new { @class = "form-control", @required = true, @placeholder = "Username", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Password <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.TextBoxFor(o => o.Password, new { @class = "form-control", @type = "Password", @required = true, @placeholder = "Password", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-md-12">
                                            <label for="">Confirm Password <small class="required"> *กรุณาระบุ</small></label>
                                            @Html.TextBoxFor(o => o.ConfirmPassword, new { @class = "form-control", @type = "Password", @required = true, @placeholder = "Confirm Password", @maxlength = 255 })
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        @Html.ReCaptcha()
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-paper-plane"></i> สมัครใช้บริการ</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2" id="divDisplay" @displayError>
                                <div class="col-12 text-center text-danger" id="error_msg" style="font-size: large;">
                                    @errorMsg
                                </div>
                            </div>
                         }
                        </div>
            </section>
            <!-- End: Subpage Content -->


        </div>
    </div>
</section>
<!-- End: Subpage Content -->
@section Scripts
{
    @*<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer></script>*@
    <script src="@Url.Content("~/lib/forms/fileinput/fileinput.min.js")"></script>
    <script src="@Url.Content("~/lib/forms/fileinput/theme.min.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $('.fileAttach').attr("accept", "application/pdf, image/*,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document");

                $(".fileAttach").fileinput({
                    theme: 'explorer',
                                overwriteInitial: false,
                                uploadAsync: false,
                                showRemove: false,
                                showDelete: false,
                                showUpload: false,
                                initialPreviewAsData: true,
                                browseOnZoneClick: false,
                                dropZoneEnabled: false,
                                autoReplace: true,
                                elErrorContainer: "#errorBlock99",
                                allowedFileExtensions: ['pdf', 'jpeg', 'jpg', 'gif', 'png','doc','docx','xls','xlsx'],
                                maxFileSize: 2048,
                                removeFromPreviewOnError: true,
                                preferIconicPreview: true,
                                mainClass: " file-caption  kv-fileinput-caption",
                                preferIconicPreview: true,
                                previewFileIconSettings: {
                                    'doc': '<i class="fas fa-file-word text-primary"></i>',
                                    'xls': '<i class="fas fa-file-excel text-success"></i>',
                                    @*'ppt': '<i class="fas fa-file-powerpoint text-danger"></i>',*@
                                    'pdf': '<i class="fas fa-file-pdf text-danger"></i>',
                                    @*'zip': '<i class="fas fa-file-archive text-muted"></i>',
                                    'htm': '<i class="fas fa-file-code text-info"></i>',*@
                                    'txt': '<i class="fas fa-file-text text-info"></i>',
                                    'mov': '<i class="fas fa-file-movie-o text-warning"></i>',
                                    'mp3': '<i class="fas fa-file-audio text-warning"></i>',
                                    // note for these file types below no extension determination logic
                                    // has been configured (the keys itself will be used as extensions)
                                    'jpg': '<i class="fas fa-file-image text-danger"></i>',
                                    'gif': '<i class="fas fa-file-image text-warning"></i>',
                                    'png': '<i class="fas fa-file-image text-primary"></i>'
                                }

                });
        });

        function onSubmit() {
            $('#divDisplay').hide();
            $('#error_msg').text('');
        }
    </script>
}
