﻿@{
    ViewData["Title"] = "Permission";
}
<div class="row text-center mt-3">
    <div class="col-12 text-center"><h1>คุณไม่มีสิทธิ์เข้าถึงหน้านี้</h1></div>
    <div class="col-12 text-center"><h3>กรุณาติดต่อผู้ดูแลระบบการจัดการข้อมูลเว็บไซต์บัณฑิตวิทยาลัย มหาวิทยาลัยศรีนครินทรวิโรฒ </h3></div>
</div>
   