﻿@model List<Core.DAL.Models.ChannelComment>
@{
    int row = 0;
    string role = (String)ViewBag.Role;
}
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
   
</div>
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="form-group col-md-8 col-12">
                                    <input type="text" id="SearchString" class="form-control" placeholder="คำค้นหาชื่อ @ViewBag.Title...">
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <button class="btn btn-outline-info mb-3" id="SearchBtn">
                                        <i class="mdi mdi-search-web "></i>
                                        <span>ค้นหา</span>
                                    </button>

                                </div>
                            </div>
                           @* <form asp-action="Itemslist" asp-controller="Category" method="POST" data-ajax="true" data-ajax-success="onSuccessLoadDataTable" data-ajax-update="#UpdateInfoList" data-ajax-failure="onFailure" data-ajax-begin="loader">*@
                                <div class="table-responsive">
                                    <table class="table table-bordered table-middle dataTable">
                                        <thead>
                                            <tr>
                                                <th class="tex-center" style="width: 5%;">#</th>
                                                <th class="tex-center" style="width: 15%;">ชื่อ-นามสกุล</th>
                                                <th class="tex-center" style="width: 40%;">รายละเอียด</th>
                                                <th class="tex-center" style="width: 20%;">ที่อยู่</th>
                                                <th class="tex-center" style="width: 10%;">เบอร์โทรศัพท์</th>
                                                <th class="tex-center" style="width: 5%;">การกระทำ</th>
                                                <th class="tex-center" style="width: 5%;">การแก้ไข</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                row++;
                                            <tr id="row_@item.ID" class="row_@row" data-id="@item.ID">
                                                <td class="text-center">@row</td>
                                                <td>
                                                    @item.Fullname
                                                    <br />
                                                    <a href="mailto: @item.Email"><small>@item.Email</small></a>
                                                </td>
                                                <td>
                                                    @item.Comment
                                                </td>
                                                <td>
                                                    @item.Address
                                                </td>
                                                <td>
                                                    @item.Telephone
                                                </td>

                                                <td>
                                                    <div class="btn-group text-center">
                                                        <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = item.ID})" class="btn btn-info btn-sm mr-1" title="Edit"><span class="la la-eye"></span></a>
                                                        <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item.ID" data-type="CHANNELCOMMENT" data-menu="@ViewBag.Menuname" title="Remove"><span class="la la-trash-o"></span></a>
                                                    </div>
                                                </td>

                                                <td style="font-size: 10px;">
                                                    @item.UpdatedBy <small class="text-muted">@item.UpdatedDate_Str</small>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="tex-center" style="width: 5%;">#</th>
                                                <th class="tex-center" style="width: 15%;">ชื่อ-นามสกุล</th>
                                                <th class="tex-center" style="width: 40%;">รายละเอียด</th>
                                                <th class="tex-center" style="width: 20%;">ที่อยู่</th>
                                                <th class="tex-center" style="width: 10%;">เบอร์โทรศัพท์</th>
                                                <th class="tex-center" style="width: 5%;">การกระทำ</th>
                                                <th class="tex-center" style="width: 5%;">การแก้ไข</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>

    <script type="text/javascript">$(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
                var userDataTable = $('.table').DataTable({
                    "columnDefs": [
                        {
                            "targets": [5],
                            "orderable": false
                        }
                    ],
                    "searching": true,
                    "paging": true
                });
                $('body').on('click', '#SearchBtn', function () {
                    userDataTable.search($('#SearchString').val()).draw();

                });
                $('#SearchString').keypress(function (e) {
                    var key = e.which;
                    if (key == 13)
                    {
                        userDataTable.search($('#SearchString').val()).draw();
                        return false;
                    }
                });

        });</script>

}