﻿@model Core.DAL.Models.ContentDetail
@{
    //  ViewBag.Title = "ประเมินรับรอง";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.ParentName</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 sidebar">
                @await Component.InvokeAsync("SubMenu", new { ParentID = (int)ViewBag.ParentID, LangID = LangID})
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 content">
                @if (Model != null && !string.IsNullOrEmpty(Model.HtmlContent))
                {
                    @Html.Raw(Model.HtmlContent)
                }
                else
                {
                    <center>  Coming Soon</center>
                }
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
