﻿ @model List<Core.DAL.Models.WBTopicByLanguage>
@{
    string role = (String)ViewBag.Role;

}
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="form-group col-md-8 col-12">
                                    <input type="text" id="SearchString" class="form-control" placeholder="คำค้นหาชื่อ @ViewBag.Title...">
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <button class="btn btn-outline-info mb-3" id="SearchBtn">
                                        <i class="ft-search"></i>
                                        <span>ค้นหา</span>
                                    </button>
                                </div>
                            </div>
                            @await Component.InvokeAsync("LanguageTab")
                            <div class="tab-content px-1 pt-1">
                                @foreach (var tab in Model)
                                {
                                    <div role="tabpanel" class="tab-pane animated pulse @tab.SelectedTabs" id="tab_@tab.LanguageCode" aria-expanded="true" aria-labelledby="tab_@tab.LanguageCode">
                                        <div class="table-responsive" id="tab-content_@tab.LanguageCode">
                                            <table class="table table-bordered table-middle dataTable" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width:5%">#</th>
                                                        <th class="text-center">หัวข้อกระทู้</th>
                                                        <th class="text-center" style="width:65%">รายละเอียด</th>
                                                        <th class="text-center" style="width:15%">สถานะการอนุมัติ</th>
                                                        <th class="text-center" style="width:5%">การกระทำ</th>
                                                        <th class="text-center" style="width:10%">การแก้ไข</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var itemTopic in tab.lstWBTopic)
                                                    {
                                                        int row = 0;
                                                        foreach (var itemReply in itemTopic.lstReply)
                                                        {
                                                            row++;
                                                            <tr>
                                                                <td class="text-center">@row</td>
                                                                <td>@itemTopic.Topic</td>
                                                                <td>@itemReply.Description</td>
                                                                <td>
                                                                    <div class="form-group text-center">
                                                                        <p style="display:none">@itemReply.Actived</p>
                                                                        @Html.CheckBoxFor(model => itemReply.Actived, new Dictionary<string, object> { { "class", "bt-status" }, { "data-type", "WBREPLY" }, { "data-menu", ViewBag.Title }, { "data-id", itemReply.WBReplyID } })
                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <div class="btn-group text-center">
                                                                        <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@itemReply.WBReplyID" data-type="WBREPLY" data-menu="@ViewBag.Menuname" title="Remove"><span class="la la-trash-o"></span></a>
                                                                    </div>
                                                                </td>
                                                                <td><p>@itemReply.UpdatedDate</p></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th class="text-center" style="width:5%">#</th>
                                                        <th class="text-center">หัวข้อกระทู้</th>
                                                        <th class="text-center" style="width:65%">รายละเอียด</th>
                                                        <th class="text-center" style="width:15%">สถานะการอนุมัติ</th>
                                                        <th class="text-center" style="width:5%">การกระทำ</th>
                                                        <th class="text-center" style="width:10%">การแก้ไข</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>

    <script type="text/javascript">
        $(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
                var groupColumn = 1;
                var userDataTable = $('.dataTable').DataTable({
                    "searching": true,
                    "columnDefs": [
                        { "visible": false, "targets": groupColumn },
                        {
                            "targets": [0, 1,4],
                            "orderable": false
                        }
                    ],
                    'order': [
                        [3, 'asc']
                    ],
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({ page: 'current' }).nodes();
                        var last = null;
                        api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="6">' + group + '</td></tr>'
                                );
                                last = group;
                            }
                        });
                    }
                })

                $('body').on('click', '#SearchBtn', function () {
                    var text = $('#SearchString').val();
                    if (text == "")
                        userDataTable.search('').draw();
                    else
                        userDataTable.search(text).draw();
                });
                //$('#SearchString').keypress(function (e) {
                //    var key = e.which;
                //    if (key == 13) {
                //        userDataTable.search($('#SearchString').val()).draw();
                //        return false;
                //    }
                //});
           
        });
    </script>

}