﻿@model Core.DAL.Models.ShortcutDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : ""; }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">

    @using (Html.BeginCollectionItem("lstDetail"))
    {
            @Html.HiddenFor(model => Model.ShortcutDetailID)
            @Html.HiddenFor(model => Model.LangCode)
            @Html.HiddenFor(model => Model.ShortcutID)
            @Html.HiddenFor(model => Model.MenuID)
            @Html.HiddenFor(model => Model.Menuname)
            @Html.HiddenFor(model => Model.IconType)
    <div class="row">
        <div class="form-group col-12 col-md-8">
            @if (Model.LangCode == "TH")
            {
                    <label for="ServiceName_@Model.LangCode">ชื่อเซอร์วิส <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                    @Html.TextBoxFor(model => Model.ServiceName, new Dictionary<string, object> { { "id", "ServiceName_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "ชื่อเซอร์วิส" } })
            }
            else
            {
                        <label for="ServiceName_@Model.LangCode">ชื่อเซอร์วิส </label>
                        @Html.TextBoxFor(model => Model.ServiceName, new { @id = "ServiceName_" + Model.LangCode, @class = "form-control", @placeholder = "ชื่อเซอร์วิส" })}
                        <div class="col-lg-12">
                            @Html.ValidationMessageFor(model => model.ServiceName, null, new { @class = "text-danger" })
                        </div>
        </div>
        <div class="form-group  col-12 col-md-4">
            <label> Icon </label>
            @*@Html.TextBoxFor(model => Model.IconName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Icon Name" } })*@
                @Html.DropDownListFor(model => model.IconName, (SelectList)Core.Backoffice.Controllers.BaseController.GetIcon(Model.IconName), "เลือกข้อมูล", new { @class = "select2-icon form-control", @style = "width:100%" })
               
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.IconName, null, new { @style = "color:red;" })
            </div>
        </div>

        <div class="form-group col-12">
            <label for="Links_@Model.LangCode">เว็บที่เชื่อมโยง</label>
            @Html.TextBoxFor(model => Model.URL, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Lin" }, { "type", "url" }, { "placeholder", "เว็บที่เชื่อมโยง exemple : http://google.com" } })
            <div class="col-sm-12">
                @Html.ValidationMessageFor(model => model.URL, null, new { @style = "color:red;" })
            </div>
        </div>
    </div>   
     }
</div>



<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
