﻿@model Core.DAL.Models.PostsDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : "";

    }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">
    @using (Html.BeginCollectionItem("PostLst"))
    {
         @Html.HiddenFor(model => Model.PostDetailID)
            @Html.HiddenFor(model => Model.LangCode)
            @Html.HiddenFor(model => Model.PostID)
            @Html.HiddenFor(model => Model.MenuID)
            @Html.HiddenFor(model => Model.Menuname)
            @Html.HiddenFor(model => Model.SUB_GUID)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="BannerSize_@Model.LangCode">1200x700 px (jpeg , jpg , gif ,png) <small class="text-danger"> *กรุณาเลือกรูป</small></label>
                                @Html.TextBoxFor(model => Model.Files, new { @id = "BannerSize_" + Model.LangCode, @type = "file", @class = "fileImage", @data_show_upload = "false", @data_show_caption = "true", @data_show_delete = "false", @data_show_remove = "false" })
                                <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @if (Model.LangCode == "TH")
                                {
                                    <label for="Title_@Model.LangCode">หัวข้อ <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                                    @Html.TextBoxFor(model => Model.Title, new Dictionary<string, object> { { "id", "Title_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "หัวข้อ" } }) }
                                else
                                {
                                    <label for="Title_@Model.LangCode">หัวข้อ </label>
                                    @Html.TextBoxFor(model => Model.Title, new { @id = "Title_" + Model.LangCode, @class = "form-control", @placeholder = "หัวข้อ" })}
                                    <div class="col-lg-12">
                                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            <div class="form-group">
                                <label for="ShortDescription_@Model.LangCode">รายละเอียด</label>
                                @Html.TextAreaFor(model => Model.ShortDescriptions, new Dictionary<string, object> { { "id", "ShortDescription_" + Model.LangCode }, { "class", "form-control textareaHtml" }, { "placeholder", "รายละเอียด" } })
                            </div>
                            <div class="form-group">
                                <label for="Links_@Model.LangCode">เว็บที่เชื่อมโยง</label>
                                @Html.TextBoxFor(model => Model.UrlLink, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Link" }, { "type", "url" }, { "placeholder", "เว็บที่เชื่อมโยง exemple : http://google.com" } })
                                <div class="col-sm-12">
                                    @Html.ValidationMessageFor(model => model.UrlLink, null, new { @style = "color:red;" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Links_@Model.LangCode">คำค้นหา (Tag)</label>
                                 @Html.DropDownListFor(model => model.TagKeywords, new SelectList((List<Core.DAL.Models.PostsTag>)ViewBag.DDLTags, "TagName", "TagName"), new { @class = "form-control select2-tags", @style = "width:100%", @multiple = "true" })
                               
                            </div>
                        </div>
                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="myfield_@Model.LangCode">เนื้อหา</label>
                                                @if (Model.LangCode == "TH")
                                                {
                                        @Html.TextAreaFor(Model => Model.Descriptions, new { @id = "Descriptions_", @class = "form-control summernote", @cols = 1, @rows = "35", @required = true, @placeholder = "ระบุเนื้อหา" }) }
                                    else
                                    {
                                        @Html.TextAreaFor(Model => Model.Descriptions, new { @id = "Descriptions_" + Model.LangCode, @class = "form-control summernote", @cols = 1, @rows = "35", @placeholder = "ระบุเนื้อหา" })}
                                                <div class="col-lg-12">
                                                    @Html.ValidationMessageFor(model => model.Descriptions, null, new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="Gallery_@Model.LangCode">รูปภาพประกอบ</label>
                                                @{ string st = "GalleryFiles_" + Model.LangCode;}
                                                <input type="file" name="@st" id="GalleryFiles_@Model.LangCode" class="GalleryFiles" data-show-upload="false" multiple>

                                            </div>
                                            <div class="form-group">
                                                <label for="AttachFiles_@Model.LangCode">เอกสารแนบ (Image,Word,PDF,Excel,mp4)</label>
                                                @{ string st2 = "AttachFiles_" + Model.LangCode;}
                                                <input type="file" name="@st2" id="AttachFiles_@Model.LangCode" class="AttachFiles" data-show-upload="false" multiple>
                                                <label id="errorBlock_@Model.LangCode" class="col-12 col-form-label"></label>

                                            </div>

                                        </div>
                                    </div>}
</div>



<script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
     
    if ('@Model.FileName' != "" && '@Model.FilePath' != "") {
        $("#BannerSize_@Model.LangCode").fileinput({
                            initialPreview: ["<img src='@Url.Content("~/fileupload/" + Model.FilePath)' width='100%' class='file-preview-image'" + "alt='" + '@Model.OriginalFileName' + "' title='" + '@Model.OriginalFileName' + "'>"],
                            initialPreviewConfig: [{ caption: "@Model.OriginalFileName", downloadUrl: '@Url.Content("~/fileupload/" + Model.FilePath)', filename: "@Model.FileName", width: "80px" }],
                            showDelete: false,
                            showRemove: false,
                            overwriteInitial: true,
                            initialCaption: '@Model.OriginalFileName',
                            showUpload: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",

                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
                    }
                    else {
                        $(".fileImage").fileinput({
                            showUpload: false,
                            overwriteInitial: true,
                            showDelete: false,
                            showRemove: false,
                            elErrorContainer: "#errorBlock_@Model.LangCode",
                            maxFileCount: 1,
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            mainClass: " file-caption  kv-fileinput-caption"
                        });
        }
      if ($('#GalleryFiles_@Model.LangCode').length > 0) {
                        $('#GalleryFiles_@Model.LangCode').fileinput({
                            uploadUrl: "@Url.Action("UploadFile", "ActionScripts",new { Menuname = Model.Menuname})?MenuID=@Model.MenuID&CateID=5&RefID="+"@Model.SUB_GUID.ToString()",
                           // theme: 'explorer',
                            overwriteInitial: false,
                            uploadAsync: false,
                            showRemove: false,
                            showDelete: false,
                            showUpload: false,
                            initialPreviewAsData: true,
                            browseOnZoneClick: false,
                            dropZoneEnabled: true,
                            autoReplace: true,
                            elErrorContainer: "#errorBlock99",
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg'],
                            maxFileSize: 10240,
                            removeFromPreviewOnError: true,
                            mainClass: " file-caption  kv-fileinput-caption"

                        @if(Model.lstFiles != null && Model.lstFiles.Where(o => o.MediaCategoryID == 5 && o.RefID == Model.PostDetailID.ToString()).Count() > 0)
                        {
                            int t = 1;
                            var files = Model.lstFiles.Where(o => o.MediaCategoryID == 5 && o.RefID == Model.PostDetailID.ToString()).ToList();
                            @:, initialPreview: [
                            foreach (var a in files)
                            {
                                  var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                  var file1name = a.TitleName;
                                  if (t > 1)
                                  {
                                    @:,
                                  }
                                  @:'@file1path'
                                  t++;
                            }
                            @:],
                            t = 1;
                            @:initialPreviewConfig: [
                            foreach (var a in files)
                            {
                                var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                var file1name = a.TitleName;
                                if (t > 1)
                                {
                                    @:,
                                }
                                @: { caption: "@file1name", downloadUrl: '@file1path', filename: "@file1name", width: "80px", url: "@Url.Action("DeleteFiles", "ActionScripts", new { MediaFileID = a.MediaFileID})", key: '@a.MediaFileID' }
                                t++;
                            }
                            @:]
                        }})
                            .on("filebatchselected", function (event, files) {
                                $('#GalleryFiles_@Model.LangCode').fileinput("upload");
                            }).on('filebeforedelete', function () {
                                return new Promise(function (resolve, reject) {
                                    $.confirm({
                                        title: 'คุณต้องการลบข้อมูลนี้ใช่หรือไม่?',
                                        content: 'หากทำการลบแล้วจะไม่สามารถเรียกคืนได้ กรุณาตรวจสอบอย่างละเอียด!',
                                        type: 'red',
                                        buttons: {
                                            ok: {
                                                text: 'ใช่!',
                                                btnClass: 'btn-primary text-white',
                                                keys: ['enter'],
                                                action: function () {
                                                    resolve();
                                                }
                                            },
                                            cancel: {
                                                text: 'ไม่ใช่!',
                                                action: function () { }
                                            }
                                        }
                                    });
                                });
                            });
                    }

        if ($('#AttachFiles_@Model.LangCode').length > 0) {
         $('#AttachFiles_@Model.LangCode').fileinput({
                            uploadUrl: "@Url.Action("UploadFile", "ActionScripts",new { Menuname = Model.Menuname})?MenuID=@Model.MenuID&CateID=4&RefID="+"@Model.SUB_GUID.ToString()",
                            theme: 'explorer',
                            overwriteInitial: false,
                            uploadAsync: false,
                            showRemove: false,
                            showDelete: false,
                            showUpload: false,
                            initialPreviewAsData: true,
                            browseOnZoneClick: false,
                            dropZoneEnabled: false,
                            autoReplace: false,
                            elErrorContainer: "#errorBlock",
                            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif','svg','doc','docx','xls','xlsx','mp4','pdf'],
                            maxFileSize: 10240,
                             removeFromPreviewOnError: true,
                             preferIconicPreview: true,
                            mainClass: " file-caption  kv-fileinput-caption",
                             previewFileIconSettings: {
                                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                                'mov': '<i class="fa fa-file-video-o text-warning"></i>',
                                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                                'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                                'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                                'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                            },
                            previewFileExtSettings: {
                                'doc': function (ext) { return ext.match(/(doc|docx)$/i); },
                                'xls': function (ext) { return ext.match(/(xls|xlsx)$/i); },
                                'ppt': function (ext) { return ext.match(/(ppt|pptx)$/i); },
                                'zip': function (ext) { return ext.match(/(zip| rar | tar | gzip | gz | 7z)$/i); },
                                'htm': function (ext) { return ext.match(/(htm | html)$/i); },
                                'txt': function (ext) { return ext.match(/(txt | ini | csv | java | php | js | css)$/i); },
                                'mov': function (ext) { return ext.match(/(avi | mpg | mkv | mov | mp4 | 3gp | webm | wmv)$/i); },
                                'mp3': function (ext) { return ext.match(/(mp3 | wav)$/i); }
                            }

                        @if(Model.lstFilesAttach != null && Model.lstFilesAttach.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.PostDetailID.ToString()).Count() > 0)
                        {
                            int t = 1;
                            var files = Model.lstFilesAttach.Where(o => o.MediaCategoryID == 4 && o.RefID == Model.PostDetailID.ToString()).ToList();
                            @:, initialPreview: [
                            foreach (var a in files)
                            {
                                  var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                  var file1name = a.TitleName;
                                  if (t > 1)
                                  {
                                    @:,
                                  }
                                  @:'@file1path'
                                  t++;
                            }
                            @:],
                            t = 1;
                            @:initialPreviewConfig: [
                            foreach (var a in files)
                            {
                                var file1path = Url.Content("~/fileupload/" + a.PathFile);
                                var file1name = a.TitleName;
                                if (t > 1)
                                {
                                    @:,
                                }
                                @: { caption: "@file1name", downloadUrl: '@file1path', filename: "@file1name", width: "80px", url: "@Url.Action("DeleteFiles", "ActionScripts", new { MediaFileID = a.MediaFileID})", key: '@a.MediaFileID' }
                                t++;
                            }
                            @:]
                        }})
                            .on("filebatchselected", function (event, files) {
                                $('#AttachFiles_@Model.LangCode').fileinput("upload");
                            }).on('filebeforedelete', function () {
                                return new Promise(function (resolve, reject) {
                                    $.confirm({
                                        title: 'คุณต้องการลบข้อมูลนี้ใช่หรือไม่?',
                                        content: 'หากทำการลบแล้วจะไม่สามารถเรียกคืนได้ กรุณาตรวจสอบอย่างละเอียด!',
                                        type: 'red',
                                        buttons: {
                                            ok: {
                                                text: 'ใช่!',
                                                btnClass: 'btn-primary text-white',
                                                keys: ['enter'],
                                                action: function () {
                                                    resolve();
                                                }
                                            },
                                            cancel: {
                                                text: 'ไม่ใช่!',
                                                action: function () { }
                                            }
                                        }
                                    });
                                });
                            });
                    }

    });
</script>
