﻿@model List<Core.DAL.Models.PostsByLanguage>
@{
    int row = 1;
    string role = (String)ViewBag.Role;

}
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
            <div class="btn-group float-md-right">
                <a href="@Url.Action("Manage", new { menuname = ViewBag.Menuname })" class="btn btn-social btn-min-width mr-1 mb-1 btn-facebook"><i class="la la-plus-square"></i> เพิ่ม @ViewBag.Title &nbsp;&nbsp;</a>
            </div>
    </div>
</div>
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            
                                <div class="row justify-content-center">
                                    <label class="col-md-3 control-label text-right">เลือกลักษณะแสดงผล</label>
                                    <div class="form-group col-md-4 col-12">
                                        @Html.DropDownList("SortingBy", (SelectList)ViewBag.Getsorting, new Dictionary<string, object> { { "id", "SortingBy" }, { "class", "custom-select" }, { "data-menu", ViewBag.MenuID }, { "data-id", Model.FirstOrDefault().MenuDisplayID } })

                                    </div>
                                    <div class="form-group col-md-5 col-12">
                                        @Html.CheckBox("SortingType", Model.FirstOrDefault().SortingType, new Dictionary<string, object> { { "id", "SortingType" }, { "class", "SortingType" }, { "data-menu", ViewBag.MenuID }, { "data-id", Model.FirstOrDefault().MenuDisplayID } })
                                    </div>
                                </div>
                            
                            <div class="row justify-content-center">
                                <div class="form-group col-md-8 col-12">
                                    <input type="text" id="SearchString" class="form-control" placeholder="คำค้นหาชื่อ @ViewBag.Title...">
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <button class="btn btn-outline-info mb-3" id="SearchBtn">
                                        <i class="ft-search"></i>
                                        <span>ค้นหา</span>
                                    </button>

                                </div>
                            </div>
                            <form asp-action="Itemslist" asp-controller="Articles" method="POST" data-ajax="true" data-ajax-success="onSuccessLoadDataTable" data-ajax-update="#UpdateInfoList" data-ajax-failure="onFailure" data-ajax-begin="loader">

                                @await Component.InvokeAsync("LanguageTab")

                                <div class="tab-content px-1 pt-1">
                                    @foreach (var tab in Model)
                                    {
                                        <div role="tabpanel" class="tab-pane animated pulse @tab.SelectedTabs" id="tab_@tab.LanguageCode" aria-expanded="true" aria-labelledby="tab_@tab.LanguageCode">
                                            <div class="table-responsive" id="tab-content_@tab.LanguageCode">
                                                <table class="table table-bordered table-middle dataTable" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 50px;">#</th>
                                                            <th style="width: 50px;">Image</th>
                                                            <th class="text-center">รายการ</th>
                                                            <th style="width: 80px;">การกระทำ</th>
                                                            <th style="width: 150px;">การแก้ไข</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in tab.PostDetailLst)
                                                        {
                                                            row++;
                                                            <tr id="@(item.LangCode == "TH" ? "row_" + item.PostID : "row_" + item.PostID + "_en")" class="row_@row" data-id="@item.PostID">
                                                                <td>

                                                                    <div class="col-lg-12" data-id="@item.PostID" data-type="POSTS">
                                                                        @Html.TextBox("SortOrder_N", item.Sequence, new Dictionary<string, object> { { "class", "SortOrder_N number form-control" }, { "data-type", "POSTS" }, { "data-menu", ViewBag.Title }, { "data-id", item.PostID }, { "style", "width: 50px;" } })
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    @if (!string.IsNullOrEmpty(item.FilePath))
                                                                    {
                                                                        <img title="@item.OriginalFileName" src="@Url.Content("~/fileupload/"+item.FilePath)" style="width:15vh;" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img title="noimage" src="@Url.Content("~/image/noimage.svg")" style="width:10vh;" />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        @Html.Raw(item.Title)
                                                                    </b>
                                                                    @if (!string.IsNullOrEmpty(item.UrlLink))
                                                                    {
                                                                        <br /><small>@item.UrlLink</small> <a onclick="copyToClipboard('@item.UrlLink')"><i class="la la-copy" alt="copy link"></i></a>
                                                                    }
                                                                </td>

                                                                <td>
                                                                    
                                                                        <div class="form-group">
                                                                            @Html.CheckBoxFor(model => item.Actived, new Dictionary<string, object> { { "class", "bt-status" }, { "data-type", "POSTS" }, { "data-menu", ViewBag.Menuname }, { "data-id", item.PostID } })
                                                                        </div>
                                                                        <div class="btn-group text-center">
                                                                            <a href="@Url.Action("Manage", new { menuname = ViewBag.Menuname, ID = item.PostID})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                                                            <div class="or or-sm"></div>
                                                                            <a class="btn btn-danger btn-sm text-white bt-delete" data-id="@item.PostID" data-type="POSTS" data-menu="@ViewBag.Menuname" title="Remove"><span class="la la-trash-o"></span></a>
                                                                        </div>
                                                                    
                                                                </td>

                                                                <td style="font-size: 10px;">
                                                                    <p data-order="@item.UpdatedDate.Ticks"> @item.UpdatedDate.ToString("dd MMM yyyy HH:mm น.", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH")) @item.UpdatedBy</p>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th style="width: 50px;">#</th>
                                                            <th style="width: 50px;">Image</th>
                                                            <th class="text-center">รายการ</th>
                                                            <th style="width: 80px;">การกระทำ</th>
                                                            <th style="width: 150px;">การแก้ไข</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>

    <script type="text/javascript">
$(function () {

                @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                   @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
                   @: $('.la.la-pencil-square-o').each(function() { $(this).removeClass('la la-pencil-square-o');$(this).addClass('icon la la-eye');});
               }
                var userDataTable = $('.table').DataTable({
                    "order": [],
                    "columnDefs": [
                        {
                            "targets": [1],
                            "orderable": false
                        },
                        {
                            "targets": 0, // Column index to apply the custom sorting
                            "orderDataType": "dom-text",
                            "type": "num",
                            "orderSequence": ["asc", "desc"]
                        },
                        {
                            "targets": 3, // Column index to apply the custom sorting
                            "orderDataType": "dom-checkbox",
                        },
                        { "orderDataType": "dom-date", "targets": 4 }

                    ],
                    "searching": true,
                    "paging": true
                });

                $.fn.dataTable.ext.order['dom-input'] = function (settings, col) {
                    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                        return $('input', td).val();
                    });
                }
                $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
                    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                        return $('input', td).prop('checked') ? '1' : '0';
                    });
                }
                $.fn.dataTable.ext.order['dom-date'] = function (settings, col) {
                    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                        return $('p', td).data('order');
                    });
                };
                $('body').on('click', '#SearchBtn', function () {
                    userDataTable.search($('#SearchString').val()).draw();

                });
                $('#SearchString').keypress(function (e) {
                    var key = e.which;
                    if (key == 13) {
                        userDataTable.search($('#SearchString').val()).draw();
                        return false;
                    }
                });

        });</script>

}