﻿@model List<Core.DAL.Models.HAISurveyor>
@{
    ViewBag.Title = "ข้อมูลทำเนียบผู้สำรวจ";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="result">
            <div class="thumbnail">
                <img src="@item.FilePath">
            </div>
            <dl class="detail row">
                <h3>@item.Fullname</h3>
                <dt class="col-sm-3">Code : </dt>
                <dd class="col-sm-9">@item.HAICode</dd>
                <dt class="col-sm-3"><i class="fas fa-hospital"></i> ระดับผู้เยี่ยมสำรวจ </dt>
                <dd class="col-sm-9">@item.LevelName</dd>
            </dl>

        </div>

    </div>
}
