﻿<form asp-action="ListHospitals" asp-controller="Hospitals" method="POST" data-ajax="true" data-ajax-begin="loadingUI" data-ajax-success="onSuccessLoadDataTable('ListTable_TH')" data-ajax-update="#ListUpdate_TH" data-ajax-failure="onFailure">
    <div class="search-box">
        <h2 class="">ค้นหาผู้เยี่ยมสำรวจ สรพ.</h2>
        <h3 class="hl-ha-u-l">HAI Surveyor</h3>
        <div class="row g-3">
            <div class="col-8">
                <label for="" class="visually-hidden"></label>
                <input name="searchString" type="text" class="form-control" id="" placeholder="ค้นหา.. ชื่อ-นามสกุล">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-search"></i> ค้นหา</button>
            </div>
        </div>
    </div>
</form>
<div class="search-result">
    <div class="row">
        <h3 class="hl-ha-u-l">ผลการค้นหา</h3>
    </div>
    <div class="box-body block-msg-animation" id="ListUpdate_@ViewBag.LangID">
    </div>
    
</div>
