﻿@model PaginatedList<Core.DAL.Models.StaffDetail>
@using Core.Common;
@{
    //  ViewBag.Title = "ประเมินรับรอง";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string emailTXT = LangID == "TH" ? TextCommon.TH.TXT_EMAIL : TextCommon.EN.TXT_EMAIL;
    string searchTXT = LangID == "TH" ? TextCommon.TH.TXT_SEARCH : TextCommon.EN.TXT_SEARCH;
    string rootTXT = LangID == "TH" ? TextCommon.TH.TXT_ROOTDEPARTMENT : TextCommon.EN.TXT_ROOTDEPARTMENT;
    string positionTXT = LangID == "TH" ? TextCommon.TH.TXT_POSITION : TextCommon.EN.TXT_POSITION;
    string resultTXT = LangID == "TH" ? TextCommon.TH.TXT_RESULT_SEARCH : TextCommon.EN.TXT_RESULT_SEARCH;
    string attachTXT = LangID == "TH" ? TextCommon.TH.TXT_ATTACH : TextCommon.EN.TXT_ATTACH;
}
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            @if (Model.Count() > 0)
            {
                var list_level1 = Model.Where(o => o.Levels == 1).ToList();
                if (list_level1.Count() > 0)
                {
                    <div class="clearfix">

                        @foreach (var group in list_level1.GroupBy(o => o.CategoryName))
                        {
                            <div class="fancy-title title-border title-center">
                                <h3>@group.Key</h3>
                            </div>

                            <div class="row">
                                @foreach (var item in list_level1.Where(o => o.CategoryName == group.Key))
                                {
                                    <div class="col-lg-3 col-md-3 bottommargin">

                                        <div class="team">
                                            <div class="team-image">
                                                @if (!string.IsNullOrEmpty(item.FilePath))
                                                {
                                                    <img src="@item.FilePath" title="@item.Fullname">
                                                }
                                                else
                                                {
                                                    <img src="https://via.placeholder.com/360x530" title="@item.Fullname">

                                                }
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>
                                                        @item.Fullname

                                                    </h4>
                                                    <span>
                                                        @item.Position
                                                    </span>
                                                    @if (!string.IsNullOrEmpty(item.Email))
                                                    {
                                                        <span style="color:#000;"><i class="icon-email3"></i> : @item.Email</span>
                                                    }
                                                    @if (!string.IsNullOrEmpty(item.Telephone))
                                                    {
                                                        <span style="color:#000;"><i class="icon-call"></i> : @item.Telephone</span>
                                                    }
                                                </div>
                                               
                                                @foreach (var itemfile in item.lstFilesAttach)
                                                {
                                                    <a href="@itemfile.PathFile" target="_blank" class="social-icon si-light si-stripe" title="CV">
                                                        <i class="icon-print"></i>
                                                        <i class="icon-print"></i>
                                                    </a>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>

                        }
                    </div>
                }
                var list_level2 = Model.Where(o => o.Levels == 2).ToList();
                if (list_level2.Count() > 0)
                {
                    <div class="divider divider-right"><i class="icon-circle"></i></div>
                    <div class="row">

                        @foreach (var group in list_level2.GroupBy(o => o.CategoryName))
                        {
                            <div class="fancy-title title-border title-center">
                                <h3>@group.Key</h3>
                            </div>

                            <div class="row">
                                @foreach (var item in list_level2.Where(o => o.CategoryName == group.Key))
                                {
                                    <div class="col-lg-3 col-md-6 bottommargin">

                                        <div class="team">
                                            <div class="team-image">
                                                @if (!string.IsNullOrEmpty(item.FilePath))
                                                {
                                                    <img src="@item.FilePath" title="@item.Fullname">
                                                }
                                                else
                                                {
                                                    <img src="https://via.placeholder.com/360x530" title="@item.Fullname">

                                                }
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>@item.Fullname</h4><span>@item.Position</span>
                                                    @if (!string.IsNullOrEmpty(item.Email))
                                                    {
                                                        <span style="color:#000;"><i class="icon-email3"></i> : @item.Email</span>
                                                    }
                                                    @if (!string.IsNullOrEmpty(item.Telephone))
                                                    {
                                                        <span style="color:#000;"><i class="icon-call"></i> : @item.Telephone</span>
                                                    }
                                                </div>
                                                @*<a href="mailto:@item.Email" class="social-icon si-light si-email3" title="Email">
                                                    <i class="icon-email3"></i>
                                                    <i class="icon-email3"></i>
                                                </a>
                                                <a href="tel:@item.Telephone" class="social-icon si-light si-call" title="Call">
                                                    <i class="icon-call"></i>
                                                    <i class="icon-call"></i>
                                                </a>*@
                                                @foreach (var itemfile in item.lstFilesAttach)
                                                {
                                                    <a href="@itemfile.PathFile" target="_blank" class="social-icon si-light si-stripe" title="CV">
                                                        <i class="icon-print"></i>
                                                        <i class="icon-print"></i>
                                                    </a>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>

                        }
                    </div>
                }
                var list_level3 = Model.Where(o => o.Levels == 3).ToList();
                if (list_level3.Count() > 0)
                {
                    <div class="divider divider-right"><i class="icon-circle"></i></div>
                    <div class="row">

                        @foreach (var group in list_level3.GroupBy(o => o.CategoryName))
                        {
                            <div class="fancy-title title-border title-center">
                                <h3>@group.Key</h3>
                            </div>

                            <div class="row">
                                @foreach (var item in list_level3.Where(o => o.CategoryName == group.Key))
                                {
                                    <div class="col-lg-3 col-md-6 bottommargin">

                                        <div class="team">
                                            <div class="team-image">
                                                @if (!string.IsNullOrEmpty(item.FilePath))
                                                {
                                                    <img src="@item.FilePath" title="@item.Fullname">
                                                }
                                                else
                                                {
                                                    <img src="https://via.placeholder.com/360x530" title="@item.Fullname">

                                                }
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>@item.Fullname</h4><span>@item.Position</span>
                                                    @if (!string.IsNullOrEmpty(item.Email))
                                                    {
                                                        <span style="color:#000;"><i class="icon-email3"></i> : @item.Email</span>
                                                    }
                                                    @if (!string.IsNullOrEmpty(item.Telephone))
                                                    {
                                                        <span style="color:#000;"><i class="icon-call"></i> : @item.Telephone</span>
                                                    }

                                                </div>
                                                @*<a href="mailto:@item.Email" class="social-icon si-light si-email3" title="Email">
                                                    <i class="icon-email3"></i>
                                                    <i class="icon-email3"></i>
                                                </a>
                                                <a href="tel:@item.Telephone" class="social-icon si-light si-call" title="Call">
                                                    <i class="icon-call"></i>
                                                    <i class="icon-call"></i>
                                                </a>*@
                                                @foreach (var itemfile in item.lstFilesAttach)
                                                {
                                                    <a href="@itemfile.PathFile" target="_blank" class="social-icon si-light si-stripe" title="CV">
                                                        <i class="icon-print"></i>
                                                        <i class="icon-print"></i>
                                                    </a>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>

                        }
                    </div>
                }
            }
            else
            {
                <center>  Coming Soon</center>
            }

        </div>

    </div>

</section>
