﻿@model Core.DAL.Models.RSSFeedDetail
@using HtmlHelpers.BeginCollectionItemCore;
@{ Layout = null;
    string SelectedTabs = Model.LangCode == "TH" ? "active" : ""; }
<div role="tabpanel" class="tab-pane animated pulse @SelectedTabs" id="tab_@Model.LangCode" aria-expanded="true" aria-labelledby="tab_@Model.LangCode">

    @using (Html.BeginCollectionItem("lstRSSFeed"))
    {
@Html.HiddenFor(model => Model.RSSFeedDetailID)
                @Html.HiddenFor(model => Model.LangCode)
                                @Html.HiddenFor(model => Model.RSSFeedID)
                                                @Html.HiddenFor(model => Model.MenuID)
                                                                @Html.HiddenFor(model => Model.Menuname)
                                                                                <div class="row justify-content-center">
                                                                                  
                                                                                    <div class="col-md-8 col-12">
                                                                                        <div class="form-group">
                                                                                            @if (Model.LangCode == "TH")
                                                                                            {
                                                                            <label for="RSSFeedName_@Model.LangCode">หัวข้อ <small class="text-danger"> *กรุณาระบุข้อมูล</small></label>
                                                                                                @Html.TextBoxFor(model => Model.RSSFeedName, new Dictionary<string, object> { { "id", "RSSFeedName_" + Model.LangCode }, { "class", "form-control" }, { "data-validation-required-message", "กรุณาระบุข้อมูล" }, { "placeholder", "หัวข้อ" } }) }
                                                                                            else
                                                                                            {
                                                                            <label for="RSSFeedName_@Model.LangCode">หัวข้อ </label>
                                                                                                @Html.TextBoxFor(model => Model.RSSFeedName, new { @id = "RSSFeedName_" + Model.LangCode, @class = "form-control", @placeholder = "หัวข้อ" })}
                                                                                            <div class="col-lg-12">
                                                                                                @Html.ValidationMessageFor(model => model.RSSFeedName, null, new { @class = "text-danger" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                                <label for="RSSFeedDescription_@Model.LangCode">รายละเอียด</label>
                                                                                                @Html.TextAreaFor(model => Model.RSSFeedDescription, new Dictionary<string, object> { { "id", "RSSFeedDescription_" + Model.LangCode }, { "class", "form-control" }, { "placeholder", "รายละเอียด" } })
                                                                                            </div>
                                                                                        <div class="form-group">
                                                                                            <label for="Links_@Model.LangCode">RSS Feed URL</label>
                                                                                            @Html.TextBoxFor(model => Model.RSSFeedLink, new Dictionary<string, object> { { "id", "Links_" + Model.LangCode }, { "class", "form-control Lin" }, { "type", "url" }, { "placeholder", "RSS Feed URL : http://google.com/new.xml" } })
                                                                                            <div class="col-sm-12">
                                                                                                @Html.ValidationMessageFor(model => model.RSSFeedLink, null, new { @style = "color:red;" })
                                                                                            </div>
                                                                                        </div>
                                                                                      
                                                                                    </div>
                                                                                </div>}
</div>
