﻿@model Core.DAL.Models.BannerDetail
@*@using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/views/Shared/_Layout_Blank.cshtml";
}
<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-responsive {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
    }
</style>
<style>
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

    <img src="@Model.FilePath" alt="@Model.BannerName" class="img-responsive centered-image">


<div class="footer">
    <div class="content">

        <a href="@Url.Action("Index", "Home", new { Menuname = "หน้าหลัก" })" class="button button-rounded button-reveal button-large button-red text-end">เข้าสู่เว็บไซต์ </a>
        @if (!string.IsNullOrEmpty(Model.BannerLink))
        {
            <a href="@Model.BannerLink" class="button button-rounded button-reveal button-large button-dirtygreen">อ่านต่อ </a>
        }
    </div>
</div>