body {
    padding: 0;
    margin: 0
}

.ph-slideshow-container {
    background: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0
}

.ph-slideshow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10001
}

@media only screen and (min-width:1024px) {
    .ph-slideshow {
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        margin-top: -300px;
        margin-left: -500px
    }
}

.ph-slideshow .prev {
    position: absolute;
    left: 10px;
    top: 40%;
    margin-top: -60px;
    width: 40px;
    height: 40px;
    background: url(img/arrow-left.png) center center no-repeat;
    cursor: pointer;
    color: transparent;
    text-indent: -100px;
    overflow: hidden;
    z-index: 10002
}

@media only screen and (min-width:1024px) {
    .ph-slideshow .prev {
        top: 50%;
        left: -60px;
        margin-top: -20px
    }
}

.ph-slideshow .next {
    position: absolute;
    right: 10px;
    top: 40%;
    margin-top: -60px;
    width: 40px;
    height: 40px;
    background: url(img/arrow-right.png) center center no-repeat;
    cursor: pointer;
    color: transparent;
    text-indent: -100px;
    overflow: hidden;
    z-index: 10002
}

@media only screen and (min-width:1024px) {
    .ph-slideshow .next {
        top: 50%;
        right: -60px;
        margin-top: -20px
    }
}

.ph-slideshow .close {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 20px;
    z-index: 10005;
    font-family: Prompt,Helvetica,Arial,sans-serif font-weight: 700;
    margin: 10px;
    cursor: pointer;
    transform: scaleX(1.4)
}

.ph-slide {
    background-color: #fff;
    font-family: Prompt,Helvetica,Arial,sans-serif font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: none;
    z-index: 10001
}

@media only screen and (min-width:1024px) {
    .ph-slide {
        width: 1000px;
        height: 600px;
        margin: 0 auto
    }
}

.ph-slide.visible {
    display: block
}

@media only screen and (min-width:1024px) {
    .ph-slide.visible {
        display: -ms-flexbox;
        display: flex
    }
}

.ph-slide:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 30px;
    content: ""
}

@media only screen and (min-width:1024px) {
    .ph-slide:after {
        width: 140px;
        height: 50px
    }
}

.ph-slide .ph-slide-image {
    background-position: center center;
    background-size: cover;
    /*    background-size: 100% 100%;*/
    width: 100%;
    height: 40%;
    /*    margin-left:30px;*/
    margin-left: 0px !important;
}

@media only screen and (min-width:1024px) {
    .ph-slide .ph-slide-image {
        -ms-flex: 1;
        flex: 1;
        -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
        height: 100%;
        position: relative;
        z-index: 0
    }

        .ph-slide .ph-slide-image.right {
            background-position: center right
        }

        .ph-slide .ph-slide-image.left {
            background-position: center left
        }

        .ph-slide .ph-slide-image:after {
            top: 0;
            bottom: 0;
            content: "";
            width: 100px;
            background-color: #fff
        }
}

.ph-slide .ph-slide-content {
    padding: 20px 20px 40px 20px;
    overflow-y: auto
}

@media only screen and (min-width:1024px) {
    .ph-slide .ph-slide-content {
        -ms-flex: 1;
        flex: 1;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
        height: 100%;
        padding: 0;
        position: relative;
        z-index: 1;
        display: table-cell;
        vertical-align: middle
    }

        .ph-slide .ph-slide-content .ph-slide-content-inner {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 40px 0 20px
        }
}

.ph-slide .ph-slide-content h6 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin: 0 0 10px 0;
    color: #18693a
}

@media only screen and (min-width:1024px) {
    .ph-slide .ph-slide-content h6 {
        margin: 30px 0 10px 0;
        font-size: 13px
    }
}

.ph-slide .ph-slide-content h3 {
    font-size: 25px;
    line-height: 1.3em;
    color: #333;
    margin: 0 0 20px
}

@media only screen and (min-width:1024px) {
    .ph-slide .ph-slide-content h3 {
        font-size: 35px
    }
}

.ph-slide .ph-slide-content p {
    font-size: 15px;
    line-height: 1.5em
}

@media only screen and (min-width:1024px) {
    .ph-slide .ph-slide-content p {
        font-size: 17px
    }
}

.ph-slide .slide-number {
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    bottom: 5px;
    background: #18693a;
    color: #fff;
    text-align: center;
    padding: 6px
}

@media only screen and (min-width:1024px) {
    .ph-slide .slide-number {
        bottom: -50px
    }
}
