﻿@model Core.DAL.Models.ContentDetail
@{
    string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = Lang })
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>
</section>
<section id="content" style="margin-bottom: 0px;">
    <div class="content-wrap">
        <div class="container clearfix">
            @if (Model != null && !string.IsNullOrEmpty(Model.HtmlContent))
            {
                @Html.Raw(Model.HtmlContent)
                @if (Model.lstFiles.Count() > 0)
                {
                    <div class="ct-download">
                        <h6>เอกสารแนบ</h6>
                        <div class="row">
                            @foreach (var item in Model.lstFiles)
                            {
                                if (!string.IsNullOrEmpty(item.PathFile))
                                {
                                    if ((string.IsNullOrEmpty(item.FileExtension) ? "" : item.FileExtension.ToLower()) == "application/pdf")
                                    {
                                        <div class="col-12 col-md-6 col-icon mb-0">
                                            <ol class="list-group list-group-flush">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <i class="fas fa-file-download bg-blue"></i>
                                                        <div class="text-bold">@item.FileNameOri</div>
                                                        <a href="#" class="toggleView" onclick="viewPdf('@item.PathFile');">View</a>
                                                        <a href="#" class="toggleView" style="display:none;">Close</a>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12 col-md-6 col-icon mb-0">
                                            <ol class="list-group list-group-flush">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <i class="fas fa-file-download bg-blue"></i>
                                                        <div class="text-bold">@item.FileNameOri</div>
                                                        <a href="@item.PathFile">ดาวน์โหลด</a>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <div id="div_embed_pdf" class="row toggleView" style="display:none">
                            <div class="mt-3 pb-3"><embed id="div_content_embed_pdf" src="" width="100%" height="750"></div>
                        </div>
                    </div>
                }
            }
            else
            {
                <center>  Coming Soon</center>
            }
            <div class="divider"><i class="icon-circle"></i></div>
        </div>

    </div>

</section>

@section Scripts {


    <script type="text/javascript">function viewPdf(path) {
            var arrt_div_embed = "#div_embed_pdf";
            $("#div_content_embed_pdf").attr("src", path);
            $("#div_embed_pdf").toggle();

        }</script>

}