﻿@model PaginatedList<Core.DAL.Models.BannerDetail>
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";

}
<style>
    .mens {
        list-style: none;
        border-bottom: 1px solid #EEE;
        line-height: 40px;
        text-align: center;
    }

    li.activeFilter {
        background-color: #BC1414;
        color: #fff;
    }
    .activeFilter a {
        color: #fff;
    }
    .activeFilter a:hover {
        color: #333;
    }
    .bg_gray {
        background-color: #F9F9F9;
    }
</style>
<!-- Start: Subpage Banner -->
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.Title2</h1>
        <ol class="breadcrumb">
            @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title2</li>
        </ol>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section id="content" style="margin-bottom: 0px;">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="sidebar nobottommargin">
                <div class="sidebar-widgets-wrap">
                    <div class="widget clearfix">
                        @await Component.InvokeAsync("Category", new { MenuID = (int)ViewBag.CategoryMenuID, LangID = LangID })
                    </div>
                </div>
            </div>
            <div class="postcontent nobottommargin col_last">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        if (!string.IsNullOrEmpty(item.BannerLink))
                        {
                            <article class="portfolio-item @item.CategoryName">
                                <div class="portfolio-image">
                                    <a href="@Url.Action("Index", "RedirectPage", new { ID = item.BannerDetailID, url = item.BannerLink })" target="_blank">
                                        <img src="@item.FilePath" alt="@item.BannerName">
                                    </a>
                                </div>
                                <div class="portfolio-desc">
                                    <h3><a href="@item.BannerLink">@Html.Truncate(item.BannerName, 20)</a></h3>
                                    <span>@Html.Truncate(item.BannerDescription, 20)</span>
                                </div>
                            </article>
                        }
                        else
                        {
                            <article class="portfolio-item @item.CategoryName">
                                <div class="portfolio-image">
                                    <a href="#">
                                        <img src="@item.FilePath" alt="@item.BannerName">
                                    </a>
                                </div>
                                <div class="portfolio-desc">
                                    <h3><a href="#">@Html.Truncate(item.BannerName, 20)</a></h3>
                                    <span>@Html.Truncate(item.BannerDescription, 20)</span>
                                </div>
                            </article>
                        }
                       
                    }
                }
                else
                {
                    <center>  Coming Soon</center>
                }

            </div>
        </div>
    </div>
</section>
