﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Core.Common
@model Core.DAL.Models.ContentDetail
@inject IViewLocalizer Localizer
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string ReadMore = LangID =="EN"?"Read More":"อ่านต่อ";

}
@*ViewBag.Title = Localizer["HA"];*@
<style>
    body .fc {
        font-size: 0.6em !important;
    }
</style>
<!-- Start: Main Banner -->
@await Component.InvokeAsync("BannerMain", new { LangID = LangID })

<!-- End: Main Banner -->
<!-- Start: Shortcut -->
<section id="content">
    <div class="content-wrap p-2">

        <div class="container">
            <div class="row gx-5 col-mb-80">
                <div class="col-lg-8 col-12">
                    <!-- Start: External Links -->
                    @await Component.InvokeAsync("WebLink", new { LangID = LangID })
                    @await Component.InvokeAsync("BannerMini", new { LangID = LangID })

                </div>
                <div class="col-lg-4 col-12">
                    @{
                        Core.DAL.Models.Tm_Menu events = MenuFrontData.Get.ByID(18, LangID);
                        string MenunameEvents = events.FPermalink;
                        string MenunameEventsN = events.Menuname;
                        List<Core.DAL.Models.CalendarDetail> ThisMonthEventSWU = CalendarData.Get.ListCalendarCurrent(LangID, 18);
                        //List <Core.DAL.Models.CalendarDetail> EventSWU = CalendarData.Get.ListCalendar(LangID, 18).Where(o=>o.EventDate.ToString("yyyyMM") = DateTime.Now.ToString("yyyyMM")).OrderByDescending(o=>o.EventDate).ThenByDescending(o=>o.EventEndDate).Take(4).ToList();
                    }
                    <div class="card">
                        <div class="card-header" style="font-size: 1.5em;">
                            @MenunameEventsN
                            <a href="@Url.Action("Index","Events",new { Menuname = MenunameEvents,LangID=LangID})" style="color: #fff;"><i class="i-circled i-light icon-calendar" style="position: absolute;right: 0;"></i></a>
                        </div>
                        <div class="card-body pt-5">
                            <div class="clearfix"></div>
                            <div id="post-list-footer">
                                @foreach (var item in ThisMonthEventSWU)
                                    {
                                <div class="spost clearfix">
                                    <div class="entry-image" style="padding-left: 10px;">
                                        <a href="@item.EventLink" target="_blank" class="nobg">
                                            <span style="width: 60px;height: 60px;" class="mt-0 badge badge-calendar float-right">@item.EventDate.ToString("dd") <br><small style="font-size:14px;">@item.EventDate.ToString("MMM") </small></span>
                                        </a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4>
                                                <a href="@item.EventLink" target="_blank">
                                                    @Html.Truncate(item.EventName,70)
                                                </a>
                                            </h4>
                                            <small>
                                                @Html.Truncate(item.EventDescription, 50)

                                            </small>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>@item.EventDate.ToString("dd MMM yyyy") - @item.EventEndDate.ToString("dd MMM yyyy")</li>
                                        </ul>
                                    </div>
                                </div>
                                    }
                              

                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Index","Events",new { Menuname = MenunameEvents,LangID=LangID})" class="nobg">
                                @ReadMore
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End: Shortcut -->
@await Component.InvokeAsync("PostNews", new { LangID = LangID })
<div class="section parallax parallax-bg nomargin notopborder pt-2 pb-2" data-rellax-speed="2" style="background: url('../../canvas/images/parallax/2.jpg') center center; padding: 100px 0; " data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -200px;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-7 col-lg-8">

                    @await Component.InvokeAsync("EvnetList", new { LangID = LangID })

            </div>
            @{
                Core.DAL.Models.Tm_Menu m = MenuFrontData.Get.ByID(61, LangID);
                string MenunameAbout = m.FPermalink;
                string MenunameAboutN = m.Menuname;
                string ContentsAbout = LangID=="EN" ? "SWU Graduate School provides education covering many fields of science at the graduate level, consisting of fields of study with various dimensions, such as music. sports physiology Fields of study that remain traditional, such as education, history or fields of study that are complete with technology, such as engineering biomolecules Overall, the Graduate School oversees 26 doctoral degree programs, 71 master's degree programs, and 9 diploma programs to meet the educational goals of students interested in pursuing higher education. looking for knowledge science of art or advanced technology Under a learning environment with more than 5,000 students." : "บัณฑิตวิทยาลัย มศว. จัดการศึกษาครอบคลุมศาสตร์หลายแขนงในระดับบัณฑิตศึกษาประกอบไปด้วยสาขาวิชาที่มีมิติ หลากหลายเช่น ดุริยางคศิลป์ สรีรวิทยาทางการกีฬา สาขาวิชาที่คงความดั้งเดิม เช่น ศึกษาศาสตร์ ประวัติศาสตร์ หรือสาขาวิชาที่เพียบพร้อมด้วยเทคโนโลยี เช่น วิศวกรรมศาสตร์ อณูชีวโมเลกุล โดยรวมแล้วบัณฑิตวิทยาลัยควบคุม ดูแล หลักสูตรระดับปริญญาเอก 26 หลักสูตร ปริญญาโท 71 หลักสูตร และหลักสูตรประกาศณียบัตร 9 หลักสูตร เพื่อตอบสนองเป้าหมายการศึกษาของนิสิตผู้สนใจศึกษาต่อในระดับสูง มองหาองค์ความรู้ ศาสตร์แห่งศิลป์ หรือวิทยาการที่ล้ำหน้า ภายใต้สภาพแวดล้อมแห่งการเรียนรู้ที่มีนิสิตมากกว่า 5,000 คน";
            }
            <div class="col-12 col-xl-5 col-lg-4">
                <div class="fancy-title title-center title-dotted-border topmargin">
                    <h3>@MenunameAboutN</h3>
                </div>
                <div class="row bottommargin-sm clearfix" style="background-color:#fff;">
                    <div class="col-xs-12 col-lg-12 bottommargin">
                        <div class="ipost clearfix">
                            <div class="entry-image">
                                @{
                                    string pathAbout_img = "http://grad.swu.ac.th/images/3.jpg";
                                }
                                <img class="image_fade" src="@pathAbout_img" alt="Image" style="opacity: 1;">
                            </div>
                            <div class="entry-title">
                                <h3><a href="@Url.Action("Index","AboutUs",new { MenuName=MenunameAbout,LangID=LangID})">@MenunameAboutN</a></h3>
                            </div>

                            <div class="entry-content">
                                <p>@ContentsAbout</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
<!-- End: External Links -->
@await Component.InvokeAsync("Popup", new { LangID = LangID })
@section SecAjaxConfig{
    @*<script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>*@
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
        <script src="@Url.Content("~/lib/lightbox/jquery.touchswipe.min.js")"></script>*@

    @*<script src="@Url.Content("~/libs/fullcalendar/lib/moment.min.js")"></script>
        <script src="@Url.Content("~/libs/fullcalendar/lib/fullcalendar.min.js")"></script>
        <script src="@Url.Content("~/libs/fullcalendar/lib/daygrid.min.js")"></script>
        <script src="@Url.Content("~/libs/fullcalendar/lib/timegrid.min.js")"></script>
        <script src="@Url.Content("~/libs/fullcalendar/lib/interactions.min.js")"></script>
        <link href="@Url.Content("~/libs/fullcalendar/lib/fullcalendar.min.css")" rel='stylesheet' />
        <link href="@Url.Content("~/libs/fullcalendar/lib/fullcalendar.print.css")" rel='stylesheet' />*@
}
@section Scripts
{

    <script>$(document).ready(function () {


        });</script>
}