﻿<footer class="footer footer-static footer-dark navbar-shadow  navbar-border ">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">© สงวนลิขสิทธิ์ 2566 : บัณฑิตวิทยาลัย มหาวิทยาลัยศรีนครินทรวิโรฒ v2.0 </span>
        <span class="float-md-right d-none d-lg-block">
            <span id="scroll-top"></span>
        </span>
    </p>
</footer>