﻿@using System.Threading
@using System.Security.Claims
@{

    string FullName = ((ClaimsIdentity)User.Identity).FindFirst("FullName").Value;
}
<nav
    class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow navbar-semi-dark  fixed-top navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-lg-none mr-auto"><a
                        class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                            class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img class="brand-logo" alt="logo" src="@Url.Content("~/app-assets/images/Logo/android-icon-192x192.png?v=1")">
                        <h3 class="brand-text">Back Office</h3>
                    </a>
                </li>
                @*<li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0"
                    data-toggle="collapse"><i class="toggle-icon ft-toggle-right font-medium-3 white"
                    data-ticon="ft-toggle-right"></i></a></li>*@
                <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                        data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button">
                            <span class="pro-user-name ml-1">
                                @FullName
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                            @*<a href="@Url.Action("Profile","Users")" class="dropdown-item notify-item">
                                <i class="ft-user"></i>
                                <span>แก้ไขข้อมูลส่วนตัว</span>
                                </a>*@
                            <a href="@Url.Action("changepass","Users")" class="dropdown-item notify-item">
                                <i class="la la-key"></i>
                                <span>เปลี่ยนรหัสผ่าน</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a id="logout" class="dropdown-item"><i class="ft-power"></i> ออกจากระบบ</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
