﻿@using Core.Common
@using Core.Backoffice.Controllers
@{
    int curUserRoleGroupId = Int32.Parse(User.FindFirst("RoleGroupID").Value);
    // bool chRole = true;
    // try
    // {
    // string curMenu = ViewBag.Title;
    // var sMenuId = StaticMenu.GetMenuIdByName(curMenu).ToString();
    // chRole = BaseController.AuthorizeMenu(sMenuId, curUserRoleGroupId);
            // }
    // catch { }
}
@{
    string ver_asset = "2406060901";
    string Mode = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - BACKOFFICE</title>
    <link rel="apple-touch-icon" sizes="57x57"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-57x57.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="60x60"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-60x60.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="72x72"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-72x72.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="76x76"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-76x76.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="114x114"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-114x114.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="120x120"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-120x120.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="144x144"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-144x144.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="152x152"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-152x152.png?v="+@ver_asset)">
    <link rel="apple-touch-icon" sizes="180x180"
        href="@Url.Content("~/app-assets/images/Logo/apple-icon-180x180.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="192x192"
        href="@Url.Content("~/app-assets/images/Logo/android-icon-192x192.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="32x32"
        href="@Url.Content("~/app-assets/images/Logo/favicon-32x32.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="96x96"
        href="@Url.Content("~/app-assets/images/Logo/favicon-96x96.png?v="+@ver_asset)">
    <link rel="icon" type="image/png" sizes="16x16"
        href="@Url.Content("~/app-assets/images/Logo/favicon-16x16.png?v="+@ver_asset)">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/app-assets/images/Logo/ms-icon-144x144.png")">
    <meta name="theme-color" content="#ffffff">

    @*<link rel="apple-touch-icon" href="@Url.Content("~/app-assets/images/Logo/apple-icon-120x120.png?v="+@ver_asset)">
        <link rel="shortcut icon" type="image/x-icon"
        href="@Url.Content("~/app-assets/images/Logo/favicon.ico?v="+@ver_asset)">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/fonts/fonts.css?v="+@ver_asset)">
    <link href="@Url.Content("~/fontawesome/all.css")" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/fonts/font-awesome.min.css?v="+@ver_asset)" />


    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/Framework/vendors.min.css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/fullcalendar/fullcalendar.min.css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/tables/dataTables.bootstrap4.min.css?v="+@ver_asset)">

    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/animate/animate.css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/popup/sweetalert2.min.css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/Framework/popup/toastr.css?v="+@ver_asset)">

  
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/forms/toggle/bootstrap-switch"+Mode+".css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/forms/selects/select2.min.css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/forms/pickers/bootstrap-datepicker.css")">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/forms/pickers/daterangepicker.css?v="+@ver_asset)">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/bootstrap"+Mode+".css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/css/bootstrap-extended"+Mode+".css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/colors"+Mode+".css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/components.css?v="+@ver_asset)">


    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/Framework/charts/morris.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/Framework/charts/chartist.css")">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/charts/chartist-plugin-tooltip.css")">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/css/vertical-menu-modern"+Mode+".css?v="+@ver_asset)">

    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/css/palette-gradient"+Mode+".css?v="+@ver_asset)">

    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/forms/fileinput/fileinput"+Mode+".css?v="+@ver_asset)">
    <link rel="stylesheet" type="text/css"
        href="@Url.Content("~/app-assets/Framework/forms/fileinput/theme.min.css?v="+@ver_asset)">
 
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/style.css?v="+@ver_asset)">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/style.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/app-assets/css/jquery-confirm.min.css")">
    <!-- END: Custom CSS-->

</head>

<body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar" data-open="click"
      data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- BEGIN: Header-->
    @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    @await Component.InvokeAsync("Menu", new { UserRoleGroupId = curUserRoleGroupId })
    @*@await Html.PartialAsync("~/Views/Shared/_menu.cshtml")*@
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
    <!-- END: Footer-->

    @RenderSection("SecAjaxConfig", required: false)

    <!-- BEGIN: Vendor JS-->
    <script src="@Url.Content("~/app-assets/js/vendors.min.js?v="+@ver_asset)"></script>
    <!-- END Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="@Url.Content("~/app-assets/js/jquery.sticky.js?v="+@ver_asset)"></script>

    <script src="@Url.Content("~/app-assets/Framework/forms/fileinput/fileinput.min.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/Framework/forms/fileinput/theme.min.js?v="+@ver_asset)"></script>


    <script src="@Url.Content("~/app-assets/Framework/popup/toastr.min.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/Framework/popup/sweetalert2.all.min.js?v="+@ver_asset)"></script>

    <script src="@Url.Content("~/app-assets/Framework/forms/selects/select2.full.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/tables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/tables/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/charts/chartist.min.js")"></script>
    <script src="@Url.Content("~/app-assets/Framework/charts/chartist-plugin-tooltip.min.js")"></script>

    <script src="@Url.Content("~/app-assets/Framework/charts/morris.min.js")"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="@Url.Content("~/app-assets/js/app-menu"+Mode+".js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/js/app"+Mode+".js?v="+@ver_asset)"></script>


    <script src="@Url.Content("~/app-assets/Framework/forms/toggle/bootstrap-switch"+Mode+".js?v="+@ver_asset)"></script>


    <script src="@Url.Content("~/app-assets/Framework/forms/pickers/bootstrap-datepicker.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/Framework/forms/pickers/bootstrap-datepicker-thai.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/Framework/forms/pickers/bootstrap-datepicker.th.js?v="+@ver_asset)"></script>

    <!-- END: Theme JS-->

    <script src="@Url.Content("~/app-assets/js/CustomFileInput.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/js/extensions.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/js/site.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/app-assets/js/ActionSite.js?v="+@ver_asset)"></script>
    <script src="@Url.Content("~/dashboard-ecommerce.js")"></script>
    <script src="@Url.Content("~/app-assets/js/jquery-confirm.min.js")"></script>
    <script src="@Url.Content("~/app-assets/js/jquery.multisortable.js")"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
