﻿@model PaginatedList<Core.DAL.Models.JobPositionDetail>
@{
    //  ViewBag.Title = "ประเมินรับรอง";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
}
<style>
    .content .ct-download {
        position: relative;
        margin-top: 20px;
        margin-bottom: 3px;
        padding-top: 60px;
    }
    .col-icon .list-group-item {
        padding: 1rem 1rem;
        border-top: 0px solid #eee;
        border-bottom: 0px solid #eee !important;
    }
</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@ViewBag.ParentName</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 sidebar">
                @await Component.InvokeAsync("SubMenu", new { ParentID = (int)ViewBag.ParentID, LangID = LangID })
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 content">

                @if (Model != null && Model.Count() >0)
                {
                    var HeadContent = Model.FirstOrDefault();
                    string HeadContentHtml = "";
                    if (HeadContent!=null && HeadContent.HeadContent != null) {
                        HeadContentHtml = HeadContent.HeadContent.HtmlContent;
                        @: <div>@Html.Raw(HeadContentHtml)</div>
                    }

                    
                    <div class="accordion" id="accordionJobPosition">
                        @foreach (var item in Model)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_@item.JobPositionDetailID">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.JobPositionDetailID" aria-expanded="true" aria-controls="collapse_@item.JobPositionDetailID">
                                        @item.JobPositionName
                                    </button>
                                </h2>
                                <div id="collapse_@item.JobPositionDetailID" class="accordion-collapse collapse" aria-labelledby="heading_@item.JobPositionDetailID" data-bs-parent="#accordionJobPosition">
                                    <div class="accordion-body">
                                        @Html.Raw(item.JobPositionDescription)
                                        @if (item.lstFiles.Count() > 0)
                                        {
                                            <div class="ct-download">
                                                <h6>เอกสารแนบ</h6>
                                                <div class="row">
                                                    @foreach (var item2 in item.lstFiles)
                                                    {
                                                        <div class="col-12 col-md-6 col-icon mb-0">
                                                            <ol class="list-group list-group-flush">
                                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                    <div class="ms-2 me-auto">
                                                                        <i class="fas fa-file-download bg-blue"></i>
                                                                        <div class="text-bold">@item2.FileNameOri</div>
                                                                        <a href="@item2.PathFile">ดาวน์โหลด</a>
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.TotalPages > 0)
                    {
                        string prev = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_PREV : Core.Common.TextCommon.EN.TXT_PREV;
                        string next = LangID == "TH" ? Core.Common.TextCommon.TH.TXT_NEXT : Core.Common.TextCommon.EN.TXT_NEXT;

                        string pav = "disabled";
                        string back = "disabled";
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end">
                                @if (Model.PageIndex > 1)
                                {
                                    pav = "";
                                }
                                <li class="page-item @pav">
                                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i><span class="hidden-mobile"> @prev</span></a>
                                </li>

                                @for (int p = 1; p <= Model.TotalPages; p++)
                                {
                                    string active_page = p == Model.PageIndex ? "active" : "";
                                    <li class="page-item"><a class="page-link link-@active_page" asp-action="Index" asp-route-pageNumber="@p">@p</a></li>
                                }
                                @if (Model.PageIndex < Model.TotalPages)
                                {
                                    back = "";
                                }
                                <li class="page-item @back">
                                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)"><span class="hidden-mobile">@next </span><i class="fas fa-angle-double-right"></i></a>
                                </li>

                            </ul>
                        </nav>
                    }
                }
                else
                {
                    <center>  Coming Soon</center>
                }
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Content -->
