﻿@model List<Core.DAL.Models.Users>
@{
    Layout = null;
    int row = 0;
}
<table class="table table-bordered dataTable">
    <thead>
        <tr>
            <th>#</th>
            <th>กลุ่มสิทธิ์</th>
            <th>ชื่อ-นามสกุล</th>
            <th>สถานะ</th>
            <th>การกระทำ</th>
            <th>ชื่อและเวลาที่กระทำ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            row++;
            <tr>
                <td class="text-center">
                    @row.
                </td>
                <td class="text-left">
                    กลุ่มผู้ใช้งาน : @items.RoleGroupName
                </td>
                <td class="text-left">
                    @items.FirstName @items.LastName
                </td>
                <td class="text-center">
                    @Html.CheckBoxFor(o => items.Actived, new { @class = "bt-status switchBootstrap" })
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm text-white" title="แกไข้" href="@Url.Action("Manage","Users",new { items.UserID})" data-target=".dv-Content"><span class="fe-edit-2 bigger-130"></span></a>
                        <div class="or or-sm"></div>
                        <a role="button" class="btn btn-warning btn-sm bt-reset-pass text-white" data-href="@Url.Action("resetpass","Users",new { items.UserID})" title="รีเซ็ตรหัสผ่าน"><span class="fe-refresh-ccw bigger-130"></span></a>
                        <div class="or or-sm"></div>
                        <a role="button" class="btn btn-danger btn-sm bt-delete text-white" data-href="@Url.Action("Delete","Users",new { items.UserID})" title="ลบ"><span class="fe-trash-2 bigger-130"></span></a>
                    </div>
                </td>
                <td class="text-center">
                    @items.UpdatedBy <small class="text-muted">@items.UpdatedDate_Str</small>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>กลุ่มสิทธิ์</th>
            <th>ชื่อ-นามสกุล</th>
            <th>สถานะ</th>
            <th>การกระทำ</th>
            <th>ชื่อและเวลาที่กระทำ</th>
        </tr>
    </tfoot>
</table>
<script>$(function () {
        if ($(".switchBootstrap").length > 0) {
            $('.switchBootstrap').bootstrapSwitch('size', 'small');
            $('.switchBootstrap').bootstrapSwitch('onColor', 'info');
            $('.switchBootstrap').bootstrapSwitch('onText', 'เปิด');
            $('.switchBootstrap').bootstrapSwitch('offText', 'ปิด');
        }
        var groupColumn = 1;
        var userDataTable = $('.table').DataTable({
            "columnDefs": [
                { "visible": false, "targets": groupColumn },
                {
                    "targets": [0, 6],
                    "orderable": false
                }
            ],
            'order': [
                [1, '']
            ],
            "paging": false,
            "info": false,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="7">' + group + '</td></tr>'
                        );
                        last = group;
                    }
                });
            }
        });
        $('#searchtxt').on('keyup', function () {
            userDataTable.search(this.value).draw();
        });
    })</script>