﻿@model int

@{ 
    string menu1  = Model == 1 ? "active" : "";
    string menu2  = Model == 2 ? "active" : "";
    string menu3  = Model == 3 ? "active" : "";
    string menu4  = Model == 4 ? "active" : "";

}
<div class="todo-app-menu">
    <!-- sidebar list start -->
    <div class="sidebar-menu-list">
        <ul class="nav nav-pills flex-column mt-md-0 mt-1">
            <li class="nav-item">
                <a class="nav-link d-flex @menu1"   href="@Url.Action("Profile","Users")" >
                    <i class="ft-globe mr-50"></i>
                    ข้อมูลส่วนตัว
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex @menu2"   href="@Url.Action("changepass","Users")"    >
                    <i class="ft-lock mr-50"></i>
                    เปลี่ยนรหัสผ่าน
                </a>
            </li>
         </ul>
    </div>
    <!-- sidebar list end -->
</div>
