﻿@model List<Core.DAL.Models.Members>
@{ 
    ViewBag.Title = "ข้อมูลสมาชิกระบบ";
    string datatype = "MEMBER";
    int row = 0;
    string role = (String)ViewBag.Role;
}
<!-- start page title -->
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item">ตั้งค่าระบบการใช้งาน</li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="content-body">
    <section id="basic">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="btn-group float-md-right">
                                <div class="form-group float-md-right">
                                    <a href="@Url.Action("Manage", new {  menuname = ViewBag.Menuname, ID = 0 })" class="btn btn-social btn-min-width mr-1 mb-1 btn-facebook"><i class="la la-plus-square"></i> เพิ่ม @ViewBag.Title &nbsp;&nbsp;</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-group col-md-6 col-12">
                                    <input type="text" id="SearchString" class="form-control" placeholder="คำค้นหาชื่อ @ViewBag.Title...">
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <button class="btn btn-outline-info mb-3" id="SearchBtn">
                                        <i class="mdi mdi-search-web "></i>
                                        <span>ค้นหา</span>
                                    </button>

                                </div>
                            </div>
                            <form asp-action="Itemslist" asp-controller="Members" method="POST" data-ajax="true" data-ajax-success="onSuccessLoadDataTable" data-ajax-update="#UpdateInfoList" data-ajax-failure="onFailure" data-ajax-begin="loader">
                                <div class="table-responsive">
                                    <table class="table table-bordered dataTable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>ประเภทสมาชิก</th>
                                                <th>ชื่อ-นามสกุล</th>
                                                <th>อีเมล</th>
                                                <th>สถานะ</th>
                                                <th>การกระทำ</th>
                                                <th>ชื่อและเวลาที่กระทำ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var items in Model)
                                            {
                                                row++;
                                            <tr>
                                                <td class="text-center">
                                                    @row.
                                                </td>
                                                <td class="text-left">
                                                    ประเภทสมาชิก : @items.TypeMemberName
                                                </td>
                                                <td class="text-left">
                                                    @items.FirstName @items.LastName
                                                </td>
                                                <td class="text-left">
                                                    @items.Email
                                                </td>
                                                <td class="text-center">
                                                    @*@Html.CheckBoxFor(o => items.Actived, new { @class = "bt-status switchBootstrap" })*@
                                                    @Html.CheckBoxFor(o => items.Actived, new Dictionary<string, object> { { "class", "bt-status" }, { "data-type", datatype }, { "data-menu", ViewBag.Title }, { "data-id", items.MemberID } })
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                        <a class="btn btn-info btn-sm text-white" title="แก้ไข" href="@Url.Action("Manage","Members",new { items.MemberID})" data-target=".dv-Content"><span class="la la-pencil-square bigger-130"></span></a>
                                                        <div class="or or-sm"></div>
                                                        <a role="button" class="btn btn-warning btn-sm bt-reset-pass text-white" data-href="@Url.Action("resetpass","Members",new { items.MemberID})" title="รีเซ็ตรหัสผ่าน"><span class="la la-retweet bigger-130"></span></a>
                                                        <div class="or or-sm"></div>
                                                        <a role="button" class="btn btn-danger btn-sm bt-delete text-white" data-id="@items.MemberID" data-type="MEMBER" data-menu="@ViewBag.Title" title="ลบ"><span class="la la-trash-o bigger-130"></span></a>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    @items.UpdatedBy <small class="text-muted">@items.UpdatedDate_Str</small>
                                                </td>
                                            </tr>
}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>ประเภทสมาชิก</th>
                                                <th>ชื่อ-นามสกุล</th>
                                                <th>อีเมล</th>
                                                <th>สถานะ</th>
                                                <th>การกระทำ</th>
                                                <th>ชื่อและเวลาที่กระทำ</th>
                                            </tr>
                                            </tfoot>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
             @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                   @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
               }
            $('body').on('click', '.bt-reset-pass', function () {
                var $this = $(this);
                Swal.fire({
                    title: 'ยืนยันการแก้ไขรหัสผ่าน?',
                    text: "รหัสผ่านใหม่จะถูกส่งไปยัง Email ผู้ใข้งาน!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ยืนยัน !',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-default ml-1',
                    cancelButtonText: 'ยกเลิก !',
                    buttonsStyling: false,
                }).then(function (result) {
                    if (result.value) {
                        $.post($this.attr('data-href'), function (data) {
                            if (data.status) {
                                success_alert('เปลี่ยนรหัสผ่านเรียบร้อยแล้ว', 'ข้อมูลถูกส่งไปยังผู้ใช้งานเรียบร้อยแล้ว');
                                location.reload();
                            }
                            else {
                                Error_alert('บันทึกข้อมูลไม่สำเร็จ', data.message);
                            }
                        });
                    }
                })
            });
            var groupColumn = 1;
            var userDataTable = $('.dataTable').DataTable({
                "searching": true,
                "columnDefs": [
                    { "visible": false, "targets": groupColumn },
                    {
                        "targets": [4],
                        "orderable": false
                    }
                ],
                'order': [
                    [1, '']
                ],
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="7">' + group + '</td></tr>'
                            );
                            last = group;
                        }
                    });
                }
            });
            $('body').on('click', '#SearchBtn', function () {

                userDataTable.search($('#SearchString').val()).draw();

            });
            $('#SearchString').keypress(function (e) {
                var key = e.which;
                if (key == 13)
                {
                    userDataTable.search($('#SearchString').val()).draw();
                    return false;
                }
            });
    });
    </script>
}