﻿@model List<Core.DAL.Models.BannerByLanguage>
@{
    Layout = null;
    int row = 0;
}
@await Component.InvokeAsync("LanguageTab")

<div class="tab-content px-1 pt-1">
    @foreach (var tab in Model)
    {
        <div role="tabpanel" class="tab-pane animated pulse @tab.SelectedTabs" id="tab_@tab.LanguageCode" aria-expanded="true" aria-labelledby="tab_@tab.LanguageCode">
            <div class="table-responsive" id="tab-content_@tab.LanguageCode">
                <table class="table table-bordered table-middle dataTable">
                    <thead>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th style="width: 50px;">Image</th>
                            <th class="text-center">รายการ</th>
                            <th style="width: 80px;">สถานะ</th>
                            <th style="width: 80px;">การกระทำ</th>
                            <th style="width: 150px;">การแก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in tab.lstBanner)
                        {
                            row++;
                            <tr id="@(item.LangCode == "TH" ? "row_" + item.BannerID : "row_" + item.BannerID + "_en")" class="row_@row" data-id="@item.BannerID">
                                <td>
                                    <div class="col-lg-12" data-id="@item.BannerID" data-type="BANNER">
                                        @Html.TextBox("SortOrder_N", item.Sequence, new { @class = "form-control number SortOrder_N", @style = "width: 50px;" })
                                    </div>
                                </td>
                                <td style="text-align:center;">
                                    @if (!string.IsNullOrEmpty(item.BannerLink))
                                    {
                                        <ul class="nav nav-tabs nav-linetriangle nav-justified">
                                            <li class="nav-item" style="line-height: 0.5 !important;">
                                                <a style="line-height: 0.5 !important;" class="nav-link active" id="baseOnlyIcon-tab1_@item.BannerID.ToString()_@tab.LanguageCode" data-toggle="tab" aria-controls="tabOnlyIcon11_@item.BannerID.ToString()_@tab.LanguageCode" href="#tabOnlyIcon11_@item.BannerID.ToString()_@tab.LanguageCode" aria-expanded="true"><i class="la la-image"></i></a>
                                            </li>
                                            <li class="nav-item" style="line-height: 0.5 !important;">
                                                <a style="line-height: 0.5 !important;" class="nav-link" id="baseOnlyIcon-tab12_@item.BannerID.ToString()_@tab.LanguageCode" data-toggle="tab" aria-controls="tabOnlyIcon12_@item.BannerID.ToString()_@tab.LanguageCode" href="#tabOnlyIcon12_@item.BannerID.ToString()_@tab.LanguageCode" aria-expanded="false"><i class="la la-qrcode"></i></a>
                                            </li>

                                        </ul>
                                        <div class="tab-content px-1 pt-1">
                                            <div role="tabpanel" class="tab-pane active" id="tabOnlyIcon11_@item.BannerID.ToString()_@tab.LanguageCode" aria-expanded="true" aria-labelledby="baseOnlyIcon-tab11">
                                                @if (!string.IsNullOrEmpty(item.FilePath))
                                                {
                                                    <img class="" src="@Url.Content("~/" + item.FilePath.Replace("Thumbnail", "Original").ToString())" style="width:15vh;" />
                                                }
                                                else
                                                {
                                                    <img class="" src="@Url.Content(item.FilePath)" style="width:15vh;" />
                                                }
                                            </div>
                                            @*<div class="tab-pane" id="tabOnlyIcon12_@item.ID.ToString()_@tab.LanguageCode" aria-labelledby="baseOnlyIcon-tab12">
                                                    <img src="@item.qrcode" alt="" style="width:15vh;" />
                                                </div>*@
                                        </div>
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(item.FilePath))
                                        {
                                            <img class="" src="@Url.Content("~/" + item.FilePath.Replace("Thumbnail", "Original").ToString())" style="width:15vh;" />
                                        }
                                        else
                                        {
                                            <img class="" src="@Url.Content(item.FilePath)" style="width:15vh;" />
                                        }
                                    }
                                </td>
                                <td>
                                    <b>
                                        @Html.Raw(item.BannerName)
                                    </b>
                                    @if (!string.IsNullOrEmpty(item.BannerLink))
                                    {
                                        <br /><small>@item.BannerLink</small> <a onclick="copyToClipboard('@item.BannerLink"><i class="la la-copy" alt="copy link"></i></a>
                                    }
                                </td>
                                <td>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(model => item.Actived, new { @class = "bt-status switchBootstrap", @data_href = Url.Action("UpdateStatus", "Role", new { item.BannerID }) })
                                    </div>
                                    <div class="btn-group text-center">
                                        <a href="@Url.Action("Manage", new { menuname = ViewBag.Menuname})" class="btn btn-info btn-sm" title="Edit"><span class="la la-pencil-square-o"></span></a>
                                        <div class="or or-sm"></div>
                                        <a onclick="@item.BannerID@ViewBag.Title" class="btn btn-danger btn-sm text-white" title="Remove"><span class="la la-trash-o"></span></a>
                                    </div>
                                </td>
                                <td style="font-size: 10px;">
                                    <p data-order="@item.UpdatedDate.Ticks"> @item.UpdatedDate.ToString("dd MMM yyyy HH:mm น.", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH")) @item.UpdatedBy</p>

                                </td>
                                <td style="font-size: 10px;">
                                    <p data-order="@item.UpdatedDate.Ticks"> @item.UpdatedDate.ToString("dd MMM yyyy HH:mm น.", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH")) @item.UpdatedBy</p>

                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th style="width: 50px;">Image</th>
                            <th class="text-center">รายการ</th>
                            <th style="width: 80px;">สถานะ</th>
                            <th style="width: 80px;">การกระทำ</th>
                            <th style="width: 150px;">การแก้ไข</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
</div>