﻿@model Core.DAL.Models.Posts
@{ ViewBag.Title2 = "รายละเอียดข้อมูล" + ViewBag.Title;
    string role = (String)ViewBag.Role;
    }

<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">หน้าหลัก</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title2
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-3 col-12">
        <div class="btn-group float-md-right">
            <a href="@Url.Action("Index", new {menuname = ViewBag.Menuname})" class="btn btn-social btn-min-width mr-1 mb-1 btn-secondary"><i class="la la-angle-left"></i> กลับ &nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="content-body" id="Cont">
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body">

                            @using (Html.BeginForm("Manage", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                @Html.HiddenFor(model => Model.MenuID)
                                @Html.HiddenFor(model => Model.CreatedDate)
                                                @Html.HiddenFor(model => Model.CreatedBy)
                                                                @Html.HiddenFor(model => Model.ID)
                                                                                @Html.HiddenFor(model => Model.Menuname)
                                                                                                <div class="card-content">
                                                                                                    <ul class="nav nav-tabs nav-underline nav-top-border no-hover-bg">
                                                                                                        @await Component.InvokeAsync("LanguageTab")
                                                                                                    </ul>

                                                                                                    <div class="tab-content px-1 pt-1">
                                                                                                        @foreach (var itemdetail in Model.PostLst)
                                                                                                        {
                                                                                                            itemdetail.PostID = Model.ID;
                                                                                                            itemdetail.MenuID = Model.MenuID;
                                                                                                            itemdetail.Menuname = Model.Menuname;
                                                                                                            itemdetail.SUB_GUID = Model.GUID + "_" + itemdetail.LangCode;
                                                                                                            await Html.RenderPartialAsync("~/Views/Posts/_Manage.cshtml", itemdetail);
                                                                                                        }
                                                                                                        <hr />
                                                                                                        <div class="row">
                                                                                                            <div class="col-12">
                                                                                                                <div class="form-group">
                                                                                                                    <div class="form-group">
                                                                                                                        <label for="RelatePost">@ViewBag.Title ที่เกี่ยวข้อง</label>
                                                                                                                        @*@Html.ListBoxFor(model => Model.RelatedID, new SelectList((List<Core.DAL.Models.PostsDetail>)ViewBag.DDLPosts, "PostID", "Title", Model.RelatedID), new { @class = "form-control select2-tags", @data_live_search = "true", @placeholder = "ระบุคำค้นหาที่เกี่ยวข้อง", multiple = "multiple", @onkeydown = "return (event.keyCode!=13);" })*@
                                                                                                                        @Html.ListBoxFor(model => model.RelatedID, (SelectList)Core.Backoffice.Controllers.BaseController.GetRelatePost(Model.MenuID, "TH", Model.RelatedID), new { @class = "form-control select2-relate", @style = "width:100%", @data_live_search = "true", @placeholder = "ระบุคำค้นหาที่เกี่ยวข้อง", multiple = "multiple", @onkeydown = "return (event.keyCode!=13);" })
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row">
                                                                                                                     <div class="col-md-2">
                                                                                                                        <label>วันที่บันทึกข้อมูล</label>
                                                                                                                         @Html.TextBoxFor(model => Model.InputDate_str, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "id", "InputDate" }, { "class", "form-control" }, { "placeholder", "วันที่บันทึกข้อมูล" }, { "autocomplete", "off" }, { "data-provide", "datepicker" }, { "data-date-language", "th-th" } })
                                                                                                                              
                                                                                                                    </div>
                                                                                                                    <div class="col-md-5">
                                                                                                                        <label>ช่วงวันที่เผยแพร่</label>
                                                                                                                        <div class="col-12">
                                                                                                                            <div class="input-group input-daterange date">
                                                                                                                                @Html.TextBoxFor(model => Model.EffectiveDate_str, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "id", "EffectiveDate" }, { "class", "form-control" }, { "placeholder", "วันที่เริ่นต้นแสดงผล" }, { "autocomplete", "off" }, { "data-provide", "datepicker" }, { "data-date-language", "th-th" } })
                                                                                                                                <div class="input-group-append">
                                                                                                                                    <span class="input-group-text" id="sizing-addon2"> ถึง </span>
                                                                                                                                </div>
                                                                                                                                @Html.TextBoxFor(model => Model.EndDate_str, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "id", "EndDate" }, { "class", "form-control" }, { "placeholder", "วันที่สิ้นสุดแสดงผล" }, { "autocomplete", "off" }, { "data-provide", "datepicker" }, { "data-date-language", "th-th" } })
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="col-md-5">
                                                                                                                        <label for="active">สถานะการเผยแพร่</label>
                                                                                                                        <div class="col-12">
                                                                                                                            @Html.CheckBoxFor(model => Model.Actived, new { @id = "active", @class = "StatePublish" })
                                                                                                                        </div>
                                                                                                                    </div>

                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="form-actions text-right">
                                                                                                            <button type="submit" class="btn btn-info btn-min-width btn-glow mr-1 mb-1 "><i class="ft-save"></i> บันทึก</button>
                                                                                                            <button type="reset" class="btn btn-secondary btn-min-width btn-glow mr-1 mb-1 "><i class="ft-reset"></i> คืนค่า</button>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SecAjaxConfig{
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery/dist/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation/dist/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app-assets/Framework/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js")"></script>
}
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
    <script src="http://www.kpisme.com/summernote-0.8.18-dist/lang/summernote-th-TH.js"></script>
    <script>
$(document).ready(function () {
     @if (role != "M")
               {
                   @: $("input, select, textarea, button").attr("disabled", true);
                   @:  $("button[type='submit'], button[type='reset'], input[type='submit'], input[type='reset']").remove();
                   @:  $(".SortingType, .switchForbidden, .bt-menustatus, .bt-status, .StatePublish, .switchACTIVE").each(function () { $(this).bootstrapSwitch('disabled', true); });
                    @:  $(".btn-social, .bt-delete, .or, .kv-file-remove").remove();
                    @: if ($('.summernote').length > 0) { $('.summernote').summernote('disable'); }
                   @: $('a[title="Edit"]').each(function () {$(this).attr('title', 'View'); $(this).find('span.la.la-pencil-square-o').each(function () { $(this).removeClass('la la-pencil-square-o'); $(this).addClass('la la-eye'); }); });
   
               }
            $('.summernote').summernote({
                height: "500px",
                callbacks: {
                    onPaste: function (e) {
                        if (document.queryCommandSupported("insertText")) {
                            var text = $(e.currentTarget).html();
                            var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');

                            setTimeout(function () {
                                document.execCommand('insertText', false, bufferText);
                            }, 10);
                            e.preventDefault();
                        } else {
                            var text = window.clipboardData.getData("text")
                            if (trap) {
                                trap = false;
                            } else {
                                trap = true;
                                setTimeout(function () {
                                    document.execCommand('paste', false, text);
                                }, 10);
                                e.preventDefault();
                            }
                        }

                    }
                }
            });
        });</script>
    <script async type="text/javascript" src="@Url.Content("~/app-assets/js/MasterCustomFile.js")"></script>
    <script>
        function delf(i) {
            var urlz = "@Url.Action("RemoveFile", "ActionScripts", new { FileID = Model.ID.ToString() })";
            $.ajax({
                type: "GET",
                url: urlz,
                dataType: 'json',
                data: {
                    i: i
                },
                success: function (response) {
                    if (response != null) {
                        return true;
                    }
                    return false;
                }
            });
        }
        $(document).ready(function () {
            @*if ($('.textareaHtml').length > 0) {
                // CKEDITOR.replace('HtmlContent');
                CKEDITOR.replace('myfield_TH');
                CKEDITOR.replace('myfield_EN');
            }*@
            if ($('.BannerFiles').length > 0) {
                $('.BannerFiles').attr("accept", "image/*");
            }
            if ($('.GalleryFiles').length > 0) {
                $('.GalleryFiles').attr("accept", "image/*");
            }
            if ($('.AttachFiles').length > 0) {
                $('.AttachFiles').attr("accept", "image/*");
                $('.AttachFiles').attr("accept", "image/*,.pdf,.csv,application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.rar,application/zip");
            }
            if ($('.select2-tags').length > 0) {
                  $(".select2-tags").select2({
                        dropdownAutoWidth: true,
                        width: '100%',
                        tags: true,
                        minimumResultsForSearch: Infinity
                    });
            }
            $('#RelatedId').select2({
                IncludeSelectAllOption: true
            });

                if ($('.textareaHtml').length > 0) {
                    ClassicEditor
                        .create(document.querySelector('#myfield_TH'), {
                            //plugins: [CKFinder],
                            toolbar: {
                                items: [
                                    'sourceEditing',
                                    'heading',
                                    '|',
                                    'bold',
                                    'italic',
                                    'fontColor',
                                    'highlight',
                                    'link',
                                    'bulletedList',
                                    'numberedList',
                                    '|',
                                    'outdent',
                                    'indent',
                                    '|',
                                    'imageInsert',
                                    'CKFinder',
                                    'blockQuote',
                                    'insertTable',
                                    'mediaEmbed',
                                    'undo',
                                    'redo'
                                ]
                            },
                            language: 'en',
                            image: {
                                toolbar: [
                                    'imageTextAlternative',
                                    'imageStyle:inline',
                                    'imageStyle:block',
                                    'imageStyle:side'
                                ]
                            },
                            table: {
                                contentToolbar: [
                                    'tableColumn',
                                    'tableRow',
                                    'mergeTableCells'
                                ]
                            },
                            licenseKey: '',
                            ckfinder: {
                                // Open the file manager in the pop-up window.
                                openerMethod: 'popup'
                            }

                        })
                        .then(editor => {
                            window.editor = editor;
                        })
                        .catch(error => {
                            console.error('Oops, something went wrong!');
                            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                            console.warn('Build id: 7rqpfwul0p58-bxg47d4urk5f');
                            console.error(error);
                        });
                    ClassicEditor
                        .create(document.querySelector('#myfield_EN'), {
                            //plugins: [CKFinder],
                            toolbar: {
                                items: [
                                    'sourceEditing',
                                    'heading',
                                    '|',
                                    'bold',
                                    'italic',
                                    'fontColor',
                                    'highlight',
                                    'link',
                                    'bulletedList',
                                    'numberedList',
                                    '|',
                                    'outdent',
                                    'indent',
                                    '|',
                                    'imageInsert',
                                    'CKFinder',
                                    'blockQuote',
                                    'insertTable',
                                    'mediaEmbed',
                                    'undo',
                                    'redo'
                                ]
                            },
                            language: 'en',
                            image: {
                                toolbar: [
                                    'imageTextAlternative',
                                    'imageStyle:inline',
                                    'imageStyle:block',
                                    'imageStyle:side'
                                ]
                            },
                            table: {
                                contentToolbar: [
                                    'tableColumn',
                                    'tableRow',
                                    'mergeTableCells'
                                ]
                            },
                            licenseKey: '',
                            ckfinder: {
                                // Open the file manager in the pop-up window.
                                openerMethod: 'popup'
                            }

                        })
                        .then(editor => {
                            window.editor = editor;
                        })
                        .catch(error => {
                            console.error('Oops, something went wrong!');
                            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                            console.warn('Build id: 7rqpfwul0p58-bxg47d4urk5f');
                            console.error(error);
                        });
                }

        })
    </script>
}