

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .pagination .page-link {
        color: #333;
        background: #F2F2F2;
        border-color: #F2F2F2;
        margin: 0 3px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 0;
        box-shadow: none !important;
    }

    .pagination .page-link h1, h1 a {
        font-size: 26px;
        margin-top: -15px;
    }
}

@media only screen and (device-width: 768px) {
    .pagination .page-link {
        color: #333;
        background: #F2F2F2;
        border-color: #F2F2F2;
        margin: 0 3px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 0;
        box-shadow: none !important;
    }

    .pagination .page-link h1, h1 a {
        font-size: 26px;
        margin-top: -10px;
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .pagination .page-link {
        color: #333;
        background: #F2F2F2;
        border-color: #F2F2F2;
        margin: 0 3px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 0;
        box-shadow: none !important;
    }

    .pagination .page-link h1, h1 a {
        font-size: 26px;
        margin-top: -10px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .pagination .page-link {
        color: #333;
        background: #F2F2F2;
        border-color: #F2F2F2;
        margin: 0 3px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 0;
        box-shadow: none !important;
    }

    .pagination .page-link h1, h1 a {
        font-size: 26px;
        margin-top: -10px;
    }
}

