body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: visible;
    overflow-y: visible;
    overflow-x: hidden;
    font-family: 'Prompt', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}
:focus {
    outline: none !important;
}
:hover {
    transition: 0.3s all !important;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    line-height: 1.5;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    width: 100%;
/*    overflow: hidden;*/
}
section {
    padding: 50px 0;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt-bold-webfont.woff2') format('woff2'),
         url('../fonts/prompt-bold-webfont.woff') format('woff'),
         url('../fonts/prompt-bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/prompt-semibold-webfont.woff') format('woff'),
         url('../fonts/prompt-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt-medium-webfont.woff2') format('woff2'),
         url('../fonts/prompt-medium-webfont.woff') format('woff'),
         url('../fonts/prompt-medium-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt-regular-webfont.woff2') format('woff2'),
         url('../fonts/prompt-regular-webfont.woff') format('woff'),
         url('../fonts/prompt-regular-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
    font-family: 'Prompt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.25px;
    line-height: 1.5;
    margin-bottom: 15px;
}
h1, h1 a {
    font-size: 26px;
}
h2, h2 a {
    font-size: 22px;
}
h3, h3 a {
    font-size: 22px;
}
h4, h4 a {
    font-size: 18px;
}
h5, h5 a {
    font-size: 16px;
}
h6, h6 a {
    font-size: 14px;
} 
p, a {
    font-family: 'Prompt', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
    color: #333333;
    text-decoration: none !important;
}
a:hover {
    transition: 0.3s;
    color: #FA0F0C;
}
    a:hover i.fa-facebook-f {
        color: #1877f2 !important;
    }
    a:hover i.fa-twitter {
        color: #1da1f2 !important;
    }
    a:hover i.fa-youtube {
        color: #ff0000 !important;
    }
    a:hover i.fa-instagram {
        color: #fff !important;
        background-color: #f38334;
        background: linear-gradient(29.61deg, #f38334 0%, #da2e7d 50.39%, #6b54c6 100%);
        background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent; 
          -moz-text-fill-color: transparent;
    }

    b, strong {
        font-weight: 400;
    }

.hl-ha {
    padding-top: 5px;
    position: relative;
}
.hl-ha::after {
    content: '+';
    color: #FA0F0C;
    font-size: 38px;
    line-height: 1px;
    position: absolute;
    top: 7px;
    margin-left: 3px;
}
.hll-ha::after {
    content: '';
    background: #FA0F0C;
    width: 50px;
    height: 3px;
    position: relative;
    margin-top: 10px;
    left: 0px;
    display: block;
}
.hl-ha-u {
    text-align: center;
}
.hl-ha-u::after, 
.hl-ha-u-l::after {
    content: '';
    background: #FA0F0C;
    width: 80px;
    height: 3px;
    position: absolute;
    margin: 15px auto 10px;
    display: block;
    left: calc(50% - 40px);
}
.hl-ha-u-l::after {
    width: 40px;
    left: auto;
}
.hl-no {
    margin-bottom: 30px;
}
.hl-no span {
    background: red;
    color: #fff;
    padding: 15px 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.text-indent { text-indent: 25px; }

.text-light { color: #fff !important; }
.text-dark { color: #333 !important; }

.text-color-primary { color: #FA0F0C !important; }
.text-color-secondary { color: #008ed1 !important; }
.text-color-tertiary { color: #5bba00 !important; }
.text-color-white { color: #ffffff !important; }
.text-color-black { color: #333333 !important; }
.text-color-grey { color: #cccccc !important; }
.text-color-red { color: #FA0F0C !important; }
.text-color-dark-blue { color: #0D5FA8 !important; }
.text-color-regular-blue { color: #0E72CB !important; }
.text-color-light-blue { color: #4795DB !important; }

.text-weight-bold { font-weight: 600 !important; }
.text-weight-regular { font-weight: 400 !important; }
.text-weight-light { font-weight: 200 !important; }

.text-align-left { text-align: left !important; }
.text-align-center { text-align: center !important; }
.text-align-right { text-align: right !important; }

.hidden-mobile { display: block; }
.visible-mobile { display: none; }
.paddingleft150 {
    padding-left: 150px !important;
}
.btn-outline-light,
.btn-outline-dark,
.btn-outline-gray,
.btn-primary, 
.btn-red { 
    font-size: 14px; 
    font-weight: 200; 
    padding: 7px 25px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 15px;
}
.btn-primary, 
.btn-red {
    padding: 10px 30px;
}
.btn-primary, 
.btn-red i {
    margin-right: 5px;
}
.btn-primary span {
    font-size: 12px;
}
.btn-outline-light {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.btn-outline-dark {
    color: #555555;
    border: 1px solid #555555;
}
.btn-outline-gray {
    color: #7B7B7B;
    border: 1px solid #7B7B7B;
}
        .btn-outline-dark:hover,
        .btn-outline-gray:hover,
        .btn-primary, 
        .btn-red:hover {
            color: #ffffff;
            background: #0D5FA8;
            border: 1px solid #0D5FA8;
        }
        .btn-outline-light:hover,
        .btn-primary:hover, 
        .btn-red {
            color: #ffffff;
            background: #FA0F0C;
            border: 1px solid #FA0F0C;
        }


/* ///////////////////////////// */
/*             HEADER            */
/* ///////////////////////////// */

/* Topbar */
.topbar {
    overflow: visible;
    position: relative;
    z-index: 1019;
    height: 44px;
}
.topbar, 
.topbar a {
    color: #7B7B7B;
    font-size: 1em;
}
.topbar img {
    width: auto;
    height: 15px;
    border-radius: 2px;
}
.topbar .item-display {
    margin-top: -5px;
}
.topbar .item-display .tx-sm, 
.topbar .item-display .tx-rg, 
.topbar .item-display .tx-xl {
    width: 15px;
}
.topbar .item-display .tx-sm {
    font-size: 10px;
}
.topbar .item-display .tx-xl {
    font-size: 16px;
}
.topbar .item-display .cl-bw, 
.topbar .item-display .cl-rg,
.topbar .item-display .cl-bl {
    width: 15px;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 0px 5px;
}

    .topbar .item-display .cl-bw {
        /* background: #e3bf00;*/ /*#0D5FA8;*/
        color: #000;
    }
    .topbar .item-display .cl-rg {
        background: #e3bf00; /*#0D5FA8;*/
        color: #000;
    }
.topbar .item-display .cl-bl {
    color: #FFFF00;
    background-color: #333333;
}
.topbar .item-phone {
    padding-left: 10px;
    border-left: 1px solid #ddd;
}
.topbar .item-phone span {
    font-weight: 400;
    color: #555555;
}
.topbar .item-phone a:hover {
    text-decoration: underline !important;
}
.topbar .item-email {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 10px;
}
.topbar .lang {
    margin-top: -.5rem;
    background: #0D5FA8;
    height: 30px;
    padding: 4px 10px;
    margin-left: 10px;
    border-radius: 0 0 6px 6px;
    position: relative;
    top: -4px;
}
.topbar .lang a {
    color: #fff;
}
.topbar .lang .dropdown-menu {
    min-width: 105px;
    left: 50% !important;
    transform: translate(-50%) !important;
    margin-top: 33px !important;
    padding: 4px 2px;
}
.topbar .lang .dropdown-item {
    color: #555;
    font-weight: 200;
    background: none !important;
    padding: 4px 7px;
}
.topbar .lang .dropdown-item:hover {
    color: #0D5FA8;
}
.topbar .lang .dropdown-toggle::after {
    content: "\f078";
    font-family: fontawesome;    
    font-size: 8px;
    border: none;    
    top: 1px;
    position: relative;
}

/* Header */
header {
    background: #ffffff;
    overflow: visible;
}
    header .nav-link {
        font-weight: 400;
        padding: 20px 15px !important;
/*        min-width: 150px;*/
        text-align: center;
    }
    header .nav-link, 
    header .nav-link:focus, 
    header .nav-link:hover {
        color: #333333;
    }
    header .nav-link.active {
        color: #333333;
        border-bottom: 2px solid #FA0F0C;
    }
    header .dropdown-menu {
        padding: 7px 0;
    }
    header .dropdown-toggle::after {
        display: none;
    }
    header .dropdown-menu {
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    header .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: -5px; 
        text-align: center;
    }
    header .dropdown .dropdown-item {
        font-weight: 200;
        font-size: 14px;
    }
    header .dropdown .dropdown-item:focus, 
    header .dropdown .dropdown-item:hover {
        color: #0D5FA8;
        background: transparent;
    }

/* Logo */
.navbar-brand img {
    width: auto;
    height: 170px;
    position: absolute;
    margin-top: -70px;
    overflow: visible;
}

/* Nav */
.navbar {
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-toggler {
    background: #fff;
    border: 1px solid #dee2e6;
    margin-top: 4px;
    box-shadow: none !important;
}
.navbar-toggler-icon i {
    margin-top: 7px;
    color: #555;
}

/* Search */
.search .input-group>.form-control {
    width: 145px;
    margin-left: 15px;
    background: rgba(196, 196, 196, 0.2);
    border-color: rgba(196, 196, 196, 0);
    border-radius: 20px;
    border-right: none;
    height: 35px;
    font-size: 14px;
    font-weight: 200;
    color: #555;
    box-shadow: none !important;
}
.search .input-group>.btn-outline-secondary {
    font-size: 12px;
    height: 35px;
    background: rgba(196, 196, 196, 0.2);
    border-color: rgba(196, 196, 196, 0);
    border-radius: 20px;
    border-left: none;
    color: #777;
    margin-left: 0 !important;
    box-shadow: none !important;
}
.search .input-group>.btn-outline-secondary::after {
    width: 1px;
    height: 20px;
    background: #ddd;
    content: '';
    display: block;
    top: 7px;
    position: absolute;
    margin-left: -10px;
}


/* ///////////////////////////// */
/*             FOOTER            */
/* ///////////////////////////// */

footer {
    color: #CFD0D0;
    background: #5F6468;
    padding: 60px 0 0;
}
footer p,
footer a,
footer p a,
footer > * {
    color: #CFD0D0;
}
footer a:hover {
    color: #989898;
}
footer .ft-content h6 {
    color: #FFFFFF;
    margin-bottom: 15px;
}
footer .ft-content ul {
    margin-top: 15px;
}
footer .ft-content .ft-contact {
    position: relative;
}
footer .ft-content .ft-contact h6 {
    font-size: 14px;
    position: absolute;
    background: #333333;
    padding: 10px 30px;
    border-radius: 0 0 6px 6px;
    right: 10px;
    margin-top: -60px;
}
footer .ft-content .ft-contact ul {
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: right;
}
footer .ft-content .ft-contact i {
    font-size: 22px;
    margin-left: 5px;
    color: #ffffff;
    transition: 0.3s all;
}
footer .ft-content .ft-contact dt {
    font-weight: 400;
    position: relative;
    padding-left: 40px;
}
footer .ft-content .ft-contact dt i {
    font-size: 14px;
    color: #CFD0D0;
}
footer .ft-content .ft-contact dt::after {
    content: ':';
    position: absolute;
    right: 0;
}
footer .ft-content .ft-contact dd {
    margin-bottom: 0;
    text-align: right;
}
footer .ft-copyright {
    border-top: 1px solid #FFFFFF33;
    padding: 15px;
    margin-top: 20px;
}
footer .ft-copyright p, 
footer .ft-copyright p a {
    font-size: 12px;
}

/* Go to Top */
.gotop {
    opacity: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #FA0F0C;
    position: fixed;
    right: 90px;
    bottom: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    z-index: 9999;
    background: #FA0F0C;
    background: rgba(250,15,12,0.9);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.gotop a {
    color: #fff !important;
}
.gotop.show { 
    opacity: 1; 
}


/* ///////////////////////////// */
/*           RESPONSIVE          */
/* ///////////////////////////// */

@media (max-width: 575px) {

    .hidden-mobile { display: none; }
    .visible-mobile { display: block; }

    /* Header */
    .topbar { height: 65px; }
    .topbar .item-email { display: none; }
    .topbar .item-social { display: none; }
    .topbar .item-phone { margin-top: 10px; border: none; }
    .topbar .item-display { margin-right: 0; }
    .topbar .item-display a { margin: 0 3px; }
    .topbar .lang { margin-left: 5px; }

    header { height: 50px; }
    header .container { background: #fff; }
    header .navbar-brand img { height: 90px; margin-top: -40px; }
    header .dropdown-menu { left: 0; transform: translate(-0%) !important; border: none; }
    header .dropdown:hover .dropdown-menu { text-align: left; padding-left: 30px; }
    header .nav-link { padding: 15px; }
    header .nav-link.active { color: #fa0f0c; }
    header .search { border-top: 1px solid #dee2e6; padding-top: 15px; }
    header .navbar-collapse { padding-top: 20px; }

    /* Footer */
    footer { padding-top: 40px; }
    footer .ft-content .ft-address { height: 150px; padding-top: 20px; }
    footer .ft-content .ft-address > * { text-align: center; }
    footer .ft-content .ft-contact { margin-bottom: 20px; }
    footer .ft-content .ft-contact h6 { position: relative; top: -190px; margin-bottom: -190px; right: 0; width: 200px; text-align: center; margin: 0 auto; }
    footer .ft-content .ft-contact ul { text-align: center; margin-top: -40px; }
    footer .ft-content .ft-contact dt { padding-left: 15px; width: 40%; float: left; clear: none; }
    footer .ft-content .ft-contact dd { width: 60%; float: left; clear: none; margin-bottom: 5px; }
    footer .ft-content .ft-links h6 { border-top: 1px solid #7b7f82; padding-top: 14px; position: relative; padding-left: 15px; }
    footer .ft-content .ft-links h6::after { position: absolute; right: 15px; margin-top: 3px; content: '\f078'; font-size: 10px; width: 10px; height: 10px; font-family: fontawesome;}
    footer .ft-content .ft-links ul { display: none; padding-left: 30px; }
    footer .ft-content .ft-links ul.show { display: block; }
    footer .ft-copyright p, footer .ft-copyright p a { text-align: center; }

    footer .ft-content { display: flex; flex-direction: row; }
    footer .ft-content .ft-address,
    footer .ft-content .ft-contact { order: 1; }
    footer .ft-content .ft-links { order: 2; }
}
.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

    .card .card-img-top {
        width: 100%;
    }

    .card .card-header {
        padding: 1.5rem 1rem;
    }

        .card .card-header .heading-elements a:hover {
            text-decoration: none;
        }

        .card .card-header .heading-elements .input-group .c-radio {
            color: #000;
        }

    .card .card-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .card .card-body .weather-details {
        margin-top: 1.5rem;
    }

    .card .media-list .media {
        color: #000;
    }

        .card .media-list .media:hover {
            text-decoration: none;
        }

.card-image-position-right-mid {
    top: auto;
    right: 0;
}

.card .card-header .heading-elements a {
    padding: 0.625rem 0.5rem;
}

.card-actions {
    padding: 1rem 0.25rem 0.5rem;
}





.mcd-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    /*height: 100px;*/
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    /* == */
    width: 250px;
    /* == */
}

    .mcd-menu li {
        position: relative;
        /*float:left;*/
    }

        .mcd-menu li a {
            display: block;
            text-decoration: none;
            padding: 12px 20px;
            color: #777;
            /*text-align: center;
  border-right: 1px solid #E7E7E7;*/
            /* == */
            text-align: left;
            height: 36px;
            position: relative;
            border-bottom: 1px solid #EEE;
            /* == */
        }

            .mcd-menu li a i {
                /*display: block;
  font-size: 30px;
  margin-bottom: 10px;*/
                /* == */
                float: left;
                font-size: 20px;
                margin: 0 10px 0 0;
                /* == */
            }
            /* == */
            .mcd-menu li a p {
                float: left;
                margin: 0;
            }
            /* == */

            .mcd-menu li a strong {
                display: block;
                text-transform: uppercase;
            }

            .mcd-menu li a small {
                display: block;
                font-size: 10px;
            }

            .mcd-menu li a i, .mcd-menu li a strong, .mcd-menu li a small {
                position: relative;
                transition: all 300ms linear;
                -o-transition: all 300ms linear;
                -ms-transition: all 300ms linear;
                -moz-transition: all 300ms linear;
                -webkit-transition: all 300ms linear;
            }

        .mcd-menu li:hover > a i {
            opacity: 1;
            -webkit-animation: moveFromTop 300ms ease-in-out;
            -moz-animation: moveFromTop 300ms ease-in-out;
            -ms-animation: moveFromTop 300ms ease-in-out;
            -o-animation: moveFromTop 300ms ease-in-out;
            animation: moveFromTop 300ms ease-in-out;
        }

        .mcd-menu li:hover a strong {
            opacity: 1;
            -webkit-animation: moveFromLeft 300ms ease-in-out;
            -moz-animation: moveFromLeft 300ms ease-in-out;
            -ms-animation: moveFromLeft 300ms ease-in-out;
            -o-animation: moveFromLeft 300ms ease-in-out;
            animation: moveFromLeft 300ms ease-in-out;
        }

        .mcd-menu li:hover a small {
            opacity: 1;
            -webkit-animation: moveFromRight 300ms ease-in-out;
            -moz-animation: moveFromRight 300ms ease-in-out;
            -ms-animation: moveFromRight 300ms ease-in-out;
            -o-animation: moveFromRight 300ms ease-in-out;
            animation: moveFromRight 300ms ease-in-out;
        }

        .mcd-menu li:hover > a {
            color: #e67e22;
        }

        .mcd-menu li a.active {
            position: relative;
            color: #e67e22;
            border: 0;
            /*border-top: 4px solid #e67e22;
  border-bottom: 4px solid #e67e22;
  margin-top: -4px;*/
            box-shadow: 0 0 5px #DDD;
            -moz-box-shadow: 0 0 5px #DDD;
            -webkit-box-shadow: 0 0 5px #DDD;
            /* == */
            border-left: 4px solid #e67e22;
            border-right: 4px solid #e67e22;
            margin: 0 -4px;
            /* == */
        }

            .mcd-menu li a.active:before {
                content: "";
                position: absolute;
                /*top: 0;
  left: 45%;
  border-top: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
                /* == */
                top: 42%;
                left: 0;
                border-left: 5px solid #e67e22;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                /* == */
            }

            /* == */
            .mcd-menu li a.active:after {
                content: "";
                position: absolute;
                top: 42%;
                right: 0;
                border-right: 5px solid #e67e22;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
            }
/* == */

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}



.mcd-menu li ul,
.mcd-menu li ul li ul {
    position: absolute;
    height: auto;
    min-width: 200px;
    padding: 0;
    margin: 0;
    background: #FFF;
    /*border-top: 4px solid #e67e22;*/
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    /*top: 130px;*/
    z-index: 1000;
    /* == */
    left: 280px;
    top: 0px;
    border-left: 4px solid #e67e22;
    /* == */
}

    .mcd-menu li ul:before {
        content: "";
        position: absolute;
        /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
        /* == */
        top: 25px;
        left: -9px;
        border-right: 5px solid #e67e22;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        /* == */
    }

    .mcd-menu li:hover > ul,
    .mcd-menu li ul li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        /*top: 100px;*/
        /* == */
        left: 250px;
        /* == */
    }
    /*.mcd-menu li ul li {
  float: none;
}*/
    .mcd-menu li ul li a {
        padding: 10px;
        text-align: left;
        border: 0;
        border-bottom: 1px solid #EEE;
        /* == */
        height: auto;
        /* == */
    }

        .mcd-menu li ul li a i {
            font-size: 16px;
            display: inline-block;
            margin: 0 10px 0 0;
        }

    .mcd-menu li ul li ul {
        left: 230px;
        top: 0;
        border: 0;
        border-left: 4px solid #e67e22;
    }

        .mcd-menu li ul li ul:before {
            content: "";
            position: absolute;
            top: 15px;
            /*left: -14px;*/
            /* == */
            left: -9px;
            /* == */
            border-right: 5px solid #e67e22;
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
        }

    .mcd-menu li ul li:hover > ul {
        top: 0px;
        left: 200px;
    }



/*.mcd-menu li.float {
  float: right;
}*/
.mcd-menu li a.search {
    /*padding: 29px 20px 30px 10px;*/
    padding: 10px 10px 15px 10px;
    clear: both;
}

    .mcd-menu li a.search i {
        margin: 0;
        display: inline-block;
        font-size: 18px;
    }

    .mcd-menu li a.search input {
        border: 1px solid #EEE;
        padding: 10px;
        background: #FFF;
        outline: none;
        color: #777;
        /* == */
        width: 170px;
        float: left;
        /* == */
    }

    .mcd-menu li a.search button {
        border: 1px solid #e67e22;
        /*padding: 10px;*/
        background: #e67e22;
        outline: none;
        color: #FFF;
        margin-left: -4px;
        /* == */
        float: left;
        padding: 10px 10px 11px 10px;
        /* == */
    }

    .mcd-menu li a.search input:focus {
        border: 1px solid #e67e22;
    }


.search-mobile {
    display: none !important;
    background: #e67e22;
    border-left: 1px solid #e67e22;
    border-radius: 0 3px 3px 0;
}

    .search-mobile i {
        color: #FFF;
        margin: 0 !important;
    }


@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .mcd-menu {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
   
    .mcd-menu {
        width: 200px;
    }

        .mcd-menu li a {
            height: 30px;
        }

            .mcd-menu li a i {
                font-size: 22px;
            }

            .mcd-menu li a strong {
                font-size: 12px;
            }

            .mcd-menu li a small {
                font-size: 10px;
            }

            .mcd-menu li a.search input {
                width: 120px;
                font-size: 12px;
            }

            .mcd-menu li a.search buton {
                padding: 8px 10px 9px 10px;
            }

        .mcd-menu li > ul {
            min-width: 180px;
        }

        .mcd-menu li:hover > ul {
            min-width: 180px;
            left: 200px;
        }

        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
            min-width: 150px;
        }

        .mcd-menu li ul li:hover > ul {
            left: 180px;
            min-width: 150px;
        }

        .mcd-menu li ul li ul li:hover > ul {
            left: 150px;
            min-width: 150px;
        }

        .mcd-menu li ul a {
            font-size: 12px;
        }

            .mcd-menu li ul a i {
                font-size: 14px;
            }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .paddingleft150 {
        padding-left: 0 !important;
    }
    .mcd-menu {
        width: 50px;
    }

        .mcd-menu li a {
            position: relative;
            padding: 12px 16px;
            height: 20px;
        }

            .mcd-menu li a small {
                display: none;
            }

            .mcd-menu li a strong {
                display: none;
            }

            .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
                display: block;
                font-size: 10px;
                padding: 3px 0;
                position: absolute;
                bottom: 0px;
                left: 0;
                background: #e67e22;
                color: #FFF;
                min-width: 100%;
                text-transform: lowercase;
                font-weight: normal;
                text-align: center;
            }

        .mcd-menu li .search {
            display: none;
        }

        .mcd-menu li > ul {
            min-width: 180px;
            left: 70px;
        }

        .mcd-menu li:hover > ul {
            min-width: 180px;
            left: 50px;
        }

        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
            min-width: 150px;
        }

        .mcd-menu li ul li:hover > ul {
            left: 180px;
            min-width: 150px;
        }

        .mcd-menu li ul li ul li > ul {
            left: 35px;
            top: 45px;
            border: 0;
            border-top: 4px solid #e67e22;
        }

            .mcd-menu li ul li ul li > ul:before {
                left: 30px;
                top: -9px;
                border: 0;
                border-bottom: 5px solid #e67e22;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

        .mcd-menu li ul li ul li:hover > ul {
            left: 30px;
            min-width: 150px;
            top: 35px;
        }

        .mcd-menu li ul a {
            font-size: 12px;
        }

            .mcd-menu li ul a i {
                font-size: 14px;
            }
}

@media only screen and (max-width: 479px) {
    .paddingleft150
    {
        padding-left:0 !important;
    }
    .mcd-menu {
        width: 50px;
    }

        .mcd-menu li a {
            position: relative;
            padding: 12px 16px;
            height: 20px;
        }

            .mcd-menu li a small {
                display: none;
            }

            .mcd-menu li a strong {
                display: none;
            }

            .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
                display: block;
                font-size: 10px;
                padding: 3px 0;
                position: absolute;
                bottom: 0px;
                left: 0;
                background: #e67e22;
                color: #FFF;
                min-width: 100%;
                text-transform: lowercase;
                font-weight: normal;
                text-align: center;
            }

        .mcd-menu li .search {
            display: none;
        }

        .mcd-menu li > ul {
            min-width: 180px;
            left: 70px;
        }

        .mcd-menu li:hover > ul {
            min-width: 180px;
            left: 50px;
        }

        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
            min-width: 150px;
        }

        .mcd-menu li ul li:hover > ul {
            left: 180px;
            min-width: 150px;
        }

        .mcd-menu li ul li ul li > ul {
            left: 35px;
            top: 45px;
            border: 0;
            border-top: 4px solid #e67e22;
        }

            .mcd-menu li ul li ul li > ul:before {
                left: 30px;
                top: -9px;
                border: 0;
                border-bottom: 5px solid #e67e22;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

        .mcd-menu li ul li ul li:hover > ul {
            left: 30px;
            min-width: 150px;
            top: 35px;
        }

        .mcd-menu li ul a {
            font-size: 12px;
        }

            .mcd-menu li ul a i {
                font-size: 14px;
            }
}


/* Top Links
---------------------------------*/

    .top-links ul {
        margin: 0;
        list-style: none;
    }

        .top-links ul li {
            float: left;
            position: relative;
            height: 44px;
            /*! border-left: 1px solid #EEE; */
            background: #BC1414;
            display: inline-block;
            line-height: 1.5;
        }

            .top-links ul li:first-child,
            .top-links ul ul li {
                border-left: 0 !important;
            }

    .top-links li > a {
        display: block;
        padding: 0 12px;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        height: 44px;
        /*! color: #666; */
        color: #FFF;
    }

    .top-links li i {
        vertical-align: top;
    }

        .top-links li i.icon-angle-down {
            margin: 0 0 0 5px !important;
        }

        .top-links li i:first-child {
            margin-right: 3px;
        }

    .top-links li.full-icon i {
        top: 2px;
        font-size: 14px;
        margin: 0;
    }

    .top-links li:hover {
        background-color: #EEE;
    }

    .top-links ul ul,
    .top-links ul div.top-link-section {
        display: none;
        pointer-events: none;
        position: absolute;
        z-index: 210;
        line-height: 1.5;
        background: #FFF;
        border: 0;
        top: 44px;
        left: 0;
        width: 140px;
        margin: 0;
        border-top: 1px solid #BC1414;
        border-bottom: 1px solid #EEE;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    }

    .top-links li:hover ul,
    .top-links li:hover div.top-link-section {
        pointer-events: auto;
    }

    .top-links ul ul li {
        float: none;
        height: 36px;
        border-top: 1px solid #F5F5F5;
        border-left: 1px solid #EEE;
    }

        .top-links ul ul li:hover {
            background-color: #F9F9F9;
        }

        .top-links ul ul li:first-child {
            border-top: none !important;
            border-left: 1px solid #EEE;
        }

    .top-links ul ul a {
        height: 36px;
        line-height: 36px;
        font-size: 12px;
    }

    .top-links ul ul img {
        display: inline-block;
        position: relative;
        top: -1px;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }

    .top-links ul ul.top-demo-lang img {
        top: 4px;
        width: 16px;
        height: 16px;
    }

    .top-links ul div.top-link-section {
        padding: 25px;
        left: 0;
        width: 280px;
    }

    .fright .top-links ul div.top-link-section,
    .top-links.fright ul div.top-link-section {
        left: auto;
        right: 0;
    }


