/* //////////////////////////////////// */
/*           HOMEPAGEE - INTRO          */
/* //////////////////////////////////// */

section {
    padding: 50px 0;
}
    
    /* Carousel */
    .carousel {
        position: relative;
        z-index: 1;
    }
    .carousel-caption {
        height: 330px;
        width: 330px;
        background: #0D5FA8;
        text-align: left;
        padding: 40px 30px;
        border-radius: 15px;
        top: 13%;
    }
        .carousel-caption.left {
            left: 11%;
            right: auto;
        }
        .carousel-caption.right {
            left: auto;
            right: 11%;
        }
        .carousel-caption::after {
            content: '\f10e';
            font-family: fontawesome;
            width: 65px;
            height: 65px;
            background: #0D5596;
            position: absolute;
            padding: 20px;
            font-size: 30px;
            line-height: 30px;
            border-radius: 50%;
            text-align: center;
            top: 30px;
            right: 30px;
        }

    .carousel-caption h5 {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.25;
        color: #fff;
        margin-bottom: 20px;
    }
        .carousel-caption h5 b {
            font-size: 28px;
            font-weight: 800;
        }
        .carousel-caption h5::after {
            content: '';
            width: 50px;
            height: 3px;
            display: block;
            background: #FA0F0C;
            margin-top: 15px;
        }

    .carousel-caption p {
        color: #D3D9FF;
    }
    .carousel-indicators [data-bs-target] {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 7px;
        margin-left: 7px;
        opacity: 0.5;
    }
    .carousel-indicators [data-bs-target].active {
        opacity: 1;
    }
        .carousel-indicators [data-bs-target].active::after{
            content: '';
            width: 12px;
            height: 12px;
            display: block;
            background: #FA0F0C;
            border-radius: 50%;
        }
    .carousel-control-next-icon, 
    .carousel-control-prev-icon {
        background-image: none;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(51, 51, 51, 0.1);
        opacity: 1;
        color: #333;
        font-size: 1.5rem;
        line-height: 4rem;
        text-align: center;
    }

    /* Shortcut */
    .st-home-shortcut {
        text-align: center;
        background: #919496;
        font-size: 400;
        padding: 0;
    }
    .st-home-shortcut .col {
        padding: 25px 0;
    }
    .st-home-shortcut .col.hl,
    .st-home-shortcut .col:hover {
        background: #0D5FA8;
    }
    .st-home-shortcut .col.hl:hover {
        background: #0a508e;
    }
    .st-home-shortcut a {
        font-weight: 400;
        color: #fff;
    }
    .st-home-shortcut img {
        width: auto;
        height: 50px;
        display: block;
        margin: 0 auto 7px;
    }

    /* Intro */
    .st-home-intro .col-text {
        padding: 30px 40px;
    }
    .st-home-intro .col-text h1 {
        margin-bottom: 5px;
    }
    .st-home-intro .col-text h4 {
        margin-bottom: 20px;
    }
    .st-home-intro .col-text .btn {
        margin-top: 5px;
    }
    .st-home-intro .col-text .btn-yt img {
        margin-top: -5px;
        margin-left: 20px;
        width: 175px;
        height: auto;
    }
    .st-home-intro .col-icon {
        padding-top: 25px;
    }
    .st-home-intro .col-icon i {
        position: absolute;
        font-size: 22px;
        padding: 15px;
        border-radius: 50%;
        left: 0;
        margin-top: -5px;
        color: #fff;
        background: #fff;
        width: 52px;
        height: 52px;
        text-align: center;
    }
        .st-home-intro .col-icon i.bg-1 {
            background: #0D5FA8;
        }
        .st-home-intro .col-icon i.bg-2 {
            background: #0E72CB;
        }
        .st-home-intro .col-icon i.bg-3 {
            background: #4795DB;
        }
        .st-home-intro .col-icon i.bg-4 {
            background: #69a8e0;
        }
        
    .st-home-intro .col-icon .ms-2 {
        font-size: 14px;
        margin-left: 50px !important;
        color: #7B7B7B;
    }
    .st-home-intro .col-icon .ms-2 .text-bold a {
        font-size: 16px;
        font-weight: 400;
        color: #333333;
    }   
        .st-home-intro .col-icon .ms-2 .text-bold a:hover {
            text-decoration: underline !important;
        }

    .st-home-intro .col-icon .list-group-item {
        padding: 1.25rem 1rem;
    }
    .st-home-intro .col-calendar {
        padding: 0 30px;
    }

    /* Service */
    .st-home-services {
        padding-top: 0;
        position: relative;
        z-index: 2;
    }
    .st-home-services .row {
        padding-left: 15px;
        padding-right: 15px;
    }
    .st-home-services .sv-card {
        background: #fff;
        padding: 30px 25px 20px;
        padding-top: 180px;
        min-height: 250px;
    }
    .st-home-services .sv-card h3 a {
        color: #ffffff;
    }
    .st-home-services .sv-card i {
        float: right;
        font-size: 16px;
        margin-top: 10px;
    }
        .st-home-services .sv-card.sv-1 {
            padding-top: 20px;
            border-radius: 0 0 0 12px;
        }
            .st-home-services .sv-card.sv-1 h3 {
                margin-bottom: 20px;
            }
            .st-home-services .sv-card.sv-1 .btn {
                margin-top: 10px;
            }
        .st-home-services .sv-card.sv-2, 
        .st-home-services .sv-card.sv-3,
        .st-home-services .sv-card.sv-4 {
            background-size: cover;
        }
        .st-home-services .sv-card.sv-2 {
            background-image: url(../images/home/sv-bg-2.png)
        }
        .st-home-services .sv-card.sv-3 {
            background-image: url(../images/home/sv-bg-3.png)
        }
        .st-home-services .sv-card.sv-4 {
            background-image: url(../images/home/sv-bg-4.png);
            border-radius: 0 0 12px 0;
        }

    /* News */
/*    .st-home-news {
        padding-top: 120px;
        background: #DCDCDC;
        position: relative;
        z-index: 1;
        top: -125px;
        margin-bottom: -125px;
    }*/
/*    .st-home-news .news-card {
        border-radius: 12px;
        background: #ffffff;
        padding: 35px 30px 20px;
        position: relative;
    }
        .st-home-news .news-card::after {
            width: 95%;
            height: 3px;
            background: #0D5FA8;
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 2.5%;
            border-radius: 12px 12px 0 0;
        }
    .st-home-news .news-card .dmy {
        position: absolute;
    }
    .st-home-news .news-card .dmy .d {
        font-weight: 800;
        font-size: 40px;
        line-height: 40px;
        color: #FA0F0C;
        display: block;
    }
    .st-home-news .news-card .dmy .my {
        font-size: 12px;
        opacity: 0.5;
    }
    .st-home-news .news-card .content {
        padding-left: 80px;
    }
    .st-home-news .news-card .content .title {
        min-height: 120px;
        max-height: 120px;
        overflow: hidden;
        line-height: 24px;
    }
    .st-home-news .news-card .content .title a {
        font-size: 16px;
    }
    .st-home-news .news-card .content .except {
        opacity: 0.7;
        height: 40px;
    }
    .st-home-news .news-card .content .readmore {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .st-home-news .news-card .content .readmore a {
        font-weight: 400;
    }
    .st-home-news .news-card .content .readmore a::after {
        width: 41px;
        height: 2px;
        background: #FA0F0C;
        content: '';
        display: block;
        margin-top: 5px;
    }
    .st-home-news .news-card .content .author {
        font-size: 12px;
        text-align: right;
        opacity: 0.5;
        cursor: default;
    }*/

    /* Links */
    .st-home-links {
        padding: 30px 0;
    }
    .st-home-links .col {
        position: relative;
    }
    .st-home-links h6 {
        font-size: 14px;
        color: #fff;
        position: absolute;
        background: #0D5FA8;
        padding: 10px 30px;
        border-radius: 0 0 6px 6px;
        left: 10px;
        margin-top: -30px;
    }
    .st-home-links ul {
        margin-bottom: 0;
        margin-left: 16.66666667%;
    }
    .st-home-links ul img {
        width: auto;
        height: 50px;
        margin-right: 20px;
    }
    


/* ///////////////////////////// */
/*           RESPONSIVE          */
/* ///////////////////////////// */

@media (max-width: 575px) {

    /* Home */
    .carousel-control-prev { left: 15px; }
    .carousel-control-next { right: 15px; }

    .st-home-intro .col-text { padding: 0 15px; }
    .st-home-intro .col-icon { padding-top: 40px; padding-bottom: 30px; }
    .st-home-intro .col-icon .list-group { display: block ;}
    .st-home-intro .col-icon .list-group-item { width: 50%; float: left; clear: none; border-bottom: 1px solid rgba(0,0,0,.125); }
    .st-home-intro .col-icon .list-group-item:nth-child(1), 
    .st-home-intro .col-icon .list-group-item:nth-child(2) { border-top: 1px solid rgba(0,0,0,.125); }
    .st-home-intro .col-calendar { padding: 15px; }
    .st-home-shortcut .col { width: 33.333333%; padding: 20px 0; }
    .st-home-shortcut .col.hl { border-radius: 0 0 12px 12px; }
    .st-home-shortcut img { height: 36px; }
    .st-home-services .sv-card.sv-1 { border-radius: 12px 12px 0 0; padding: 0 0 30px; min-height: 1px; }
    .st-home-services .sv-card.sv-4 { border-radius: 0 0 12px 12px; }
/*    .st-home-news { padding-bottom: 20px; }
    .st-home-news .hl-ha { width: 250px; }
    .st-home-news .news-card { margin-bottom: 15px; }
    .st-home-news .news-card .content .title { min-height: 1px; max-height: none; }*/
    .st-home-links { padding: 0 0 30px; left: 0; }
    .st-home-links h6 { position: relative; width: 200px; text-align: center; margin: 0 auto; }
    .st-home-links ul { margin-top: 25px; margin-left: 0; text-align: center; }
    .st-home-links ul .list-inline-item { margin: 0 7px 10px 7px; }
    .st-home-links ul img { margin-right: 0; }
}
