/* //////////////////////////////////// */
/*                 BANNER               */
/* //////////////////////////////////// */

.st-subpage-banner {
    padding: 0;
}
    .st-subpage-banner h1 {
        font-size: 40px; /*24px;*/
        margin-bottom: 0;
    }
.st-subpage-banner h4 {
    font-size: 24px; /*18*/
    color: #5B5B5B;
    margin-bottom: 0;
}

.vertical-center {
    display: table;
    width:100%;
    height: 100%;
}
.content-vertical-top {
    display: table-cell;
    vertical-align: top;
}
.content-vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.content-vertical-bottom {
    display: table-cell;
    vertical-align: bottom;
}

    .highlight { 
        position: relative;
        outline: 0;
        font-size: 0;
    }
    .highlight .container { 
        height:100%; 
        position: relative;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .highlight .hl-img {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .highlight .highlight-bg img {
        width: 100%;
        height: auto;
    }
    .highlight .area-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-color: transparent;
        background-image: none;
    }
    .highlight .content-area { 
        margin-top: -40px;
    }
    .highlight .content-area.left { padding: 40px 50% 0 0; }
    .highlight .content-area.right { padding: 40px 0 0 50%; }
    .highlight .content-area.center { padding: 0; text-align: center; }
    .highlight .content-area .image { margin-bottom: 30px; }

    .highlight .content-area.left, 
    .highlight .content-area.right { text-align: center; }


/* ///////////////////////////////////////////// */
/* ///                SIDEBAR                /// */
/* ///////////////////////////////////////////// */

.content-sidebar {
    background: #0D5FA8;
    border-radius: 12px;
    padding-bottom: 10px;
}
.content-sidebar .ct-sb-title {
    padding: 30px 20px 15px 27px;
    margin-bottom: 10px;
    position: relative;
}
.content-sidebar .ct-sb-title h4 {
    font-size: 18px;
    margin-bottom: 0;
}
    .content-sidebar .ct-sb-title::after,
    .content-sidebar.cert .ct-sb-title::after,
    .content-sidebar.news .ct-sb-title::after {
/*        content: '\f019';
        font-family: fontawesome;*/
        width: 44px;
        height: 44px;
        color: #fff;
        background: #0D5596;
        position: absolute;
        padding: 15px;
        font-size: 18px;
        line-height: 18px;
        border-radius: 50%;
        text-align: center;
        top: 25px;
        right: 25px;
    }
/*    .content-sidebar.cert .ct-sb-title::after {
        content: '\f15c';
    }
    .content-sidebar.news .ct-sb-title::after {
        content: '\f1ea';
    }*/
    
.content-sidebar ul.ct-sb-list {
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
}
.content-sidebar ul.ct-sb-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.content-sidebar ul.ct-sb-list li a {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    transition: 0.3s all;
}
.content-sidebar ul.ct-sb-list li:hover a {
    color: #19232b;
}
.content-sidebar ul.ct-sb-list li:last-child {
    border: none;
}

    .side-menu {
        background-color: #0D5FA8;
        color: #fff;
        border-radius: 10px;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }
    .side-menu .menu-item-head .menu-heading-h2 {
        font-size: 32px;
    }
    .side-menu .menu-item-head {
        padding: 30px;
        border-bottom: 1px solid #4A5260;
        display: none;
    }
    .side-menu .menu-item {
        padding: 20px 30px 10px;
        margin: 20px 0 0;
        border-bottom: 1px solid #4A5260;
    }
    .side-menu .menu-item:last-child{
        border-bottom: 0;
    }
    .side-menu .menu-heading-h2 {
        font-size: 30px;
        color: #fff;
    }

    .menu-item-level-one {
        cursor: pointer;
    }
    .menu-item-level-one span {
        font-size: 22px;
    }
    .menu-item-level-one::after {
        content: '\f078';
        font-family: 'fontawesome';
        font-size: 16px;
        position: absolute;
        right: 40px;
        margin-top: 4px;
    }
    .menu-item-level-one.up::after {
        content: '\f077';
        font-family: fontawesome;
        font-size: 18px;
        line-height: 2;
        margin-top: 0;
    }
    .menu-item-level-two{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        height: 0;
    }
    .menu-item-level-two.show-menu{
        visibility: visible;
        opacity: 1;
        height: auto;
        margin: 10px 0;
        padding-top: 10px;
    }
        .menu-item-level-two.show-menu::before {
            content: '';
            width: 50px;
            height: 3px;
            display: block;
            background: #FA0F0C;
            margin-top: -5px;
            margin-bottom: 30px;
            position: relative;
        }
        
    .menu-item-list {
        position: relative;
        color: #fff;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 14px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 2px 0 10px;
    }
    .menu-item-list.last-child {
        border-bottom: none;
    }
    .menu-item-list.active {
        color: #fff;
    }
    .menu-item-list.active::before {
        content: '\e968';
        font-family: 'iconfont';
        font-size: 10px;
        color: #fff;
        padding: 5px;
        position: absolute;
        left: -11%;
        top: 3px;
        background-color: #353E4E;
    }


/* ////////////////////////////////// */
/*           PAGE - DOWNLOAD          */
/* ////////////////////////////////// */

.st-subpage-content .content {
    padding-left: 30px;
}


/* ////////////////////////////////// */
/*           PAGE - DOWNLOAD          */
/* ////////////////////////////////// */

/* Download */
.download {
    padding-left: 15px;
}
.download .dl-item {
    width: 100%;
    display: table;
    border-bottom: 1px solid #0000001A;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.download .dl-title, 
.download .dl-title a {
    font-size: 18px;
    min-height: 55px;
    padding-top: 5px;
}
.download .dl-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    background: #eee;
    border-radius: 50%;
    text-align: center;
    color: #E61B1B;
    font-size: 24px;
}
.download .dl-title, 
.download .dl-meta-button {
    padding-left: 90px;
}
.download .dl-meta-button {
    width: 30%;
    float: left;
    clear: none;
    text-transform: uppercase;
}
    .download .dl-meta-button::after {
        content: '';
        width: 82px;
        height: 2px;
        background: #FA0F0C;
        position: relative;
        margin-top: 3px;
        display: block;
    }

.download .dl-meta-detail {
    width: 70%;
    float: left;
    clear: none;
    text-align: right;
    font-size: 12px;
}
.download .dl-meta-detail i {
    margin-left: 20px;
}

/* Pagination */
.pagination { 
    margin-top: 30px; 
    margin-bottom: 10px; 
} 
.pagination .page-link {
    color: #333;
    background: #F2F2F2;
    border-color: #F2F2F2;
    margin: 0 5px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    box-shadow: none !important;
}
.pagination .page-link.link-none {
    background: transparent;
    border-color: transparent;
}
.pagination .page-link.link-active {
    color: #fff;
    background: #0D5FA8;
    border-color: #0D5FA8;
}
.pagination li:first-child a, 
.pagination li:last-child a {
    border: none !important;
    background: none !important;
    width: auto;
    margin: 0 15px;
}
.pagination .page-item:first-child .page-link {
    margin-right: 15px;
}
.pagination .page-item:last-child .page-link {
    margin-left: 15px;
}
.pagination .page-item.disabled .page-link {
    color: #b5b5b5;
}
.pagination .hidden-mobile {
    display: inline-block;
}
.pagination i {
    margin: 0 5px;
    position: relative;
    top: 1px;
}


/* ////////////////////////////////// */
/*           PAGE - ABOUTUS           */
/* ////////////////////////////////// */

.st-subpage-history {
    padding-top: 120px;
}

.st-subpage-v-m {
    background-color: #fff;
    background-image: url(../images/subpage/aboutus/bg-v-m.png);
    background-size: cover;
    background-position: top left;
}
.st-subpage-v-m .col-vision h4 {
    font-size: 32px;
    font-weight: 200;
    line-height: 1.25;
    padding-top: 40px;
    padding-left: 90px;
    position: relative;
}
.st-subpage-v-m .col-vision h4 span {
    font-size: 36px;
    font-weight: 400;
}
.st-subpage-v-m .col-vision h4::before {
    content: '\f10d';
    width: 65px;
    height: 65px;
    line-height: 65px;
    color: #fff;
    font-family: fontawesome;
    background: #FA0F0C;
    position: absolute;
    border-radius: 50%;
    margin-left: -90px;
    margin-top: -5px;
    text-align: center;
}
        .st-subpage-v-m .col-icon i {
            position: absolute;
            font-size: 32px;
            padding: 22px;
            border-radius: 50%;
            left: 0;
            margin-top: -5px;
            color: #fff;
            background: transparent;
            width: 80px;
            height: 80px;
            text-align: center;
        }
            .st-subpage-v-m .col-icon i.bg-1 {
                background: #0D5FA8;
            }
            .st-subpage-v-m .col-icon i.bg-2 {
                background: #0E72CB;
            }
            .st-subpage-v-m .col-icon i.bg-3 {
                background: #4795DB;
            }
            
        .st-subpage-v-m .col-icon .ms-2 {
            font-size: 14px;
            margin-left: 85px !important;
            color: #7B7B7B;
        }
        .st-subpage-v-m .col-icon .ms-2 .text-bold {
            font-size: 16px;
            font-weight: 200;
            color: #333333;
        }   
        .st-subpage-v-m .col-icon .list-group-item {
            background: none;
            padding: 1rem;
            border-width: 0;
        }

.st-subpage-objective .headline {
    margin-bottom: 30px;
}
.st-subpage-objective .object {
    background: rgba(196, 196, 196, 0.1);
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 25px 25px 25px 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.st-subpage-objective .object h5 {
    position: absolute;
    font-weight: 600;
    font-size: 30px;
    margin-top: -5px;
}
.st-subpage-objective .object p {
    margin-bottom: 0;
    padding-left: 40px;
}

.st-subpage-duties {
    background-color: #0D5FA8;
    background-image: url(../images/subpage/aboutus/bg-duty.png);
    background-size: cover;
    background-position: top center;
}
.st-subpage-duties .headline {
    margin-bottom: 60px;
}
.st-subpage-duties .icon {
    text-align: center;
    margin-bottom: 25px;
}
.st-subpage-duties .icon img {
    width: auto;
    height: 80px;
}
.st-subpage-duties p {
    color: #fff;
    text-align: center;
}
.st-subpage-duties .button {
    margin-top: 20px;
}


/* ////////////////////////////////// */
/*             PAGE - NEWS            */
/* ////////////////////////////////// */

/* News */
.news-card {
    border-radius: 12px;
    background: #ffffff;
    padding: 0;
    position: relative;
    margin-bottom: 30px;
}
    .news-card::after {
        width: 100%;
        height: 3px;
        background: #0D5FA8;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 12px 12px 0 0;
    }
    
.news-card .img img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: auto;
}
.news-card .dmy {
    margin-top: 20px;
    left: 15px;
    position: absolute;
}
.news-card .dmy .d {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #FA0F0C;
    display: block;
}
.news-card .dmy .my {
    font-size: 12px;
    opacity: 0.5;
}
.news-card .content {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 90px;
}
.news-card .content .title {
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    line-height: 24px;
}
.news-card .content .title a {
    font-size: 16px;
}
.news-card .content .except {
    opacity: 0.7;
    height: 40px;
}
.news-card .content .readmore {
    margin-top: 25px;
    margin-bottom: 15px;
}
.news-card .content .readmore a {
    font-weight: 400;
}
.news-card .content .readmore a::after {
    width: 41px;
    height: 2px;
    background: #FA0F0C;
    content: '';
    display: block;
    margin-top: 5px;
}
.news-card .meta {
    width: 100%;
    display: inline-block;
}
.news-card .meta .author, 
.news-card .meta .views-tags {
    font-size: 12px;
    text-align: left;
    opacity: 0.5;
    cursor: default;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 50%;
    float: left;
    clear: none;
}
.news-card .meta .views-tags {
    text-align: right;
}

/* News Detail */
.content .ct-header {
    padding-top: 30px;
    padding-bottom: 20px;
}
.content .ct-header .headline {
    margin-bottom: 10px;
}
.content .ct-header .meta {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.content .ct-header .meta span {
    margin-right: 15px;
}
.content .ct-header .meta span.tags a {
    text-decoration: underline !important;
    color: rgba(0, 0, 0, 0.5);
}
.content .ct-header .meta .share-social {
    float: right;
    position: relative;
    top: -7px;
    margin-left: 15px;
    margin-bottom: 0;
}
.content .ct-header .meta .share-social li {
    display: inline-block;
}
.content .ct-header .meta .share-social li a {
    width: 32px;
    height: 32px;
    margin: 0 3px;
    line-height: 32px;
    color: #fff !important;
    background: #0D5FA8;
    border-radius: 6px;
    display: block;
    text-align: center;
    transition: none !important;
}
    .content .ct-header .meta .share-social li.facebook a {
        background: #1877F2;
        color: #fff !important;
    }
    .content .ct-header .meta .share-social li.twitter a {
        background: #1DA1F2;
        color: #fff !important;
    }
    .content .ct-header .meta .share-social li.line a {
        background: #00C300;
        color: #fff !important;
    }
    .content .ct-header .meta .share-social li.default a {
        background: #FA0F0C;
        color: #fff !important;
    }
    .content .ct-header .meta .share-social li.facebook a:hover,
    .content .ct-header .meta .share-social li.facebook a:hover i.fa-facebook-f,
    .content .ct-header .meta .share-social li.twitter a:hover, 
    .content .ct-header .meta .share-social li.twitter a:hover i.fa-twitter,
    .content .ct-header .meta .share-social li.line a:hover,
    .content .ct-header .meta .share-social li.line a:hover i.fa-line,
    .content .ct-header .meta .share-social li.default a:hover, 
    .content .ct-header .meta .share-social li.default a:hover i.fa-share-alt {
        background: #0D5FA8;
        color: #fff !important;
    }

.content .ct-featured {
    margin-bottom: 30px;
}

.content .ct-download {
    position: relative;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 60px;
    border-top: 1px solid #eee;
}
.content .ct-download h6 {
    font-size: 14px;
    color: #fff;
    position: absolute;
    background: #0D5FA8;
    padding: 10px 30px;
    border-radius: 0 0 6px 6px;
    left: 0;
    margin-top: -60px;
}
    .content .ct-download .download {
        padding-left: 0;
    }
    .content .ct-download .download .dl-item {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 5px;
    }
    .content .ct-download .download .dl-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    .content .ct-download .download .dl-title {
        font-size: 14px;
        padding-left: 65px;
        width: 60%;
        float: left;
    }
    .content .ct-download .download .dl-title, 
    .content .ct-download .download .dl-title a {
        font-size: 14px;
        min-height: 1px;
        padding-top: 0;
    }
    .content .ct-download .download .dl-meta-detail {
        width: 40%;
        float: right;
        text-align: right;
        font-size: 12px;
        opacity: 0.7;
    }

/* ////////////////////////////////// */
/*          PAGE - TRAINING           */
/* ////////////////////////////////// */

/* Shortcut */
.st-subpage-shortcut {
    text-align: center;
    background: #919496;
    font-weight: 400;
    padding: 0;
}
.st-subpage-shortcut .col {
    padding: 20px 0 17px;
}
.st-subpage-shortcut .col.hl,
.st-subpage-shortcut .col:hover {
    background: #FA0F0C;
}
.st-subpage-shortcut .col.hl:hover {
    background: #e90a06;
}
.st-subpage-shortcut a {
    font-weight: 400;
    color: #fff;
}
.st-subpage-shortcut img {
    width: auto;
    height: 40px;
    display: block;
    margin: 0 auto 7px;
}

/* Content */
.st-subpage-tn-public .course img {
    margin-bottom: 40px;
}
.st-subpage-tn-public .course h4, 
.st-subpage-tn-inhouse h4 {
    padding-top: 30px;
}
.st-subpage-tn-inhouse img {
    margin-top: 15px;
    margin-bottom: 20px;
}

.st-subpage-tn-elearning .box-colored {
    background: #0D5FA8;
    padding: 60px 40px;
    border-radius: 12px;
    position: relative;
    width: 90%;
    float: right;
    margin-bottom: 40px;
}
    .st-subpage-tn-elearning .box-colored:after {
        content: '\f02e';
        width: 75px;
        height: 75px;
        line-height: 75px;
        font-size: 28px;
        color: #fff;
        font-family: fontawesome;
        background: #0D5596;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        top: 40px;
        right: 20px;
    }
.st-subpage-tn-elearning .box-colored h4, 
.st-subpage-tn-elearning .box-colored p {
    color: #fff;
}
.st-subpage-tn-elearning .box-colored p {
    margin-top: 40px;
    line-height: 2;
    margin-bottom: 0;
}

.st-subpage-tn-public .container, 
.st-subpage-tn-inhouse .container,
.st-subpage-tn-elearning .container,
.st-subpage-tn-action .container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.st-subpage-tn-public, 
.st-subpage-tn-inhouse {
    padding-bottom: 30px;
}
.st-subpage-tn-elearning {
    padding-bottom: 15px;
}
.st-subpage-tn-inhouse,
.st-subpage-tn-elearning,
.st-subpage-tn-action {
    padding-top: 15px;
}
.st-subpage-tn-action {
    padding-top: 0;
    padding-bottom: 0;
}

.st-subpage-tn-elearning p,
.st-subpage-tn-contact p {
    line-height: 2;
}

/* ////////////////////////////////// */
/*          PAGE - SURVEYOR           */
/* ////////////////////////////////// */

/* Icon */
.col-icon {
    padding-top: 0;
    margin-bottom: 30px;
}
.col-icon i {
    position: absolute;
    font-size: 22px;
    padding: 15px;
    border-radius: 50%;
    left: 0;
    margin-top: 5px;
    color: #fff;
    background: #fff;
    width: 52px;
    height: 52px;
    text-align: center;
}
    .col-icon i.bg-blue {
        background: #0E72CB;
    }
    .col-icon i.bg-red {
        background: #FA0F0C;
    }
    
.col-icon .ms-2 {
    font-size: 14px;
    margin-left: 50px !important;
    color: #7B7B7B;
}
.col-icon .ms-2 .text-bold a {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}   
    .col-icon .ms-2 .text-bold a:hover {
        text-decoration: underline !important;
    }

.col-icon .list-group-item {
    padding: 1.25rem 1rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee !important;
}

/* Ul */
.bullet-list {
    list-style: circle;
    padding-left: 30px;
}
.bullet-list li,
.number-list li {
    margin-bottom: 5px;
    line-height: 2;
}

/* Accordion */
.accordion-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

.accordion-body,
.accordion-button {
    padding: 1rem 0;
   
}
.accordion-button {
    font-size: 20px;
    position: relative;
    padding-right: 40px;
}
.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background: #fff;
    box-shadow: none;
}
.accordion-button::after {
    width: 25px;
    height: 5px;
    background-image: none;
    font-size: 60px;
    color: #FA0F0C;
    content: '+';
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -15px;
}
.accordion-button:not(.collapsed)::after {
    content: '-';
    transform: none;
}

.st-subpage-sv-surveyor .surveyors {
    padding: 0 100px;
}
.st-subpage-sv-surveyor .surveyor {
    margin-top: 25px;
    margin-bottom: 25px;
}
.st-subpage-sv-surveyor .surveyor img {
    margin-bottom: 15px;
    border-radius: 50%;
    width: auto !important;
    height: 170px;
}
.st-subpage-sv-surveyor .button {
    margin-top: 30px;
}

.st-subpage-sv-morals .bullet-list {
    padding-left: 20px;
}
.st-subpage-sv-morals .bullet-list li {
    line-height: 1.5;
}
.st-subpage-sv-morals .col-icon .list-group-item {
    padding: 0.5rem 1rem 0.5rem 3rem;
    border: none !important;
}
.st-subpage-sv-morals .col-icon i {
    width: 75px;
    height: 75px;
    font-size: 32px;
    line-height: 1.5;
    margin-top: 0;
}
.st-subpage-sv-morals .col-icon i.bg-1 {
    background: #0D5FA8;
}
.st-subpage-sv-morals .col-icon i.bg-2 {
    background: #0E72CB;
}
.st-subpage-sv-morals .col-icon i.bg-3 {
    background: #4795DB;
}

.st-subpage-sv-assessment img {
    margin-bottom: 30px;
}

.st-subpage-sv-register .container, 
.st-subpage-sv-morals .container, 
.st-subpage-sv-process .container, 
.st-subpage-sv-assessment .container, 
.st-subpage-sv-surveyor .container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.st-subpage-sv-register, 
.st-subpage-sv-morals, 
.st-subpage-sv-process, 
.st-subpage-sv-assessment, 
.st-subpage-sv-surveyor {
    padding-bottom: 0;
}
.st-subpage-sv-process .container, 
.st-subpage-sv-surveyor .container, 
.st-subpage-sv-faq .container {
    padding-bottom: 50px;
}


/* ////////////////////////////////// */
/*             SEARCH + BOX           */
/* ////////////////////////////////// */

.search-box {
    border: 1px solid #B1B1B1;
    border-radius: 12px;
    padding: 55px 25px 40px;
    margin-bottom: 50px;
    background: #fff url(../images/subpage/search-bg.png);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 275px;
}   
.search-box h2 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 1;
}
.search-box h3 {
    font-size: 22px;
}
.search-box h2, 
.search-box h3 {
    margin-left: 100px;
} 
    .search-box h2:before {
        content: '\f002';
        width: 65px;
        height: 65px;
        line-height: 65px;
        color: #fff;
        font-family: fontawesome;
        background: #0D5FA8;
        position: absolute;
        border-radius: 50%;
        margin-left: -90px;
        margin-top: -5px;
        text-align: center;
    }
.search-box form {
    margin-top: 45px;
}
.search-box .form-control {
    font-size: 14px;
    font-weight: 200;
    line-height: 2;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
}
.search-box .btn {
    font-size: 14px;
    height: 42px;
    padding: 10px 20px;
    background: #FA0F0C;
    border-color: #FA0F0C;
}
.search-box .btn:hover {
    background: #0D5FA8;
    border-color: #0D5FA8;
}

.search-result .result {
    margin-top: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.search-result .result .thumbnail {
    width: 150px;
    height: 180px;
    position: absolute;
}
.search-result .result .thumbnail img {
    width: 135px;
    max-height: 180px;
    max-width: 135px;
}
    .search-result .result .detail {
        padding-left: 200px;
        min-height: 180px;
    }
.search-result .result .detail i {
    position: absolute;
    margin-left: -30px;
    margin-top: 3px;
}
.search-result .result .detail dt {
    position: relative;
    padding-left: 30px;
    font-weight: 400;
}
.search-result .result .detail dt:after {
    content: ':';
    position: absolute;
    right: 0;
}
.search-result .result .detail dd {
    padding-left: 20px;
}
.search-result .result .detail h3 {
    padding-left: 0;
}
.search-result .result .button {
    margin-left: 175px;
    margin-bottom: 15px;
}
.search-result .result table {
    text-align: center; 
    border-top: 2px solid #FA0F0C;
    background: #F9F8F8;
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: #F0F0F0;
    --bs-table-active-color: #212529;
    --bs-table-active-bg: #F0F0F0;
    --bs-table-hover-color: transparent;
    --bs-table-hover-bg: transparent;
}
.table>:not(caption)>*>* {
    font-weight: 200;
    vertical-align: middle;
}
.table>:not(:last-child)>:last-child>* {
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


/* ///////////////////////////// */
/*           RESPONSIVE          */
/* ///////////////////////////// */

@media (max-width: 575px) {

    .st-subpage-content { padding: 0 0 30px; }
    .st-subpage-content .content { padding-left: 15px; }

    .st-subpage-shortcut .col { width: 33.333333%; padding: 20px 0; }
    .st-subpage-shortcut .col.hl { border-radius: 0 0 12px 12px; }
    .st-subpage-shortcut img { height: 36px; }

    /* About us */
    .st-subpage-history { padding-top: 40px; padding-bottom: 40px; }
    .st-subpage-v-m .col-vision h4 br { display: none; }
    .st-subpage-v-m .col-icon i { font-size: 24px; width: 65px; height: 65px; }
    .st-subpage-v-m .col-icon .ms-2 { margin-left: 75px !important; }
    .st-subpage-objective .headline { margin-bottom: 20px; }
    .st-subpage-objective .object { margin-bottom: 0; }
    .st-subpage-duties .col { margin-bottom: 20px; width: 50%; max-width: 50%; flex: 0 0 50%; }
    .st-subpage-duties .icon img { height: 55px; }

    .st-subpage-tn-public .course img { margin-top: 25px; margin-bottom: 0; }
    .st-subpage-tn-public .course h4, .st-subpage-tn-inhouse h4 { padding-top: 20px; }
    .st-subpage-tn-inhouse img { margin-bottom: 5px; }
    .st-subpage-tn-inhouse .btn, 
    .st-subpage-tn-elearning .box-colored { width: 100%; }
    .st-subpage-tn-elearning .box-colored { padding: 40px 30px; }
    .st-subpage-tn-elearning .box-colored:after { display: none; }

    .st-subpage-sv-surveyor .surveyors { padding: 0 15px; }
    .st-subpage-sv-surveyor .surveyors .col { flex: 0 0 50%; width: 50%; max-width: 50%; }

    /* Search box */
    .search-box { padding: 35px 25px 25px; background-position: center; }
    .search-box h2, .search-box h3 { line-height: 1.25; }
    .search-result .result .thumbnail { position: static; margin-bottom: 25px; }
    .search-result .result .detail { padding-left: 15px; }
    .search-result .result .button { margin-left: -5px; }
    .search-result .result .detail dd { padding-left: 30px; padding-top: 5px; }
    .search-result .result .table { margin: 0; }

    .download { padding-left: 0; }
    .download .dl-title { padding-left: 75px; }
    .download .dl-title, .download .dl-title a { padding-top: 0; min-height: 1px; font-size: 16px; }
    .download .dl-icon { font-size: 20px; width: 60px; height: 60px; line-height: 60px; }
    .download .dl-meta-button, 
    .download .dl-meta-detail { width: 100%; }
    .download .dl-meta-button { padding-left: 75px; margin-bottom: 15px; }
    .download .dl-meta-detail { padding-left: 70px; text-align: left; font-size: 10px; }
    .download .dl-meta-detail i { margin-left: 5px; }

    .pagination { justify-content: center !important; margin-bottom: 20px; }
    .pagination .hidden-mobile { display: none; }

    .news-card .content .title { min-height: 1px; max-height: none; }

    .content .ct-header .hl-ha::after { display: none; }
    .content .ct-header .meta .text-end { text-align: left !important; }
    .content .ct-header .meta .share {     
        padding-top: 15px;
        padding-bottom: 0;
        margin-top: 15px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    } 
    .content .ct-download { position: relative; margin-bottom: 10px; }
    .content .ct-download h6 { position: relative; width: 200px; text-align: center; margin: -60px auto 20px; }
    .content .ct-download .download .dl-title { width: 100%; padding-left: 55px; }
    .content .ct-download .download .dl-meta-detail { width: 100%; text-align: left; padding-left: 50px; margin-bottom: 15px; font-size: 10px; }
}
