﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using SWU.Frontend.Controllers
@using Core.DAL.Models;
@using Core.Common;
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

    //var userName = InitializeController.F_Username;

    string Controllers_ = ViewContext.RouteData.Values["Controller"] != null ? ViewContext.RouteData.Values["Controller"].ToString() : "Home";
    string Action_ = ViewContext.RouteData.Values["Action"] != null ? ViewContext.RouteData.Values["Action"].ToString() : "Index";
    string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string IDs_ = ViewContext.RouteData.Values["ID"] != null ? ViewContext.RouteData.Values["ID"].ToString() : "";
    string Menuname_ = ViewContext.RouteData.Values["Menuname"] != null ? ViewContext.RouteData.Values["Menuname"].ToString() : "หน้าหลัก";

}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @RenderSection("MetaHeader", required: false)
    <!-- Theme CSS -->
    <link href="@Url.Content("~/css/fontawesome/all.css?v=1.0")" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<link href="@Url.Content("~/css/fontawesome/all.css?v=1.0")" rel="stylesheet">*@
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/bootstrap.css?v=1.0")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/style.css?v=1.1")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/swiper.css?v=1.0")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/dark.css?v=1.0")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/font-icons.css?v=1.0")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/animate.css?v=1.0")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/magnific-popup.css?v=1.0")" type="text/css" />

    <link rel="stylesheet" href="@Url.Content("~/canvas/css/responsive.css?v=1.0")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/theme.css?v=1.2")" type="text/css" />
    <link href="@Url.Content("~/images/favicon.ico?v=1.0")" rel="shortcut icon" type="image/x-icon">

<title>
    @ViewBag.Title Graduate School of Srinakharinwirot University. | บัณฑิตวิทยาลัย มหาวิทยาลัยศรีนครินทรวิโรฒ
</title>

    <style>
        .icon-bar {
            position: fixed;
            top: 30%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: 1009;
        }

            .icon-bar a {
                display: block;
                text-align: center;
                padding: 8px;
                transition: all 0.3s ease;
                color: white;
                font-size: 20px;
            }

                .icon-bar a:hover {
                    color: white;
                }

        .facebook {
            background: #3B5998;
            color: white;
        }

        .twitter {
            background: #55ACEE;
            color: white;
        }

        .google {
            background: #dd4b39;
            color: white;
        }

        .linkedin {
            background: #007bb5;
            color: white;
        }

        .youtube {
            background: #bb0000;
            color: white;
        }

        .linkedin2 {
            background: #fd80b6;
            color: white;
        }
    </style>
</head>

<body class="stretched device-xxl device-up-xxl device-up-xl device-up-lg device-up-md device-up-sm device-up-xs is-expanded-menu has-plugin-onepage has-plugin-bootstrap has-plugin-counter has-plugin-carousel has-plugin-form has-plugin-tips init-plugin-tips has-plugin-notify has-plugin-lazyload has-plugin-flexslider">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <div id="top-bar" class="full-header">
            @*<div class="container clearfix">*@

                <div class="row">
                    @*<div class="col-12 col-md-6 col-md-auto">
                      &nbsp;
                    </div>*@
                    <div class="col-12">
                        <div class="top-links">
                            <ul>
                                @await Component.InvokeAsync("QuickMenu", new { LangID = Lang })

                                @{
                                    string menuchange = ViewBag.MenuID != null ? MenuFrontData.Get.ByID((int)ViewBag.MenuID, Lang == "TH" ? "EN" : "TH").FPermalink : (Lang == "TH" ? "Home" : "หน้าหลัก");

                                    #region set lang
                                    string TH_ThisPath = "#";
                                    string EN_ThisPath = "#";
                                    if (!string.IsNullOrEmpty(IDs_))
                                    {
                                        if (Lang == "EN")
                                        {

                                            TH_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "TH", ID = IDs_ });
                                        }
                                        else
                                        {
                                            EN_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "EN", ID = IDs_ });
                                        }
                                    }
                                    else
                                    {
                                        if (Lang == "EN")
                                        {
                                            TH_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "TH" });
                                        }
                                        else
                                        {
                                            EN_ThisPath = Url.Action(Action_, Controllers_, new { MenuName = menuchange, LangID = "EN" });
                                        }
                                    }

                                    #endregion

                                }

                                @if (Lang == "TH")
                                {
                                    <li class="text-uppercase lang_TH"><a href="@Url.Action("ChangeLang","Home",new { URL = EN_ThisPath ,LangID ="EN",culture="en-US"})"><i class="icon-globe i-plain" style="font-size: 1.2em; color: #fff;"></i> ENG</a></li>

                                }
                                else
                                {
                                    <li class="text-uppercase lang_TH"><a href="@Url.Action("ChangeLang","Home",new { URL = TH_ThisPath ,LangID ="TH"})"><i class="icon-globe i-plain" style="font-size: 1.2em;color:#fff;"></i>ไทย</a></li>
                                }
                            </ul>
                        </div><!-- .top-links end -->
                    </div>
                </div>

            @*</div>*@
        </div>
        @await Component.InvokeAsync("Header", new { LangID = Lang })


        @RenderBody()


        <!-- Footer
        ============================================= -->
        <!-- Start: Footer -->
        <footer id="footer" class="light">
            @await Component.InvokeAsync("Footer", new { LangID = Lang })
        </footer>
        <!-- End: Footer -->
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="@Url.Content("~/canvas/js/jquery.js")"></script>
    <script src="@Url.Content("~/canvas/js/plugins.js?v=1.0")"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="@Url.Content("~/canvas/js/functions.js")"></script>








    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>*@
    <script src="@Url.Content("~/lib/lightbox/js-cookie.min.js")"></script>
    @*<script src="@Url.Content("~/lib/lightbox/lightbox_popup.js")"></script>
        <script src="@Url.Content("~/lib/lightbox/lightbox-plus-jquery.min.js")"></script>
        <script src="@Url.Content("~/lib/lightbox/jquery.touchswipe.min.js")"></script>*@
    @* <script src="@Url.Content("~/lib/lightbox/lightbox_popup.js")"></script> *@
    @*<script src="@Url.Content("~/lib/lightbox/main-no-cookie.js")"></script>*@
    <meta name="google-site-verification" content="ikj93tEaGTg2lHPwDMN_VZ5eCY0Oe2wWYTWujD0ZJEA" />

    <script type="text/javascript" src="@Url.Content("~/js/cookie-"+Lang+".js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>

    @RenderSection("SecAjaxConfig", required: false)
    @RenderSection("Scripts", required: false)

    <div id="bn-root"></div>
    <div class="bn-customerchat"
         bot_id="6332c4c3d671a0bf0fdffab9"
         bot_logo="OPTIONAL ATTRIBUTE, YOU CAN CHANGE YOUR BUBBLE ICON URL"
         bot_name="OPTIONAL ATTRIBUTE, YOU CAN CHANGE YOUR CHATBOT DISPLAYNAME"
         theme_color="OPTIONAL ATTRIBUTE, YOU CAN CHANGE YOUR CHAT THERE WITH HEX COLOR CODE[Ex. #000000]"
         locale="OPTIONAL ATTRIBUTE, YOU CAN CHANGE LANGUAGE TO THAI LANGUAGE [EX. th]"
         logged_in_greeting="OPTIONAL ATTRIBUTE, YOU CAN CHANGE GREETING MESSAGE IN WELCOME"
         greeting_message="OPTIONAL ATTRIBUTE, YOU CAN CHANGE GREETING MESSAGE IN CHATROOM"
         default_open="OPTIONAL ATTRIBUTE, YOU CAN SET DEFULT TO SHOW OR HIDE CHATROOM [EX. true]">
    </div>


    <script>
        $(function () {
             $('body').on('click', '.filedownload', function () {
                var ID = $(this).attr("data-id");
                $.ajax({
                    url: "@Url.Action("Download","RedirectPage")",
                    type: 'POST',
                    data: { ID: ID},
                    success: function (data) {
                        $(this).removeClass("filedownload");
                    },
                    error: function (xhr) {
                    }
                });
            })

        })
    </script>
    <script>window.onload = function () { BN.init({ version: '1.0' }) }</script>
    <script>(function (d, s, id) {
            var js, bjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://console.botnoi.ai/customerchat/index.js';
            bjs.parentNode.insertBefore(js, bjs);
        }(document, 'script', 'bn-jssdk'));</script>

</body>
</html>