﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

    //var userName = InitializeController.F_Username;

    string Controllers_ = ViewContext.RouteData.Values["Controller"] != null ? ViewContext.RouteData.Values["Controller"].ToString() : "Home";
    string Action_ = ViewContext.RouteData.Values["Action"] != null ? ViewContext.RouteData.Values["Action"].ToString() : "Index";
    string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string IDs_ = ViewContext.RouteData.Values["ID"] != null ? ViewContext.RouteData.Values["ID"].ToString() : "";
    string Menuname_ = ViewContext.RouteData.Values["Menuname"] != null ? ViewContext.RouteData.Values["Menuname"].ToString() : "หน้าหลัก";

}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @RenderSection("MetaHeader", required: false)
    <!-- Theme CSS -->
    <link href="@Url.Content("~/css/fontawesome/all.css")" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="@Url.Content("~/css/fontawesome/all.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/bootstrap.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/style.css?v=1.3")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/swiper.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/dark.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/font-icons.css?v=1.2")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/animate.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/magnific-popup.css")" type="text/css" />

    <link rel="stylesheet" href="@Url.Content("~/canvas/css/responsive.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/canvas/css/theme.css?v=1.2")" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/images/favicon.ico?v1.0")" rel="shortcut icon" type="image/x-icon">

    <title>
        @ViewBag.Title Graduate School of Srinakharinwirot University. | บัณฑิตวิทยาลัย มหาวิทยาลัยศรีนครินทรวิโรฒ
    </title>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
     
        @RenderBody()

       
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="@Url.Content("~/canvas/js/jquery.js")"></script>
    <script src="@Url.Content("~/canvas/js/plugins.js?v=1.0")"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="@Url.Content("~/canvas/js/functions.js")"></script>
    <script src="@Url.Content("~/lib/lightbox/js-cookie.min.js")"></script>
    <meta name="google-site-verification" content="ZrDJxTdLIFKlOLS6VlvHD8mhIs21rOeMcqutDJpwWa8" />

    <script type="text/javascript" src="@Url.Content("~/js/cookie-"+Lang+".js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>

    @RenderSection("SecAjaxConfig", required: false)
    @RenderSection("Scripts", required: false)

    <div id="bn-root"></div>
    <div class="bn-customerchat"
         bot_id="6332c4c3d671a0bf0fdffab9"
         bot_logo="OPTIONAL ATTRIBUTE, YOU CAN CHANGE YOUR BUBBLE ICON URL"
         bot_name="OPTIONAL ATTRIBUTE, YOU CAN CHANGE YOUR CHATBOT DISPLAYNAME"
         theme_color="OPTIONAL ATTRIBUTE, YOU CAN CHANGE YOUR CHAT THERE WITH HEX COLOR CODE[Ex. #000000]"
         locale="OPTIONAL ATTRIBUTE, YOU CAN CHANGE LANGUAGE TO THAI LANGUAGE [EX. th]"
         logged_in_greeting="OPTIONAL ATTRIBUTE, YOU CAN CHANGE GREETING MESSAGE IN WELCOME"
         greeting_message="OPTIONAL ATTRIBUTE, YOU CAN CHANGE GREETING MESSAGE IN CHATROOM"
         default_open="OPTIONAL ATTRIBUTE, YOU CAN SET DEFULT TO SHOW OR HIDE CHATROOM [EX. true]">
    </div>


    <script>
        $(function () {
             $('body').on('click', '.filedownload', function () {
                var ID = $(this).attr("data-id");
                $.ajax({
                    url: "@Url.Action("Download","RedirectPage")",
                    type: 'POST',
                    data: { ID: ID},
                    success: function (data) {
                        $(this).removeClass("filedownload");
                    },
                    error: function (xhr) {
                    }
                });
            })

        })
    </script>
    <script>window.onload = function () { BN.init({ version: '1.0' }) }</script>
    <script>(function (d, s, id) {
            var js, bjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://console.botnoi.ai/customerchat/index.js';
            bjs.parentNode.insertBefore(js, bjs);
        }(document, 'script', 'bn-jssdk'));</script>

</body>
</html>