﻿@model Core.DAL.Models.FooterModel
@using Core.Common
@{ string Lang = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH"; }
<style>
    #copyrights {
        padding: 40px 0;
        background-color: #DDD;
        font-size: 14px;
        line-height: 1.8;
        color: #737373;
        font-weight: lighter;
    }
    #footer a {
        font-size: 1.2em;
        color: #737373;
    }
    li::marker{
        text-indent:10px;
    }
</style>
<footer id="footer">
    <div class="container">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">
            <div class="row">
                @if (Model.list_Menu != null)
                {
                    foreach (var item in Model.list_Menu)// Level 1
                    {

                        string link = !string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = "TH" });
                        <div class="col-lg-4 col-md-4 col-sm-12 ft-links">
                            @if (item.Sub_Menu.Count == 0)
                            {
                                <h5><a href="@link">@item.Menuname</a></h5>
                            }
                            else
                            {
                                <h5>@item.Menuname</h5>
                                <ul style="padding-left: 10px;">

                                    @foreach (var item2 in item.Sub_Menu) //Level 2
                                    {
                                        link = !string.IsNullOrEmpty(item2.link_front) ? item2.link_front : Url.Action(item2.action_front, item2.controller_front, new { Menuname = item2.permalink_front });
                                        if (item2.Sub_Menu == null || item2.Sub_Menu.Count == 0) //Not have Level 3
                                        {
                                            <li><a href="@link"> @item2.Menuname</a></li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="#">
                                                    @item2.Menuname
                                                </a>
                                                <ul style="padding-left: 20px;">
                                                    @foreach (var item3 in item2.Sub_Menu) //Level 3
                                                    {
                                                        link = !string.IsNullOrEmpty(item3.link_front) ? item3.link_front : Url.Action(item3.action_front, item3.controller_front, new { Menuname = item3.permalink_front });
                                                        if (item3.Sub_Menu == null || item3.Sub_Menu.Count == 0) //Not have Level 4
                                                        {
                                                            <li><a href="@link"> @item3.Menuname</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        </div>
                    }
                }
                    @{
                        string Quick = Lang == "EN" ? "Quick" : "ทางลัด";
                        string Sitemap = Lang == "EN" ? "SiteMap" : "แผนผังเว็บไซต์";
                        string admission = Lang == "EN" ? "ADMISSION" : "การสมัครเรียน";
                        List<Core.DAL.Models.Tm_Menu> TopMenu = MenuBackofficeData.Get.FMenuByModule(8, Lang); ;
                        //string MenunameAbout = m.FPermalink;
                        //string MenunameAboutN = m.Menuname;
                    }
                <div class="col-lg-4 col-md-4 col-sm-12 ft-links">
                    
                    <h5>@Quick</h5>
                    <ul style="padding-left: 10px;">

                        <li>
                            <a href="https://admission.swu.ac.th/admissions2/">
                                @admission
                            </a>
                        </li>
                        @foreach (var item in TopMenu)
                        {
                            string link = item.ID != 0 ? (!string.IsNullOrEmpty(item.link_front) ? item.link_front :
Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink, LangID = Lang })) :
item.link_front;
                    <li class="top-links-item">
                        <a href="@link">
                            <span class="@item.icon_front"></span>  @item.Menuname
                        </a>
                    </li>
                }
                        <li class="top-links-item">
                            <a href="@Url.Action("Index", "Sitemap", new { Menuname = Sitemap,LangID = Lang})">
                                  @Sitemap
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- .footer-widgets-wrap end -->
    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container center uppercase clearfix  text-center">
            <div class="copyrights-menu copyright-links clearfix">
                <span>
                    @Model.obj_contact.InstitutionAddress
                    <br /> เบอร์โทรศัพท์:@Model.obj_contact.InstitutionTel | โทรสาร:@Model.obj_contact.InstitutionFax  |  อีเมล์:@Model.obj_contact.InstitutionEmail | Social Media :
                    <a href="https://www.facebook.com/gradswu" target="_blank" class="social-icon si-small si-dark si-facebook" style="float: none;margin-right: 0px;">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCCWkZeSFJ7xfk83EoMx-7VA?view_as=subscriber" target="_blank" class="social-icon si-small si-dark si-youtube" style="float: none;margin-left: 0px;">
                        <i class="icon-youtube"></i>
                        <i class="icon-youtube"></i>
                    </a>
                </span>
            </div>
            Copyright © 2018 v1.1 @Model.obj_contact.InstitutionTitle
        </div>
    </div><!-- #copyrights end -->

</footer>
