﻿@model List<Core.DAL.Models.Tm_Menu>
@{
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";

}
@foreach (var item in Model)
{
    string link = !string.IsNullOrEmpty(item.link_front) ? item.link_front : Url.Action(item.action_front, item.controller_front, new { Menuname = item.FPermalink });
    <a href="@link">@item.Menuname</a>
}
<a href="@Url.Action("Index","Sitemap",new{ Menuname="Sitemap",LangID=LangID})">แผนผังเว็บไซต์</a>
