﻿@model Core.DAL.Models.ContactForm
@using Core.Common
@using AspNetCore.ReCaptcha
@{
    string error = ViewBag.Error;
    string showError = string.IsNullOrEmpty(error) ? "style='display:none'" : "";
    string LangID = ViewContext.RouteData.Values["LangID"] != null ? ViewContext.RouteData.Values["LangID"].ToString() : "TH";
    string formTXT = LangID == "TH" ? TextCommon.TH.TXT_FORM : TextCommon.EN.TXT_FORM;
    string contactTXT = LangID == "TH" ? TextCommon.TH.TXT_CONTACT_AGENCY : TextCommon.EN.TXT_CONTACT_AGENCY;
    string requireTXT = LangID == "TH" ? TextCommon.TH.TXT_REQUIRED_FIELD : TextCommon.EN.TXT_REQUIRED_FIELD;
    string descriptionTXT = LangID == "TH" ? TextCommon.TH.TXT_DESCRIPTION : TextCommon.EN.TXT_DESCRIPTION;
    string submitTXT = LangID == "TH" ? TextRegister.TH.TXT_SUBMIT : TextRegister.EN.TXT_SUBMIT;

    string addrTXT = LangID == "TH" ? TextCommon.TH.TXT_ADDRESS : TextCommon.EN.TXT_ADDRESS;
    string telTXT = LangID == "TH" ? TextCommon.TH.TXT_TEL : TextCommon.EN.TXT_TEL;
    string faxTXT = LangID == "TH" ? TextCommon.TH.TXT_FAX : TextCommon.EN.TXT_FAX;
    string emailTXT = LangID == "TH" ? TextCommon.TH.TXT_EMAIL : TextCommon.EN.TXT_EMAIL;
    string flnameTXT = LangID == "TH" ? TextCommon.TH.TXT_FLNAME : TextCommon.EN.TXT_FLNAME;
   
}
<style>
    .required {
        color: red;
    }

    .search-box2 {
        border: 1px solid #B1B1B1;
        border-radius: 12px;
        padding: 55px 25px 40px;
        margin-bottom: 50px;
        background: #fff url('@Url.Content("~/images/subpage/search-bg.png")');
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .file-caption .btn-file {
        margin-bottom: 0 !important;
    }
</style>
<!-- Start: Subpage Banner -->
<section class="st-subpage-banner">
    <div class="highlights">
        <div class="highlight">
            <div class="highlight-bg">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1.png")" alt="" class="hidden-mobile">
                <img src="@Url.Content("~/images/subpage/hero-banner-cert-1-m.png")" alt="" class="visible-mobile">
            </div>
            <div class="area-inner">
                <div class="container">
                    <div class="vertical-center">
                        <div class="content-vertical-center">
                            <div class="content-area center">
                                <h4 class="hl-ha">@formTXT</h4>
                                <h1 class="text-color-black">@ViewBag.Title</h1>
                                @await Component.InvokeAsync("Nav", new { MenuID = (int)ViewBag.MenuID, LangID = LangID })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Subpage Banner -->
<!-- Start: Subpage Content -->
<section class="st-subpage-content">
    <div class="container">
        <div class="row">
            <!-- Start: Subpage Content -->
            <section class="st-subpage-content">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-sm-12 col-md-8 col-lg-8 content">
                            @*<form id="target_Form1" asp-action="Index" asp-controller="Complaint" method="POST" data-ajax="true" data-ajax-success="Success_redirect" enctype="multipart/form-data">*@
                            @using (Html.BeginForm("Index", "ContactForm", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return  validateForm()" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => Model.MenuID)
                                @Html.HiddenFor(model => Model.Menuname)
                                @Html.HiddenFor(model => Model.LangCode)

                                <div class="search-box2">
                                    <h2 class="">@formTXT</h2>
                                    <h3 class="hl-ha-u-l">@contactTXT</h3>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@flnameTXT <small class="required"> * @requireTXT</small></label>
                                        @Html.TextBoxFor(o => o.Fullname, new { @class = "form-control", @required = true, @placeholder = flnameTXT, @maxlength = 255 })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-6">
                                        <label for="">@emailTXT <small class="required"> * @requireTXT</small></label>
                                        @Html.TextBoxFor(o => o.Email, new { @class = "form-control", @type = "email", @required = true, @placeholder = emailTXT, @maxlength = 255 })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">@telTXT</label>
                                        @Html.TextBoxFor(o => o.Telephone, new { @class = "form-control", @placeholder = telTXT, @maxlength = 255 })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-12">
                                        <label for="">@descriptionTXT <small class="required"> * @requireTXT</small></label>
                                        @Html.TextAreaFor(model => Model.Message, new Dictionary<string, object> { { "required", "required" }, { "id", "Description" }, { "row", 3 }, { "class", "form-control" }, { "placeholder", descriptionTXT } })
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    @Html.ReCaptcha()
                                </div>
                                <div class="col-auto" id="error_div" @showError>
                                    <p class="text-danger">@error</p>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-paper-plane"></i> @submitTXT</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
            <!-- End: Subpage Content -->
        </div>
    </div>
</section>
<!-- End: Subpage Content -->

<script type="text/javascript">function validateForm() {
        $('#error_div').hide();
    }</script>